---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/y3a9myzsdjan/environments/int/entries?access_token=cdc473421d1e2f089515a5fe791ef575715b67024840b6aa1ee157b0e43d18d3&content_type=redirect&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Contentful-Api:
      - cda_cached
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 7ba49e4f-73f4-494a-9b39-026dde8456a9
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"8575991130474815663"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 125,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "y3a9myzsdjan"
                  }
                },
                "id": "7bhZmsBjlmgmWuMUGIgoOg",
                "type": "Entry",
                "createdAt": "2018-12-27T20:01:53.835Z",
                "updatedAt": "2018-12-27T20:01:53.836Z",
                "environment": {
                  "sys": {
                    "id": "int",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "from": "/go-volunteer/oldcincy/",
                "to": "/golocal/"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "y3a9myzsdjan"
                  }
                },
                "id": "5FHOI2OVYkomI2UuKggwuA",
                "type": "Entry",
                "createdAt": "2018-12-27T20:02:26.825Z",
                "updatedAt": "2018-12-27T20:02:26.825Z",
             [...]
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/y3a9myzsdjan/environments/int/entries?access_token=cdc473421d1e2f089515a5fe791ef575715b67024840b6aa1ee157b0e43d18d3&content_type=page&fields.requires_auth=true&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Contentful-Api:
      - cda_cached
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      -[...]
[...]
