---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/p9oq1ve41d7r/environments/master/entries?access_token=813af7d0df1d660fdf5e71010997a4fe621848aa225fa3e6f4fad2b50e6cdce2&content_type=redirect
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - W/"576c418e85bcfdcdb8362e2b20c9c572"
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - e8b4dcfe3f8058ac0a324d09d292c85c
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "p9oq1ve41d7r"
                  }
                },
                "id": "1bnKipbDV02WUiwwuEGgec",
                "type": "Entry",
                "createdAt": "2018-11-07T15:22:11.116Z",
                "updatedAt": "2018-11-07T15:22:11.116Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "from": "/fun/",
                "to": "/not-fun/",
                "status": "permanent"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "p9oq1ve41d7r"
                  }
                },
                "id": "4Km4prmwacI0MQss62WESg",
                "type": "Entry",
                "createdAt": "2018-11-06T20:54:25.926Z",
                "updatedAt": "2018-11-06T20:54:25.926Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "from": "/cool/",
                "to": "/coolest/",
                "status": "temporary"
              }
            }
          ]
        }
  recorded_at: Wed, 07 Nov 2018 19:57:59 GMT
[...]
