---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/y3a9myzsdjan/environments/int/entries?access_token=cdc473421d1e2f089515a5fe791ef575715b67024840b6aa1ee157b0e43d18d3&content_type=redirect&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Contentful-Api:
      - cda_cached
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - afb75f7742250f459c279c98003eb4dd
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
<<<<<<< HEAD
      - W/"cc57c7be7ffdb9f9a29af90449c5b72e"
=======
      - W/"95ab19b44a753d16d537299f775b84c4"
>>>>>>> release
      Server:
      - Contentful
      X-Content-Type-Options:
      - nosniff
<<<<<<< HEAD
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - e04d13b627abebc51fe714efb55ce9fc
      Content-Length:
      - '8063'
      Accept-Ranges:
      - bytes
      Date:
      - Wed, 13 Feb 2019 20:22:10 GMT
=======
      Content-Length:
      - '8618'
      Accept-Ranges:
      - bytes
      Date:
      - Tue, 19 Mar 2019 15:26:35 GMT
>>>>>>> release
      Via:
      - 1.1 varnish
      Age:
      - '0'
      Connection:
      - keep-alive
<<<<<<< HEAD
      X-Served-By:
      - cache-cmh8823-CMH
      X-Cache:
      - MISS
      X-Cache-Hits:
      - '0'
=======
>>>>>>> release
      Vary:
      - Accept-Encoding
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 122,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "y3a9myzsdjan"
                  }
                },
<<<<<<< HEAD
                "id": "P8ybp3pnIOIcyaieio8ke",
                "type": "Entry",
                "createdAt": "2018-12-27T20:02:25.872Z",
                "updatedAt": "2018-12-27T20:02:25.872Z",
=======
                "id": "7mLZK8sh68660UwsYaouKu",
                "type": "Entry",
                "createdAt": "2018-12-27T20:02:26.850Z",
                "updatedAt": "2018-12-27T20:02:26.850Z",
>>>>>>> release
                "environment": {
                  "sys": {
                    "id": "int",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
<<<<<<< HEAD
                "from": "/evecenter/",
                "to": "/reachout/local/eve-center/"
=======
                "from": "/go/",
                "to": "/reachout/go/"
>>>>>>> release
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "y3a9myzsdjan"
                  }
                },
<<<<<<< HEAD
                "id": "5q5eXQl8c0Ok0qwWyGM8cQ",
                "type": "Entry",
  [...]
[...]
