---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/y3a9myzsdjan/environments/int/entries?access_token=cdc473421d1e2f089515a5fe791ef575715b67024840b6aa1ee157b0e43d18d3&content_type=redirect&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Contentful-Api:
      - cda_cached
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 2cb31fb2-7e9c-4068-a1e2-05a373950fa0
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"10025176426483452252"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 126,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "y3a9myzsdjan"
                  }
                },
                "id": "5q5eXQl8c0Ok0qwWyGM8cQ",
                "type": "Entry",
                "createdAt": "2018-12-27T20:01:58.923Z",
                "updatedAt": "2018-12-27T20:01:58.923Z",
                "environment": {
                  "sys": {
                    "id": "int",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "from": "/prisonministry/",
                "to": "/reachout/local/prison-ministry/"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "y3a9myzsdjan"
                  }
                },
                "id": "1hLinSgOLgOsguEKS02iQu",
                "type": "Entry",
                "createdAt": "2018-12-27T20:02:30.805Z",
                "updatedAt": "2018-12-27T20:02:[...]
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/y3a9myzsdjan/environments/int/entries?access_token=cdc473421d1e2f089515a5fe791ef575715b67024840b6aa1ee157b0e43d18d3&content_type=page&fields.requires_auth=true&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Contentful-Api:
      - cda_cached
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      -[...]
[...]
