---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/y3a9myzsdjan/environments/int/entries?access_token=cdc473421d1e2f089515a5fe791ef575715b67024840b6aa1ee157b0e43d18d3&content_type=redirect&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Contentful-Api:
      - cda_cached
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - afb75f7742250f459c279c98003eb4dd
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"95ab19b44a753d16d537299f775b84c4"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 122,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "y3a9myzsdjan"
                  }
                },
                "id": "7mLZK8sh68660UwsYaouKu",
                "type": "Entry",
                "createdAt": "2018-12-27T20:02:26.850Z",
                "updatedAt": "2018-12-27T20:02:26.850Z",
                "environment": {
                  "sys": {
                    "id": "int",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "from": "/go/",
                "to": "/reachout/go/"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "y3a9myzsdjan"
                  }
                },
                "id": "30ZcV9N5JHtDCn8rGtHdI1",
                "type": "Entry",
                "createdAt": "2019-01-24T20:16:55.714Z",
                "updatedAt": "2019-01-24T20:16:55.714Z",
         [...]
[...]
