---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/p9oq1ve41d7r/environments/master/entries?access_token=813af7d0df1d660fdf5e71010997a4fe621848aa225fa3e6f4fad2b50e6cdce2&content_type=redirect
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Contentful-Api:
      - cda_cached
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 2ea2f0f1dbc520f3095d72d63afd4bcb
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"6d77aa1f4d43c4b7c70807e3f211bd87"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "p9oq1ve41d7r"
                  }
                },
                "id": "1bnKipbDV02WUiwwuEGgec",
                "type": "Entry",
                "createdAt": "2018-11-07T15:22:11.116Z",
                "updatedAt": "2018-11-08T19:25:44.688Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 2,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "from": "/fun/",
                "to": "/not-fun/",
                "status": "permanent"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "p9oq1ve41d7r"
                  }
                },
                "id": "3tYq9R8F28EAiYMuMGQOeK",
                "type": "Entry",
                "createdAt": "2018-11-08T18:54:07.086Z",
                "updatedAt": "2[...]
[...]
