---
http_interactions:
- request:
    method: get
    uri: http://cdn.contentful.com/spaces/p9oq1ve41d7r/environments/master/entries?access_token=813af7d0df1d660fdf5e71010997a4fe621848aa225fa3e6f4fad2b50e6cdce2&content_type=redirect&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Contentful-Api:
      - cda_cached
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - ff9bfaf3394114a09c3a621ed3192034
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"ef0181e779a5daa52e60476c2c2892b4"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 110,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "p9oq1ve41d7r"
                  }
                },
                "id": "6yB3lTQU0wCqayUkoWYkYU",
                "type": "Entry",
                "createdAt": "2018-12-18T00:32:47.420Z",
                "updatedAt": "2018-12-18T00:32:47.420Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "from": "/groupleaderresources/",
                "to": "/groups/leader/resources/"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "p9oq1ve41d7r"
                  }
                },
                "id": "3z18TNEoGkwaOmkA28EaM",
                "type": "Entry",
                "createdAt": "2018-12-18T00:32:49.418Z",
                "updatedAt": "2018-12-18T00:32:49.418Z"[...]
[...]
