<div class="album-card">
  <a href="{{ site.crds_music_endpoint }}/music/{{ album.slug }}">
    <img
      class="img-responsive"
      src="{{ album.image.url | imgix: site.imgix }}?{{
          site.imgix_params.placeholder_square
        }}"
      alt="{{ album.title }}"
      data-optimize-img
    />
    <h4
      class="font-family-condensed-extra text-uppercase font-size-h5 flush-bottom"
    >
      {{ album.title }}
    </h4>
    <small>
      {% if album.songs.size > 1 %} view album {% else %} view single {% endif
      %}
    </small>
  </a>
</div>
