<div id="{% if include.isCard %}bitmovinPlayer{{video.slug | camelcase }}{% else %}VideoManager{% endif %}"
    data-video-player class="embed-responsive embed-responsive-16by9">
{% if include.stream == true %}
    <div class="d-flex align-items-center justify-content-center" id="standby-message">
        <div class="text-center">
            <h1 class="component-header">Please Standby</h1>
            <h4 id="standby-time"></h4>
        </div>
    </div>
{% endif %}
</div>
<script src="https://bitmovin-a.akamaihd.net/bitmovin-player/stable/8.4.0/bitmovinplayer.js"></script>
{% javascript_link_tag bitmovin %}
<script type="text/javascript">
    // if live-stream loads first
    document.addEventListener("deferred-js-ready", bitmovinInit);

    // if app-deferred loads first
    if (window.deferredJSReady) {
        bitmovinInit();
    }

    function bitmovinInit() {
        var videoManagerID = `{{ include.isCard }}` ? `bitmovinPlayer{{video.slug | camelcase }}` : 'VideoManager';
        var bitmovinConfig = {
            title: `{{video.title}}`,
            url: `{{video.bitmovin_url}}`,
            id: videoManagerID,
            image: `{{ image | imgix: site.imgix }}`,
            isCard: `{{include.isCard}}`
        }
        CRDS[videoManagerID] = new BitmovinManager(bitmovinConfig);
    }
</script>
