{% assign data = site.data.navigation %}
{% assign page_url = page.url | split: '/' %}

<header class="media-header">
  <div class="media-header-section">
    <a href="{{ site.shared_header.app }}" class="brand">
      <svg class="icon" height="81px" viewBox="0 0 308 81" width="308px">
        <use xlink:href="/assets/svgs/crossroads-church-logo.svg#crossroads-church-logo"></use>
      </svg>
    </a>
  </div>

  <div class="media-header-section dropdown-collapse" data-squenchable-container>
    <ul class="list-inline">
      {% for topic in data.topics %}
      {% assign topic_url = topic.url | split: '/' %}
      <li class="invisible" data-squenchable-item><a href="{{ topic.url }}" class="{% if topic_url == page_url %}active{% endif %}">{{ topic.title }}</a></li>
      {% endfor %}

      <li class="list-separator invisible" data-squenchable-item></li>

      {% for media in data.media_types %}
      {% assign media_url = media.url | split: '/' %}
      <li class="invisible" data-squenchable-item><a href="{{ media.url }}" class="{% if media_url == page_url %}active{% endif %}">{{ media.title }}</a></li>
      {% endfor %}

      <li class="invisible" data-squenchable-item>
        <a href="/">All Media</a>
      </li>

      <li class="invisible" data-squenchable-overflow="[data-squenchable-dropdown]">
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="navTopics" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            More
            <svg class="icon icon-1" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down-thin"></use>
            </svg>
          </button>
          <ul class="dropdown-menu" aria-labelledby="navTopics" data-squenchable-dropdown></ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="media-header-section">
    <a href="{{ site.shared_header.app }}search">
      <span class="sr-only">Search</span>
      <span>
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#search-thin"></use>
        </svg>
      </span>
    </a>
  </div>

  <div class="media-header-section" data-menu-trigger>
    <button role="button">
      Menu
      <!-- If menu is closed, this icon appears -->
      <span class="push-quarter-left" data-menu-close>
        <div class="avatar-icon hide" data-bind="visible: is_authenticated, css: { hide: !is_authenticated() }">
          <img class="img-circle img-size-1" alt="profile image" data-bind="attr: { src: profile_image }">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#menu-thin"></use>
          </svg>
        </div>
        <svg class="icon icon-1" viewBox="0 0 256 256" data-bind="visible: !is_authenticated()">
          <use xlink:href="/assets/svgs/icons.svg#menu-thin"></use>
        </svg>
      </span>
      <!-- If menu is open, this icon appears -->
      <span class="push-quarter-left" data-menu-open>
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#close-thin"></use>
        </svg>
      </span>
    </button>
  </div>
</header>

<div class="desktop-megamenu" data-menu-modal>
  {% include _header-profile.html %}
  <div class="menu">
    <div class="menu-list">
      <p class="menu-header">Crossroads</p>
      <ul class="list-unstyled font-size-smaller">
        {% for option in data.megamenu.crossroads %}
        {% assign option_url = option.url | split: '/' %}
        <li><a href="{{ option.url | replace: '(CRDS_DOMAIN)', site.crds_domain }}" class="{% if option_url == page_url %}active{% endif %}">{{ option.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu-list">
      <p class="menu-header">About</p>
      <ul class="list-unstyled font-size-smaller">
        {% for option in data.megamenu.about %}
        {% assign option_url = option.url | split: '/' %}
        <li><a href="{{ option.url | replace: '(CRDS_DOMAIN)', site.crds_domain }}" class="{% if option_url == page_url %}active{% endif %}">{{ option.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu-list">
      <p class="menu-header">Media</p>
      <ul class="list-unstyled font-size-smaller">
        {% for option in data.megamenu.media %}
        {% assign option_url = option.url | split: '/' %}
        <li><a href="{{ option.url | replace: '(CRDS_DOMAIN)', site.crds_domain }}" class="{% if option_url == page_url %}active{% endif %}">{{ option.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu-list">
      <p class="menu-header">Grow</p>
      <ul class="list-unstyled font-size-smaller">
        {% for option in data.megamenu.grow %}
        {% assign option_url = option.url | split: '/' %}
        <li><a href="{{ option.url | replace: '(CRDS_DOMAIN)', site.crds_domain }}" class="{% if option_url == page_url %}active{% endif %}">{{ option.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu-list">
      <p class="menu-header">Care</p>
      <ul class="list-unstyled font-size-smaller">
        {% for option in data.megamenu.care %}
        {% assign option_url = option.url | split: '/' %}
        <li><a href="{{ option.url | replace: '(CRDS_DOMAIN)', site.crds_domain }}" class="{% if option_url == page_url %}active{% endif %}">{{ option.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu-list">
      <p class="menu-header">Ministry</p>
      <ul class="list-unstyled font-size-smaller">
        {% for option in data.megamenu.ministry %}
        {% assign option_url = option.url | split: '/' %}
        <li><a href="{{ option.url | replace: '(CRDS_DOMAIN)', site.crds_domain }}" class="{% if option_url == page_url %}active{% endif %}">{{ option.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu-list">
      <p class="menu-header">Contact</p>
      <ul class="list-unstyled font-size-smaller">
        {% for option in data.megamenu.contact %}
        {% assign option_url = option.url | split: '/' %}
        <li><a href="{{ option.url | replace: '(CRDS_DOMAIN)', site.crds_domain }}" class="{% if option_url == page_url %}active{% endif %}">{{ option.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>