{% if page.spotify_url.size > 1 or page.apple_music_url.size > 1 or page.youtube_url.size > 1 or page.google_play_url.size > 1 %}
  <div class="external-music-links border-white-15 soft-half-sides bg-black-50 text-center">
    <h3 class="text-lowercase font-size-large font-family-base-light text-white">Stream or Buy</h3>
    <ul class="list-unstyled">
      {% if page.spotify_url.size > 1 %}
        <li class="push-bottom"><a href="{{ page.spotify_url }}"><img class="push-quarter-top" src="//dz6ito7tas43n.cloudfront.net/images/spotify.svg" alt="spotify" style="height: 2rem;"></a></li>
      {% endif %}
      {% if page.apple_music_url.size > 1 %}
        <li class="push-bottom"><a href="{{ page.apple_music_url }}"><img src="//dz6ito7tas43n.cloudfront.net/images/if_itunes_A_104832.svg" alt="itunes" style="height: 2.1875rem;"></a></li>
      {% endif %}
      {% if page.youtube_url.size > 1 %}
        <li class="push-bottom"><a href="{{ page.youtube_url }}"><img src="//dz6ito7tas43n.cloudfront.net/images/yt_logo_mono_light.svg" alt="youtube" style="height: 1.4375rem;"></a></li>
      {% endif %}
      {% if page.google_play_url.size > 1 %}
        <li class="push-bottom"><a href="{{ page.google_play_url }}"><img class="push-quarter-top" src="//dz6ito7tas43n.cloudfront.net/images/googleplay-02.svg" alt="google play" style="height: 1.375rem;"></a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
