<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="crossroads media" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="57x57" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//dz6ito7tas43n.cloudfront.net/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="//dz6ito7tas43n.cloudfront.net/images/favicon/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="//dz6ito7tas43n.cloudfront.net/images/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//dz6ito7tas43n.cloudfront.net/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="//dz6ito7tas43n.cloudfront.net/images/favicon/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a37304">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  {% asset application.scss !integrity %}

  <title>{% if page.title and page.title != site.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{% if page.lead %}{{ page.lead | strip_html | truncate: 160 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | truncate: 160 }}{% else %}{{ site.description | strip_html | truncate: 160 }}{% endif %}">
  <meta property="og:title" content="{% if page.title and page.title != site.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}">
  <meta property="og:description" content="{% if page.lead %}{{ page.lead | strip_html | truncate: 160 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | truncate: 160 }}{% else %}{{ site.description | strip html | truncate: 160 }}{% endif %}">
  <meta property="og:image" content="{% if page.image.url %}https:{{ page.image.url | escape }}{% else %}{{ site.image | escape }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@crdschurch">

  <script>
  var CRDS = window.CRDS || {};

  CRDS.media = {
    cms: '{{ site.shared_header.cms }}',
    app: '{{ site.shared_header.app }}',
    img: '{{ site.shared_header.img }}',
    prefix: '{{ site.shared_header.prefix }}'
  }

  CRDS.rollCall = {
    formUrl: '{{ site.ENV.ROLL_CALL_FORM_URL }}',
    totalFieldId: '{{ site.ENV.ROLL_CALL_TOTAL_FIELD_ID }}',
    urlFieldId: '{{ site.ENV.ROLL_CALL_URL_FIELD_ID }}'
  }

  var JEKYLL_ENV = '{{ site.jekyll_env }}';
  </script>

{% include _gtm.html %}
{% if page.js_vars %}{% include _js_vars.html %}{% endif %}
<script type="text/javascript" src="{% asset application.js @path %}"></script>
</head>