
{% comment %}
// This assures the songs content type uses the background image instead of the thumbnail image like all other content types.
{% endcomment %}
{% assign handle = item.content_type %}
{% case handle %}
  {% when 'song' %}
     {% assign image_source = item.bg_image.url %}
  {% when 'episode' %}
     {% assign image_source = item.podcast.image.url %}
  {% else %}
     {% assign image_source = item.image.url %}
{% endcase %}

<a href="{{ item.url }}" class="overlay-feature-card-link">
  <div class="overlay-feature-card"
  style="background-image: url('{% if image_source %}{{ image_source | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder }}');" data-optimize-bg-img data-hero-image>
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="overlay-feature-card-content">
          <p class="overlay-feature-card-category">{{ item.category.title }}</p>
          <h1 class="overlay-feature-card-title">{{ item.title | truncate: 55 }}</h1>
          <p class="overlay-feature-card-author">{{ item.author | map: 'full_name' | join: ', ' }}</p>
        </div>
      </div>
    </div>
    {% include media/_media-label.html source=item %}
  </div>
</a>
