<a href="{{ item.url }}" class="overlay-card{% if include.size == 'xl' %} overlay-card-xl{% endif %}">
  <div class="bg-overlay"></div>
  <div class="overlay-card-image">
    <img src="{% if item.image %}{{ item.image | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder_sixteen_nine }}" sizes="{% if include.size == 'xl' %}{{ site.image_sizes.full_width }}{% else %}{{ site.image_sizes.card_2x }}{% endif %}" alt="{{ item.image.title }}" data-optimize-img>
  </div>

  <div class="overlay-card-content">
    <p class="overlay-card-category">{{ item.topic }}</p>
    <h2 class="overlay-card-title">{{ item.title | truncate: 55 }}</h2>
    <p class="overlay-card-author">{{ item.author }}</p>

    {% include media/_media-label.html source=item %}
  </div>
</a>
