<div class="perspective-set"{% if include.set.image.url %} style="background-image: url('{{ include.set.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}?{{ site.imgix_params.overlay_50 }}');" data-optimize-bg-img{% endif %}>
  <div class="container">
    <div class="row">
      <main class="related-articles">
        <a href="{{ include.set.url }}" class="perspective-set-title">
          <h2 class="flush-top">{{ include.set.title }}</h2>
        </a>

        {% assign perspectives = include.set.perspectives | get_docs | reverse %}
        {% for perspective in perspectives %}
          {% include _perspective.html perspective=perspective %}
        {% endfor %}
      </main>
    </div>
  </div>
</div>
