{% assign episodes = site.episodes | sort: "date" | reverse %}
{% assign podcasts = '' %}

{% for episode in episodes %}
  {% assign podcasts = podcasts | append: episode.podcast | append: '|' %}
{% endfor %}
{% for podcast in site.podcasts %}
  {% assign podcasts = podcasts | append: podcast.title | append: '|' %}
{% endfor %}

{% assign orderedpodcasts = podcasts | split: '|' | uniq %}

{% for item in orderedpodcasts limit: include.limit %}
  {% assign podcast = site.podcasts | where:"title", item | first %}
  {% include media/_podcast-card.html %}
{% endfor %}
