<div class="alert alert-success hide" data-role="copy-success">{{site.url}}{{ page.url }} copied to clipboard!</div>
<div class="addthis_toolbox addthis_default_style">
  <div class="custom_images">
    <a class="addthis_button_facebook">
      <svg class="icon" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
      </svg>
    </a>
    <a class="addthis_button_twitter">
      <svg class="icon" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#twitter"></use>
      </svg>
    </a>
    <a href="javascript:void(0);" class="clipboard" data-clipboard-text="{{site.url}}{{ page.url }}">
      <svg class="icon" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#link"></use>
      </svg>
    </a>
  </div>
</div>