{% assign page_url = page.url | remove: '/index.html' %}

<div class="sidebar-navigation push-bottom">
  <div class="dropdown">
    <button class="btn btn-gray-light btn-outline btn-block" id="videoNavigation" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <svg class="icon icon-1 pull-right push-left" viewBox="0 0 256 256">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
      </svg>
      <span>Recent</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="videoNavigation">
      <li>
        <a class="{% if page_url == '/videos/' %}active{% endif %}" href="/videos">Recent</a>
      </li>
      <li>
        <a class="{% if page_url == '/videos/tags/most-watched/' %}active{% endif %}" href="/videos/tags/most-watched">Most Watched</a>
      </li>
      {% for tag in site.video_tags %}
        <li>
          <a class="{% if page_url == tag.url %}active{% endif %}" href="{{ tag.url }}">{{ tag.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
