<svg class="portrait-card-skeleton-svg" height="622px" viewBox="0 0 375 622" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <filter id="blur">
      <feGaussianBlur stdDeviation="5" />
    </filter>
      
    <linearGradient id="gradient" gradientTransform="rotate(90)">
      <stop offset="20%"  stop-color="#efefef" />
      <stop offset="30%"  stop-color="rgba(255, 255, 255, .3)" />
      <stop offset="40%"  stop-color="rgba(255, 255, 255, .7)" />
      <stop offset="50%" stop-color="#efefef" />
    </linearGradient>
  </defs>
  <g id="crds-default-portrait-expanded" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <rect id="Rectangle" fill="#E9E9E9" x="0" y="0" width="375" height="350" rx="2"></rect>
    <rect class="shimmer" id="Rectangle" fill="url(#gradient)" x="0" y="0" width="75" height="475" rx="2" filter="url(#blur)"></rect>
    <rect id="Rectangle" fill="#E9E9E9" x="15" y="331" width="324" height="35" rx="2"></rect>
    <rect id="Rectangle" fill="#E9E9E9" x="15" y="376" width="267" height="35" rx="2"></rect>
    <rect id="Rectangle" fill="#E9E9E9" x="15" y="548" width="112" height="35" rx="2"></rect>
    <rect id="Rectangle" fill="#FFFFFF" x="15" y="296" width="223" height="20" rx="2"></rect>
    <rect id="Rectangle" fill="#E9E9E9" x="15" y="426" width="293" height="18" rx="2"></rect>
    <rect id="Rectangle" fill="#E9E9E9" x="15" y="482" width="267" height="18" rx="2"></rect>
    <rect id="Rectangle" fill="#E9E9E9" x="15" y="510" width="152" height="18" rx="2"></rect>
    <rect id="Rectangle" fill="#E9E9E9" x="15" y="454" width="338" height="18" rx="2"></rect>
  </g>
</svg>