---
layout: container
title: Anywhere Resources
permalink: /anywhere-resources/
---

<div class="anywhere-leadership">
  {% include _anywhere-resources-header.html %}

<div class="row">
<div class="col-sm-9 col-sm-push-3 push-bottom soft-bottom">
<h3 class="flush-top">Hey there!&nbsp;</h3>
<p>Thanks for opening your home as a hub for your community. You&rsquo;ve got teammates spread out across the country, and we all want to help our Crossroads Anywhere communities grow. We want our friends, neighbors, coworkers, and favorite grocery bagger to hear about God in a language they understand. <br /><br />So how do we do that? It&rsquo;s gonna look a little different for everybody. This is a place where you can learn more about growing your Crossroads community. We&rsquo;ll keep you up to date with all the things we learn as Crossroads spreads across the country.&nbsp;</p>
<hr />
<p></p>
<h4>Not hosting yet?</h4>
<p>Join the team! Once you&rsquo;re signed up, we&rsquo;ll schedule a video call to get to know you and walk you through the basics. And we&rsquo;ll send you a guide full of pro tips to help you get started.<br />
  <a href="http://crossroads.net/connect" class="btn btn-primary btn-md push-top">Sign up to host</a></p>
<hr />
<h4 class="flush-top">Want to know more about hosting? Check out this video.</h4>
<div class="embed-responsive embed-responsive-16by9 push-top"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ni9B2IEYkTQ?list=PLE1s5n0hEafe07Eni0lbBqaF4g38Lc4Pt&amp;showinfo=0" frameborder="0" allowfullscreen="" class="embed-responsive-item"></iframe></div>
</div>
<div class="col-sm-3 col-sm-pull-9">
  {% include _anywhere-resources-nav.html %}
</div>

</div>
</div>
