---
layout: container
title: Anywhere Resources
permalink: /anywhere-resources/resources/
---

<div class="anywhere-leadership">
  {% include _anywhere-resources-header.html %}

<div class="row">
<div class="col-sm-9 col-sm-push-3 push-bottom soft-bottom">
<h3 class="flush-top">Host Resources</h3>
<p class="flush-bottom"><b>We're here to help</b></p>
<p>Thanks for stepping up to be a part of Crossroads Anywhere. We don't think you should do this alone. We've got resources to help get you energized, equipped, and excited. You're a part of the team and we can't do this without you.</p>

<ol>
<li>
  <strong>Join a learning community</strong>
  <p>
    Staff and volunteers do weekly calls to equip you, ensuring your gathering is a success. Get insider tips and spiritual backup from a trainer and other peers from across the country. If that's something you want (and we think it is) email us. <a href="mailto:anywhere@crossroads.net">anywhere@crossroads.net</a>
    </p>
  </li>
  <li>
    <strong>Check out our leadership video series.</strong>
    <p>
      If you want to be challenged and grow as a leader, this is for you. You can go at your own pace and start applying what you learn. <a href="https://www.crossroads.net/crossroads-leadership-training/">Begin your training today</a>.
      </p>
    </li>
    <li>
      <strong>Join our Facebook group for hosts.</strong>
      <p>Meet peers. Share stories. Challenge each other. (There's nothing wrong with a little healthy competition.) This is the place to meet other people doing the same thing as you! <a href="https://www.facebook.com/groups/CrossroadsAnywhere/" target="_blank">Click here to check it out.</a>
      </li>
</ol>
</div>
<div class="col-sm-3 col-sm-pull-9">
  {% include _anywhere-resources-nav.html %}
</div>

</div>
</div>
