---
layout: container
title: Anywhere Resources Serving
permalink: /anywhere-resources/serving/
---

<div class="anywhere-leadership">
  {% include _anywhere-resources-header.html %}

<div class="row">
<div class="col-sm-9 col-sm-push-3 push-bottom soft-bottom">
  <h3 class="flush-top">Serve your community</h3>
  <p>
    <strong>Our mission: To connect seekers to a community of growing Christ-followers who are changing the world.</strong>
    </p>
  <p>Setting out to change the world can seem overwhelming. It does take some time and effort, but it might be simpler than you think. Here are some tips to get started:</p>

  <ol>
    <li>
    <strong>Find a friend or two</strong></p>
    <p>Changing the world is an adventure, and adventures are best with other people. Invite your friends, family, or coworkers. You could try something like, “I spend a lot of time thinking about myself, and I want to change that. Want to join me in finding a way to make our city a better place?”</p>
    </li>
    <li>
      <p><strong>Choose a need</strong></p>
      <p>We are all about people and relationships. Try asking, “Who could we serve?” The answer could be the elderly man down the street, kids without fathers, or the local aquatic conservation expert.</p>
      <p>
        Here are some other possible things to consider:
        </p>
        <ul class="push-bottom">
          <li>
            The things you’re passionate about
          </li>
          <li>
            The things that people in your community complain about
          </li>
          <li>
            Organizations that you could partner with
          </li>
          <li>
            The ages and abilities of people who will serve with you
          </li>
        </ul>
    </li>
    <li>
      <p><strong>Serve your community</strong></p>
      <p>Once you’ve found a need, make a plan and get out there! We want to keep the promises we make and bless the people in our communities.</p>
      </p>
      <p>
      Whatever you do, and however it goes, we want to hear about it! Send your story to <a href="mailto:anywhere@crossroads.net">anywhere@crossroads.net</a>.</p>
    </li>
  </ol>
  <hr />
  <h4>A note on serving</h4>
  <p>
    You’re probably really busy, and we don’t want this to feel like just one more thing to do. It’s totally fine to skip watching service once a month or so. You already have that time carved out in your schedule. Try asking the people you gather with to serve your community. You can also think about asking another person in your community to lead serving efforts.
  </p>
</div>
<div class="col-sm-3 col-sm-pull-9">
  {% include _anywhere-resources-nav.html %}
</div>
</div>

</div>
