_site
.DS*
.sass-cache
.jekyll-metadata
.jekyll-cache
.env
.envrc
.vscode
.netlify
.asset_pipeline
node_modules
lambda
.cache
contentful-export-*
tmp
loadenv.ps1
buildlog.txt

# Ignore content for the site, but not any nested "collections" directories.
collections/*
!**/*/collections

#ignore Cypress stuff
cypress/screenshots
cypress/videos