title: Crossroads
email: info@crossroads.net
description: No matter what your beliefs, you are welcome here.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
image: "https://crds-cms-uploads.imgix.net/content/images/cr-social-sharing-still-bg.jpg"

# Build settings
permalink: pretty
markdown: kramdown

assets:
  source_maps: true # false on JEKYLL_ENV=production
  destination: "/assets"
  compression: true
  sources:
  - _assets/stylesheets
  - _assets/javascripts

include:
  - _redirects

exclude:
  - bin
  - lib
  - Gemfile
  - Gemfile.lock
  - package.json
  - README.md
  - _migrations
  - vendor
  - netlify.toml

contentful:
  message:
    limit: 4
    order: 'published_at desc'
  series:
    limit: 4
    order: 'published_at desc'
  exclude:
    - album
    - article
    - author
    - category
    - commentary
    - discussion
    - discussion_question
    - episode
    - featured_media
    - migration
    - perspective
    - podcast
    - sign_off
    - song
    - video

collections_dir: collections

collections:
  pages:
    filename: "{{ permalink }} index"
    output: true
    permalink: /:permalink/index.html
  locations:
    output: true
    permalink: /:slug
  series:
    filename: "{{ starts_at | date: '%Y-%m-%d' }}-{{ slug }}"
    output: false
    has_many:
      - videos
  messages:
    filename: "{{ published_at | date: '%Y-%m-%d' }}-{{ slug }}"
    output: false
  promos:
    filename: "{{ published_at | date: '%Y-%m-%d-%H:%M:%S' }}-{{ title | slugify }}-{{ slug }}"
    output: false

defaults:
  - scope:
      path: ""
      type: "locations"
    values:
      layout: location

imgix_params:
  placeholder: "auto=format,compress&w=10"
  placeholder_card: "auto=format,compress&w=12&h=9&fit=crop"
  placeholder_square: "auto=format,compress&w=10&h=10&fit=crop"
  placeholder_sixteen_nine: "auto=format,compress&w=16&h=9&fit=crop"

image_sizes:
  cards_4x: "(min-width: 992px) 212.5px, (min-width: 768px) 345px, (min-width: 0px) 100vw"
  cards_3x: "(min-width: 992px) 390px, (min-width: 0px) 100vw"
  cards_2x: "(min-width: 768px) 345px, (min-width: 0px) 100vw"
  one_hundred: "100%"

typekit_url: https://use.typekit.net/ccb3vpa.css
