title: Crossroads Media
email: info@crossroads.net
description: No matter what your beliefs, you are welcome here.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
image: "https://crds-cms-uploads.imgix.net/content/images/cr-social-sharing-still-bg.jpg"

# Build settings
permalink: pretty
markdown: kramdown

assets:
  source_maps: true # false on JEKYLL_ENV=production
  destination: "/assets"
  compression: true
  sources:
  - _assets/stylesheets
  - _assets/javascripts

include:
  - _redirects

exclude:
  - Gemfile
  - Gemfile.lock
  - package.json
  - README.md
  - _migrations
  - vendor
  - netlify.toml

collections_dir: collections

collections:
  pages:
    output: true
    permalink: /:slug
  locations:
    output: true
    permalink: /:collection/:slug
  series:
    output: false
  messages:
    output: false
  promos:
    output: false

contentful:
  content_types:
    pages:
      id: page
      body: body
      frontmatter:
        entry_mappings:
          title: title
          slug: slug
          permalink: slug
          layout: layout
          show_header: show_header
          show_footer: show_footer
    locations:
      id: location
      body: description
      frontmatter:
        entry_mappings:
          name: name
          slug: slug
          address: address
          service_times: service_times
          additional_info: additional_info
          image: image/url
          bg_image: bg_image/url
          map_url: map_url
          happenings: happenings
        other:
          layout: location
          draft: false
    series:
      id: series
      body: description
      associations:
        videos:
          - messages
      frontmatter:
        entry_mappings:
          title: title
          slug: slug
          image: image/url
          bg_image: background_image/url
          start_date: starts_at
          end_date: ends_at
          youtube_url: youtube_url
          apple_podcasts_url: apple_podcasts_url
          google_play_url: google_play_url
          year: "{{ starts_at | date: '%Y' }}"
          videos: videos/id
        other:
          layout: series
          draft: false
    messages:
      id: message
      body: description
      links:
        series_slug:
          content_type: series
          field: videos
          value: slug
      frontmatter:
        entry_mappings:
          title: title
          authors: author/full_name
          image: image/url
          source_url: source_url
          program: program/url
          video_duration: video_duration
          topic: category/title
          topic_slug: category/slug
          tags: tags
          transcription: transcription
          apple_podcasts_url: apple_podcasts_url
          google_play_url: google_play_url
          date: published_at
          slug: slug
        other:
          layout: video
          draft: false
    promos:
        id: promo
        body: description
        frontmatter:
          entry_mappings:
            title: title
            image: image/url
            link_url: link_url
            cta: cta
            target_audience: target_audience
          other:
            draft: false

imgix_params:
  placeholder: "auto=format,compress&w=10"
  placeholder_card: "auto=format,compress&w=12&h=9&fit=crop"
  placeholder_square: "auto=format,compress&w=10&h=10&fit=crop"
  placeholder_sixteen_nine: "auto=format,compress&w=16&h=9&fit=crop"

image_sizes:
  cards_6x: "(min-width: 992px) 165px, (min-width: 0px) 50vw"
  cards_4x: "(min-width: 992px) 212.5px, (min-width: 768px) 345px, (min-width: 0px) 100vw"
  cards_3x: "(min-width: 992px) 390px, (min-width: 0px) 100vw"
  cards_3x_centered_carousel: "(min-width: 1200px) 232.5px, (min-width: 992px) 191px, (min-width: 768px) 146px, (min-width: 0px) 270px"
  cards_2x: "(min-width: 768px) 345px, (min-width: 0px) 100vw"
