---
layout: container-fluid
title: About Us
permalink: /about
snail_trail: disabled
---

<section class="jumbotron jumbotron-xl jumbotron-home flush" style="background-image: url('//crds-media.imgix.net/1mEInC0vAIoDX6trTFRXNT/6b140517155a2692b566657dba249a72/crossroads-about-collage2.jpg?{{ site.imgix_params.placeholder_sixteen_nine }}');" data-optimize-bg-img >
  <div class="container">
    <div class="row soft-ends push-ends">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="jumbotron-content">
          <div class="jumbotron-home-header">
            <h2 class="font-family-condensed-extra text-uppercase flush-bottom text-tan">About</h2>
            <h1 class="font-family-condensed-extra text-uppercase flush-top text-tan">Crossroads</h1>
          </div>
          <p class="font-family-serif soft-half-top">
            Back in ‘95, eleven people got together to start a church in Cincinnati for their friends who didn’t like church. Today, Crossroads is a movement of people meeting in person and digitally all over the country. No memberships or awkward hand-holding, just unfiltered talk and biblical truth that will wake your soul.
          </p>
          <crds-button href="/30-day-trial" color="orange" text="Start your 30 day trial"></crds-button>
        </div>
      </div>
    </div>
  </div>
</section>

{% include _the-basics.html %}

{% include about/_leadership.html %}

{% include about/_faqs.html %}

<section class="bg-orange">
  <div class="container soft-ends text-center">
    <div class="push-top soft-top row">
      <crds-arrow arrow-color="blue" text-color="orange">It's go time</crds-arrow>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <h1 class="component-header-box component-header-box-border-lg font-size-h1 text-white">Ready to start your adventure?</h1>
      </div>
    </div>
    <div class="push-bottom soft-bottom row">
      <crds-button href="/30-day-trial/sign-up" color="blue" size="lg" text="Start your 30 day trial"></crds-button>
    </div>
  </div>
</section>
