---
layout: default
permalink: "/ag-home/"
paginate:
  articles:
    per: 15
    offset: 1
    limit: 1
    sort: published_at desc
  commentaries:
    per: 3
    limit: 1
    sort: date desc
  topics:
    per: 5
    limit: 1
    sort: published_at
  series:
    per: 1
    limit: 1
    sort: published_at desc
  home_collection:
    collections:
      - articles
      - series
    per: 10
    limit: 1
    offset: 1
    sort: published_at desc
---

{% include header.html %}

<section class="push-bottom" style="background-color: #c5c5c5;">
  <div class="container">
    <div class="row soft-half">
      <div class="col-sm-12">
        <p class="font-family-base-light font-size-h5 text-center text-white">— A place for real talk about the topics that matter —</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        {% for article in page.home_collection.offset %}
          <a href="{{ article.url }}" class="overlay-card">
            <div class="bg-overlay"></div>
            <div class="overlay-card-image">
              <img src="{{ article.image.url }}" alt="" class="img-responsive" >
            </div>
            <div class="overlay-card-content">
              <p class="overlay-card-category">{{ article.category.title }}</p>
              <h2 class="overlay-card-title">{{ article.title }}</h2>
              <p class="overlay-card-author">{{ article.author.full_name }}</p>
              {% include media/_media-label.html %}
            </div>
          </a>
        {% endfor %}
        <div class="row">
          <div class="col-sm-12">
            <hr class="flush-top">
            <h2 class="flush-top font-size-base text-gray-light" style="">most recent</h2>
          </div>
        </div>
        <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-carousel-id="carousel-3cm29">
          <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">
            {% assign above_the_fold = page.home_collection.docs | slice: 0, 4 %}

            {% for article in above_the_fold %}
            <div class="card carousel-cell card-2x">
              <a class="relative" href="{{ article.url }}">
                {% include media/_media-label.html %}
                <img src="{{ article.image.url }}" alt="" class="img-responsive" >
              </a>
              <div class="card-block hard soft-quarter-top">
                <a class="text-gray font-size-smaller font-family-base-mid text-uppercase" href="{{ article.category.title.url }}">{{ article.category.title }}</a>
                <h3 class="component-header flush">
                  <a href="{{ article.url }}">{{ article.title }}</a>
                </h3>
                <p class="card-text soft-quarter-top">
                  <a class="text-gray-light font-size-smaller" href="{{ article.author.full_name.url }}">{{ article.author.full_name }}</a>
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 push-bottom">
        <div class="row">
          <div class="col-sm-12">
            <hr class="flush-top">
            <h2 class="flush-bottom flush-top font-size-base text-gray-light" style="">current series</h2>
          </div>
        </div>
        {% for series in site.series %}
        <div class="media featured">
          <div class="media-body">
            <h5 class="component-header flush-ends">
              <a href="{{ series.url }}">{{ series.title }}</a>
            </h5>
            <div class="soft-quarter-top font-size-smaller flush-bottom">
              {{ series.description | markdownify | strip_html | truncatewords: 15 }}
            </div>
          </div>
          <a href="{{ series.url }}" class="push-half-bottom">
            <img class="media-img" src="{{ series.image.url }}?{{ site.imgix_params.placeholder_sixteen_nine }}" sizes="{{ site.image_sizes.one_hundred }}" data-optimize-img />
          </a>
        </div>
        {% endfor %}

        <div class="row">
          <div class="col-sm-12">
            <hr>
            <h2 class="flush-top font-size-base text-gray-light" style="">fresh perspectives</h2>
          </div>
        </div>
        {% if page.commentaries.docs.size != 0 %}
          <div class="push-bottom soft-bottom">
            {% for featured in page.commentaries.docs %}
              {% include media/_media-object-list.html media_type="commentary" %}
            {% endfor %}
            <a class="font-size-small" href="/commentaries">See all commentaries</a>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>

<section class="soft-half push-bottom">
  <div class="container">
    <hr>
    <h2 class="flush-top font-size-base text-gray-light" style="">dynamic topics section</h2>
    <div class="card-deck carousel text-center" data-crds-carousel="mobile-scroll">
      <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">

        {% for topic in site.categories %}
          <div class="card carousel-cell topic-card-simple" style="background-image:url('{% if topic.image.url %}{{ topic.image.url | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}');">
            <div class="bg-overlay"></div>
            <div class="topic-card-content">
              <h2 class="font-family-condensed-extra text-uppercase font-size-h4 topic-card-simple-title">
                <a href="{{ topic.url }}">{{ topic.title }}</a>
              </h2>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- About Crossroads -->
<section>
  <div class="jumbotron inline-video jumbotron-xl" style="background-image: url('//crds-cms-uploads.imgix.net/media/stills/crossroads-church-home.jpg');">
     <div class="inline-video-player"></div>
     <div class="container-fluid">
       <div class="row">
         <div class="col-sm-10 col-sm-offset-1">
           <div class="jumbotron-content">
             <a href="#" class="inline-video-trigger" data-video-id="geNzLq664rk"></a>
             <h1 class="font-family-condensed-extra text-uppercase">What is Crossroads</h1>
             <p>A real place for real people. All are welcome. No belief systems required, no admission at the door. We believe in helping you break through and leave your mark on the world.</p>
             <p class="text-center">
               <a class="btn btn-secondary" href="">More about us</a>
               <a class="btn btn-gray" href="">View our church locations</a>
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
</section>

<!-- Happenings -->
<section class="container">
  <h3 id="happening-filter-label" class="collection-header clearfix">happening at crossroads</h3>
  <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-filterable data-filter-label="Churchwide" data-filter-parent="#happening-filter-label" data-filter-reset-label="Churchwide">
    <div id="section-what-s-happening" class="feature-cards">
      {% assign date_sorted_promos = site.promos | sort: "date" | reverse %}
      {% for item in date_sorted_promos %}
        {% include _promo-card.html %}
      {% endfor %}
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr>
        <h2 class="flush-top font-size-base text-gray-light" style="">most popular</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <a href="/articles/five-songs-to-change-your-life" class="overlay-card">
          <div class="bg-overlay"></div>
          <div class="overlay-card-image">
            <img data-src="//crds-media.imgix.net/5uALTrmpKo80qEoeIWSs6w/fdd6bb6210e08c61cda825c66736ee06/malte-wingen-381988-unsplash.jpg?auto=format,compress&amp;w=750&amp;h=421.875&amp;fit=crop" sizes="100vw" alt="" ix-src="//crds-media.imgix.net/5uALTrmpKo80qEoeIWSs6w/fdd6bb6210e08c61cda825c66736ee06/malte-wingen-381988-unsplash.jpg?auto=format,compress&amp;w=750&amp;h=421.875&amp;fit=crop" class="img-responsive">
          </div>
          <div class="overlay-card-content">
            <p class="overlay-card-category">Culture</p>
            <h2 class="overlay-card-title">Five songs to change your life</h2>
            <p class="overlay-card-author">Caleb Mathis</p>
            <div class="media-label bg-charcoal text-white">
              <span class="font-size-smallest">9 min read</span>
              <svg class="icon" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#media-article"></use>
              </svg>
            </div>
          </div>
        </a>
        <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-carousel-id="carousel-3cm29">
          <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">
            <div class="card card-2x">
              <a class="relative" href="/articles/stop-squeezing-life">
                <div class="media-label bg-charcoal text-white">
                  <span class="font-size-smallest">9 min read</span>
                  <svg class="icon" viewBox="0 0 256 256">
                    <use xlink:href="/assets/svgs/icons.svg#media-article"></use>
                  </svg>
                </div>
                <img data-src="//crds-media.imgix.net/1XFS9fAmVe6GE2suAocIcc/62d9efbe65aefa88b227664487848279/vance-osterhout-129608-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/1XFS9fAmVe6GE2suAocIcc/62d9efbe65aefa88b227664487848279/vance-osterhout-129608-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="img-responsive">
              </a>
              <div class="card-block hard soft-quarter-top">
                <a class="text-gray font-size-smaller font-family-base-mid text-uppercase" href="/topics/faith">Faith</a>
                <h3 class="component-header flush">
                  <a href="/articles/stop-squeezing-life">Stop squeezing life</a>
                </h3>
                <p class="card-text soft-quarter-top">
                  <a class="text-gray-light font-size-smaller" href="/authors/caleb-mathis">Caleb Mathis</a>
                </p>
              </div>
            </div>
            <div class="card card-2x">
              <a class="relative" href="/articles/why-is-everyone-pregnant-but-me">
                <div class="media-label bg-charcoal text-white">
                  <span class="font-size-smallest">7 min read</span>
                  <svg class="icon" viewBox="0 0 256 256">
                    <use xlink:href="/assets/svgs/icons.svg#media-article"></use>
                  </svg>
                </div>
                <img data-src="//crds-media.imgix.net/1aG0U4VaeEm6oSCeiSkekg/b352ec98d60a8b308fdb277efbff0e5a/asdrubal-luna-485688-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/1aG0U4VaeEm6oSCeiSkekg/b352ec98d60a8b308fdb277efbff0e5a/asdrubal-luna-485688-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="img-responsive">
              </a>
              <div class="card-block hard soft-quarter-top">
                <a class="text-gray font-size-smaller font-family-base-mid text-uppercase" href="/topics/relationships">Relationships</a>
                <h3 class="component-header flush">
                  <a href="/articles/why-is-everyone-pregnant-but-me">Why is everyone pregnant but me?</a>
                </h3>
                <p class="card-text soft-quarter-top">
                  <a class="text-gray-light font-size-smaller" href="/authors/lindsey-himmler">Lindsey Himmler</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 push-bottom">
        <div class="media">
          <div class="media-body soft-half-right">
            <h5 class="font-family-condensed-extra text-uppercase flush-ends" style="line-height:.9em;">
              <a href="">THE MAKINGS OF A MOM TRIBE</a>
            </h5>
            <p class="soft-quarter-top font-size-smaller flush-bottom">Just last Saturday, I saw my dear friend’s new...</p>
            <p class="font-size-smaller text-gray-light">Vicki Diller</p>
          </div>
          <a href="" class="soft-quarter-left">
            <img src="//crds-media.imgix.net/7DvNbBlfWg6kOYyGSYuu48/d2af9bfee2370e2b2d5e4529d126638a/abdomen-anticipation-awaiting-1253592.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/7DvNbBlfWg6kOYyGSYuu48/d2af9bfee2370e2b2d5e4529d126638a/abdomen-anticipation-awaiting-1253592.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="media-img-simple img-responsive">
          </a>
        </div>
        <hr class="flush-ends" />
        <div class="media">
          <div class="media-body soft-half-right">
            <h5 class="font-family-condensed-extra text-uppercase flush-ends" style="line-height:.9em;">
              <a href="">MY KID HAS GOD QUESTIONS. SO DO I.</a>
            </h5>
            <p class="soft-quarter-top font-size-smaller flush-bottom">I have a 5-year-old son who asks a lot of...</p>
            <p class="font-size-smaller text-gray-light">Lindsey Himmler</p>
          </div>
          <a href="" class="soft-quarter-left">
            <img data-src="//crds-media.imgix.net/5TNnMwUU9OWgQyIGeSaYcq/82f284f23ac5006593595cd057a73f8a/sai-de-silva-41030-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/5TNnMwUU9OWgQyIGeSaYcq/82f284f23ac5006593595cd057a73f8a/sai-de-silva-41030-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="media-img-simple img-responsive">
          </a>
        </div>
        <hr class="flush-ends" />
        <div class="media">
          <div class="media-body soft-half-right">
            <h5 class="font-family-condensed-extra text-uppercase flush-ends" style="line-height:.9em;">
              <a href="">TALKING WITH OUR KIDS ABOUT TRAGEDY.</a>
            </h5>
            <p class="soft-quarter-top font-size-smaller flush-bottom">This world is broken. And because of the...</p>
            <p class="font-size-smaller text-gray-light">Kim Botto</p>
          </div>
          <a href="" class="soft-quarter-left">
            <img data-src="//crds-media.imgix.net/2GBWKzcWKcagoIOE6um8Wi/7f447d0b12389321489923493617de57/55793628130__67602C22-26FA-4670-9C50-FA6F45B3CB9B.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/2GBWKzcWKcagoIOE6um8Wi/7f447d0b12389321489923493617de57/55793628130__67602C22-26FA-4670-9C50-FA6F45B3CB9B.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="media-img-simple img-responsive">
          </a>
        </div>
        <div class="bg-info soft push-bottom mobile-push-top">
          <p class="component-header" style="line-height:.9em;">Authentic stories, songs, podcasts &amp; more - straight to your inbox.</p>
          <p>We create content that helps you lorum ipsum dolor esete deremro. Subscribe for free and get notified when we post something new.</p>
          <a href="" class="btn btn-white btn-block">Subscribe</a>
        </div>

      </div>
    </div>

  </div>
</section>

<section>
  <div class="jumbotron jumbotron-xl push-top" style="background-image: url('//crds-cms-uploads.imgix.net/content/images/crossroads-groups-header3.jpg');">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="font-family-condensed-extra text-uppercase font-size-h1 text-white" style="line-height:.95em;">We're a growing community &amp;<br />we need you</h2>
          <p>
            We aren’t designed to go through life alone. Opening up and being vulnerable is intimidating, but that bravery leads to some of the best things in life.
          </p>
          <a class="btn btn-lg btn-secondary" href="#">Find people close to you</a><br />
          <a href="" class="text-white push-top" style="text-decoration: underline;">This seems creepy. Is it?</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}
