---
layout: default
permalink: "/ag-home/"
---

{% include header.html %}

<section>
  <div class="jumbotron inline-video jumbotron-xl" style="background-image: url('//crds-cms-uploads.imgix.net/media/stills/crossroads-church-home.jpg');">
     <div class="inline-video-player"></div>
     <div class="container-fluid">
       <div class="row">
         <div class="col-sm-10 col-sm-offset-1">
           <div class="jumbotron-content">
             <a href="#" class="inline-video-trigger" data-video-id="geNzLq664rk"></a>
             <h1 class="font-family-condensed-extra text-uppercase">What is Crossroads</h1>
             <p>A real place for real people. All are welcome. No belief systems required, no admission at the door. We believe in helping you break through and leave your mark on the world.</p>
             <p class="text-center">
               <a class="btn btn-primary" href="">More about us</a>
               <a class="btn btn-gray" href="">View our church locations</a>
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="push-bottom text-gray-light font-size-h5 font-family-base-light flush-top">most popular</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <a href="/articles/five-songs-to-change-your-life" class="overlay-card">
          <div class="bg-overlay"></div>
          <div class="overlay-card-image">
            <img data-src="//crds-media.imgix.net/5uALTrmpKo80qEoeIWSs6w/fdd6bb6210e08c61cda825c66736ee06/malte-wingen-381988-unsplash.jpg?auto=format,compress&amp;w=750&amp;h=421.875&amp;fit=crop" sizes="100vw" alt="" ix-src="//crds-media.imgix.net/5uALTrmpKo80qEoeIWSs6w/fdd6bb6210e08c61cda825c66736ee06/malte-wingen-381988-unsplash.jpg?auto=format,compress&amp;w=750&amp;h=421.875&amp;fit=crop" class="img-responsive">
          </div>
          <div class="overlay-card-content">
            <p class="overlay-card-category">Culture</p>
            <h2 class="overlay-card-title">Five songs to change your life</h2>
            <p class="overlay-card-author">Caleb Mathis</p>
            <div class="media-label bg-charcoal text-white">
              <span class="font-size-smallest">9 min read</span>
              <svg class="icon" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#media-article"></use>
              </svg>
            </div>
          </div>
        </a>
        <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-carousel-id="carousel-3cm29">
          <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">
            <div class="card card-2x">
              <a class="relative" href="/articles/stop-squeezing-life">
                <div class="media-label bg-charcoal text-white">
                  <span class="font-size-smallest">9 min read</span>
                  <svg class="icon" viewBox="0 0 256 256">
                    <use xlink:href="/assets/svgs/icons.svg#media-article"></use>
                  </svg>
                </div>
                <img data-src="//crds-media.imgix.net/1XFS9fAmVe6GE2suAocIcc/62d9efbe65aefa88b227664487848279/vance-osterhout-129608-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/1XFS9fAmVe6GE2suAocIcc/62d9efbe65aefa88b227664487848279/vance-osterhout-129608-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="img-responsive">
              </a>
              <div class="card-block hard soft-quarter-top">
                <a class="text-gray font-size-smaller font-family-base-mid text-uppercase" href="/topics/faith">Faith</a>
                <h3 class="component-header flush">
                  <a href="/articles/stop-squeezing-life">Stop squeezing life</a>
                </h3>
                <p class="card-text soft-quarter-top">
                  <a class="text-gray-light font-size-smaller" href="/authors/caleb-mathis">Caleb Mathis</a>
                </p>
              </div>
            </div>
            <div class="card card-2x">
              <a class="relative" href="/articles/why-is-everyone-pregnant-but-me">
                <div class="media-label bg-charcoal text-white">
                  <span class="font-size-smallest">7 min read</span>
                  <svg class="icon" viewBox="0 0 256 256">
                    <use xlink:href="/assets/svgs/icons.svg#media-article"></use>
                  </svg>
                </div>
                <img data-src="//crds-media.imgix.net/1aG0U4VaeEm6oSCeiSkekg/b352ec98d60a8b308fdb277efbff0e5a/asdrubal-luna-485688-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/1aG0U4VaeEm6oSCeiSkekg/b352ec98d60a8b308fdb277efbff0e5a/asdrubal-luna-485688-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="img-responsive">
              </a>
              <div class="card-block hard soft-quarter-top">
                <a class="text-gray font-size-smaller font-family-base-mid text-uppercase" href="/topics/relationships">Relationships</a>
                <h3 class="component-header flush">
                  <a href="/articles/why-is-everyone-pregnant-but-me">Why is everyone pregnant but me?</a>
                </h3>
                <p class="card-text soft-quarter-top">
                  <a class="text-gray-light font-size-smaller" href="/authors/lindsey-himmler">Lindsey Himmler</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 push-bottom">
        <div class="media">
          <div class="media-body soft-half-right">
            <h5 class="font-family-condensed-extra text-uppercase flush-ends" style="line-height:.9em;">
              <a href="">THE MAKINGS OF A MOM TRIBE</a>
            </h5>
            <p class="soft-quarter-top font-size-smaller flush-bottom">Just last Saturday, I saw my dear friend’s new...</p>
            <p class="font-size-smaller text-gray-light">Vicki Diller</p>
          </div>
          <a href="" class="soft-quarter-left">
            <img src="//crds-media.imgix.net/7DvNbBlfWg6kOYyGSYuu48/d2af9bfee2370e2b2d5e4529d126638a/abdomen-anticipation-awaiting-1253592.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/7DvNbBlfWg6kOYyGSYuu48/d2af9bfee2370e2b2d5e4529d126638a/abdomen-anticipation-awaiting-1253592.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="img-responsive">
          </a>
        </div>
        <hr class="flush-ends" />
        <div class="media">
          <div class="media-body soft-half-right">
            <h5 class="font-family-condensed-extra text-uppercase flush-ends" style="line-height:.9em;">
              <a href="">MY KID HAS GOD QUESTIONS. SO DO I.</a>
            </h5>
            <p class="soft-quarter-top font-size-smaller flush-bottom">I have a 5-year-old son who asks a lot of...</p>
            <p class="font-size-smaller text-gray-light">Lindsey Himmler</p>
          </div>
          <a href="" class="soft-quarter-left">
            <img data-src="//crds-media.imgix.net/5TNnMwUU9OWgQyIGeSaYcq/82f284f23ac5006593595cd057a73f8a/sai-de-silva-41030-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/5TNnMwUU9OWgQyIGeSaYcq/82f284f23ac5006593595cd057a73f8a/sai-de-silva-41030-unsplash.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="img-responsive">
          </a>
        </div>
        <hr class="flush-ends" />
        <div class="media">
          <div class="media-body soft-half-right">
            <h5 class="font-family-condensed-extra text-uppercase flush-ends" style="line-height:.9em;">
              <a href="">TALKING WITH OUR KIDS ABOUT TRAGEDY.</a>
            </h5>
            <p class="soft-quarter-top font-size-smaller flush-bottom">This world is broken. And because of the...</p>
            <p class="font-size-smaller text-gray-light">Kim Botto</p>
          </div>
          <a href="" class="soft-quarter-left">
            <img data-src="//crds-media.imgix.net/2GBWKzcWKcagoIOE6um8Wi/7f447d0b12389321489923493617de57/55793628130__67602C22-26FA-4670-9C50-FA6F45B3CB9B.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" sizes="(min-width: 768px) 345px, (min-width: 0px) 100vw" ix-src="//crds-media.imgix.net/2GBWKzcWKcagoIOE6um8Wi/7f447d0b12389321489923493617de57/55793628130__67602C22-26FA-4670-9C50-FA6F45B3CB9B.jpg?auto=format,compress&amp;w=360&amp;h=202.5&amp;fit=crop" class="img-responsive">
          </a>
        </div>
        <div class="bg-info soft push-bottom">
          <p class="component-header" style="line-height:.9em;">Authentic stories, songs, podcasts &amp; more - straight to your inbox.</p>
          <p>We create content that helps you lorum ipsum dolor esete deremro. Subscribe for free and get notified when we post something new.</p>
          <a href="" class="btn btn-white btn-block">Subscribe</a>
        </div>

      </div>
    </div>

  </div>
</section>

<section>
  <div class="jumbotron jumbotron-xl push-top" style="background-image: url('//crds-cms-uploads.imgix.net/content/images/crossroads-groups-header3.jpg');">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="font-family-condensed-extra text-uppercase font-size-h1 text-white">We're a growing community &amp;<br />we need you</h2>
          <p>
            We aren’t designed to go through life alone. Opening up and being vulnerable is intimidating, but that bravery leads to some of the best things in life.
          </p>
          <a class="btn btn-lg btn-primary" href="#">Find people close to you</a><br />
          <a href="" class="text-white push-top" style="text-decoration: underline;">This seems creepy. Is it?</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}
