---
layout: default
title: Failed Authorization
permalink: /auth-fail/
---

{% include header.html %}

<section class="container push-bottom">
  <div class="row">
    <h1>Sorry, you are not authorized to see this information...</h1>
    <button onclick="setNetlifyCookie()">Get me a JWT token pls</button>
  </div>
</section>

{% include footer.html %}


<script>
  function setNetlifyCookie() {
    const jwt ='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NTU3NTM0NzUsImFwcF9tZXRhZGF0YSI6eyJ1c2VyX2lkIjoiNzBhZDFmMTMtYjc1ZC00OWI1LTk2YmQtMWU1Y2FhZDQwZGEwIiwiYXV0aG9yaXphdGlvbiI6eyJyb2xlcyI6WyJhZG1pbiIsImVkaXRvciJdfX0sInVzZXJfbWV0YWRhdGEiOnsibmFtZSI6bnVsbCwiZW1haWwiOm51bGx9LCJpYXQiOjE1NTQ3NDg4NzR9.PH1NnRfrao5o3nqoNyItqjU1b3C9RxD9STffgXBoGgQ';
    document.cookie = `nf_jwt=${jwt}`;
    console.log(jwt);
  }
</script>

<!-- we are crossroads -->
