---
layout: default
title: Failed Authorization
permalink: /auth-fail/
---

{% include header.html %}

<section class="container push-bottom">
  <div class="row">
    <h1>Sorry, you are not authorized to see this information...</h1>
    <button onclick="setNetlifyCookie()">Get me a JWT token pls</button>
  </div>
</section>

{% include footer.html %}


<script>
  function setNetlifyCookie() {
    const jwt =
      'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBfbWV0YWRhdGEiOnsiYXV0aG9yaXphdGlvbiI6eyJyb2xlcyI6WyJhZG1pbiIsImVkaXRvciJdfX19.4IKFHH33EXWseNjNIRO4-u5IlSlJOLyibG20qPA4Djs';
    document.cookie = `nf_jwt=${jwt}`;
    console.log(jwt);
  }
</script>

<!-- we are crossroads -->
