---
layout: default
snail_trail: disabled
monetate_page_type: index-main
meta:
  title: Crossroads
  description: No matter what your beliefs, you are welcome here.
image:
  url: "//crds-cms-uploads.imgix.net/content/images/cr-social-sharing-still-bg.jpg?w=1200&h=630&fit=crop"
paginate:
  articles:
    per: 15
    offset: 1
    limit: 1
    sort: published_at desc
  perspectives:
    per: 3
    limit: 1
    sort: published_at desc
  topics:
    per: 5
    limit: 1
    sort: published_at
  series:
    per: 1
    limit: 1
    sort: starts_at desc
  messages:
    per: 3
    limit: 1
    sort: published_at desc
  home_collection:
    collections:
      - articles
      - videos
      - episodes
    per: 10
    limit: 1
    sort: published_at desc
  episodes:
    per: 3
    limit: 1
    sort: published_at desc
  podcasts:
    per: 6
    offset: 1
    limit: 1
---

{% include header.html %}

{% include home/_jumbotron.html %}

<section class="soft-top bg-blue soft-bottom bg-topo push-bottom">
  <div class="container">
    <div>
      <div class="col-sm-8 soft-ends">
        <div>
          <div class="col-sm-6 push-bottom">
            <crds-portrait-card-default
              href="/about"
              lead="About Crossroads"
              title="The Church for Doing"
              image-src="//crds-media.imgix.net/6NKDNv9LnxZ14cGKoIN3rW/46464e141a1c789b859a37a27bbb18fa/about-crossroads-img.png?format=auto"
            />
          </div>
          <div class="col-sm-6">
            <crds-portrait-card-default
              href="/brian-tome"
              lead="Senior Pastor Brian Tome"
              title="Your Guides to the Adventurous Life"
              image-src="//crds-media.imgix.net/45IKoYE2JOihsKevVFgKoq/14827f5fbeb091b98db94570249857d4/brian-tome-headshot1.jpg?format=auto"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-4 soft-ends">
        <div>
          <div class="push-half-bottom">
            <h3 class="font-family-serif font-size-small text-uppercase text-white flush">Our Best Content</h3>
          </div>
          <div>
            <div>
              <div class="border-top border-dashed push-half-bottom"></div>
                <crds-media-object
                  url="/media/podcasts/you-can-do-this/theres-stuff-everywhere"
                  image-src="//crds-media.imgix.net/4V0Di4hScIAmM8ZL3ouch1/0bac1be7afc8fb13c27550a01f03c8a7/you-can-do-this-podcast.jpg?auto=format,compress&w=200&h=200&fit=crop&ixlib=imgixjs-3.3.2"
                  type="podcast"
                  title="There's stuff everywhere!"
                  duration="11 min"
                ></crds-media-object>
              </div>
              <div>
                <div class="border-top border-dashed push-half-bottom"></div>
                <crds-media-object
                url="/media/articles/what-does-jesus-died-for-you-really-mean"
                image-src="//crds-media.imgix.net/3RfsT8nDW4hq9AEj9ukhHG/35377c9b6829bbf55a04b76eb8167a7c/JESUS_DiED_FOG_Me77?auto=format,compress&w=1920"
                type="article"
                title="What Does Jesus Died For You Really Mean? "
                duration="5 min"
                ></crds-media-object>
              </div>
              <div>
                <div class="border-top border-dashed push-half-bottom"></div>
                <crds-media-object
                url="/media/videos/what-matters-to-you"
                image-src="//crds-media.imgix.net/1OuvQhRP2fQHaV7n77YjQP/fb4bee7dc72f20f2bd13a06054384bc4/Screen_Shot_2020-06-18_at_11.39.17_AM__1_.png?h=250"
                type="video"
                title="What Matters To You?"
                duration="7 min"
                ></crds-media-object>
              </div>
              <div class="push-right">
                <crds-button block="true" display="outline" color="white" href="/media" text="View all"></crds-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %}Your Impact Will be Massive{% endcomment %}
<section class=" soft-ends">
  <div class="container">
    <div class="text-center push-bottom mobile-push-half-sides">
      <h2 class="component-header-box text-blue">Your Impact Will be Massive</h2>
    </div>
    <div class=" push-bottom">
      <div class="col-sm-8">
        <a href="https://share.hsforms.com/1_UzcT1lIRrmQPQ9fBVxt4A2dls1"><img class="push-ends soft-sides" src="//crds-media.imgix.net/1YXgKAhw35Oj1bSjoP3mjl/e81993ffa50d62787c9d26090683fd4d/undivided-home-page-callout2.jpg" alt="Undivided: A Journey on Race, Relationship and Reconciliation" /></a>
      </div>
      <div class="col-sm-4">
        {% include home/_latest-news.html %}
      </div>
    </div>
  </div>
</section>


{% comment %}Get Equipped: Watch the Weekend{% endcomment %}
<section class="bg-tan-light soft-bottom">
  <div class="container soft-ends hard-sides">
    <div class="text-center push-bottom soft-ends mobile-push-half-sides">
      <h2 class="component-header-box text-orange">Get Equipped: Watch the Weekend</h2>
    </div>
    <div class="col-md-8">
      {% include home/_latest-message.html %}
    </div>
    <div class="col-sm-4">
      {% include home/_current-series.html %}
      <div>

      </div>
    </div>
  </div>
</section>

{% comment %}Kids Club Jumbotron{% endcomment %}
{% include home/_kids-club-jumbotron.html %}

{% comment %}Gear Up for Your Adventure{% endcomment %}
<section class="bg-orange">
  <div class="bg-topo-50">
    <div class="container soft-ends">
      <div class="text-center push-bottom">
        <div class="push-bottom text-blue mobile-push-half-sides">
          <h2 class="component-header-box text-blue">Gear Up for Your Adventure</h2>
        </div>
        <p class="text-blue font-family-serif font-size-large">Daily practices to help you grow.</p>
      </div>
      <div class="row soft-bottom">
        <div class="col-sm-4 push-bottom">
          <crds-portrait-card-default
          href="/app"
          lead="Crossroads App"
          title="Connect With God. Pray With Others."
          image-src="//crds-media.imgix.net/3tHfRrQ1ZwyNBLvnoDS37s/f67819758e1efc2faabd7405b2a4680b/crossroads-app-home.jpg?format=auto"
          />
        </div>
        <div class="col-sm-4 push-bottom">
          <crds-portrait-card-default
          href="https://www.facebook.com/crsrdschurch/"
          lead="Facebook Live Worship"
          title="Kick-start Your Morning at 8:30 am"
          image-src="//crds-media.imgix.net/1zuWtKTzfHUfugdYyoi2ZQ/ff03e2dc6215d565dd6fc678194a8bb4/daily-facebook-worship.jpg?format=auto"
          />
        </div>
        <div class="col-sm-4 push-bottom">
          <crds-portrait-card-default
          href="/music"
          lead="Crossroads Music"
          title="Every Good Adventure Needs a Playlist"
          image-src="//crds-media.imgix.net/7suAPpGUjibqsKbvuXyvzz/bbe27b99193f6184cef69bdb01daa83d/crossroads-music-zoom.jpg?format=auto"
          />
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %}Articles, Podcasts, & More{% endcomment %}
<section class="bg-tan-light">
  <div class="container">
    <div class="text-center push-bottom">
      <div class="push-bottom text-blue mobile-push-half-sides">
        <h2 class="component-header-box text-orange">Articles, Podcasts, & More</h2>
      </div>
      <p class="text-blue font-family-serif font-size-large">Unfiltered & authentic takes on life</p>
    </div>
    <div class="col-sm-8">
      {% assign most_recent = page.home_collection.docs | sort: "published_at" | reverse | first %} 
      <a href="{{ most_recent.url }}" class="overlay-card">
        <div class="bg-overlay"></div>
        <div class="overlay-card-image">
          <div class="beige-overlay"></div>
          <img src="{{ most_recent.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
            sizes="{{ site.image_sizes.three_fourths }}" data-optimize-img />
        </div>
        <div class="overlay-card-content">
          <p class="overlay-card-category">{{ most_recent.category.title }}</p>
          <h2 class="overlay-card-title">{{ most_recent.title }}</h2>
          <p class="overlay-card-author">{{ most_recent.author.full_name }}</p>
          {% include media/_media-label.html source=most_recent %}
        </div>
      </a>

      <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-carousel-id="carousel-3cm29">
        <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">

          {% assign recent = page.home_collection.docs | slice: 1, 2 %}
          {% for item in recent %}

          {% assign author = item.author | get_doc %}
          {% assign category = item.category | get_doc %}
          <div class="card carousel-cell card-2x">
            <a class="relative" href="{{ item.url }}">
              {% if item.content_type == "article" or "video" %}
              <div class="beige-overlay"></div>
              {% endif %}
          
              {% assign image = item.image.url %}
          
              {% if item.content_type == 'episode' %}
                {% assign image =item.podcast.image.url %}
              {% endif %}
              {% if image == blank %}
                {% assign image = item.bg_image.url %}
              {% endif %}
              {% assign recommended_collection=site.messages %}
              {% include _video-player-card.html %}
              {% if image %}
                <img src="{{ image | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}" sizes="{{ site.image_sizes.cards_2x }}" data-optimize-img>
              {% else %}
                <img src="{{ site.default_image | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}" sizes="{{ site.image_sizes.cards_2x }}" data-optimize-img>
              {% endif %}
            </a>

            <div class="card-block hard soft-quarter-top">
              <a class="text-orange font-size-smaller font-family-base-mid text-uppercase" href="{{ category.url }}">{{
                category.title }}</a>
              <h3 class="component-header flush">
                <a href="{{ item.url }}">{{ item.title }}</a>
              </h3>
              <p class="card-text soft-quarter-top">
                <a class="text-gray-light font-size-smaller" href="{{ author.url }}">{{ author.full_name }}</a>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <crds-sign-up title="Sign Up for the Weekly Digest" content="Get our latest content, delivered straight to your inbox, every week." onClick="$('#subscribeModalForm').modal(); return false;"></crds-sign-up>
      <div class="soft-ends">
        {% include home/_content-menu.html %}
      </div>
    </div>
  </div>
</section>

{% include _subscribe-modal.html %}

{% comment %}You are needed{% endcomment %}
{% include home/_you-are-needed.html %}

{% comment %}Ready to start your adventure?{% endcomment %}
<section class="bg-orange">
  <div class="container soft-ends text-center">
    <div class="push-top soft-top row">
      <crds-arrow arrow-color="blue" text-color="orange">It's go time</crds-arrow>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-push-2 mobile-push-half-sides">
        <h1 class="component-header-box component-header-box-border-lg font-size-h1 text-white">Ready to start your adventure?</h1>
      </div>
    </div>
    <div class="row">
      <p class="font-family-serif text-blue push font-size-base">Take the 30 day challenge</p>
    </div>
    <div class="push-bottom soft-bottom row">
      <crds-button href="/30-day-trial" color="blue" size="lg" text="Sign up now"></crds-button>
    </div>
  </div>
</section>


{% include footer.html %}

<script>
  window.env = {
    gatewayServerEndpoint: '{{ site.gateway_server_endpoint }}',
    streamScheduleEndpoint: '{{ site.stream_schedule_endpoint }}'
  };

  document.addEventListener("deferred-js-ready", countdownInit);

  if (window.deferredJSReady) {
    countdownInit();
  }

  function countdownInit() {
    var c = new CRDS.Countdown();
    c.getEventStatus();
  }
</script>

{% javascript_link_tag autoplay async %}
{% javascript_link_tag skeleton async %}

<!-- we are crossroads -->
