---
layout: default
monetate_page_type: index-main
paginate:
  articles:
    per: 15
    offset: 1
    limit: 1
    sort: published_at desc
  perspectives:
    per: 3
    limit: 1
    sort: published_at desc
  topics:
    per: 5
    limit: 1
    sort: published_at
  series:
    per: 1
    limit: 1
    sort: starts_at desc
  messages:
    per: 1
    limit: 1
    sort: published_at desc
  home_collection:
    collections:
      - articles
    per: 10
    limit: 1
    offset: 2
    sort: published_at desc
  episodes:
    per: 3
    limit: 1
    sort: published_at desc
  podcasts:
    per: 6
    offset: 1
    limit: 1
---

{% include header.html %}
{% assign homePageBanner = site.content_blocks | where: 'slug', 'home-page-promo-banner' | first %}

<section class="container content-live hide push-bottom" data-stream-live="show">
  <div class="row">
    {% assign home_messages = page.messages.docs %}
    {% for messages in home_messages %}
    <div class="col-md-12">
      <div class="media featured">
        <div class="media-body">
          <div class="soft-quarter-top font-size-base flush-bottom" data-automation-id="live-message-description">
            Join the live stream hourly, on the hour, from 8am-10pm (EST).
          </div>
          <a href="/live/stream/" class="btn btn-primary btn-sm push-half-top"
            data-automation-id="live-watch-message-button">Watch now</a>
        </div>
        <a href="/live/stream/" class="push-half-bottom" data-automation-id="live-message-video">
          <img class="img-responsive" src="//crds-cms-uploads.imgix.net/content/images/crossroads-live-stream-CTA3.jpg"
            data-optimize-img />
          <p class="live-cta bg-charcoal display-table soft-half-sides soft-quarter-ends text-white"><span
              class="push-quarter-right">LIVE</span><span class="live-dot"></span></p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{{ homePageBanner.content_block }}

<section class="container">
  <div class="row">
    <div class="col-md-push-8 col-md-4 push-bottom">
      <!-- Current Message -->
      <div class="push-bottom">
        <hr class="flush-top push-half-bottom">
        <h2 class="flush-top font-size-base text-gray-light">current message</h2>

        {% assign home_messages = page.messages.docs %}
        {% for messages in home_messages %}
        <div class="media featured">
          <div class="media-body">
            <h5 class="component-header flush-ends">
              <a href="{{ messages.url }}" data-automation-id="message-title">{{ messages.title }}</a>
            </h5>
            <div class="soft-quarter-top font-size-smaller flush-bottom" data-automation-id="message-description">
              {{ messages.description | markdownify | strip_html | truncatewords: 15 }}
            </div>
            <a href="{{ messages.url }}" class="btn btn-primary btn-sm push-half-top"
              data-automation-id="watch-message-button">Watch now</a>
          </div>
          <a href="{{ messages.url }}" class="push-half-bottom" data-automation-id="message-video">
            <div class="media-video">
              <img class="media-img"
                src="{{ messages.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
                sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img />
              <svg class="media-play-btn icon icon-5 text-white" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#play-thin"></use>
              </svg>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <!-- Current Series -->
      <hr class="flush-top push-half-bottom">
      <h2 class="flush-bottom flush-top font-size-base text-gray-light">current series</h2>

      {% assign home_series = page.series.docs | slice: 0 %}
      {% for series in home_series %}
      <div class="media featured">
        <div class="media-body">
          <h5 class="component-header flush-ends">
            <a href="{{ series.url }}" data-automation-id="series-title">{{ series.title }}</a>
          </h5>
          <div class="soft-quarter-top font-size-smaller flush-bottom" data-automation-id="series-description">
            {{ series.description | markdownify | strip_html | truncatewords: 15 }}
          </div>
        </div>
        <a href="{{ series.url }}" class="push-half-bottom" data-automation-id="series-image">
          {% if series.image.url %}
          <img class="media-img"
            src="{{ series.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
            sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img />
          {% else %}
          <img class="media-img" src="{{ site.default_image }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
            sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img />
          {% endif %}
        </a>
      </div>
      {% endfor %}

    </div>

    <!-- Big Content Feature -->
    <div class="col-md-8 col-md-pull-4">

      {% assign feature_obj = site.featured_media | where: 'page_path', page.url | first %}
      {% assign managed_features = feature_obj.docs %}

      <hr class="push-half-bottom flush-top">
      <h2 class="flush-top font-size-base text-gray-light">
        {% if managed_features.size > 0 %}
        featured
        {% else %}
          latest
        {% endif %}
      </h2>

      {% if managed_features.size > 0 %}
      {% assign features = managed_features | slice: 0, 100 %}
      {% if features.size > 0 %}
      {% for item in features %}
      <div>{% include media/_overlay-card.html source=item %}</div>
      {% endfor %}
      {% endif %}
      {% else %}
      {% for article in page.home_collection.offset %}
      <a href="{{ article.url }}" class="overlay-card">
        <div class="bg-overlay"></div>
        <div class="overlay-card-image">
          <img src="{{ article.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
            sizes="{{ site.image_sizes.three_fourths }}" data-optimize-img />
        </div>
        <div class="overlay-card-content">
          <p class="overlay-card-category">{{ article.category.title }}</p>
          <h2 class="overlay-card-title">{{ article.title }}</h2>
          <p class="overlay-card-author">{{ article.author.full_name }}</p>
          {% include media/_media-label.html source=article %}
        </div>
      </a>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <!-- More Content Cards -->
      <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-carousel-id="carousel-3cm29">
        <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">
          {% assign above_the_fold = page.home_collection.docs | slice: 0, 4 %}

          {% for article in above_the_fold %}
          {% assign author = article.author | get_doc %}
          {% assign category = article.category | get_doc %}
          <div class="card carousel-cell card-2x">
            <a class="relative" href="{{ article.url }}">
              {% include media/_media-label.html source=article %}
              <img src="{{ article.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
                sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img />
            </a>

            <div class="card-block hard soft-quarter-top">
              <a class="text-gray font-size-smaller font-family-base-mid text-uppercase"
                href="{{ category.url }}">{{ category.title }}</a>

              <h3 class="component-header flush">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h3>

              <p class="card-text soft-quarter-top">
                <a class="text-gray-light font-size-smaller" href="{{ author.url }}">{{ author.full_name }}</a>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!--<div class="col-md-4">
      {% if page.perspectives.docs.size > 0 %}d
      <section class="perspectives-landing flush-top">
        <a href="{{ '/perspectives/' }}">
          <header style="background-image: url('//crds-cms-uploads.imgix.net/content/images/another-perspective-bg.png?blend64=MTUxNTE1&balph=60&bm=normal&w=10')" data-optimize-bg-img>
            <img class="branding" src="//crds-cms-uploads.imgix.net/content/images/logo-another-perspective.svg" alt="another perspective">
          </header>
        </a>
        <div class="perspectives-list">
          {% for perspective in page.perspectives.docs %}
            {% include media/_perspective.html perspective=perspective exclude_footer=true %}
          {% endfor %}
        </div>
      </section>
      {% endif %}
    </div>-->

    <!-- Podcast Episodes -->
    <div class="col-sm-12 col-md-4">
      <div class="row">
        <div class="col-sm-12">
          <hr class="push-half-bottom flush-top">
          <h2 class="flush-top font-size-base text-gray-light">latest podcast episodes</h2>
        </div>
      </div>
      <div class="push-bottom soft-bottom mobile-flush-bottom mobile-hard-bottom">
        {% assign home_episodes = page.episodes.docs %}
        {% for episodes in home_episodes %}
        <div class="media">
          <div class="media-body">
            <h5 class="font-family-condensed-extra text-uppercase flush-ends"><a href="{{ episodes.url }}">
                Episode {{ episodes.episode_number }}: {{ episodes.title }}</a>
            </h5>
            <div class="soft-quarter-top font-size-smaller flush-bottom">
              <p class="episode-description">{{ episodes.description | markdownify | strip_html | truncatewords: 15 }}
              </p>
            </div>
          </div>
          <a href="{{ episodes.url }}" class="soft-quarter-left">
            <img class="media-img"
              src="{{ episodes.podcast.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}"
              sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
          </a>
        </div>
          {% if forloop.last != true %}
            <hr>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</section>

<!-- Topics -->
<section class="container soft-half push-bottom">
  <hr class="push-half-bottom">
  <h2 class="flush-top font-size-base text-gray-light">explore our topics</h2>

  <div class="card-deck carousel text-center" data-crds-carousel="mobile-scroll">
    <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">

      {% for topic in site.categories %}
      <div class="card carousel-cell topic-card-simple">
        <div class="bg-overlay">
        </div>
        <a href="{{ topic.url }}" class="topic-card-content">
          <h2 class="font-family-condensed-extra text-uppercase font-size-h4 topic-card-simple-title">
            <span>{{ topic.title }}</span>
          </h2>
          <img class="topic-card-img"
            src="{% if topic.image.url %}{{ topic.image.url | imgix: site.imgix }}?auto=compress&w=500{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- About Crossroads -->
<section class="jumbotron inline-video jumbotron-xl" data-optimize-bg-img
  style="background-image: url('//crds-cms-uploads.imgix.net/content/images/crossroads-church-home.jpg?auto=compress&w=100');">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="jumbotron-content">
          <a href="#" class="inline-video-trigger" data-toggle="modal" data-target="#videoModal"></a>
          <h1 class="font-family-condensed-extra text-uppercase">What is Crossroads</h1>
          <p>An authentic community of Christ-followers who believe that your life is made for more.</p>

          <div class="row push-top soft-top">
            <div class="col-sm-4 col-sm-offset-2 text-right hidden-xs soft-sides">
              <h4 class="component-header" style="line-height:.9em;"><span class="text-gray-lighter">Watch a
                  service</span><br><span class="text-white">online</span></h4>
              <span class="font-size-small">Pants optional. Coffee encouraged.</span><br>
              <a class="btn btn-secondary btn-lg" data-media-snippet="get_current_series_url:attr[href]"
                data-automation-id="watch-series-button">Watch the latest service</a>
            </div>

            <div class="col-sm-4 col-sm-offset-2 text-center visible-xs soft-sides push-bottom">
              <h4 class="component-header" style="line-height:.9em;"><span class="text-gray-lighter">Watch a
                  service</span><br><span class="text-white">online</span></h4>
              <span class="font-size-small">Pants optional. Coffee encouraged.</span><br>
              <a class="btn btn-secondary btn-lg" data-media-snippet="get_current_series_url:attr[href]"
                data-automation-id="mobile-watch-series-button">Watch the latest service</a>
            </div>

            <div class="col-sm-4 text-left soft-sides hidden-xs border-left">
              <h4 class="component-header" style="line-height:.9em;"><span class="text-gray-lighter">Watch a
                  service</span><br><span class="text-white">in person</span></h4>
              <span class="font-size-small">You look great. Jeans are fine. Bring the kids.</span><br>
              <a href="/locations" class="btn btn-secondary btn-lg">Find a location</a>
            </div>

            <div class="col-sm-4 text-center soft-sides visible-xs push-top">
              <h4 class="component-header" style="line-height:.9em;"><span class="text-gray-lighter">Watch a
                  service</span><br><span class="text-white">in person</span></h4>
              <span class="font-size-small">You look great. Jeans are fine. Bring the kids.</span><br>
              <a href="/locations" class="btn btn-secondary btn-lg">Find a location</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Video Modal -->
  <div class="modal modal-video fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe allowfullscreen="" src="https://www.youtube.com/embed/geNzLq664rk" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- More Content -->
<section class="container">
  <div class="row">
    <!-- Big Content Feature -->
    <div class="col-md-8">
      <hr class="push-half-bottom">
      <h2 class="flush-top font-size-base text-gray-light">recent</h2>

      {% assign below_the_fold = page.home_collection.docs | slice: 4 %}
      {% for article in below_the_fold %}
      <a href="{{ article.url }}" class="overlay-card">
        <div class="bg-overlay"></div>
        <div class="overlay-card-image">
          <img src="{{ article.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
            sizes="{{ site.image_sizes.three_fourths }}" data-optimize-img />
        </div>
        <div class="overlay-card-content">
          <p class="overlay-card-category">{{ article.category.title }}</p>
          <h2 class="overlay-card-title">{{ article.title }}</h2>
          <p class="overlay-card-author">{{ article.author.full_name }}</p>
          {% include media/_media-label.html source=article %}
        </div>
      </a>
      {% endfor %}

      <!-- Content Cards -->
      <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-carousel-id="carousel-3cm29">
        <div class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">

          {% assign above_the_fold = page.home_collection.docs | slice: 5, 4 %}
          {% for article in above_the_fold %}

          {% assign author = article.author | get_doc %}
          {% assign category = article.category | get_doc %}
          <div class="card carousel-cell card-2x">
            <a class="relative" href="{{ article.url }}">
              {% include media/_media-label.html source=article %}
              <img src="{{ article.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
                sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img />
            </a>

            <div class="card-block hard soft-quarter-top">
              <a class="text-gray font-size-smaller font-family-base-mid text-uppercase"
                href="{{ category.url }}">{{ category.title }}</a>
              <h3 class="component-header flush">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h3>
              <p class="card-text soft-quarter-top">
                <a class="text-gray-light font-size-smaller" href="{{ author.url }}">{{ author.full_name }}</a>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <hr class="push-half-bottom">
      <h2 class="flush-top font-size-base text-gray-light">our podcasts</h2>

      <div class="push-bottom soft-bottom">
        {% for podcasts in page.podcasts.offset %}
        <div class="media featured">
          <div class="media-body">
            <h5 class="component-header flush-ends">
              <a href="{{ podcasts.url }}">{{ podcasts.title }}</a>
            </h5>

            <div class="soft-quarter-top font-size-smaller flush-bottom">
              {{ podcasts.description | markdownify | strip_html | truncatewords: 15 }}
            </div>

            <p class="font-size-smaller text-gray-light">
              {% include media/_count.html key="podcast.title" subject=featured.title collection=site.episodes label="episode" %}
            </p>
          </div>

          <a href="{{ podcasts.url }}" class="push-half-bottom">
            <img class="media-img"
              src="{{ podcasts.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}"
              sizes="{{ site.image_sizes.one_hundred }}" data-optimize-img />
          </a>
        </div>

          {% if forloop.last != true %}
            <hr>
          {% endif %}
        {% endfor %}

        {% assign home_podcasts = page.podcasts.docs | slice: 2, 6 %}
        {% for podcasts in home_podcasts %}
        <div class="media">
          <div class="media-body">
            <h5 class="font-family-condensed-extra text-uppercase flush-ends"><a href="{{ podcasts.url }}">
                {{ podcasts.title }}</a>
            </h5>
            <div class="soft-quarter-top font-size-smaller flush-bottom">
              {{ podcasts.description | markdownify | strip_html | truncatewords: 15 }}
            </div>
          </div>
          <a href="{{ podcasts.url }}" class="soft-quarter-left">
            <img class="media-img"
              src="{{ podcasts.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}"
              sizes="{{ site.image_sizes.media_object }}" data-optimize-img />
          </a>
        </div>

          {% if forloop.last != true %}
            <hr>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Happenings -->
<section class="container">
  <h3 id="happening-filter-label" class="collection-header clearfix">happening at crossroads</h3>
  <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-filterable data-filter-label="Churchwide"
    data-filter-parent="#happening-filter-label" data-filter-reset-label="Churchwide">
    <div id="section-what-s-happening" class="feature-cards" data-automation-id="happenings-cards">
      {% assign date_sorted_promos = site.promos | sort: 'date' | reverse | group_by: 'date' %}
      {% for date_group in date_sorted_promos %}
      {% assign name_sorted_promos = date_group.items | sort: 'title' %}
      {% for item in name_sorted_promos %}
      {% include _promo-card.html %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>

{% include footer.html %}

<script>
  window.env = {
    gatewayServerEndpoint: '{{ site.gateway_server_endpoint }}',
    streamspotId: '{{ site.streamspotId }}',
    streamspotKey: '{{ site.streamspotKey }}'
  };

  document.addEventListener("deferred-js-ready", function () {
    var c = new CRDS.Countdown();
    c.getStreamspotStatus();
  });
</script>

<!-- we are crossroads -->
