# default build settings for int, preview deploys etc
[build]
  command = "bin/build-command.sh"

[context.branch-deploy.environment]
  CRDS_PEOPLE_DOMAIN = "crdspeople.netlify.com"
  CRDS_MAP_DOMAIN = "crdsmap.netlify.com"
  CRDS_ANGULAR_ENDPOINT = "development--crds-angular.netlify.com"
  CRDS_SIGNIN_ENDPOINT = "development--crds-signin.netlify.com"
  CRDS_SERVE_ENDPOINT = "development.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "development.profile.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "development.event-checkin.crossroads.net"

[context.deploy-preview.environment]
  CRDS_PEOPLE_DOMAIN = "crdspeople.netlify.com"
  CRDS_MAP_DOMAIN = "crdsmap.netlify.com"
  CRDS_ANGULAR_ENDPOINT = "development--crds-angular.netlify.com"
  CRDS_SIGNIN_ENDPOINT = "development--crds-signin.netlify.com"
  CRDS_SERVE_ENDPOINT = "development.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "development.profile.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "development.event-checkin.crossroads.net"

[context.development.environment]
  CRDS_PEOPLE_DOMAIN = "crdspeople.netlify.com"
  CRDS_MAP_DOMAIN = "crdsmap.netlify.com"
  CRDS_ANGULAR_ENDPOINT = "development--crds-angular.netlify.com"
  CRDS_SIGNIN_ENDPOINT = "development--crds-signin.netlify.com"
  CRDS_SERVE_ENDPOINT = "development.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "development.profile.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "development.event-checkin.crossroads.net"

[context.runway.environment]
  CRDS_PEOPLE_DOMAIN = "crdspeople.netlify.com"
  CRDS_MAP_DOMAIN = "crdsmap.netlify.com"
  CRDS_ANGULAR_ENDPOINT = "development--crds-angular.netlify.com"
  CRDS_SIGNIN_ENDPOINT = "development--crds-signin.netlify.com"
  CRDS_SERVE_ENDPOINT = "development.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "development.profile.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "development.event-checkin.crossroads.net"

[context.release.environment]
  CRDS_PEOPLE_DOMAIN = "crdspeople.netlify.com"
  CRDS_MAP_DOMAIN = "crdsmap.netlify.com"
  CRDS_ANGULAR_ENDPOINT = "release--crds-angular.netlify.com"
  CRDS_SIGNIN_ENDPOINT = "release--crds-signin.netlify.com"
  CRDS_SERVE_ENDPOINT = "release.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "release.profile.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "release.event-checkin.crossroads.net"

[context.master.environment]
  CRDS_PEOPLE_DOMAIN = "crds-people-prod.netlify.com"
  CRDS_MAP_DOMAIN = "crds-map-prod.netlify.com"
  CRDS_ANGULAR_ENDPOINT = "crds-angular.netlify.com"
  CRDS_SIGNIN_ENDPOINT = "crds-signin.netlify.com"
  CRDS_SERVE_ENDPOINT = "serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "profile.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "event-checkin.crossroads.net"
