# default build settings for int, etc
[build]
  command = '''
    bundle exec rspec &&
    ruby lib/bin/redirects.rb &&
    bundle exec jekyll crds &&
    bundle exec jekyll contentful --collections pages,promos,locations,series,messages
    bundle exec jekyll build
  '''