# default build settings for int, preview deploys etc
[build]
  command = "bin/build-command.sh"
  functions = "_functions"

[build.processing.html]
  pretty_urls = true

[[plugins]]
package = "@netlify/plugin-sitemap"

  [plugins.inputs]
  buildDir = "_site"
  filePath = "sitemap.xml"
  exclude = [
    '**/page/**',
    '**/tags/**'
  ]

[[plugins]]
package = "./_plugins/netlify-plugin-contentful-redirects"
  [plugins.inputs]
    destination = "./tmp/.redirects_cache"

[[plugins]]
package = "@helloample/netlify-plugin-redirects"
  [plugins.inputs]
    source = "./tmp/.redirects_cache"
    destination = "./_site/_redirects"
    defaultBranch = "development"

[[plugins]]
package = "./_plugins/netlify-plugin-health-check"

[dev]
  BASEURL="/"
  CRDS_COMPONENTS_ENDPOINT="components-int.crossroads.net"
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"

[context.branch-deploy.environment]
  CRDS_PEOPLE_DOMAIN = "crds-people-int.netlify.app"
  CRDS_MAP_DOMAIN = "crds-connect-int.netlify.app"
  CRDS_CONNECT_NEW_DOMAIN= "crds-connect-new-int.netlify.app"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-int.netlify.app"
  CRDS_CHILDCARE_ENDPOINT = "crds-childcare-int.netlify.app"
  CRDS_SERVE_ENDPOINT = "serve-int.netlify.app"
  CRDS_PROFILE_ENDPOINT = "crds-profile-int.netlify.app"
  CRDS_EVENT_CHECKIN_ENDPOINT = "crds-event-checkin-int.netlify.app"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_FORM_MAKER = "https://crds-forms-int.netlify.app/"
  CRDS_COMPONENTS_ENDPOINT = "crds-components-int.netlify.app"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.netlify.app'
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "int-crds-search.netlify.app"
  CRDS_GROUP_LEADER_DOMAIN = "crds-group-leader-int.netlify.app"
  CRDS_GROUPS_ENDPOINT = "groups-int.netlify.app"
  CRDS_GROUPS_LEGACY_ENDPOINT = "crds-groups-legacy-int.netlify.app"
  CRDS_INVOICES = "crds-invoices-int.netlify.app"
  CRDS_VOLUNTEER = "https://crds-volunteer-int.netlify.app/"
  CRDS_ONLINE_DOMAIN = "https://online-int.crossroads.net"

[context.deploy-preview.environment]
  CRDS_PEOPLE_DOMAIN = "crds-people-int.netlify.app"
  CRDS_MAP_DOMAIN = "crds-connect-int.netlify.app"
  CRDS_CONNECT_NEW_DOMAIN= "crds-connect-new-int.netlify.app"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-int.netlify.app"
  CRDS_CHILDCARE_ENDPOINT = "crds-childcare-int.netlify.app"
  CRDS_SERVE_ENDPOINT = "serve-int.netlify.app"
  CRDS_PROFILE_ENDPOINT = "crds-profile-int.netlify.app"
  CRDS_EVENT_CHECKIN_ENDPOINT = "crds-event-checkin-int.netlify.app"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_FORM_MAKER = "https://crds-forms-int.netlify.app/"
  CRDS_COMPONENTS_ENDPOINT = "crds-components-int.netlify.app"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.netlify.app'
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "int-crds-search.netlify.app"
  CRDS_GROUP_LEADER_DOMAIN = "crds-group-leader-int.netlify.app"
  CRDS_GROUPS_ENDPOINT = "groups-int.netlify.app"
  CRDS_GROUPS_LEGACY_ENDPOINT = "crds-groups-legacy-int.netlify.app"
  CRDS_INVOICES = "crds-invoices-int.netlify.app"
  CRDS_VOLUNTEER = "https://crds-volunteer-int.netlify.app/"
  CRDS_ONLINE_DOMAIN = "https://online-int.crossroads.net"

[context.development.environment]
  CRDS_PEOPLE_DOMAIN = "crds-people-int.netlify.app"
  CRDS_MAP_DOMAIN = "crds-connect-int.netlify.app"
  CRDS_CONNECT_NEW_DOMAIN= "crds-connect-new-int.netlify.app"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-int.netlify.app"
  CRDS_CHILDCARE_ENDPOINT = "crds-childcare-int.netlify.app"
  CRDS_SERVE_ENDPOINT = "serve-int.netlify.app"
  CRDS_PROFILE_ENDPOINT = "crds-profile-int.netlify.app"
  CRDS_EVENT_CHECKIN_ENDPOINT = "crds-event-checkin-int.netlify.app"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_FORM_MAKER = "https://crds-forms-int.netlify.app/"
  CRDS_COMPONENTS_ENDPOINT = "crds-components-int.netlify.app"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.netlify.app'
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "int-crds-search.netlify.app"
  CRDS_GROUP_LEADER_DOMAIN = "crds-group-leader-int.netlify.app"
  CRDS_GROUPS_ENDPOINT = "groups-int.netlify.app"
  CRDS_GROUPS_LEGACY_ENDPOINT = "crds-groups-legacy-int.netlify.app"
  CRDS_INVOICES = "crds-invoices-int.netlify.app"
  CRDS_CORKBOARD_ENDPOINT = "crds-corkboard-int.netlify.app"
  CRDS_VOLUNTEER = "https://crds-volunteer-int.netlify.app/"
  CRDS_ONLINE_DOMAIN = "https://online-int.crossroads.net"

[context.runway.environment]
  CRDS_PEOPLE_DOMAIN = "crds-people-int.netlify.app"
  CRDS_MAP_DOMAIN = "crds-connect-int.netlify.app"
  CRDS_CONNECT_NEW_DOMAIN= "crds-connect-new-int.netlify.app"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-int.netlify.app"
  CRDS_CHILDCARE_ENDPOINT = "crds-childcare-int.netlify.app"
  CRDS_SERVE_ENDPOINT = "serve-int.netlify.app"
  CRDS_PROFILE_ENDPOINT = "crds-profile-int.netlify.app"
  CRDS_EVENT_CHECKIN_ENDPOINT = "crds-event-checkin-int.netlify.app"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_FORM_MAKER = "https://crds-forms-int.netlify.app/"
  CRDS_COMPONENTS_ENDPOINT = "crds-components-int.netlify.app"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.netlify.app'
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "int-crds-search.netlify.app"
  CRDS_GROUP_LEADER_DOMAIN = "crds-group-leader-int.netlify.app"
  CRDS_GROUPS_ENDPOINT = "groups-int.netlify.app"
  CRDS_GROUPS_LEGACY_ENDPOINT = "crds-groups-legacy-int.netlify.app"
  CRDS_INVOICES = "crds-invoices-int.netlify.app"
  CRDS_VOLUNTEER = "https://crds-volunteer-int.netlify.app/"
  CRDS_ONLINE_DOMAIN = "https://online-int.crossroads.net"

[context.release.environment]
  CRDS_PEOPLE_DOMAIN = "crds-people-demo.netlify.app"
  CRDS_MAP_DOMAIN = "crds-connect-demo.netlify.app"
  CRDS_CONNECT_NEW_DOMAIN= "crds-connect-new-demo.netlify.app"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-demo.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-demo.netlify.app"
  CRDS_CHILDCARE_ENDPOINT = "crds-childcare-demo.netlify.app"
  CRDS_SERVE_ENDPOINT = "serve-demo.netlify.app"
  CRDS_PROFILE_ENDPOINT = "crds-profile-demo.netlify.app"
  CRDS_EVENT_CHECKIN_ENDPOINT = "crds-event-checkin-demo.netlify.app"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_FORM_MAKER = "https://crds-forms-demo.netlify.app/"
  CRDS_COMPONENTS_ENDPOINT = "crds-components-demo.netlify.app"
  CRDS_GIVING_HISTORY = 'https://giving-history-demo.netlify.app'
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "int-crds-search.netlify.app"
  CRDS_GROUP_LEADER_DOMAIN = "crds-group-leader-demo.netlify.app"
  CRDS_GROUPS_ENDPOINT = "groups-demo.netlify.app"
  CRDS_GROUPS_LEGACY_ENDPOINT = "crds-groups-legacy-demo.netlify.app"
  CRDS_INVOICES = "crds-invoices-demo.netlify.app"
  CRDS_VOLUNTEER = "https://crds-volunteer-demo.netlify.app/"
  CRDS_ONLINE_DOMAIN = "https://online-demo.crossroads.net"

[context.master.environment]
  CRDS_PEOPLE_DOMAIN = "crds-people.netlify.app"
  CRDS_MAP_DOMAIN = "crds-connect.netlify.app"
  CRDS_CONNECT_NEW_DOMAIN= "crds-connect-new.netlify.app"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular.netlify.app"
  CRDS_CHILDCARE_ENDPOINT = "crds-childcare.netlify.app"
  CRDS_SERVE_ENDPOINT = "serve.netlify.app"
  CRDS_PROFILE_ENDPOINT = "crds-profile.netlify.app"
  CRDS_EVENT_CHECKIN_ENDPOINT = "event-checkin.netlify.app"
  CRDS_FOCUS_MISSION = "https://crds.focusmissions.com/"
  CRDS_FORM_MAKER = "https://crds-forms.netlify.app/"
  CRDS_COMPONENTS_ENDPOINT = "crds-components.netlify.app"
  CRDS_GIVING_HISTORY = 'https://giving-history.netlify.app'
  CRDS_COMPONENTS_ROOT_URL="https://www.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "crds-search.netlify.app"
  CRDS_GROUP_LEADER_DOMAIN = "group-leader.netlify.app"
  CRDS_GROUPS_ENDPOINT = "groups.netlify.app"
  CRDS_GROUPS_LEGACY_ENDPOINT = "crds-groups-legacy.netlify.app"
  CRDS_INVOICES = "crds-invoices.netlify.app"
  CRDS_CORKBOARD_ENDPOINT = "crds-corkboard.netlify.app"
  CRDS_VOLUNTEER = "https://crds-volunteer.netlify.app/"
  CRDS_ONLINE_DOMAIN = "https://online.crossroads.net"

[context.rebrand.environment]
  CRDS_PEOPLE_DOMAIN = "crds-people-int.netlify.app"
  CRDS_MAP_DOMAIN = "crds-connect-int.netlify.app"
  CRDS_CONNECT_NEW_DOMAIN= "crds-connect-new-int.netlify.app"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-int.netlify.app"
  CRDS_CHILDCARE_ENDPOINT = "crds-childcare-int.netlify.app"
  CRDS_SERVE_ENDPOINT = "serve-int.netlify.app"
  CRDS_PROFILE_ENDPOINT = "crds-profile-int.netlify.app"
  CRDS_EVENT_CHECKIN_ENDPOINT = "crds-event-checkin-int.netlify.app"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_FORM_MAKER = "https://crds-forms-int.netlify.app/"
  CRDS_COMPONENTS_ENDPOINT = "crds-components-int.netlify.app"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.netlify.app'
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "int-crds-search.netlify.app"
  CRDS_GROUP_LEADER_DOMAIN = "crds-group-leader-int.netlify.app"
  CRDS_GROUPS_ENDPOINT = "groups-int.netlify.app"
  CRDS_GROUPS_LEGACY_ENDPOINT = "crds-groups-legacy-int.netlify.app"
  CRDS_INVOICES = "crds-invoices-int.netlify.app"
  CRDS_VOLUNTEER = "https://crds-volunteer-int.netlify.app/"
  CRDS_ONLINE_DOMAIN = "https://online-int.crossroads.net"