# default build settings for int, preview deploys etc
[build]
  command = "bin/build-command.sh"
  functions = "_functions"

[build.processing.html]
  pretty_urls = true

[[plugins]]
package = "./_plugins/netlify-plugin-contentful-redirects"
  [plugins.inputs]
    destination = "./tmp/.redirects_cache"

[[plugins]]
package = "@helloample/netlify-plugin-redirects"
  [plugins.inputs]
    source = "./tmp/.redirects_cache"
    destination = "./_site/_redirects"
    defaultBranch = "development"

[context.branch-deploy.environment]
  CRDS_PEOPLE_DOMAIN = "people-int.crossroads.net"
  CRDS_MAP_DOMAIN = "connect-int.crossroads.net"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-int.netlify.app"
  CRDS_SERVE_ENDPOINT = "development.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "profile-int.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "development.event-checkin.crossroads.net"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_COMPONENTS_ENDPOINT = "components-int.crossroads.net"
  CRDS_MEDIA_ENDPOINT = "crds-media-int.crossroads.net/"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.crossroads.net'
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "crds-search-int.crossroads.net"
  CRDS_GROUP_LEADER_DOMAIN = "group-leader-int.crossroads.net"
  CRDS_GROUPS_ENDPOINT = "groups-int.crossroads.net"

[context.deploy-preview.environment]
  CRDS_PEOPLE_DOMAIN = "people-int.crossroads.net"
  CRDS_MAP_DOMAIN = "connect-int.crossroads.net"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-int.netlify.app"
  CRDS_SERVE_ENDPOINT = "development.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "profile-int.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "development.event-checkin.crossroads.net"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_COMPONENTS_ENDPOINT = "components-int.crossroads.net"
  CRDS_MEDIA_ENDPOINT = "crds-media-int.crossroads.net/"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.crossroads.net'
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "crds-search-int.crossroads.net"
  CRDS_GROUP_LEADER_DOMAIN = "group-leader-int.crossroads.net"
  CRDS_GROUPS_ENDPOINT = "groups-int.crossroads.net"

[context.development.environment]
  CRDS_PEOPLE_DOMAIN = "people-int.crossroads.net"
  CRDS_MAP_DOMAIN = "connect-int.crossroads.net"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-int.netlify.app"
  CRDS_SERVE_ENDPOINT = "development.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "profile-int.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "development.event-checkin.crossroads.net"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_COMPONENTS_ENDPOINT = "components-int.crossroads.net"
  CRDS_MEDIA_ENDPOINT = "crds-media-int.crossroads.net/"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.crossroads.net'
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "crds-search-int.crossroads.net"
  CRDS_GROUP_LEADER_DOMAIN = "group-leader-int.crossroads.net"  
  CRDS_GROUPS_ENDPOINT = "groups-int.crossroads.net"

[context.runway.environment]
  CRDS_PEOPLE_DOMAIN = "people-int.crossroads.net"
  CRDS_MAP_DOMAIN = "connect-int.crossroads.net"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "deploy-preview-33--crds-angular.netlify.app"
  CRDS_SERVE_ENDPOINT = "development.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "profile-int.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "development.event-checkin.crossroads.net"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_COMPONENTS_ENDPOINT = "components-int.crossroads.net"
  CRDS_MEDIA_ENDPOINT = "crds-media-int.crossroads.net/"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.crossroads.net'
  CRDS_COMPONENTS_ROOT_URL="https://runway.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "crds-search-int.crossroads.net"
  CRDS_GROUP_LEADER_DOMAIN = "group-leader-int.crossroads.net"
  CRDS_GROUPS_ENDPOINT = "groups-int.crossroads.net"


[context.release.environment]
  CRDS_PEOPLE_DOMAIN = "people-demo.crossroads.net"
  CRDS_MAP_DOMAIN = "connect-demo.crossroads.net"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-demo.netlify.app"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-demo.netlify.app"
  CRDS_SERVE_ENDPOINT = "release.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "profile-demo.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "release.event-checkin.crossroads.net"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_COMPONENTS_ENDPOINT = "components-demo.crossroads.net"
  CRDS_MEDIA_ENDPOINT = "crds-media-demo.crossroads.net/"
  CRDS_GIVING_HISTORY = 'https://giving-history-demo.crossroads.net'
  CRDS_COMPONENTS_ROOT_URL="https://demo.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "crds-search-demo.crossroads.net"
  CRDS_GROUP_LEADER_DOMAIN = "group-leader-demo.crossroads.net"
  CRDS_GROUPS_ENDPOINT = "groups-demo.crossroads.net"

[context.master.environment]
  CRDS_PEOPLE_DOMAIN = "people.crossroads.net"
  CRDS_MAP_DOMAIN = "connect.crossroads.net"
  CRDS_ANGULAR_ENDPOINT = "crds-angular.crossroads.net"
  CRDS_OKTA_SIGNIN_ENDPOINT = "signin.crossroads.net"
  CRDS_SERVE_ENDPOINT = "serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "profile.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "event-checkin.crossroads.net"
  CRDS_FOCUS_MISSION = "https://crds.focusmissions.com/"
  CRDS_COMPONENTS_ENDPOINT = "components.crossroads.net"
  CRDS_MEDIA_ENDPOINT = "crds-media.crossroads.net"
  CRDS_GIVING_HISTORY = 'https://giving-history.crossroads.net'
  CRDS_COMPONENTS_ROOT_URL="https://www.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "crds-search.crossroads.net"
  CRDS_GROUP_LEADER_DOMAIN = "group-leader.crossroads.net"
  CRDS_GROUPS_ENDPOINT = "groups.crossroads.net"

[context.rebrand.environment]
  CRDS_PEOPLE_DOMAIN = "people-int.crossroads.net"
  CRDS_MAP_DOMAIN = "connect-int.crossroads.net"
  CRDS_OKTA_SIGNIN_ENDPOINT = "crds-signin-int.netlify.app"
  CRDS_ANGULAR_ENDPOINT = "crds-angular-int.netlify.app"
  CRDS_SERVE_ENDPOINT = "development.serve.crossroads.net"
  CRDS_PROFILE_ENDPOINT = "development.profile.crossroads.net"
  CRDS_EVENT_CHECKIN_ENDPOINT = "development.event-checkin.crossroads.net"
  CRDS_FOCUS_MISSION = "https://crds.sandbox.focusmissions.com/"
  CRDS_COMPONENTS_ENDPOINT = "components-int.crossroads.net"
  CRDS_COMPONENTS_ROOT_URL="https://int.crossroads.net"
  CRDS_MEDIA_ENDPOINT = "crds-media-int.crossroads.net/"
  CRDS_GIVING_HISTORY = 'https://giving-history-int.crossroads.net'
  CRDS_DATA_ENDPOINT = "crds-data.crossroads.net"
  CRDS_SEARCH_ENDPOINT = "crds-search-int.crossroads.net"
  CRDS_GROUP_LEADER_DOMAIN = "group-leader-int.crossroads.net"
  CRDS_GROUPS_ENDPOINT = "groups-int.crossroads.net"

