---
layout: container-fluid
title: Onsite group
permalink: /onsite-group-landing/
---

<div class="jumbotron jumbotron-xl" style="background-image: url('/assets/img/onsite-groups-header@2x.jpg');">
  <h1>
    onsite groups
    <svg class="icon icon-1" viewBox="0 0 256 256">
      <use xlink:href="/assets/svgs/icons.svg#screwhead-crds"></use>
    </svg>
  </h1>
  <p>It’s true. We get by with a little help from our friends. Find yours here.</p>
</div>

<section class="container">
  {% include _onsite-group-connection.html %}
  {% include _onsite-group-healing.html %}
  {% include _onsite-group-recovery.html %}

  <div class="row">
    <hr>
    <p class="collection-header hard-top no-borders">view onsite group by location</p>
  </div>
  <div class="cards-4x cards-2x-xs push-top">
    <div class="row">
      <a class="card" href="#">
        <img alt="Card image caption"
          ix-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          ix-initialized="ix-initialized" />
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            Florence
          </h4>
        </div>
      </a>
      <a class="card" href="#">
        <img alt="Card image caption"
          ix-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          ix-initialized="ix-initialized" />
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            Mason
          </h4>
        </div>
      </a>
      <a class="card" href="#">
        <img alt="Card image caption"
          ix-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          ix-initialized="ix-initialized" />
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            Richmond
          </h4>
        </div>
      </a>
      <a class="card" href="#">
        <img alt="Card image caption"
          ix-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          ix-initialized="ix-initialized" />
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            Uptown
          </h4>
        </div>
      </a>
      <a class="card" href="#">
        <img alt="Card image caption"
          ix-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          ix-initialized="ix-initialized" />
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            Oakley
          </h4>
        </div>
      </a>
      <a class="card" href="#">
        <img alt="Card image caption"
          ix-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          ix-initialized="ix-initialized" />
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            Lexington
          </h4>
        </div>
      </a>
      <a class="card" href="#">
        <img alt="Card image caption"
          ix-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          ix-initialized="ix-initialized" />
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            West Side
          </h4>
        </div>
      </a>
      <a class="card" href="#">
        <img alt="Card image caption"
          ix-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          ix-initialized="ix-initialized" />
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            East Side
          </h4>
        </div>
      </a>
      <a class="card" href="#">
        <img alt="Card image caption"
          ix-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg"
          ix-initialized="ix-initialized" />
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            Georgetown
          </h4>
        </div>
      </a>
      
      
    </div>
  </div>

</section>