---
layout: container-fluid
title: Onsite Groups
permalink: /groups/onsite
---

<div
  class="jumbotron"
  style="background-image: url('https://crds-media.imgix.net/5CaAjF9bDkXWOw6YXl92cZ/fccff599d00f378c1aae525bfff94a2b/onsite-groups-header_2x.jpg?format=auto,compress');"
>
  <h1>
    onsite groups
    <svg class="icon icon-1 text-white" viewBox="0 0 256 256">
      <use xlink:href="/assets/svgs/icons.svg#screwhead-crds"></use>
    </svg>
  </h1>
  <p>
    It’s true. We get by with a little help from our friends. Find yours here.
  </p>
</div>

<section class="container">
  {% for category in site['onsite_group_categories'] %}
  <div class="row soft-ends push-bottom push-quarter-top">
    <div class="col-sm-3">
      <img src="{{ category.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
        sizes="{{ site.image_sizes.one_fourth }}"
        class="width-100"
        data-optimize-img
      />
    </div>
    <div class="col-sm-9 push-bottom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="font-family-condensed-extra flush-top mobile-soft-top text-uppercase">
            {{ category.title }}
          </h2>
          <div class="font-size-base">{{ category.description | markdownify }}</div>
        </div>
      </div>
      <hr />
      {% assign groups = category | onsite_groups_for_category %}
      {% for row in groups %}
      <div class="row onsite-group-negative-margin-bottom">
        {% for col in row %}
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">
            <a href="{{ col.url }}">{{ col.title }}</a>
          </h3>
          <div class="text-gray small">{{ col.description | markdownify }}</div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-12">
      <hr />
      <p class="collection-header hard-top no-borders">
        view onsite group by location
      </p>
    </div>
  </div>
  <div class="cards-4x cards-2x-xs push-top">
    <div class="row">
      {% assign locations = site['locations'] | locations_with_onsite_groups %}
      {% for location in locations %}
      <a class="card flush-bottom hard-bottom" href="#">
        <img src="{{ location.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
            alt="{{ location.title }}"
            sizes="{{ site.image_sizes.one_fourth }}"
            class="width-100"
            data-optimize-img
          />

        <div class="card-block hard-bottom">
          <h4 class="card-title card-title--overlap-remove-divider text-uppercase">
            {{ location.title }}
          </h4>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <hr>
  <div class="row soft-half-bottom soft-top">
    <div class="col-md-6">
      <p><strong>Don't see the healing group you need?</strong><br>
        Email us at <a href="mailto:hello@crossroads.net">hello@crossroads.net</a></p>
    </div>
    <div class="col-md-6">
      <p><strong>Can't find what you are looking for?</strong><br>
        Visit the <a href="/groups">Group Tool</a> to connect with others looking for the same thing.</p>
    </div>
  </div>
</section>
