---
layout: default
meta:
  title: Seven Hills We Die On | Crossroads
  description: As a church, we believe that if something is worth living for, it is worth dying for.
image:
  url: "//crds-media.imgix.net/3u1o8P0WJH07ktyJbUj4pc/9984660755eeee4b608b3ce60e8ab620/seven-hills.jpg"
---

<section class="jumbotron jumbotron-basics hard-top flush-bottom" data-optimize-bg-img data-hero-image>
    <div class="container soft-top">
        <div class="row push-top">
            <div class="col-sm-12 soft-ends push-top">
                <h1 class="component-header-box component-header-box-border-lg push-ends">
                    seven hills we die on
                </h1>
                <p class="font-family-base soft-top">We call them the seven hills we die on. Simply calling these
                    “values” doesn’t cut it. All too commonly, values have come to signify mushy, sentimental ideals for
                    which we rarely fight. As a church, we believe that if something is worth living for, it is worth
                    dying for. We realize we can’t do everything—but what we, as a community, are called by God to do,
                    we do with excellence</p>
            </div>
        </div>
    </div>
</section>

<!-- Authenticity -->
<section class="soft-bottom bg-blue">
    <div class="container-fluid">
        <div class="row df-screen-md">
            <div class="col-md-7 text-center soft-ends push-top">
                <img class="seven-hills-img-size" src="//crds-media.imgix.net//5aYjNwuHn3mSkh11bvPGd6/9634a06521d18a842e373362eb101887/death-to-religion.png">
            </div>
            <div class="col-md-5 content-right ma-ends">
                <div class="portrait-card-content">
                    <div class="portrait-card-arrow">
                        {% include _portrait-card-arrow.html %}
                    </div>
                    <p class="font-family-base-bold text-uppercase text-orange flush">the hill of:</p>
                    <h2 class="section-header text-white flush">authenticity</h2>
                    
                        <p class="push-top">We believe we can’t be what God has called us to be if we play games with each other. Whether
                            it’s what happens on stage, within our smaller communities, in serving teams or in our
                            homes, we need to be able to share our faults and weaknesses and not fake it. That’s
                            authenticity, just being real. (From Philippians 3:17 in the Bible</p>
                        <p>*Religion: any man-made system of rules and regulations that promises to get you to God.</p>
            
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Biblical Truth -->
<section class="soft-bottom bg-blue">
    <div class="container-fluid">
        <div class="row df-screen-md">
            <div class="col-md-7 col-md-push-5 text-center soft-ends">
                <img class="seven-hills-img-size"
                    src="//crds-media.imgix.net//157ad4yRjuZpXxjMS34EBb/4d4eba4d5b7187157dc9eb2483f34ad1/made-for-freedom.png">
            </div>
            <div class="col-md-5 col-md-pull-7 text-left ma-ends content-left">
                <div class="portrait-card-content">
                    <div class="portrait-card-arrow">
                        {% include _portrait-card-arrow.html %}
                    </div>
                    <p class="font-family-base-bold text-uppercase text-orange flush">the hill of:</p>
                    <h2 class="section-header text-white flush">biblical truth</h2>
                        <p class="push-top">Crossroads is a place for people on every part of the spiritual journey, from those just
                            investigating whether there is a God to those who have made following Christ the priority of
                            their life. The Bible presents a dangerous message of life change. We don’t assume everyone
                            believes, or even knows the Bible, but we do assume everyone who comes through our doors is
                            open to exploring it. We believe the Bible is God’s inerrant truth and it’s the foundation
                            to everything we do. (From 2 Timothy 3:16 in the Bible)</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Culturally Current Communication -->
<section class="soft-bottom bg-blue">
    <div class="container-fluid">
        <div class="row df-screen-md">
            <div class="col-md-7 text-center soft-ends push-top">
                <img class="seven-hills-img-size"
                    src="//crds-media.imgix.net//1QNdGbdn6X97IvyfiVt8yR/238ea0f2da07f7ce3680a24ca4191fda/get-one-shot.png">
            </div>
            <div class="col-md-5 ma-ends content-right">
                <div class="portrait-card-content">
                    <div class="portrait-card-arrow">
                        {% include _portrait-card-arrow.html %}
                    </div>
                    <p class="font-family-base-bold text-uppercase text-orange flush">the hill of:</p>
                    <h2 class="section-header text-white flush">culturally current communication</h2>
           
                        <p class="push-top">Crossroads is a place that helps connect those who are exploring God’s love and truth. The
                            challenge for us is that the Bible was written a long time ago for people in another
                            culture. The fact that we live in 21st century, it doesn’t change the message that God gave
                            2000 years ago, but it does mean that we need to do some work to connect it to our lives
                            today. Jesus did exactly the same thing when he was teaching. He used the current language
                            and daily life experiences of those around him to communicate truth. That’s what we mean by
                            “culturally current communication.” (From Ecclesiastes 12:10 in the Bible)</p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Doing Life Together -->
<section class="soft-bottom bg-blue">
    <div class="container-fluid">
        <div class="row df-screen-md">
            <div class="col-md-7 col-md-push-5 text-center soft-ends">
                <img class="seven-hills-img-size"
                    src="//crds-media.imgix.net//5owB05qOKKWQGV1MROTp6O/525fca697e627f8207b40eb3b10b4b9b/lone-wolves-die.png">
            </div>
            <div class="col-md-5 col-md-pull-7 text-left ma-ends content-left">
                <div class="portrait-card-content">
                    <div class="portrait-card-arrow">
                        {% include _portrait-card-arrow.html %}
                    </div>
                    <p class="font-family-base-bold text-uppercase text-orange flush">the hill of:</p>
                    <h2 class="section-header text-white flush">doing life together</h2>
           
                        <p class="push-top">We aren’t interested in being a place where a lot of people get together for an inspiring
                            service but never move beyond the casual, arm’s distance relationships of an auditorium. We
                            want to grow by really “doing life together.” People who grow in their relationship with God
                            also grow in their friendships with each other, moving beyond the Auditorium in small
                            groups, Community Groups and through serving. Real community is knowing and being known,
                            loving and being loved, celebrating and being celebrated, serving and being served. (From
                            Hebrews 10:24-25 in the Bible)</p>
 
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Excellence -->
<section class="soft-bottom bg-blue">
    <div class="container-fluid">
        <div class="row df-screen-md">
            <div class="col-md-7 text-center soft-ends push-top">
                <img class="seven-hills-img-size"
                    src="//crds-media.imgix.net//16hlCafTeBixCMDYN1buJ5/b6d56dbbb1c08f44495b3f299ac0ab4c/plan-b.png">
            </div>
            <div class="col-md-5 ma-ends content-right">
                <div class="portrait-card-content">
                    <div class="portrait-card-arrow">
                        {% include _portrait-card-arrow.html %}
                    </div>
                    <p class="font-family-base-bold text-uppercase text-orange flush">the hill of:</p>
                    <h2 class="section-header text-white flush">excellence</h2>
            
                        <p class="push-top">We don’t believe in striving for unrealistic perfection. Real excellence is about bringing
                            your best to God’s work and to life in general. We want to bring our “A-game” to everything
                            that we do, whether it’s our communication and music, how we hold babies in the nursery or
                            how we take care of the building, we want it to reflect excellence for Christ. (From Malachi
                            1 in the Bible)</p>
    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reporduction -->
<section class="soft-bottom bg-blue">
    <div class="container-fluid">
        <div class="row df-screen-md">
            <div class="col-md-7 col-md-push-5 text-center soft-ends content-left">
                <img class="seven-hills-img-size"
                    src="//crds-media.imgix.net//7cKDbGgaI5AEm8vAusQV3t/8b129acc4d2ef3bf2594e0da506bf9be/not-even-close.png">
            </div>
            <div class="col-md-5 col-md-pull-7 text-left ma-ends content-left">
                <div class="portrait-card-content">
                    <div class="portrait-card-arrow">
                        {% include _portrait-card-arrow.html %}
                    </div>
                    <p class="font-family-base-bold text-uppercase text-orange flush">the hill of:</p>
                    <h2 class="section-header text-white flush">reproduction</h2>
                        <p class="push-top">Reproduction is about recognizing something that God has created and then reproducing it in
                            his name. We want to send God’s message out into the world by reproducing everything from
                            the weekend program to CDs of each message series. Crossroads wants to be a place where
                            Christ-followers reproduce Christ-followers, leaders reproduce leaders and churches
                            reproduce other churches. (From Matthew 28:19-20 in the Bible)</p>
    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Growth -->
<section class="soft-bottom bg-blue">
    <div class="container-fluid">
        <div class="row df-screen-md">
            <div class="col-md-7 text-center soft-ends push-top">
                <img class="seven-hills-img-size"
                    src="//crds-media.imgix.net//1DT6n7TlYDWF4v4lMH43Od/19a9e8f8a2d3ccdeacc20597bf62ca9d/nothing-changed.jpg">
            </div>
            <div class="col-md-5 ma-ends content-right">
                <div class="portrait-card-content">
                    <div class="portrait-card-arrow">
                        {% include _portrait-card-arrow.html %}
                    </div>
                    <p class="font-family-base-bold text-uppercase text-orange flush">the hill of:</p>
                    <h2 class="section-header text-white flush">growth</h2>
                  
                        <p class="push-top">We don’t expect anyone who walks into Crossroads to be a committed Christ-follower, but we do
                            expect everyone who is around our community for any length of time to be growing. We expect
                            every person to be moving closer to reflecting the complete image of Christ in every area of
                            life. This is a safe place for everyone. But safe doesn’t mean comfortable. The answers
                            aren’t always comfortable. In fact, we often grow only when we are pushed out of our comfort
                            zone. (From Colossians 1:10 in the Bible)</p>
                  
                </div>
            </div>
        </div>
    </div>
</section>

{% include _the-basics.html %}
