---
layout: default
---

{% include header.html %}
<section class="bg-primary">
    <div class="bg-video-player">
        <div class="embed-responsive embed-responsive-custom">
            <video width="1787" height="1005.1875" class="bg-jumbotron-video" autoplay="autoplay" loop="loop" muted=""
                playsinline=""
                src="https://videos.ctfassets.net/y3a9myzsdjan/63BuO6LHW7hpVpx3mzEvp1/dde983bb80b2efabea608f8526d14f86/spiritual-outfitters-animation1.mp4">
            </video>
        </div>
    </div>
</section>

<section style="background-color: #f47d20;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="text-primary text-uppercase text-center push-bottom soft-top font-family-base-black">
                    Same Crossroads. New Look & Language.
                </h1>
                <img class="push-top"
                    src="https://images.ctfassets.net/y3a9myzsdjan/3NW7fmZgahMUgGzzpEJFp/413e6ae220f47487b13fc88f160311ac/spiritual-outfitters-animation2__1_.gif" />
                <p class="text-primary text-center font-family-serif push-top soft-top">
                    Crossroads has been a force for positive world change since the late ’90s. Aggressively running
                    after those in need. Well, it’s the ‘20s and it’s time our outsides looked more like our insides.
                    Our new brand identity is a reflection of what we’ve always stood for and the bold aggressive action
                    of our community.
                </p>
                <p class="text-primary text-center font-family-serif push-bottom soft-bottom">
                    We also believe that God has designed Crossroads to be a Spiritual Outfitter who inspires, equips,
                    and guides people who want to explore faith and go on the adventure they were born for –-to change
                    the world.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid hidden-xs">
        <div class="row push-sides">
            <hr class="hr-primary push-top" />
            <div class="col-xs-12 hard d-flex justify-content-between">
                <p class="text-primary text-uppercase font-family-condensed-extra font-size-h6 footer-content">
                    crossroads<br />church
                </p>
                <div class="bg-blue footer-box text-center">
                    <p
                        class="text-orange text-center text-uppercase font-family-condensed-extra font-size-h6 footer-letter-space">
                        adventure awaits</p>
                </div>
                <p
                    class="text-primary text-uppercase text-right font-family-condensed-extra font-size-h6 footer-content">
                    spiritual<br />outfitters
                </p>
            </div>
        </div>
    </div>
</section>

<section style="background-color: #dbd1bf;">
    <div class="container soft-bottom">
        <div class="row push-bottom soft-bottom">
            <img
                src="https://images.ctfassets.net/y3a9myzsdjan/LLdQEdYHTAicf5p8VnlSa/6104e42203d6aad3dcd54da823df0c91/spiritual-outfitters-animation3__2_.gif" />
            <div class="col-sm-8 col-sm-offset-2 text-center push-bottom soft-bottom">
                <h1 class="text-primary text-uppercase flush-bottom font-family-base-black">
                    a short history
                </h1>
                <p class="text-primary font-family-serif soft-ends">
                    We’ll keep this short because we know you don’t care that much. The reality is, the Crossroads brand
                    has evolved a bunch of times over the years. We’ve gone from stonewashed to skinny jeans. Sure, this
                    new look is the boldest evolution yet, but what else would you expect from a place hell-bent on
                    world change?
                </p>
                <p class="font-family-base-bold">Go deeper into our history</p>
                <crds-button data-toggle="modal" data-target="#videoModal" class="push-bottom soft-bottom"
                    color="orange" text="Watch the video" href="">
                </crds-button>
                <div class="modal modal-video fade" id="videoModal" tabindex="-1" role="dialog"
                    aria-labelledby="videoModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe allowfullscreen="" src="https://www.youtube.com/embed/uUlnFIuEk0Y"
                                    frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-orange"
    style="background-image:url(https://crds-media.imgix.net/3O2BjsXNZXbqUMKvnOKA92/8813b233127074a3b029fc3aa8b83781/spiritual-outfitter-overlay.png);">
    <div class="container-fluid">
        <div class="row soft df-screen-md">
            <div class="col-md-7 text-center push-ends soft-bottom ma-ends">
                <img
                    src="https://crds-media.imgix.net/5vNrrMcWsJGwWtxCfengjr/cbb5b329644926a113a65754c8bd2505/crossroads-logo-badge2.png">
            </div>
            <div class="col-md-5 block bg-primary soft">
                <div class="soft-ends push-ends">
                    <div class="soft-ends push-ends">
                        <h2 class="text-orange text-uppercase soft-top font-family-base-black">
                            born<br>for<br>adventure
                        </h2>
                        <p class="font-family-serif soft-ends">
                            “Faith” by its very nature is an exercise in adventure. The Bible is chock full of stories
                            of
                            people
                            stepping into crazy adventures of faith. If this new look reminds you of Bear Grylls
                            repelling
                            off
                            the Northface in Patagonia shorts that’s no accident. We’re not a “camping church”, but we
                            are
                            dedicated to risk, action, and movement. That doesn’t happen in a La-Z-Boy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #dbd1bf;">
    <div class="container">
        <div class="row soft-ends push-ends df-992">
            <div class="col-md-6 soft-ends push-ends text-left">
                <h1 class="text-primary text-uppercase soft-top font-family-base-black">
                    the trail marker
                </h1>
                <p class="text-primary font-family-serif soft-ends">
                    If you’re still reading this I’m guessing you’ve been around
                    Crossroads for a while (or you have a logo fetish). For the past 14
                    years, you’ve seen a little X in a circle icon thingy. We call it ‘the
                    screwhead” because it looks like the top of a Phillips-head screw. You
                    know it as the button you tap on your iPhone to close windows. Not
                    exactly inspirational. We call the new X The Trail Marker. It’s bold
                    and forward moving, just like us.
                </p>
            </div>
            <div class="col-md-6 text-center ma-ends">
                <img
                    src="https://images.ctfassets.net/y3a9myzsdjan/gtgZUfgeUaKHymVo0jext/c1eb4ef9aa7b9f0d3d32889c9f87f54c/spiritual-outfitters-animation4__1_.gif">
            </div>
        </div>
    </div>
</section>

<section style="background-color: #f58822;">
    <div class="container-fluid">
        <div class="row">
            <div class="bg-video-player push-bottom">
                <div class="embed-responsive embed-responsive-custom">
                    <video width="1787" height="1005.1875" class="bg-jumbotron-video" autoplay="autoplay" loop="loop"
                        muted="" playsinline=""
                        src="https://videos.ctfassets.net/y3a9myzsdjan/3sohrrCHGmAfuNh8QqNedd/27e6fdc6696044d9aaa2d0582d6c9dd5/spiritual-outfitters-animation6.mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <img class="push-top"
                    src="https://crds-media.imgix.net/1diMucwFYgSS6VijCOORpT/14ec6801614bcaff084ad6d95b6ca2f4/crsrds-badge-2020.png">
                <p class="text-primary font-family-serif push-ends soft-ends">
                    Since the dawn of social media, the shorthand for Crossroads has been “CRDS”. That’s pronounced
                    “curds”, like cheese curds. Which is gross. A brand refresh meant we could take another swing at the
                    shorthand game. We landed on “CRSRDS”, which is pronounced “Crossroads”. Turns out the guy who came
                    up with CRDS was from Wisconsin, his resume is trending on ZipRecruiter.
                </p>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #dbd1bf;">
    <div class="container-fluid soft-ends">
        <div class="row soft-ends push-ends">
            <div class="col-sm-8 col-sm-offset-2 text-center soft-ends push-ends">
                <div class="soft-ends">
                    <h1 class="text-orange text-uppercase flush-bottom font-family-base-black push-top">
                        let's do<br>this thing
                    </h1>
                    <p class="text-primary text-center font-family-serif soft-ends">
                        Crossroads isn’t going anywhere. We’re doubling down on our mission to partner with God in his
                        effort to make earth look more like heaven. Whether that’s in our backyard, our neighborhood,
                        our
                        nation, or our world. We’re committed, now more than ever, to be a training ground for those who
                        want to take a swing at making a difference. You might say that Crossroads exists to equip
                        people
                        for the fight. We call it being a spiritual outfitter for those on the adventure of faith.<br>
                        <span class="font-family-base-bold">It’s going to be a wild ride.</span>
                    </p>
                    <img
                        src="https://crds-media.imgix.net/66x1B6FptzkzErSolzYXgn/313eec4a1f21b80551c150ff0d2353f7/x-badge-2020.png">
                </div>
            </div>
        </div>
    </div>
</section>
{% include footer.html %}

{% javascript_link_tag video-modal-close %}