---
layout: container
---

<div class="row push-ends">
  <div class="col-sm-4">
    {% include _test.html title="hello world" lead="Testing" theme="default" img_src="//crds-media.imgix.net/3JkzXblF0KxdBpXp4CbPRl/227dc944ff29c3881480fe84187b6515/crossroads-brian.jpg?h=250" %}
  </div>
  <div class="col-sm-4">
    {% include _test.html title="Derpity Derp" lead="Derp" theme="default" img_src="//crds-media.imgix.net/3JkzXblF0KxdBpXp4CbPRl/227dc944ff29c3881480fe84187b6515/crossroads-brian.jpg?h=250" %}
  </div>
  <div class="col-sm-4">
    {% include _test.html title="Lorem Ipsum" lead="Lorem" theme="default" img_src="//crds-media.imgix.net/3JkzXblF0KxdBpXp4CbPRl/227dc944ff29c3881480fe84187b6515/crossroads-brian.jpg?h=250" %}
  </div>
</div>