---
layout: default
snail_trail: disabled
---

<section class="bg-blue bg-contain soft-ends" style="background-image: url('//crds-media.imgix.net/7imk2yfqm1FFMNL8lZaXOn/fa7c7bafb058b48c3486407c46f423a3/Background_Texture-1_2x-min.jpg');" data-optimize-bg-img>
  <div class="container text-white text-center soft-bottom">
    <h1 class="font-family-condensed-extra text-uppercase text-white">Crossroads through the years</h1>
    <p class="font-family-serif">Time flies when you're having fun. Check out what God has done through Crossroads over the years.</p>
  </div>

  <div class="container-fluid timeline push-ends soft-ends">
    {% include timeline/_1994-spring2000.html %}

    {% include timeline/_2001-2015.html %}
    
    {% include timeline/_2015-march2021.html %}
  </div>
</section>

{% javascript_link_tag sal async %}
