.app-page-styles {
  &.tv-styles {
    background-color: #102230;

    h2 {
      color: white;
    }

    p {
      color: #969592;
      margin-top: 1em;
    }

    .content-middle {
      @media (min-width: 768px) {
        padding-left: 60px;
        padding-right: 60px;
      }
    }
  }

  /* iPhone X & Pixel 2 XL */
  @media (max-height: 896px) and (max-width: 414px) {
    .jumbo-viewport {
      min-height: 44vh;
    }

    .hero-transform {
      margin-top: -75px;
    }

    .jumbotron .font-family-base-light {
      font-size: 1.95rem !important;
    }

    .font-family-condensed {
      font-size: 0.7rem !important;
    }

    .privacy-format {
      margin-right: auto;
    }
  }

  /* Galaxy S5 & iPhone 6/7/8/Plus & Pixel 2 */
  @media (max-height: 736px) {
    .jumbo-viewport {
      min-height: 57vh;
    }
    .hero-transform {
      margin-top: -75px;
    }
  }

  /* iPhone 4 & 5 */
  @media (max-height: 568px) {
    .jumbo-viewport {
      min-height: 71vh;
    }
    .hero-transform {
      margin-top: -70px;
    }
  }

  /* iPad, iPad Pro, Laptop & Desktop */
  @media (min-width: 768px) {
    .jumbo-viewport {
      min-height: 74vh;
    }
    .jumbotron h1,
    .jumbotron .h1 {
      font-size: 92px;
    }
    .hero-transform {
      margin-top: -300px;
    }

    .title-top {
      p {
        font-size: 19px;
      }
    }

    .jumbotron .font-family-base-light {
      font-size: 4rem !important;
    }

    .font-family-condensed {
      font-size: 1rem !important;
    }
    .logo-margin {
      margin-left: 30px;
    }

    .parent {
      display: flex !important;
    }

    .logo-format {
      left: auto !important;
      position: static !important;
      transform: none !important;
      margin-top: 4px !important;
      padding-top: 0;
    }

    .privacy-format {
      margin-right: 30px;
    }
  }

  /* iPad, iPad Pro, Laptop & Desktop */
  @media (max-width: 768px) {
    #crds-shared-header-logo {
      width: 90%;
    }
  }

  /* Landscape for mobile */
  @media (max-height: 414px) and (max-width: 823px) {
    .jumbo-viewport {
      min-height: 85vh;
    }
    .hero-transform {
      margin-top: -80px;
    }
  }

  @media (max-width: 767px) {
    .hide-buttons {
      visibility: hidden;
    }
  }
  /* Jumbotron Styling */
  .jumbotron {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .left {
    display: block;
    margin-right: auto;
  }

  .right {
    display: block;
    margin-left: auto;
  }

  .jumbotron {
    padding-top: 0px;
  }

  .flex-header {
    display: flex;
  }

  .title-top {
    padding-top: 65px;
  }

  .font-family-condensed {
    font-size: 1rem;
  }

  .tv-hero {
    position: relative;
  }

  .tv-spacing {
    margin-bottom: 80px;

    @media (min-width: 768px) {
      margin-bottom: 180px;
    }

    &.tv-first {
      margin-top: 50px;

      @media (min-width: 768px) {
        margin-top: 100px;
      }
    }
  }

  .tv-full-width {
    width: 100%;
  }

  /* App Icon */
  .rounded-border {
    border-radius: 22.5%;
    height: 50px;
    width: 50px;
  }

  /* App Store & Google Play Buttons */
  .app-button {
    height: 40px;
    width: 135px;
    margin-top: 8.5px;
  }

  .app-store-buttons {
    margin-left: auto;
  }

  .center-app {
    display: flex;
    justify-content: center;
  }

  .content-middle {
    margin-top: auto;
    margin-bottom: auto;
  }

  /* Footer Classes */
  .footer-padding {
    padding: 50px 0px 150px 0px;
  }

  .footer-bg {
    background-image: url('https://crds-media.imgix.net/54CyLHouK1UsYqdcoVgrxa/d6efa29a446e388f18786ecb33a70758/footer-img.jpg');
    background-size: cover;
    background-position: center;
  }

  .copyright-text {
    color: white !important;
    opacity: 0.6;
  }

  .footer-display {
    display: inline-flex;
    flex-direction: column;
  }

  .footer-buttons {
    margin-top: 50px;
  }

  .footer-margin {
    margin-bottom: 30px;
  }

  p a:hover {
    color: white;
    text-decoration: none !important;
    opacity: 0.6;
  }

  .copyright-format {
    margin-left: auto;
    margin-right: 50px;
  }

  /* Text & Page Formatting */
  .font-family-base-light {
    color: white;
  }

  .text-opaque {
    opacity: 0.5;
    color: white;
  }

  .phone-img-pad {
    padding-top: 35px;
    padding-bottom: 11px;
  }

  .footer-text {
    color: white !important;
    text-decoration: none;
    opacity: 0.6;
  }
}

/* !important is used explicitly for the purpose of overriding styling of existing Crossroads classes */
