.article-tpl {
  address {
    background: none;
    padding: 0px;
  }

  .article-detail-media-object {
    .stamp-container {
      background-color: $cr-white;
    }
    .media-object {
      color: $cr-gray;
    }
  }

  .article-social-share {
    a.on > span.heart-o > svg, a.on > span.heart > svg {
      fill: $cr-blue !important;
    }
    a span.heart, a span.heart-o {
      border: none !important;
    }
  }

  /* 14% = 100% (full-width row) divided by 7 */
  /* needed to create 7 equal columns */
  @media screen and (min-width: $screen-lg) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
    /* Overrides Jumbotron Overlay Card Styles */
  .overlay-card .overlay-card-author {
    color: $cr-gray-lightest;
  }

  .overlay-card .overlay-card-category {
    font-size: 14px;
    text-transform: none;
  }

  .overlay-card .overlay-card-image img {
    max-height: 430px;
  }

  .overlay-card .overlay-card-title {
    @media screen and (min-width: $screen-sm) {
      font-size: 54px;
      font-weight: 500;
    }

    @media screen and (min-width: $screen-lg) {
      font-size: 74px;
      font-weight: 500;
    }
  }

  /* Overrides Related Overlay Card Styles */
  .popular-category {
    .overlay-card {
      margin: 20px;
    }
  
    .overlay-card .overlay-card-image img {
      max-height: 192px;
    }
  
    .overlay-card .overlay-card-title {
      @media screen and (min-width: $screen-sm) {
        font-size: 32px;
        font-weight: 500;
      }
  
      @media screen and (min-width: $screen-lg) {
        font-size: 36px;
        font-weight: 500;
      }
    }
  }
}

.article-author {
  width: 150px;
}

.article-author-card-title {
  display: flex;
  justify-content: center;
}

.article-author-card-title {
  margin: auto;
  padding: 0px 25px;
}

.article-detail-social {
  border: 1px solid $cr-blue;
  padding: 0px 5px;
}

.flex-start {
  align-items: flex-start;
  display: flex;
}

.social-share {
  margin-left: 14px;
  margin-top: 4px;
} 


