
.author-header {

  @media screen and (min-width: $screen-md) {
    margin-bottom: 85px;
  }

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 110px;
    .container {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.media-author {
  position: relative;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (min-width: 576px) {
    flex-wrap: nowrap;
  }

  h1 {
    font-size: 3.75rem;

    @media screen and (min-width: $screen-md) {
      font-size: 5.625rem;
    }
  }

  .media-img-wrapper {
    margin: 0;
    display: block;
    position: relative;
    height: 200px;
    width: 200px;

    @media screen and (min-width: 576px) {
      margin: 80px 15px 0;
      display: inline-block;
    }

    @media screen and (min-width: $screen-md) {
      background-color: transparent;
      margin: 0;
      display: block;
      position: absolute;
      right: 0;
      width: 300px;
      height: 300px;
      bottom: -110px;
    }

    @media screen and (min-width: $screen-lg) {
      width: 360px;
      height: 360px;
      bottom: -140px;
    }
  }

  p {
    color: $cr-black;
    font-size: 1.25rem;
  }

  a {
    color: $cr-white !important;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  .media-body {
    max-width: 640px;
    width: 100%;

    @media screen and (min-width: 576px) {
      margin-top: 40px;
    }
  }
}

.social-container {
  position: absolute;
  display: none;

  @media screen and (min-width: $screen-md) {
    display: flex;
    top: 175px;
    right: 310px;
  }

  @media screen and (min-width: $screen-lg) {
    top: 200px;
    right: 370px;
  }


  .social-btn {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    width: 30px;

    .icon-color {
      fill: $cr-black !important;
    }

    &:focus,
    &:hover {
      .icon-color {
        fill: $cr-white !important;
      }
    }
  }

  .social-icon {
    height: 16px !important;
    width: auto;
  }
}

.social-inline {
  .social-container {
    position: relative;
    top: auto;
    right: auto;
    display: flex;

    @media screen and (min-width: $screen-md) {
      display: none;
    }
  }
}