.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-playbackposition, 
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-playbackposition, 
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-playbackposition-marker > .bmpui-bitmovin-seekbar-playbackposition {
  background-color: #FF8200;
}

.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-backdrop, 
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-backdrop > .bmpui-bitmovin-seekbar-backdrop {
  background-color: #E7E2D0;
}

.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-playbackposition-marker, 
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-playbackposition-marker > .bmpui-bitmovin-seekbar-playbackposition-marker {
  Background-color: #253746;
  Border: #253746;
}