.collection {
  background: $cr-gray-darker;

  h5 {
    color: $cr-gray-light;
    clear: both;
  }

  .subtopic-layout {

    &:first-of-type {
      margin-top: -75px;
    }

    main, aside {
      .list-card, .feature-sub {
        clear: both;

        .title, .content {
          color: $cr-white;
        }

        .topic {
          color: $cr-gray-light;
        }

        .credit {
          color: $cr-gray;

          >.list-card {
            color: $cr-gray-light;
          }
        }
      }
    }
  }

  .featured-media {
    margin-top: 0;
  }

  .jumbotron {
    h3 {
      color: $cr-white;
      margin-bottom: 1rem;
    }

    .btn {
      margin: 0 12px;
    }
    .hbspt-form {
      .hs-input {
        display: inline-block;
        margin-bottom: .5rem;
        vertical-align: bottom;
        width: 360px;
      }
      .submitted-message {
        p {
          text-align: center !important;
        }
      }
    }

    .actions {
      margin-bottom: .5rem;
    }

    #hs-helper-text {
      margin-top: .25rem;
    }
  }
}
