/* Temporary styles for form.io forms. Eventually, this will be integrated into the DDK - US12057 */

#formio {
  font-size: 16px;

  .form-check .control-label span {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    text-transform: initial;
    line-height: 1.4;
  }

  .radio {
    margin-top: 3px;
    margin-bottom: 5px;
  }
}
