.jumbotron-groups {
  position: relative;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 60px;
  padding-left: 60px;
  min-height: 550px;

  background-repeat: repeat-y;
  background-position: initial;
  background-size: auto;

  .intro {
    line-height: 26.5px;
    padding-bottom: 100px;
  }
}

.info-card-body {
  background-color: $cr-white;
  color: $cr-gray-dark;
  padding: 2rem;
}

.info-card-body-content {
  padding-bottom: 2rem;
}

.solid-tagline {
  background-color: $cr-gold;
  padding-top: 7px;
  padding-bottom: 8px;
}

// For the following pages: groups-getting-started, groups-in, groups-out, groups-up
.group-content-active {
  background-color: #b9b9b9;
  padding: 4px 0px 5px 10px;
  border-radius: 50%;
  display: inline-flex;
  font-size: 12px;
  width: 28px;
  font-weight: bold;
}
.group-content-inactive {
  background-color: #e7e7e7;
  padding: 4px 0px 5px 10px;
  border-radius: 50%;
  display: inline-flex;
  font-size: 12px;
  width: 28px;
  font-weight: bold;
  color: #8a8a8a;
}

.allgroupcontent > .grid-item {
  min-width: 173px;
}
