.flex-row {
  display: block;

  @media screen and (min-width: $screen-sm) {
    display: flex;
  }
}

.flex-child {
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: center;
}

.history {
  h1 {
    @media screen and (min-width: $screen-sm) {

    }
    @media screen and (min-width: $screen-md) {
      font-size: 5.9875rem;
    }
    @media screen and (min-width: $screen-lg) {
    }
  }
}


// AUTHENTICITY
.authenticity {

  // STACK 1
  .authenticity-image-stack-1 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);


    .authenticity-image-stack-1-item-1 {
      grid-column: 8 / 1;
      grid-row: 1;

      @media screen and (min-width: $screen-sm) {
        grid-column: 8 / span 7;
        grid-row: 1;
        margin-right: -140px;
      }
      @media screen and (min-width: $screen-md) {
        grid-column: 8 / span 7;
        grid-row: 1;
        margin-right: -140px;
      }
      @media screen and (min-width: $screen-lg) {
        // Do this
      }
    }

    .authenticity-image-stack-1-item-2 {
      grid-column: 13 / 1;
      grid-row: 1;
      z-index: 5;
      padding-top: 10%;

      @media screen and (min-width: $screen-sm) {
        grid-column: 12 / 1;
        grid-row: 1;
        z-index: 5;
        padding-top: 15%;
      }
      @media screen and (min-width: $screen-md) {
        grid-column: 12 / 1;
        grid-row: 1;
        z-index: 5;
        padding-top: 15%;
      }
      @media screen and (min-width: $screen-lg) {
        // Do this
      }
    }



  }

  // STACK 2
  .authenticity-image-stack-2 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-top: -80px;

    @media screen and (min-width: $screen-sm) {
      display: grid;
      position: relative;
      grid-template-columns: repeat(12, 1fr);
      margin-top: -160px;
    }
    @media screen and (min-width: $screen-md) {
      display: grid;
      position: relative;
      grid-template-columns: repeat(12, 1fr);
      margin-top: -230px;
    }

    .authenticity-image-stack-2-item-1 {
      grid-column: 8 / 1;
      grid-row: 1;
      margin-left: -10px;

      @media screen and (min-width: $screen-sm) {
        grid-column: 12 / 1;
        grid-row: 1;
      }
      @media screen and (min-width: $screen-md) {
      }
      @media screen and (min-width: $screen-lg) {
      }
    }

  }

  // STACK 3
  .authenticity-image-stack-3 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 40px;

    @media screen and (min-width: $screen-sm) {
      display: grid;
      position: relative;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 100px;
    }
    @media screen and (min-width: $screen-md) {
      display: grid;
      position: relative;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 100px;
    }

    .authenticity-image-stack-3-item-1 {
      grid-row: 1;
      margin-right: 0px;
      grid-column: 5 / span 8;

      @media screen and (min-width: $screen-sm) {
        grid-column: 7 / 1;
        grid-row: 1;
        margin-left: -60px;
      }
      @media screen and (min-width: $screen-md) {
        grid-column: 7 / 1;
        grid-row: 1;
        margin-left: -60px;
      }
      @media screen and (min-width: $screen-lg) {
        // Do this
      }
    }
  }

  .authenticity-title-img {
    margin-top: -65px;
    z-index: 5;

    @media screen and (min-width: $screen-sm) {
      margin-top: -95px;
      z-index: 5;
    }
    @media screen and (min-width: $screen-md) {
      margin-top: -105px;
      z-index: 5;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: -150px;
      z-index: 5;
    }

  }

  .authenticity-video {
    margin-top: -80px;
    z-index: 0;
    position: relative;
  }

}

// BIBLICAL TRUTH
.biblical-truth {
  .biblical-truth-img-title {
    position: relative;
    z-index: 2;
  }

  .biblical-truth-img-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: -40px;
    row-gap: 40px;
    position: relative;

    @media screen and (min-width: $screen-sm) {
      grid-template-rows: unset;
      margin-top: -140px;
    }

    @media screen and (min-width: $screen-md) {
      margin-top: -160px;
    }

    @media screen and (min-width: $screen-lg) {
      margin-top: -215px;
    }


    .biblical-truth-img-stack-item-1 {
      grid-column: 13 / 1;
      grid-row: 1;

      @media screen and (min-width: $screen-sm) {
        grid-column: 13 / 5;
      }
    }

    .biblical-truth-img-stack-item-2 {
      grid-column: 1 / 10;
      grid-row: 2;

      @media screen and (min-width: $screen-sm) {
        grid-row: 1;
        align-self: center;
        grid-column: 1/5;
      }
    }
  }

  .biblical-truth-content-row {
    @media screen and (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
    }

    .biblical-truth-content-col-1 {
      padding: 0 48px;

      @media screen and (min-width: $screen-md) {
        max-width: 33%;
      }
    }

    .biblical-truth-content-col-2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      @media screen and (min-width: $screen-md) {
        display: unset;
        padding: 0 24px;
        max-width: 33%;
      }

      img {
        align-self: center;
        max-width: 75%;

        @media screen and (min-width: $screen-md) {
          max-width: 100%;
        }
      }
    }
    .biblical-truth-content-col-3 {
      padding: 0 48px;
      max-width: 90%;

      @media screen and (min-width: $screen-sm) {
        max-width: 80%;
      }

      @media screen and (min-width: $screen-md) {
        max-width: 25%;
      }
    }
  }
}

// CULTURALLY CURRENT
.culturally-current {
  background-color : #CDA077;
  color: #fff;

  .culturally-current-img-title {
    position: relative;
    z-index: 3;
  }

  .culturally-current-image-stack-1 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-top: -20px;
    z-index: 1;

    @media screen and (min-width: $screen-sm) {
      margin-top: -170px;
    }
    @media screen and (min-width: $screen-md) {
      margin-top: -220px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: -310px;
    }

    .culturally-current-image-stack-1-item-1 {
      grid-column: 13 / 3;
      grid-row: 1;
      margin-top: -160px;

      @media screen and (min-width: $screen-sm) {
        grid-column: 13 / 1;
        grid-row: 1;
        margin-top: -160px;
      }
      @media screen and (min-width: $screen-md) {
        grid-column: 13 / 1;
        grid-row: 1;
      }
      @media screen and (min-width: $screen-lg) {
      }
    }

    .culturally-current-image-stack-1-item-2 {
      grid-column: 4 / 7;
      grid-row: 2;
      z-index: 1;
      margin-top: -130px;

      @media screen and (min-width: $screen-sm) {
        grid-column: 3 / 6;
        grid-row: 2;
        z-index: 1;
        margin-top: -130px;
      }
      @media screen and (min-width: $screen-md) {
        grid-column: 2 / 5;
        grid-row: 2;
        z-index: 1;
        margin-top: -140px;
      }
      @media screen and (min-width: $screen-lg) {
        // Do this
      }
    }

  }

  .culturally-current-image-stack-2 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);

    @media screen and (min-width: $screen-sm) {
    }
    @media screen and (min-width: $screen-md) {
    }

    .culturally-current-image-stack-2-item-1 {
      grid-column: 12 / 1;
      grid-row: 1;

      @media screen and (min-width: $screen-sm) {
      }
      @media screen and (min-width: $screen-md) {
      }
      @media screen and (min-width: $screen-lg) {
      }
    }

  }

  .culturally-current-article {
    margin-top: -220px;
    z-index: 0;
    position: relative;

    @media screen and (min-width: $screen-xs) {
      margin-top: -240px;
    }
    @media screen and (min-width: $screen-sm) {
      margin-top: -140px;
    }
    @media screen and (min-width: $screen-md) {
      margin-top: -150px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: -200px;
    }

  }

  .culturally-current-content {
    padding-top: 100px;
    padding-bottom: 60px;

    @media screen and (min-width: $screen-sm) {
      padding-top: 150px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: $screen-md) {
    }

  }
}

// DOING LIFE TOGETHER
.doing-life {
  padding-bottom: 100px;

  .doing-life-img-title {
    position: relative;
    z-index: 3;
  }

  .doing-life-image-stack-1 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 60px;
    z-index: 1;

    @media screen and (min-width: $screen-sm) {
      margin-top: 150px;
    }
    @media screen and (min-width: $screen-md) {
      margin-top: 160px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: 160px;
    }

    .doing-life-image-stack-1-item-1 {
      grid-column: 14 / 2;
      grid-row: 1;
      margin-top: 170px;

      @media screen and (min-width: $screen-sm) {
        grid-column: 13 / 5;
        grid-row: 1;
        margin-top: 10px;
        z-index: 1;
      }
      @media screen and (min-width: $screen-md) {


      }
      @media screen and (min-width: $screen-lg) {
        grid-column: 13 / 5;
        grid-row: 1;
        margin-top: 40px;
        z-index: 1;
      }
    }

    .doing-life-image-stack-1-item-2 {
      grid-column: 4 / 7;
      grid-row: 2;
      z-index: 1;
      margin-top: -100px;

      @media screen and (min-width: $screen-sm) {
        grid-column: 3 / 5;
        grid-row: 1;
        margin-top: -100px;
        margin-right: -47px;
        z-index: -1;
      }
      @media screen and (min-width: $screen-md) {
        margin-top: -150px;
      }
      @media screen and (min-width: $screen-lg) {
        margin-top: -120px;
        margin-right: -80px;
      }
    }

    .doing-life-image-stack-1-item-3 {
      grid-column: 13 / 1;
      grid-row: 1;

      @media screen and (min-width: $screen-sm) {
        grid-column: 8 / 1;
        grid-row: 1;
        margin-top: 90px;
      }
      @media screen and (min-width: $screen-md) {


      }
      @media screen and (min-width: $screen-lg) {
        grid-column: 8 / 1;
        grid-row: 2;
        margin-top: -600px;
      }
    }

  }

  .doing-life-image-stack-2 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);

    @media screen and (min-width: $screen-sm) {
    }
    @media screen and (min-width: $screen-md) {
    }

    .doing-life-image-stack-2-item-1 {
      grid-column: 12 / 1;
      grid-row: 1;

      @media screen and (min-width: $screen-sm) {
      }
      @media screen and (min-width: $screen-md) {
      }
      @media screen and (min-width: $screen-lg) {
      }
    }

  }

  .doing-life-article {
    margin-top: 110px;
    z-index: 0;
    position: relative;

    @media screen and (min-width: $screen-sm) {
      margin-top: 0px;

    }
    @media screen and (min-width: $screen-md) {
      margin-top: 40px;

    }

  }

  .doing-life-content {
    padding-top: 50px;
    padding-bottom: 0px;

    @media screen and (min-width: $screen-sm) {
      padding-top: 100px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: $screen-md) {
      padding-top: 100px;
      padding-bottom: 110px;
    }
  }
}

// EXCELLENCE
.excellence {

  .excellence-img-title {
    position: relative;
    z-index: 2;
    margin-top: -90px;

    @media screen and (min-width: $screen-md) {
      margin-top: -160px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: -220px;
    }

    img {
      width: 100%;
    }

  }

  .excellence-image-stack-1 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 60px;
    z-index: 1;

    @media screen and (min-width: $screen-sm) {
      margin-top: 150px;
    }
    @media screen and (min-width: $screen-md) {
      margin-top: 160px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: 160px;
    }

    .excellence-image-stack-1-item-1 {
      grid-column: 13 / 2;
      grid-row: 1;

      @media screen and (min-width: $screen-sm) {
        grid-column: 13 / 5;
        grid-row: 1;
        margin-top: 10px;
      }
      @media screen and (min-width: $screen-md) {
        grid-column: 13 / 4;

      }
      @media screen and (min-width: $screen-lg) {
        grid-column: 13 / 4;
        margin-top: 40px;
      }
    }

    .excellence-image-stack-1-item-2 {
      grid-column: 1 / 5;
      grid-row: 1;
      margin-top: -45px;

      @media screen and (min-width: $screen-sm) {
        grid-column: 7 / 2;
        grid-row: 1;
        margin-top: -85px;
      }
      @media screen and (min-width: $screen-md) {
        grid-column: 6 / 1;
      }
      @media screen and (min-width: $screen-lg) {
        grid-column: 6 / 1;
      }
    }

    .excellence-image-stack-1-item-3 {
      grid-column: 2 / 4;
      grid-row: 1;
      margin-left: 20px;
      margin-top: 80px;

      @media screen and (min-width: $screen-sm) {
        grid-column: 2 / 4;
        grid-row: 1;
        margin-left: 40px;
        margin-top: 200px;
      }
      @media screen and (min-width: $screen-md) {
        grid-column: 1 / 3;
        grid-row: 1;
        margin-left: 70px;
        margin-top: 370px;
      }
      @media screen and (min-width: $screen-lg) {
        margin-top: 440px;
      }
    }

  }

  .excellence-article {
    margin-top: 110px;
    z-index: 0;
    position: relative;

    @media screen and (min-width: $screen-sm) {
      margin-top: 0px;
    }
    @media screen and (min-width: $screen-md) {
    }

  }

  .excellence-content {
    padding-top: 100px;
    padding-bottom: 0px;

    @media screen and (min-width: $screen-sm) {
    }
    @media screen and (min-width: $screen-md) {
    }
  }
}

// REPRODUCTION
.reproduction {

  .reproduction-img-title {
    position: relative;
    z-index: 2;
    margin-top: -55px;

    @media screen and (min-width: $screen-md) {
      margin-top: -90px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: -90px;
    }

    img {
      width: 100%;
    }

  }

  .reproduction-image-stack-1 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 60px;
    z-index: 1;

    @media screen and (min-width: $screen-sm) {

    }
    @media screen and (min-width: $screen-md) {

    }
    @media screen and (min-width: $screen-lg) {

    }

    .reproduction-image-stack-1-item-1 {
      grid-column: 13 / 2;
      grid-row: 1;

      @media screen and (min-width: $screen-sm) {

      }
      @media screen and (min-width: $screen-md) {

      }
      @media screen and (min-width: $screen-lg) {

      }
    }

    .reproduction-image-stack-1-item-2 {
      grid-column: 1 / 5;
      grid-row: 1;
      margin-top: -45px;

      @media screen and (min-width: $screen-sm) {

      }
      @media screen and (min-width: $screen-md) {
        grid-column: 10 / 8;
        grid-row: 1;
        margin-top: 955px;
      }
      @media screen and (min-width: $screen-lg) {

      }
    }

    .reproduction-image-stack-1-item-3 {
      grid-column: 2 / 4;
      grid-row: 1;
      margin-left: 20px;
      margin-top: 80px;

      @media screen and (min-width: $screen-sm) {

      }
      @media screen and (min-width: $screen-md) {

      }
      @media screen and (min-width: $screen-lg) {

      }
    }

  }

  .reproduction-article {
    margin-top: 110px;
    z-index: 0;
    position: relative;

    @media screen and (min-width: $screen-sm) {
      margin-top: 0px;
    }
    @media screen and (min-width: $screen-md) {
    }

  }

  .reproduction-content {
    padding-top: 100px;
    padding-bottom: 0px;

    @media screen and (min-width: $screen-sm) {
    }
    @media screen and (min-width: $screen-md) {
    }
  }
}


// GROWTH
.growth {

  .growth-img-title {
    position: relative;
    z-index: 2;
    margin-top: 40px;

    @media screen and (min-width: $screen-md) {
      margin-top: -115px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: -190px;
    }

    img {
      width: 100%;
    }

  }

  .growth-image-stack-1-item-1 {
    margin-top:50px;

    @media screen and (min-width: $screen-sm) {
      margin-top: 50px;
    }
    @media screen and (min-width: $screen-md) {
      margin-top: 100px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: 100px;
    }
  }

  .growth-image-stack-1-item-2 {

    @media screen and (min-width: $screen-sm) {
    }
    @media screen and (min-width: $screen-md) {
    }
    @media screen and (min-width: $screen-lg) {

    }
  }

  .growth-article {
    margin-top: 110px;
    z-index: 0;
    position: relative;

    @media screen and (min-width: $screen-sm) {
      margin-top: 0px;
    }
    @media screen and (min-width: $screen-md) {
    }

  }

  .growth-content {
    padding-top: 0px;
    padding-bottom: 120px;

    @media screen and (min-width: $screen-sm) {
    }
    @media screen and (min-width: $screen-md) {
      padding-bottom: 120px;
    }
  }
}
