/*
 * Live Stream
 */
.page--live-stream {
  background-color: #171717 !important;
  .crds-shared-header .header {
    ul.nav-pills > li:not(.open) {
      padding: 0.625rem 0;

      > a:not(.cta) {
        color: $cr-white;
        padding: 0;

        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          color: $cr-gray-light;
        }
      }

      a > svg {
        display: inline-block;
        margin: 0 0.25rem 0 0;
        vertical-align: middle;
      }

      .link-icon-text {
        vertical-align: middle;
      }
    }
  }

  .well {
    background-color: $cr-gray-darkest;
    border: none;

    * {
      color: $cr-gray-lighter;
    }

    iframe {
      width: 100%;
    }
  }

  .carousel-cell {
    img {
      height: 130px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  .card-title--overlap {
    background-color: $cr-gray-darkest;
  }

  [aria-label='carousel-controls'] {
    @media (min-width: $screen-md) {
      visibility: hidden;
    }
  }

  .list-header {
    line-height: $headings-line-height;
  }

  .bmpui-ui-uicontainer {
    pointer-events: initial;
  }

  // hide for live stream
  // .bmpui-ui-seekbar {
  //   opacity: 0;
  //   visibility: hidden;
  // }

  #post-video-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,.75);
    opacity: 0;
    z-index: -1;
    transition: all .35s ease-in-out;
  
    .overlay-card {
      &:hover {
        cursor: pointer;
      }
    }
  }
  

  #standby-message {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $cr-black;
    opacity: 0;
    z-index: 0;
    transition: 0.45s all ease-in-out;

    .component-header,
    #standby-time {
      color: $cr-white;
    }
  }
}
