/*
 * Live Stream
 */
.page--live-stream {
  .crds-shared-header .header {
    ul.nav-pills > li:not(.open) {
      padding: .625rem 0;

      > a:not(.cta) {
        color: $cr-white;
        padding: 0;

        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          color: $cr-gray-light;
        }
      }

      a > svg {
        display: inline-block;
        margin: 0 .25rem 0 0;
        vertical-align: middle;
      }

      .link-icon-text {
        vertical-align: middle;
      }
    }
  }

  .well {
    background-color: $cr-gray-darker;
    border: none;

    * {
      color: $cr-gray;
    }

    iframe {
      width: 100%;
    }
  }

  .carousel-cell {
    img {
      height: 130px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  .card-title--overlap {
    background-color: $cr-gray-darker;
  }

  [aria-label="carousel-controls"] {
    @media (min-width: $screen-md) {
      visibility: hidden;
    }
  }

  .list-header {
    line-height: $headings-line-height;
  }

  // Bitmovin Live Stream Player
  .bmpui-ui-seekbar,
  .bmpui-ui-watermark {
    opacity: 0;
    visibility: hidden;
  }

  .bmpui-ui-playbacktogglebutton {
    display: none;
  }

  .bmpui-ui-uicontainer {
    pointer-events: initial;
  }

  .bmpui-ui-hugeplaybacktogglebutton {
    pointer-events: none;
  }

  #standby-message {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $cr-orange;
    opacity: 0;
    z-index: 0;
    transition: .45s all ease-in-out;

    .component-header,
    #standby-time {
      color: $cr-white;
    }
  }
}
