.locations-header {
  display: flex;
  flex-direction: column;
  align-items: start;

  @media (min-width: 767px) {
    flex-direction: row;
    align-items: center;
  }

  .searchbar {
    width: 100%;
    @media (min-width: 767px) {
      width: 50%;
      padding: .5rem;
      margin-left: auto;
    }
  }
}

.distance.label {
  position: absolute;
  font-family: 'acumin-pro', sans-serif;
  font-size: .875rem;
  font-weight: 500;
  background-color: #FFF;
  letter-spacing: .5px;
  border-radius: 0;
}
