.locations-header {
  display: flex;
  flex-direction: column;
  align-items: start;

  @media (min-width: 767px) {
    flex-direction: row;
    align-items: center;
  }

  .searchbar {
    width: 100%;
    @media (min-width: 767px) {
      width: 50%;
      padding: .5rem;
      margin-left: auto;
    }
  }
}

#search-input {
  @media (max-width: 766px) {
    font-size: 14px;
  }
}

#geo-search {
  display: none;
}

#section-locations crds-button {
    position: absolute;
    bottom: 0;
}
crds-site-select {
    position: absolute;
}

@media screen and (min-width: 995px){
  crds-site-select {
      left: 125px;
      bottom: 0px;
  }
}

@media screen and (max-width: 995px){
  crds-site-select {
      left: 10px;
      bottom: -45px;
  }
}

@media screen and (max-width: 770px){
  crds-site-select {
      left: 125px;
      bottom: 0px;
  }
}


.card-text {
    padding-bottom: 30px;
    cursor: auto;
}

#section-locations.card-deck--expanded-layout .card{
  margin-bottom: 3.5em;
}

.form-control, #subscribeModalForm .hs-input {
  background-color: $cr-white!important;  
}

.pastor-thumbnail {
  height: 63px;
  width: auto;
  transform: translateY(-15px);
}
