.jumbotron.locations-jumbotron {
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: $screen-sm) {
    padding-bottom: 0;
    padding-top: 135px;
  }

  h1 {
    font-size: 70px;
    line-height: 61px;

    @media (min-width: $screen-sm) {
      font-size: 94px;
      line-height: 86px;
    }
  }

  p {
    padding-top: 10px;
  }

  .ondemand-card {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    right: 32px;
    background-color: $cr-white;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
    max-width: 397px;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    top: 30px;

    p {
      color: $cr-orange;
      font-size: 13px;
      line-height: 16px;
      font-family: $font-family-base;
      font-weight: bold !important;
      margin-bottom: 1px;
    }

    h1 {
      color: $cr-gray-darker;
      font-size: 40px;
      line-height: 44px;
      font-family: $condensed-extra-font-face;
      letter-spacing: 0px;
      margin-top: 0px;
    }

    @media (max-width: $screen-sm) {
      max-width: 350px;
      top: 11px;
      position: absolute;
      z-index: 3;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      margin-right: 0px;
      margin-top: 0px;

      p {
        font-size: 11px;
      }

      h1 {
        font-size: 30px;
      }
    }

    .text-container {
      text-align: left;
    }
  }

  > .bg-overlay {
    background-image: none;

    @media (min-width: $screen-sm) {
      background-image: linear-gradient(
        to bottom,
        rgba(23, 23, 23, 0),
        $cr-black
      );
    }
  }
}

.location-top-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  .location-top-info-item {
    @media (min-width: $screen-md) {
      max-width: 32%;
    }
  }
}

.location-info-btn-container {
  text-align: left;

  @media (min-width: $screen-sm) {
    text-align: center;
  }
}

.location-title-row {
  background-size: cover;
  padding: 50px 0;
  position: relative;

  @media (min-width: $screen-sm) {
    padding: unset;
    background-image: none !important;
  }

  > .bg-overlay {
    @media (min-width: $screen-sm) {
      background: none;
    }
  }
}

.location-info-row {
  background-color: $cr-blue;
  background-image: url('//crds-media.imgix.net/1KLwsN6ilL7RO0xk6JzOsX/840e8b99340ff36bff67036909c4f856/texture-topo-dark-100_2x.png');
  background-size: cover;
  color: $cr-white;
  z-index: 2;

  @media (min-width: $screen-sm) {
    background-color: unset;
    background-image: none;
  }
}

.locations-pastor-img-container {
  min-width: 64px;

  .img-border {
    border-color: $cr-gray-lightest;
  }
}

.launch-form-header {
  color: $cr-blue;

  h1 {
    color: $cr-blue;
    font-family: $condensed-extra-font-face !important;
    font-weight: 500 !important;
  }
}

.location-overlay {
  background-color: rgba(0, 0, 0, 0.8);

  .modal-dialog {
    width: 90%;
    margin: auto;

    @media (min-width: $screen-md) {
      width: 70%;
    }

    @media (min-width: $screen-lg) {
      width: 60%;
    }
  }
}

.location-overlay-content {
  margin: 0 auto;
  max-width: 710px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    font-size: 49px;
  }

  .overlay-bottom-text {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm) {
      flex-direction: row;
    }

    .two-thirds-layout {
      flex: 3;
      margin-bottom: 30px;

      @media (min-width: $screen-sm) {
        margin-right: 56px;
      }
    }

    .one-third-layout {
      flex: 1;

      ol {
        list-style-position: inside;
        padding: 0;
        color: $cr-white;
      }
    }
  }
}

.columbus {
  &.jumbotron {
    p {
      font-weight: 200 !important;
    }
  }

  #service-times {
    font-weight: 200 !important;
  }

  @media (min-width: $screen-md) {

    .location-top-info-item {
      margin-left: 30px;
      margin-right: 30px;
      position: relative;
      width: 30%;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:not(:last-child) {
        &::after {
          background-color: $cr-white;
          content: "";
          display: inline-block;
          height: 130px;
          left: 100%;
          margin-left: 20px;
          position: absolute;
          top: 0;
          width: 1px;
        }
      }
    }
  }
}

.orange-rip-1 {
  max-width: 430px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.welcome-section {
  position: relative;

  &::after {
    background-image: url('//crds-media.imgix.net/49G8WvjJ7hM8BYwYrtbqsv/6a86eb5ddb77cea3020018e68f8992c0/columbus-orange-bg2b.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 450px;
    max-width: 365px;
    position: absolute;
    right: 0;
    top: -65px;
    width: 100%;
  }

  > div {
    position: relative;
    z-index: 1;
  }
}

.columbus-hello-box {
  position: relative;

  .content {
    padding: 30px;
    position: absolute;
    top: 75px;
  }
}

.columbus-hello-col {
  position: relative;

  .content {
    padding: 30px;
    position: absolute;
    top: 75px;

  }

  img {
    height: 615px;
    width: 100%;
  }

  @media (min-width: 576px) {
    @include make-xs-column(8);

    float: none;
    margin: 0 auto;

    img {
      height: 550px;
    }
  }

  @media (min-width: $screen-sm) {
    @include make-xs-column(6);

    .content {
      padding: 30px;
      position: absolute;
      top: 75px;
    }

    img {
      height: 600px;
    }
  }

  @media (min-width: $screen-md) {
    @include make-xs-column(5);
  }
  
  @media (min-width: $screen-lg) {
    @include make-xs-column(4);
  }
}