.music-tpl {
  .breadcrumb-container {
    margin-top: 3.75rem;
    position: absolute;
    z-index: 1;
  }

  // Splash cards behave different from overlay cards in that they have no gradient overlay, have no margins, are full-width and full-height, and are intended to fulfill some kinda singular conversion using a CTA. Just like a splash page - but in card form.
  .splash-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 650px;
    max-height: calc(100vh - 140px);
    position: relative;

    .content {
      bottom: 0;
      margin-bottom: 45px;
      position: absolute;

      > * {
        color: $cr-white;
      }
    }

    .meta {
      font-size: 13px;
      line-height: 1.3;
      font-weight: 600;
      margin-bottom: 0;
      opacity: .8;
      text-transform: uppercase;
    }

    .title {
      font-family: $condensed-extra-font-face;
      font-size: 4rem;
      line-height: .9;
      text-transform: uppercase;
    }

    .tagline {
      font-family: $base-font-face;
      font-size: $font-size-base;
      font-style: normal;
      line-height: $line-height-base;
      margin-bottom: 0;
    }

    .btn {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: $screen-sm) {
    .splash-card {
      height: 900px;
      max-height: calc(100vh - 72px);

      .content {
        margin-bottom: 60px;
      }

      .title {
        font-size: 5.625rem;
      }

      .tagline {
        font-size: $font-size-large;
      }
    }
  }
}
