.card-title--overlap-remove-divider {
  background-color: $cr-white;
  display: inline-block;
  font-family: $condensed-extra-font-face;
  font-size: 2.125rem;
  margin: -2rem -0.5rem 0;
  padding: 0.25rem 0.5rem;
  position: relative;

  &:after {
    color: transparent;
    content: '\2014';
    display: block;
    font-family: $base-font-face;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.5;
  }
}

.heading-line-height-sm {
  line-height: .75;
}

.tooltip-inner {
  max-width: 100%;
}

.onsite-group-negative-margin-bottom {
  margin-bottom: -15px;

  @media only screen and (min-width: $screen-md-min) {
    margin-bottom: 0px;
  }
}

.onsite-group-location-row {
  .col-md-3 {
    &:nth-child(4n + 1) {
      clear: left;
    }
  }
}

.onsite-group-meeting-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    display: flex;
    line-height: 1em;
    align-items: center;
    font-size: 14px;
    // outline: 1px solid red;

    &:after {
      content: "";
      height: 3px;
      width: 3px;
      display: block;
      background-color: $cr-black;
      margin: 4px 4px 0;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
