.song-detail-tpl {
  > header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 138px 0 1rem;
  }

  .bg-overlay {
    background: linear-gradient(to bottom, transparent, rgba(23,23,23,1) 85%);
  }

  > .bg-charcoal {
    padding-bottom: 90px;
  }

  .external-music-links {
    ul {
      list-style: none;
      padding-left: 0;

      li {
        display: inline-block;
        padding: 0 .5rem;
      }
    }
  }

  .embed-video {
    .card-title {
      font-size: $font-size-small;
      line-height: 1.3;
    }

    .embed-info {
      display: flex;
      justify-content: space-between;

      div:first-child{
        margin-right: .5rem;
      }
    }
  }

  @media screen and (min-width: $screen-sm) {
    > header {
      padding: 390px 0 2rem;

      .description {
        display: flex;
        justify-content: space-between;

        .share {
          flex: 0 0 234px;
        }
      }
    }

    > .bg-charcoal {
      padding-bottom: 60px;
    }

    .external-music-links {
      ul {
        li {
          display: block;
          padding: 0;
        }
      }
    }

    .embed-video {
      .card-title {
        font-size: 21px;
        line-height: .9;
      }
    }
  }
}

.media-music-album {
  .album-artwork {
    box-shadow: 0 0 .5rem 0 rgba($cr-black, .15);
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
  }

  .tracks {
    li a {
      font-size: 19px;
      color: $cr-white;
      opacity: .8;
      text-transform: capitalize;

      &:hover,
      &:focus {
        color: $cr-cyan-light;
        text-decoration: none;
      }
    }
  }
}
