.hr-primary {
    border-top-color: $cr-blue;
}

.footer-box {
    height: 35px;
    width: 172px;
}

.footer-content {
    letter-spacing: 1.1px;
    line-height: 1.4rem;
}

.embed-responsive-custom {
    padding-bottom: 62.5%;
}

.df-screen-md {
    @media screen and (min-width: $screen-md) {
        display: flex;
    }
}

.ma-ends {
    @media screen and (min-width: $screen-md) {
        margin: auto 0;
    }
}