.hr-primary {
    border-top-color: #253746;
}

.footer-box {
    height: 35px;
    width: 172px;
}

.footer-content {
    letter-spacing: 1.1px;
    line-height: 1.4rem;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}