.referee-header-img {
  width: 70%;
}

.team-header-img {
  max-width: 50%;
  margin: 15px auto !important;
}

.hr-white
{
  border-top-color: white;
}

.stats-spacing {
  letter-spacing: 6.5px;
}

.stats-column {
  padding: 0 100px;
}