.referee-header-img {
  width: 70%;
}

.hr-white {
  border-top-color: white;
}

.stats-spacing {
  letter-spacing: 6.5px;
}

.stats-column {
  padding: 0;
  @media (min-width: $screen-sm) {
    padding: 0 100px;
  }
}
