.overlay-container {
  display: none;

  .hydrated & {
    display: block;
  }

  @media screen and (max-width: $screen-md) {
    padding-top: 10px;
  }

  .modal-title {
    color: $cr-gray-darker;
    font-family: "acumin-pro-extra-condensed";
    font-size: 58px;
    letter-spacing: -0.5px;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 33px;
  }

  p {
    color: $cr-gray;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 26px;
    padding-top: 16px;
  }

  .image-container {
    margin-top: 12px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  
    @media screen and (min-width: $screen-md) {
      margin-top: 0px;
    }
  
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.video-tpl {
  .feature-cards {
    .card {
      padding-left: 0;
    }
  }

  .list-inline.btn-block-mobile {
    @media only screen and (max-width: $screen-xs-max) {
      > li {
        display: block;
        width: 100%;
      }
    }
  }

  header {
    .sources {
      > a {
        display: block;
        font-size: $font-size-small;
      }
    }

    a.secondary {
      color: $cr-white;
    }

    > div:not(.sources) {
      margin-top: 12px;
    }
  }

  @media screen and (min-width: $screen-xs) {
    header {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      .sources {
        flex: 0 0 auto;
        order: 2;
        text-align: right;
      }

      div:not(.sources) {
        margin-top: 0;
      }
    }
  }
}

#post-video-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(0,0,0,.75);
  opacity: 0;
  z-index: -1;
  transition: all .35s ease-in-out;

  .overlay-card {
    &:hover {
      cursor: pointer;
    }
  }
}
