.bg-tan-light-35 {
  background-color: rgba($cr-tan-light, 0.35);
}

.btn-streaming-img {
  align-items: center;
  display: flex !important;
  height: 60px;
  justify-content: center;
  max-width: 185px;
  width: 100%;
}

.btn-streaming-group {
  display: flex;
  justify-content: center;
}

.flex-row-align-center {
  align-items: center;
  display: flex;
}