<p style="margin: 0px;">
  <nav class="navbar navbar-default bg-blue" style="margin-bottom: 0px; border: none; border-radius: 0px;">
    <div class="container soft-quarter-ends mobile-hard-ends">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#goTripsNav" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
          <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <div class="text-primary"></div>
        <a class="navbar-brand mobile-soft-left hard" routerlink="/" ng-reflect-router-link="/" ng-reflect-href="/" href="https://www.crossroads.net/reachout/go">
          <img src="https://crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-white.png" alt="" title="" height="auto" width="50px">
        </a>
        <a routerlink="/" ng-reflect-router-link="/" ng-reflect-href="/" href="https://www.crossroads.net/" class="hard">
          <img src="//crossroads-media.s3.amazonaws.com/images/crossroads-church-logo.svg" alt="crossroads church-logo" style="width: 100px;" title="" class="push-half-top push-left">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="goTripsNav">
        <ul class="nav navbar-nav navbar-right mobile-soft-half-ends">
          <li><a href="https://www.crossroads.net/reachout/go" class="btn btn-link flush-ends">Overview</a></li>
          <li class="dropdown text-center" style="position: initial;">
            <a class="flush-top btn btn-link text-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="text-align: center; background-color: transparent;">Trips
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="width: 100vw; background-color: rgba(255, 255, 255, 0.8);">
              <li class="text-center font-family-condensed-extra text-uppercase font-size-h4"><a href="https://www.crossroads.net/reachout/go/bolivia">Bolivia</a></li>
              <!-- <li class="text-center font-family-condensed-extra text-uppercase font-size-h4"><a href="https://www.crossroads.net/reachout/go/haiti">Haiti</a></li> -->
              <li class="text-center font-family-condensed-extra text-uppercase font-size-h4"><a href="https://www.crossroads.net/reachout/go/india">India</a></li>
              <!-- <li class="text-center font-family-condensed-extra text-uppercase font-size-h4"><a href="https://www.crossroads.net/reachout/go/new-orleans">New Orleans</a></li> -->
              <li class="text-center font-family-condensed-extra text-uppercase font-size-h4"><a href="https://www.crossroads.net/reachout/go/nicaragua">Nicaragua</a></li>
              <li class="text-center font-family-condensed-extra text-uppercase font-size-h4"><a href="https://www.crossroads.net/reachout/go/puerto-rico">Puerto Rico</a></li>
              <li class="text-center font-family-condensed-extra text-uppercase font-size-h4"><a href="https://www.crossroads.net/reachout/go/south-africa">South Africa</a></li>
              <li class="text-center font-family-condensed-extra text-uppercase font-size-h4"><a href="https://www.crossroads.net/reachout/go/all-trips">All Trips</a></li>
            </ul>
          </li>
          <li><a href="https://www.crossroads.net/reachout/go/info-session" class="btn btn-link flush-ends">Find Out More</a></li>
          <li><a href="https://www.crossroads.net/trips/search" class="btn btn-link flush-ends">Give to a trip</a></li>
          <li><a href="https://www.crossroads.net/reachout/go/all-trips" class="btn btn-gray flush-ends">Sign up for a trip</a></li>
        </ul>
      </div>
    </div>
  </nav>
</p>
