.media-series-detail {
  li.social-share-wrapper {
    @media screen and (min-width: $screen-lg) {
      width: 58%;
    }
    @media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1) {
      width: 49%;
    }
    @media screen and (min-width: $screen-md) {
      .social-share {
        padding-left: 1rem;
      }
    }
    @media screen and (max-width: $screen-md - 1) {
      width: 100%;
      margin-top: 1.25rem;
    }
  }
}
