.hr-primary {
    border-top-color: $cr-blue;
}

.footer-box {
    height: 35px;
    width: 172px;
}

.footer-content {
    letter-spacing: 1.1px;
    line-height: 1.4rem;
}

.embed-responsive-custom {
    padding-bottom: 62.5%;
}