.give-nav,
.profile-nav {
  font-family: "acumin-pro", helvetica, arial, sans-serif !important;
  font-weight: 300 !important;
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 47px;
  width: 100vw;
  z-index: 2;
}
.give-nav div,
.profile-nav div {
  height: auto;
  padding: 30px 20px 90px;
}
.give-nav a,
.profile-nav a {
  color: white;
  display: inline-block;
  font-size: 19px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
  text-transform: capitalize;
}
.give-nav a.all,
.profile-nav a.all {
  margin-bottom: 30px;
}
.give-nav a:hover,
.profile-nav a:hover {
  color: #cccccc;
}
.give-nav h2,
.profile-nav h2 {
  font-family: "acumin-pro-extra-condensed", sans-serif !important;
  font-weight: 500 !important;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.give-nav h4,
.profile-nav h4 {
  font-size: 11px;
  margin: 0 0 10px;
  opacity: 0.5;
  text-transform: uppercase;
}
.give-nav ul,
.profile-nav ul {
  padding-left: 0;
  margin-top: 0;
}
.give-nav ul li,
.profile-nav ul li {
  list-style: none;
}
.give-nav ul li.top-level a,
.profile-nav ul li.top-level a {
  padding-left: 0;
}
@media (min-width: 992px) {
  .give-nav,
.profile-nav {
    height: auto;
    left: auto;
    margin-right: -15px;
    position: absolute;
    right: 15px;
    width: 375px;
  }
}
@media (min-width: 1170px) {
  .give-nav,
.profile-nav {
    margin-right: 0;
  }
}
.give-nav ul:last-of-type,
.profile-nav ul:last-of-type {
  padding-bottom: 30px;
}

.give-nav {
  background-image: url("https://crds-media.imgix.net/6sNxa1MWhMOfjhAB47yTCa/0acf1af4109f23abc0199b1e34abeb7a/give-bg_2x.jpg?auto=format%2Ccompress");
}

.profile-nav:after {
  background-color: rgba(0, 0, 0, 0.75);
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.profile-nav .profile-nav-img {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(2px);
  transform: scale(1.1);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}