footer {
  font-family: "acumin-pro", helvetica, arial, sans-serif !important;
  font-weight: 300 !important;
  color: #737373;
  background-color: #e7e7e7;
  overflow: hidden;
  padding: 3.125rem 0;
}
footer .container {
  margin: 0 auto;
  max-width: 1170px;
}
@media only screen and (min-width: 768px) {
  footer .container {
    display: flex;
  }
}
footer .container div {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 24px;
  vertical-align: top;
}
@media only screen and (min-width: 768px) {
  footer .container div {
    flex: 1;
    width: 16.66667%;
  }
}
footer .container div p {
  margin-bottom: 0;
  font-weight: bold;
}
footer .container div ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
footer .container div.social-icons {
  padding-left: 0;
}
@media only screen and (min-width: 768px) {
  footer .container div.social-icons {
    flex: 2;
    text-align: right;
    width: 33.33333%;
  }
}
footer .container div.social-icons li {
  display: inline;
}
footer .container div.social-icons li a {
  box-sizing: border-box;
  margin-left: 0.75rem;
  background: #737373;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  height: 36px;
  width: 36px;
  padding: 10px;
}
footer .container div.social-icons li a img {
  max-width: 100%;
}
footer .container a {
  color: #737373;
  text-decoration: none;
}
footer .container h5 {
  font-size: 16.1px !important;
  line-height: 1.1;
  margin: 12px 0;
}