{% assign item = site.messages | last %}
{% assign latest_series = site.series | last %}
<div class="embed-container position-relative">
	<a href="{{ item }}" data-automation-id="message-video">
		<div class="media-video">
			<img class="media-img full-width"
				src="{{ item.image.url | imgix: site.imgix }}?auto=format,compress&w=750&h=422&fit=crop"
				sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img />
			{% include media-homepage/_video-player-card.html autoplay=true thumbnail=true %}
		</div>
	</a>
</div>

<h3 class="font-size-h5 font-family-condensed-extra text-uppercase flush-top text-gray-dark">
	{{ item.title }}
</h3>
<p class="font-size-smaller font-family-base-bold text-uppercase">
	Series: <a class="text-gray-dark" href="{{ latest_series.url }}">{{ latest_series.title }}</a>
</p>

<div>
	<a href="{{ item }}" class="btn latest-message-btn btn-orange btn-block-mobile" type="button">
		Watch now
	</a>
</div>