<ul class="sidebar-menu list-unstyled push-bottom">
<li class="border-bottom push-half-bottom soft-half-bottom"><a href="/anywhere-resources/"><strong>Welcome</strong></a></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><a href="/anywhere-resources/resources"><strong>Resources</strong></a></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><a href="/anywhere-resources/kids-club"><strong>Kids' Club</strong></a></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><a href="/anywhere-resources/serving"><strong>Serving</strong></a></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><a href="/anywhere-resources/faq"><strong>FAQs</strong></a></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><a href="/anywhere-resources/stories"><strong>Stories</strong></a></li>
</ul>
