<ul class="sidebar-menu list-unstyled push-bottom">
<li class="border-bottom push-half-bottom soft-half-bottom"><strong><a href="/anywhere-resources/">Welcome</a></strong></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><strong><a href="/anywhere-resources/resources">Resources</a></strong></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><a href="http://crossroads.net/anywhere-resources/kids-club"><strong>Kids' Club</strong></a></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><a href="[sitetree_link,id=2884]"><strong>Serving</strong></a></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><strong><a href="http://crossroads.net/anywhere-resources/faq">FAQs</a></strong></li>
<li class="border-bottom push-half-bottom soft-half-bottom"><a href="[sitetree_link,id=]"><strong>Stories</strong></a></li>
</ul>
