<div data-page="articles">
  <div class="row" data-page-number="{{ page.articles.page }}">
    {% for item in page.articles.docs %}
    <div id="article-card" class="col-sm-6">
      {% include _overlay-card.html collection="articles" title="h3" %}
      {% include _media-label.html source = item %}
    </div>
    {% endfor %}
  </div>

  <div class="loading hide">
    {% include _preloader.html %}
  </div>
</div>

<div class="push-top">
  {% include _pagination.html collection="articles" n_of_total_pagination="true" label="" link_root=include.link_root %}
</div>
