{% assign post = include.post %}
{% assign contributor_ref = post.person | first %}
{% if contributor_ref %}
  {% assign contributor_page = site.people | where: 'slug', contributor_ref.slug | first %}
  {% assign contributor = contributor_page | default: contributor_ref %}
{% else %}
  {% assign contributor = post.author | get_doc %}
  {% assign contributor_page = contributor %}
{% endif %}
{% assign contributor_name = contributor.name | default: contributor.full_name %}
{% assign contributor_link = contributor_page.url %}
{% assign topic = post.category | get_doc %}

<div class="card">
  <div class="card-media relative">
    <a class="block" href="{{ post.url }}">
      <div class="beige-overlay"></div>
      <img
        src="{% if post.image %}{{ post.image.url | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder_sixteen_nine }}"
        sizes="{{ site.image_sizes.cards_3x }}" alt="{{ post.image.title }}" data-optimize-img>
    </a>

    {% include _media-label.html source=post %}
  </div>

  <p class="text-orange-dark font-size-smaller push-quarter-top flush-bottom">
    <a href="{{ topic.url }}">{{ topic.title | upcase }}</a>
  </p>

  <h2 class="font-family-condensed-extra font-size-h3 flush-ends">
    <a href="{{ post.url }}">{{ post.title | upcase }}</a>
  </h2>

  <p class="text-gray-light font-size-small flush-bottom push-quarter-top">
    {% if contributor_link %}
      <a href="{{ contributor_link }}">{{ contributor_name | titleize }}</a>
    {% else %}
      <span>{{ contributor_name | titleize }}</span>
    {% endif %}
  </p>

</div>
