{% assign item = include.item %}
{% unless item %}{% assign item = page %}{% endunless %}

<section class="soft-half-left">
  <div class="row soft-bottom">
    <div class="flex-start flex-align-center">
      <a href="#" role="button" class="btn btn-blue push-half-right" data-toggle="modal" data-target="#subscribeModalForm"
      style="width: 105px;">Subscribe</a>
      <div class="article-detail-social">
        <crds-heart-button theme="button" contentful-id="{{ item.contentful_id }}" contentful-slug= "{{ item.slug }}" contentful-type="{{ item.content_type | upcase }}"></crds-heart-button>
      </div>
      <div class="social-share sidebar">
        <a class="text-blue" href="javascript:shareFacebook()">
          <svg class="icon" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
          </svg>
        </a>
        <a href="javascript:shareTwitter()">
          <svg class="icon" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#twitter"></use>
          </svg>
        </a>
        <a href="javascript:share();" class="clipboard"
          data-clipboard-text="{{ site.url }}{{ item.url }}"
          data-clipboard-success="{{ site.url }}{{ item.url }} copied to clipboard!">
          <svg class="icon" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#link"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  {% if include.media_metric != false %}
    <crds-media-metrics-share slug="{{ item.slug }}" type="{{ item.content_type | upcase }}" />  
  {% endif %}
</section>

<script type="text/javascript">
  function shareFacebook() {
    const mediaMetricShare = new Event('mediaMetricInteractionShare');
    document.dispatchEvent(mediaMetricShare);
    
    let link = `https://www.facebook.com/sharer/sharer.php?u=https://www.crossroads.net/media{{ page.url }}`;
    window.open(link, '_blank');
  }

  function shareTwitter() {
    const mediaMetricShare = new Event('mediaMetricInteractionShare');
    document.dispatchEvent(mediaMetricShare);
    
    let link = `https://twitter.com/home?status={{ page.title | escape | titleize }}%20{{ site.url }}{{ page.url }}`;
    window.open(link, '_blank');
  }

  function share() {
    const mediaMetricShare = new Event('mediaMetricInteractionShare');
    document.dispatchEvent(mediaMetricShare);
  }
</script>