{% assign social_author = include.author | default: author %}
{% if social_author.facebook_link or social_author.instagram_link or social_author.twitter_link or social_author.youtube_link %}
    <div class="social-container">
      {% if social_author.instagram_link %}
      <a class="social-btn" href="{{ social_author.instagram_link }}" >
        <svg class="social-icon" viewBox="0 0 256 256">
          <use class="icon-color" xlink:href="/assets/svgs/icons.svg#instagram"></use>
        </svg>
      </a>
      {% endif %}
      {% if social_author.facebook_link %}
         <a class="social-btn" href="{{ social_author.facebook_link }}">
        <svg class="social-icon" viewBox="0 0 256 256">
          <use class="icon-color" xlink:href="/assets/svgs/icons.svg#facebook"></use>
        </svg>
      </a>
      {% endif %}
      {% if social_author.twitter_link %}
          <a class="social-btn"  href=" {{ social_author.twitter_link }}">
        <svg class="social-icon" viewBox="0 0 256 256">
          <use class="icon-color" xlink:href="/assets/svgs/icons.svg#twitter"></use>
        </svg>
      </a>
      {% endif %}
      {% if social_author.youtube_link %}
          <a class="social-btn"  href="{{ social_author.youtube_link }}">
        <svg class="social-icon" viewBox="0 0 256 256">
          <use class="icon-color" xlink:href="/assets/svgs/icons.svg#youtube"></use>
        </svg>
      </a>
      {% endif %}
     </div>
{% endif %}
