<div
  class="jumbotron jumbotron-media hard-top"
  style="background-image: url('//crds-media.imgix.net/6gWC5HMFaoQvmEkuMqWOeF/bc288c31f87a72a80e9a53de1ceb96cf/media-landing-bg.jpg?{ site.imgix_params.placeholder }');"
  data-optimize-bg-img
  data-hero-image >
  <div class="header-content container">
    <div class="row">
      <div class="col-md-8 col-lg-9 text-left">
        <div class="description">{{ jumbotron.description | markdownify }}</div>
        <!-- Greeting -->
        <div class="container greeting-skeleton">
          <crds-greeting default-name="friend" auth-token></crds-greeting>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 push-top soft-quarter-top text-left">
        <div class="visible-xs visible-sm border-top border-light-gray push-bottom"></div>
        <div class="col-xs-6 col-md-12 hard-left">
          <!-- <h3 class="font-size-small font-family-base-bold text-white">Popular links</h3> -->
          <ul class="list-unstyled font-size-small font-family-base">
            <li>
              <a href="/personal/profile" class="">My Profile</a>
            </li>
            <li>
              <a href="/giving/history" class="">My Giving</a>
            </li>
            <li>
              <a href="/mycamps" class="">My Student Camps</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-12 hard-left">
          <!-- <h3 class="font-size-small font-family-base-bold text-white">Explore by type</h3> -->
          <ul class="list-unstyled font-size-small font-family-base">
            <li>
              <a href="/serve-signup" class="">Sign up to Serve</a>
            </li>
            <li>
              <a href="/connect/?Groups%3D&my=1" class="">My Groups</a>
            </li>
            <li>
              <a href="/trips/mytrips" class="">My Trips</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
