<div class="media media-author">
    <div class="media-img-wrapper">
      <a href="{{ author.url }}" data-author-link>
        <img data-author-img src="{{ author.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}" class="img-circle full-width" sizes="350px" data-optimize-img>
      </a>

      {% include _author-social.html %}
    </div>

  <div class="media-body">
    <h1 class="font-family-condensed-extra text-uppercase text-white" data-author-name>
      {{ author.full_name }}
    </h1>

    {% if page.title == "Preview" %}
      <p data-author-bio></p>
    {% else %}
      <span class="markdown">{{ author.summary | markdownify }}</span>
    {% endif %}

    <div class="social-inline">
      {% include _author-social.html %}
    </div>
  </div>
</div>
