<!-- 30 Day Challenege Ad -->
<section class="container-fluid">
  <div class="row">
      <div class="text-center soft-ends" style="background-image: url('//crds-media.imgix.net/qm9R03FuGdRID463xBhKG/6b8dc5ee9709250acdfff4b8bd0f16f1/bg-Trial_2x.jpg?auto=format,compress&w=1600');
          background-size: cover; background-repeat: no-repeat;" data-optimize-bg-img>
          <div class="soft-ends">
              <h2 class="component-header-box component-header-box-border-lg text-white text-uppercase">God has
                  something to tell you.
              </h2>
              <p class="font-family-base-light font-size-base text-white">Give us 30 days to prove it.</p>
              <crds-button href="/30-day-challenge" color="orange" text="Take the 30 day challenge">
              </crds-button>
          </div>
      </div>
  </div>
</section>
<!--End CTA -->