<section class="discussion-questions">
  <small>Process, journal or discuss the themes of this article - here's a few questions to get the ball rolling...</small>
  <div class="collapse" id="collapse-discussion-questions">
    {% include _discussion-questions.html type='chaser' discussion=include.discussion %}
  </div>
  <a class="link-primary font-size-smaller collapsed" role="button" data-toggle="collapse" data-toggle-text="Hide questions" href="#collapse-discussion-questions" aria-expanded="false" aria-hidden="true" aria-controls="collapse-discussion-questions">
    <span class="text">View questions</span>
    <span>
      <svg class="icon" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#chevron-down-thin"></use>
      </svg>
    </span>
  </a>
</section><br>


