<!-- Jumbotron -->
<section class="jumbotron locations-jumbotron flush-bottom width-100 columbus" style="background-image: url('//crds-media.imgix.net/2nlzQwsqBn4q4UTC170Y6H/9ddfb0121e770923c134612f7786cc3d/crossroads-columbus-launch-bg2.jpg?{{ site.imgix_params.placeholder }}')"
  data-optimize-bg-img>
  <div class="orange-rip-1">
    <img src="//crds-media.imgix.net/3lERcN6aJqYHFL5DhGGPir/fe8c5e61a198a4410e33b5d34842e69b/columbus-orange-bg1.png" />
  </div>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row location-title-row" style="background-image: url('//crds-media.imgix.net/1nKqQUxh3ZvqterxUSg7t4/9109f53db0a3e98f51ce81d6ebbae8f4/crossroads-columbus-launch-bg.jpg?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img>
      <div class="bg-overlay"></div>
      <div class="col-sm-12 push-ends mobile-soft-sides mt-75">
        <div>
          <span class="font-family-accent text-white font-size-h6">Welcome to</span>
          <h1 class="flush-ends font-family-condensed-extra text-uppercase soft-half-top">Crossroads <br />{{ page.name }}</h1>
        </div>
        <div class="col-sm-offset-1 col-sm-10">
          <p class="font-family-serif font-size-large text-white push-top">Be part of something bigger than yourself. We are a bold, audacious group of teammates and friends who are trying to bring light and positive change to our city. </p>
        </div>
      </div>
    </div>
    <div class="row location-info-row soft-ends">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 soft-ends">
        <div class="location-top-info-container">

          <div class="location-top-info-item text-left push-bottom location-info-divider mobile-flush-bottom">
            <div>

              <span class="font-family-base-bold font-size-smaller text-uppercase">Service Times</span>
              <p class="flush font-size-small">
                {% assign current_date = "now" | date: "%s" %}
              
                {% if page.service_times %}
                  {% assign service_times_count = page.service_times | size %}
                  {% for time in page.service_times %}
                    {% if time.is_special_service_time == true %}
                      {% assign start_date = time.special_service_start_date | date: "%s" %}
                      {% assign end_date = time.special_service_end_date | date: "%s" %}
                      {% if current_date >= start_date and current_date <= end_date %}
                        <span class="font-family-base-bold">{{ time.service_time_label }}</span><br>
                        {% for service_time in time.service_times %}
                          {{ service_time }}
                          {% if forloop.index != time.service_times.size %}<br>{% endif %}
                        {% endfor %}
                      {% endif %}
                    {% else %}
                      <span class="font-family-base-bold">{{ time.service_time_label }}</span><br>
                      {% for service_time in time.service_times %}
                        {{ service_time }}
                        {% if forloop.index != time.service_times.size %}<br>{% endif %}
                      {% endfor %}
                    {% endif %}
                    {% if forloop.first and service_times_count == 2 %}
                      <!-- Insert double break only after the first item if both service times are present -->
                      <br><br>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </p>
              <hr class="visible-xs">
            </div>
          </div>

          <div class="location-top-info-item text-left push-bottom location-info-divider mobile-flush-bottom">
            <div>

              <span class="text-uppercase font-family-base-bold font-size-smaller">Address</span>
              {% if page.address %}
              <p class="flush font-family-base font-size-small">{{ page.address | markdownify | remove: '<p>' | remove: '</p>' }}</p>
              <a href="{{ page.map_url }}" class="text-orange" target="_blank">Get directions</a>
              {% endif %}
              <hr class="visible-xs">
            </div>
          </div>

          <div class="location-top-info-item text-left">
            <div class="d-flex justify-content-between">
              <div class="push-right">
                <span class="text-uppercase font-family-base-bold font-size-smaller">Leadership</span>
                {% if page.community_pastor_name %}
                <p class="flush font-family-base font-size-small">{{ page.community_pastor_name }}</p>
                <p class="hard-top flush font-family-base font-size-small">{{ page.name }} Community Pastor</p>
                {% assign pastor_full_name = page.community_pastor_name | split: " " %}

                <a class="text-orange" href="#the-team">Meet the team</a>

                {% else %}
                <p class="flush font-family-base font-size-small">New face coming soon</p>
                {% endif %}
              </div>
              <div class="locations-pastor-img-container">
                {% if page.community_pastor_image %}
                <img class="img-border img-circle img-size-4" src="{{ page.community_pastor_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}"
                sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
                {% else %}
                <img class="img-border img-circle img-size-4" src="https://crossroads-media.imgix.net/images/avatar.svg"/>
                {% endif %}
              </div>
            </div>
            <hr class="visible-xs">
          </div>
        </div>
        {% if page.layout == "established" %}
        <div class="soft-ends location-info-btn-container">
          {% if page.care_link %}
          <crds-button class="push-half-right" href="{{ page.care_link }}" color="white" display="outline"
            text="Request care"></crds-button>
          {% endif %}
          <crds-button href="https://share.hsforms.com/1YY_i9ZyZTy2KZf9WkIgxjg2dls1" class="push-half-right" color="white"
            display="outline" text="Subscribe for updates"></crds-button>
          <crds-button class="push-half-right" href="//www.facebook.com/crsrds{{ page.slug | downcase }}" color="white"
            display="outline" icon="facebook" icon-align="left" icon-color="white" icon-size="16" text="Follow"></crds-button>
          <crds-button href="//www.instagram.com/crsrds{{ page.slug | downcase }}" color="white" display="outline"
            icon="instagram" icon-align="left" icon-color="white" icon-size="16" text="Follow"></crds-button>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</section>

<!-- Welcome Section -->
<section class="bg-orange welcome-section">
  <div class="container soft-ends">
    <div class="flex-md-row-align-center row">
      <div class="col-md-7 col-sm-6 push-ends">
        <div class="embed-responsive embed-responsive-16by9 push-ends">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/ZKbWiiFV8Ic" title="Welcome to Crossroads Columbus" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="columbus-hello-col" >
        <div class="columbus-hello-box">
          <img src="//crds-media.imgix.net/4JuDLLDol0JUZqvc2qOdm9/dba867e0b27cac614c10005c6fb152b5/crossroads-columbus-white-paper.png"/>
          <div class="content">
            <div class="d-flex align-items-center">
              {% if page.community_pastor_image %}
              <div class="push-right">
                <crds-circle-image image-url="{{ page.community_pastor_image.url | imgix: site.imgix }}" size="68"></crds-circle-image>
              </div>
              {% endif %}
              <h3 class="flush text-uppercase font-family-condensed-extra">Hello!</h3>
            </div>
            <p class="text-gray">If you’re new to Crossroads, welcome! We’re a different kind of church that grew up, just down the road, in Cincinnati. There we built a huge community of people who believe they were born to make a difference. We would love to show you what that looks like! Join us for in-person services or reach out personally to connect.</p>
            <p class="text-gray">We look forward to seeing you! <br />Vicki</p>
            {% if page.community_pastor_email %}
              <crds-button href="mailto:{{ page.community_pastor_email }}" size="sm" color="orange" text="Email Vicki" target="_blank"></crds-button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Impact Section -->
<section class="bg-tan bg-topo-50 bg-contain">
  <div class="container soft-ends">
    <div class="text-center col-sm-8 col-sm-offset-2 push-bottom">
      <h2 class="component-header-box text-blue">Get to know God, Make friends & have an impact.</h2>
      <p class="font-family-serif text-gray-darker font-size-base push-half push-ends">Let’s join together to build something great.</p>
    </div>

    <div class="row push-ends">
      <div class="col-sm-6">
        <div class="portrait-card-skeleton-condensed push-bottom">
          <crds-portrait-card theme="condensed" lead="" title="Build your Community"
          image-src="//crds-media.imgix.net/6vCqww4SGEtqdzoKUPVw7C/bf7f26a35f1c688e9d23f9c89bd6b185/columbus-community-team.jpg">
            <p class="push-half-ends">Doing life together is better than going it alone. Sign up to get notified when we’re gathering together or finding ways to get closer to God.</p>
            <crds-button display="outline" class="push-half-right" data-target="#subscribeModalForm" data-toggle="modal" href="" color="white"
              text="Sign up for events"></crds-button>
          </crds-portrait-card>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="portrait-card-skeleton-condensed push-bottom">
          <crds-portrait-card theme="condensed" lead="" title="The Best Email/Text You'll Ever Get"
          image-src="//crds-media.imgix.net/33DbdrygdBvOTehBa29SaB/cbdb94b7dc0a65f30b9f48f7adb841e8/CROSSROADS105.jpg">
            <p class="push-half-ends">Text In: Text COLUMBUS to 301301 for a weekly update every Friday with encouraging stories and the must-know info about all we've got going on.</p>
            <p class="push-half-ends">Weekly Email: Find out events happening across all of Crossroads & good-to-know information once a week.</p>
            <crds-button display="outline" class="push-half-right" data-target="#subscribeModalForm" data-toggle="modal" href="" color="white"
              text="Sign up for the Weekly Email"></crds-button>
          </crds-portrait-card>
        </div>
      </div>
    </div>
  </div>
</section>