<div class="push-top {% if include.type == 'chaser' %}chaser-wrapper{% endif %}">
  <div class="well discussion-questions-container {% if include.type == 'chaser' %}chaser-questions{% endif %}">
      {{ include.discussion.intro | markdownify }}

      {% if include.discussion.discussion_questions.size > 0 %}
        <ol>
          {% for q in include.discussion.discussion_questions %}
            <li>{{ q.question | markdownify }}</li>
          {% endfor %}
        </ol>
      {% endif %}

      {% if include.discussion.challenge %}
        <p class="label">More from the Weekend</p>
        {{ include.discussion.challenge | markdownify }}
      {% endif %}
  </div>
  <div class="rollcall">
    <div class="triangle-up"></div>
    {% include _chaser-rollcall.html %}
  </div>
</div>
