<div class="container">
<div class="row">
<div class="col-sm-2 push-bottom">
<h5><a href="/locations/">One Church, Many Locations</a></h5>
<p><strong>Cincinnati Area</strong><br><a href="/eastside/">East Side</a><a href="/florence/"><br>Florence</a> <br><a href="/mason/">Mason</a> <br><a href="/oakley/">Oakley</a><br><a href="/oxford/">Oxford</a> <br><a href="/uptown/">Uptown</a><br><a href="/westside/">West Side</a></p>
<p><strong>Central Kentucky Area</strong><br><a href="/andover/" class="ss-broken ss-broken">Andover</a><br><a href="/downtownlex/" class="ss-broken ss-broken">Downtown Lexington</a><br><a href="/georgetown/" class="ss-broken ss-broken">Georgetown</a><br><a href="/richmond/" class="ss-broken ss-broken">Richmond</a></p>
<p><a href="/live/" class="ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken ss-broken">Anywhere</a><br><a href="/cleveland/">Cleveland</a><br><a href="/columbus/">Columbus</a><br><a href="/dayton/">Dayton</a></p>
</div>
<div class="col-sm-2 push-bottom">
<h5><a href="http://imincampaign.net/" target="_blank">I’M IN Campaign</a></h5>
<p><!--<a href="[sitetree_link,id=2876]">Commit to I'M IN</a><br />--> <a href="mailto:campaign@crossroads.net">I'M IN questions</a><br><a href="/leaveyourmark">Campaign Status</a></p>
</div>
<div class="col-sm-2 open push-bottom">
<h5>Contact</h5>
<p><a href="/prayer/">Prayer Requests</a> <br><a href="/shareyourstory/">Share Your Story</a> <br><a href="/contactus/">Contact Us</a> <br><a href="/privacypolicy/">Privacy Policy</a></p>
</div>
<div class="col-sm-2 open push-bottom">
<h5>Resources</h5>
<p><a href="/inthenews/">In The News</a><br><a href="/churchresources/">Church Resources</a></p>
</div>
<div class="col-sm-4 social-icons"><a href="https://twitter.com/crdschurch/" target="_blank" class="text-center"><img src="//d1tmclqz61gqwd.cloudfront.net/images/twitter.svg" alt="twitter account" title="twitter account"></a> <a href="https://www.facebook.com/crdschurch/?_rdr=p" target="_blank" class="text-center"> <img src="//d1tmclqz61gqwd.cloudfront.net/images/facebook.svg" alt="facebook account" title="facebook account"></a> <a href="https://www.youtube.com/user/crdschurch" target="_blank" class="text-center"> <img src="//d1tmclqz61gqwd.cloudfront.net/images/youtube.svg" alt="youtube account" title="youtube account"></a> <a href="https://www.instagram.com/crdschurch/" target="_blank" class="text-center"> <img src="//d1tmclqz61gqwd.cloudfront.net/images/instagram.svg" alt="instagram account" title="instagram account"></a></div>
</div>
</div>