<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="crossroads media" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% if page.distribution_channels %}
    {% if page.podcast.distribution_channels %}
      <link rel="canonical" href="{{ page.podcast | get_canonical_host }}">
    {% else %}
      <link rel="canonical" href="{{ page | get_canonical_host }}">
    {% endif %}
  {% endif %}

  <link rel="preload" href="{{site.components_endpoint}}/crds-components/crds-components.esm.js" as="script">
  <link rel="preload" href="{{site.components_endpoint}}/crds-components.js" as="script">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="//d1tmclqz61gqwd.cloudfront.net/favicons/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="//d1tmclqz61gqwd.cloudfront.net/favicons/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="//d1tmclqz61gqwd.cloudfront.net/favicons/favicon-16x16.png?v=2">
  <link rel="manifest" href="//d1tmclqz61gqwd.cloudfront.net/favicons/manifest.json">
  <link rel="mask-icon" href="//d1tmclqz61gqwd.cloudfront.net/favicons/safari-pinned-tab.svg?v=2">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <meta property="cfl:space_id" content="{{ site.ENV.CONTENTFUL_SPACE_ID }}">
  <meta property="cfl:env" content="{{ site.ENV.CONTENTFUL_ENV }}">
  <meta property="cfl:token" content="{{ site.ENV.CONTENTFUL_ACCESS_TOKEN }}">
  <meta property="crds:interactions-endpoint" content="{{ site.ENV.INTERACTIONS_ENDPOINT }}">

  {% stylesheet_link_tag application %}

  <title>{{ page | meta_title }}</title>
  <meta name="description" content="{{ page | meta_description }}">
  <meta property="og:title" content="{{ page | meta_title }}">
  <meta property="og:description" content="{{ page | meta_description }}">
  <meta property="og:image" content="{{ page | meta_image | imgix: site.imgix }}?{{ site.imgix_params.meta_image }}">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@crdschurch">

  <script>
  var CRDS = window.CRDS || {};

  CRDS.rollCall = {
    formUrl: '{{ site.ENV.ROLL_CALL_FORM_URL }}',
    totalFieldId: '{{ site.ENV.ROLL_CALL_TOTAL_FIELD_ID }}',
    urlFieldId: '{{ site.ENV.ROLL_CALL_URL_FIELD_ID }}'
  }

  CRDS.env = {
    "bitmovinPlayerLicense": '{{ site.bitmovin_player_license }}',
    "bitmovinAnalyticsLicense": '{{ site.bitmovin_analytics_license }}'
  }

  var JEKYLL_ENV = '{{ site.jekyll_env }}';
  </script>

  <script type="module" src="{{site.components_endpoint}}/crds-components/crds-components.esm.js"></script>
  <script nomodule="" src="{{site.components_endpoint}}/crds-components.js"></script>
  
{% include _gtm.html %}
{% include _monetate-head.html %}
{% include _facebook.html %}
{% if page.js_vars %}{% include _js_vars.html %}{% endif %}
{% javascript_link_tag application %}
</head>
