<head>

  <script type="text/javascript" src="{% asset lib/set-redirect-url.js @path %}"></script>

  {% if page.requires_auth %}
    <script type="text/javascript" src="{% asset lib/auth-required.js @path %}"></script>
  {% endif %}

  {% include _gtm-head.html %}

  <meta name="Netlify" content="This page was rendered with Netlify">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="title" content="{{ page | get_meta_title: site }}">
  <meta name="description" content="{{ page | get_meta_description: site | markdownify | strip_html | strip_newlines | truncate: 155 }}">
  <meta name="image" content="{{ page | get_meta_image: site | imgix: site.imgix }}?{{ site.imgix_params.meta_image }}">
  <meta property="og:description" content="{{ page | get_meta_description: site | markdownify | strip_html | strip_newlines | truncate: 155 }}">
  <meta property="og:title" content="{{ page | get_meta_title: site }}">
  <meta property="og:image" content="{{ page | get_meta_image: site | imgix: site.imgix }}?{{ site.imgix_params.meta_image }}">
  <meta property="og:url" content="{{ page | build_page_url: site }}">
  <meta property="og:site_name" content="{{ site.title | escape }}">
  <title>{{ page | get_title: site }}</title>

  <link rel="apple-touch-icon" sizes="57x57" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="//dz6ito7tas43n.cloudfront.net/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//dz6ito7tas43n.cloudfront.net/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="//dz6ito7tas43n.cloudfront.net/images/favicon/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="//dz6ito7tas43n.cloudfront.net/images/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//dz6ito7tas43n.cloudfront.net/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="//dz6ito7tas43n.cloudfront.net/images/favicon/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a37304">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  {% if page.search_excluded %}
    <meta name="robots" content="noindex" />
    <meta name="AdsBot-Google" content="noindex" />
  {% endif %}

  {% asset application.scss !integrity %}
</head>
