<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: '3993985',
    formId: '52b50268-5d9c-4369-8359-e96ff69094f9',
    formInstanceId: '2',
    submitButtonClass: 'btn btn-orange',
    errorMessageClass: 'hs-error-msgs inputs-list list-unstyled soft-half-top',
    inlineMessage: '<p>Thanks for signing up! Our top picks will hit your inbox every week.</p>',
    onFormReady($form, ctx) {
      $('div[data-reactid=".hbspt-forms-0.1:$0.0"]').appendTo($('#hs-helper-text')).change();
      $('label[data-reactid=".hbspt-forms-0.1:$0.$email.0"]')
        .hide()
        .change();
      $('div[data-reactid=".hbspt-forms-0.5.1"]').appendTo($('div[data-reactid=".hbspt-forms-0.1:$0.$email.$email"]')).change();
      $('div[data-reactid=".hbspt-forms-0.5.1"]').addClass('inline-block vertical-align-bottom');
      $('input[data-reactid=".hbspt-forms-0.5.1.0"]').addClass('btn-hs');
      $('input[data-reactid=".hbspt-forms-0.1:$0.$email.$email.0"]')
        .addClass('form-control media-header-form')
        .attr('placeholder', 'Email address')
        .change();
    }
  });
</script>
<p id="hs-helper-text" class="tagline push-half-top font-size-smaller">
  <!-- Text from the hs form -->
</p>

<style>
.hs_error_rollup {
  display: none !important;
}
</style>