<div class="card-deck carousel locations" data-crds-carousel="mobile-scroll" data-automation-id="locations-carousel">
  <div id="section-locations" class="feature-cards card-deck--expanded-layout">
    {% assign locations_sorted_names = site.locations | sort: 'name' | group_by: 'name' %}
    {% for name_group in locations_sorted_names %}
      {% assign locations_sorted_slugs = name_group.items | sort: 'slug' %}
      {% for location in locations_sorted_slugs %}
        {% include _location-card.html %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<hr />

<div class="row">
  <div class="col-sm-12 push-bottom">
    <h2 class="push-half-ends section-header">Prison Ministry</h2>
    <p class="font-size-base">
      We are committed to changing lives of the incarcerated, as well as men and
      women released from prison. <br /><a href="/reachout/local/prison-ministry/" class="font-size-base">Learn more
        about Prison Ministry</a>
    </p>
  </div>
</div>
<div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-carousel-id="carousel-ogvpll">
  <div id="" class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">
    <!-- Prison Cards -->
    <div class="card" data-filter="Central Kentucky">
      <a href="https://www.crossroads.net/reachout/local/prison-ministry" class="block">
        <img alt="Blackburn Correctional Complex" src="https://crds-cms-uploads.imgix.net/content/images/crossroads-church-locations-BCC2.jpg?{{
            site.imgix_params.placeholder_card
          }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      </a>
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">
          <a href="https://www.crossroads.net/reachout/local/prison-ministry">Blackburn Correctional Complex</a>
        </h4>
        <div class="card-text">
          <p>
            3111 Spurr Road<br />
            Lexington, Kentucky 40511 (
            <a class="text-orange-dark"
              href="https://www.google.com/maps/place/Blackburn+Correctional+Complex/@38.111259,-84.5369852,15z/data=!4m5!3m4!1s0x0:0xde3117a58f1815e6!8m2!3d38.111259!4d-84.5369852"
              target="_blank">Map</a>)
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-filter="Southwest Ohio">
      <a href="https://www.crossroads.net/reachout/local/prison-ministry" class="block">
        <img alt="Dayton Correctional Institution" src="https://crds-cms-uploads.imgix.net/content/images/crossroads-church-locations-DCI.jpg?{{
            site.imgix_params.placeholder_card
          }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      </a>
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">
          <a href="https://www.crossroads.net/reachout/local/prison-ministry">Dayton Correctional Institution</a>
        </h4>
        <div class="card-text">
          <p>
            4104 Germantown Street<br />
            Dayton, OH 45417 (
            <a class="text-orange-dark"
              href="https://www.google.com/maps/place/Dayton+Correctional+Institution/@39.7299331,-84.2635569,16z/data=!4m13!1m7!3m6!1s0x8840876a3570fa89:0x9ea6ae7e3ae52c25!2s4104+Germantown+St,+Dayton,+OH+45417!3b1!8m2!3d39.7340797!4d-84.2527946!3m4!1s0x88408153fcd772bb:0x88d3ef6b37226fb1!8m2!3d39.7298358!4d-84.2604885"
              target="_blank">Map</a>)
          </p>
          <p>
            <a class="text-orange-dark" href="http://thefourseven.org/training/">Sign up to volunteer</a>
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-filter="Southwest Ohio">
      <a href="https://www.crossroads.net/reachout/local/prison-ministry" class="block">
        <img alt="Lebanon Correctional Institution" src="https://crds-cms-uploads.imgix.net/content/images/crossroads-church-locations-LECI.jpg?{{
            site.imgix_params.placeholder_card
          }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      </a>
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">
          <a href="https://www.crossroads.net/reachout/local/prison-ministry">Lebanon Correctional Institution</a>
        </h4>
        <div class="card-text">
          <p>
            3791 State Route 63<br />
            Lebanon, OH 45036 (
            <a class="text-orange-dark"
              href="https://www.google.com/maps/place/Lebanon+Correctional+Institution/@39.4361526,-84.3032275,17z/data=!4m13!1m7!3m6!1s0x88405f31d7000efd:0x218bc0d3257fdbd1!2s3791+OH-63,+Lebanon,+OH+45036!3b1!8m2!3d39.4371221!4d-84.3014358!3m4!1s0x88405f501509302d:0x8489015a675e486e!8m2!3d39.4338915!4d-84.2990278"
              target="_blank">Map</a>)
          </p>
          <p>
            <a class="text-orange-dark" href="http://thefourseven.org/training/">Sign up to volunteer</a>
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-filter="Southwest Ohio">
      <a href="https://www.crossroads.net/reachout/local/prison-ministry" class="block">
        <img alt="London Correctional Institution" src="https://crds-cms-uploads.imgix.net/content/images/crossroads-church-locations-LOCI.jpg?{{
            site.imgix_params.placeholder_card
          }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      </a>
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">
          <a href="https://www.crossroads.net/reachout/local/prison-ministry">London Correctional Institution</a>
        </h4>
        <div class="card-text">
          <p>
            1580 OH-56<br />
            London, OH 43140 (
            <a class="text-orange-dark"
              href="https://www.google.com/maps/place/Ohio+Department+of+Rehabilitation+and+Correction+-+London+Correctional+Institution/@39.9042141,-83.4859388,17z/data=!3m1!4b1!4m5!3m4!1s0x8838ae079c4445b9:0xd171765297ab0e2c!8m2!3d39.9042141!4d-83.4837501"
              target="_blank">Map</a>)
          </p>
          <p>
            <a class="text-orange-dark" href="http://thefourseven.org/training/">Sign up to volunteer</a>
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-filter="">
      <a href="https://www.crossroads.net/reachout/local/prison-ministry" class="block">
        <img alt="Marion Correctional Institution"
          src="https://crds-cms-uploads.imgix.net/Uploads/crossroads-church-locations-MCI.jpg?{{ site.imgix_params.placeholder_card }}"
          sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      </a>
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">
          <a href="https://www.crossroads.net/reachout/local/prison-ministry">Marion Correctional Institution</a>
        </h4>
        <div class="card-text">
          <p>
            940 Marion-Williamsport Road<br />
            Marion, OH 43302 (
            <a class="text-orange-dark"
              href="https://maps.google.com/?q=940+Marion-Williamsport+Road+Marion,+OH+43302&amp;entry=gmail&amp;source=g"
              target="_blank">Map</a>)
          </p>
          <p>
            <a class="text-orange-dark" href="http://thefourseven.org/training/">Sign up to volunteer</a>
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-filter="Central Ohio">
      <a href="https://www.crossroads.net/reachout/local/prison-ministry" class="block">
        <img alt="Ohio Reformatory for Women" src="https://crds-cms-uploads.imgix.net/content/images/crossroads-church-locations-ORW.jpg?{{
            site.imgix_params.placeholder_card
          }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      </a>
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">
          <a href="https://www.crossroads.net/reachout/local/prison-ministry">Ohio Reformatory for Women</a>
        </h4>
        <div class="card-text">
          <p>
            1479 Collins Avenue<br />
            Marysville, OH 43040 (
            <a class="text-orange-dark"
              href="https://www.google.com/maps/place/Ohio+Reformatory+for+Women/@40.2242328,-83.3932216,15z/data=!4m5!3m4!1s0x0:0x2161dc1eea876928!8m2!3d40.2242328!4d-83.3932216"
              target="_blank">Map</a>)
          </p>
          <p>
            <a class="text-orange-dark" href="http://thefourseven.org/training/">Sign up to volunteer</a>
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-filter="Southwest Ohio">
      <a href="https://www.crossroads.net/reachout/local/prison-ministry" class="block">
        <img alt="Warren Correctional Institution" src="https://crds-cms-uploads.imgix.net/content/images/crossroads-church-locations-WCI.jpg?{{
            site.imgix_params.placeholder_card
          }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      </a>
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">
          <a href="https://www.crossroads.net/reachout/local/prison-ministry">Warren Correctional Institution</a>
        </h4>
        <div class="card-text">
          <p>
            5787 Ohio 63<br />
            Lebanon, OH 45036 (
            <a class="text-orange-dark"
              href="https://www.google.com/maps/place/Warren+Correctional+Institution/@39.4342293,-84.3078695,15z/data=!4m5!3m4!1s0x0:0x3afe109724ea9eda!8m2!3d39.4342293!4d-84.3078695"
              target="_blank">Map</a>)
          </p>
          <p>
            <a class="text-orange-dark" href="http://thefourseven.org/training/">Sign up to volunteer</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="Subscribe email form" class="modal fade" id="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content soft">
      <div class="modal-header"><button aria-label="Close" class="close pull-right" data-dismiss="modal"
          type="button"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left">
        <p class="lead text-center text-gray-dark push-ends soft-bottom">
          <strong>Thanks for watching the Crossroads Christmas Special! </strong><br>Enter to Win an iPhone 12 and a 2021 Spiritual Adventure Box.
        </p>
        <div class="form" data-role="hsform">
          <!--[if lte IE 8]>
                          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Christmas Special -->
<section>
  <div class="jumbotron flush-bottom hard-top"
    style="background-color: #ff402b;">
    <div class="container">
      <div class="row soft-bottom">
        <div class="col-md-12 push-bottom">
            <img
              alt="crossroads christmas special featuring lecrae"
              title="crossroads christmas special featuring lecrae"
              src="//crds-media.imgix.net/4nr7fAmoGMA7XWKbhZEubY/e9b651d036cf337c960c68c4e72a7ab7/crossroads-christmas-special-amy-grant-lecrae-meta.jpg?auto=format,compress&w=2600"
              class=""
              data-optimize-img
            />
        </div>
        <div class="col-md-10 col-md-offset-1">
          <h2 class="">
            <span class="font-family-condensed-extra text-uppercase text-white flush-bottom flush-top hard-bottom">Love the Crossroads Christmas Special?<br>Watch it again & share with your friends</span>
          </h2>
         <a href="/christmas-special"
            class="btn btn-white btn-outline"
            onclick="ga('gtm2.send', 'event', 'tv-watchSpecial-Btn', 'clicked')"
            data-role="tv-watchSpecial-Btn" target="_blank">
              Watch it here
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- January Series -->
<section class="push-ends soft-ends">
  <div class="container push-ends soft-ends">
    <div class="row push-ends soft-ends">
      <div class="col-md-6 col-md-push-6 push-bottom">
        <img
          alt="january series how to blaze a new path"
          title="how to blaze a new path"
          src="//crds-media.imgix.net/PTEzAq8dpS5dftxxwwVzV/ce11f92cf05d59b8a1b18d1c030ee4e6/january-art-goals-fpo.jpg?auto=format,compress&w=2600"
          class=""
          data-optimize-img
        />
      </div>
      <div class="col-md-6 col-md-pull-6 soft">
        <p class="metadata flush">
          Join us in January for
        </p>
        <h2 class="section-header flush-ends soft-half-bottom">
          The Crossroads Weekly
        </h2>
        <p class="">
          If you've been feeling stuck in 2020, we're inviting you to join us for the January Kickstart. It's a month of content designed to get you out of your rut and give you an awesome start to the New Year. Interested? It's as simple as watching the Weekly each week to get that spark of inspiration and challenge you need.
       </p>
       <p>
         Text “Next” to 313131 We will text you when the Crossroads Weekly premieres in January.
       </p>
       <a href="#tv" data-smooth-scroll-to="tv" data-smooth-scroll-offset="50"
         class="btn btn-primary push-quarter-sides">Download the TV App</a>
      </div>
    </div>
  </div>
</section>

<!-- TV app -->
<section id="tv" style="display: block; position: static;">
  <div class="jumbotron jumbotron-xl topo-overlay-50 flush-bottom" style="position: relative; background-color: rgba(0, 0, 0, 0); background-image: url(&quot;https://crds-media.imgix.net/mCRCelzuZV305vVyKUCYi/63bd6e0e1cb57302ca25eab8e8fe2b6b/streaming-background-img_2x.jpg?auto=format,compress&amp;w=1643&amp;fit=crop&quot;);" data-optimize-bg-img="" data-imgix-bg-processed="true">
    <div class="container push-ends">
      <div class="row flex-row-align-center">
        <div class="col-md-6 text-white text-left">
          <h3 class="font-family-condensed-extra font-size-h2 text-uppercase text-white" style="line-height:.9em;">Get the Spark of Inspiration & Challenge you need EVERY WEEK.</h3>
          <p class="font-size-base font-family-base">
            Crossroads Weekly is a jolt of hope for your spiritual life. 45-minute episodes of teaching, challenge & inspiration.
          </p>
        </div>
        <div class="col-md-6">
          <div class="row btn-streaming-group">
            <a class="btn btn-outline btn-white btn-streaming-img" href="https://www.amazon.com/dp/B07HRPW8L2?keywords=crossroads+anywhere&amp;qid=1538139831&amp;s=STRING%28skills-store-name%29&amp;sr=1-2-catcorr&amp;ref=sr_1_2" onclick="ga('gtm2.send', 'event', 'tv-AmazonAlexaCTA-Btn', 'clicked')" data-role="tv-AmazonAlexaCTA-Btn" target="_blank">
              <img src="//crds-media.imgix.net/5ycPzO1Eh58OthUk2QkbBM/6faccab46bdb166844297f0d21380487/Logo_Amazon_Alexa.png">
            </a>
            <a class="btn btn-outline btn-white btn-streaming-img" href="https://www.amazon.com/Crossroads-Church/dp/B07D83Z1JB" onclick="ga('gtm2.send', 'event', 'tv-AmazonFireTvCTA-Btn', 'clicked')" data-role="tv-AmazonFireTvCTA-Btn" target="_blank">
              <img src="//crds-media.imgix.net/75ULrftCuomwcVHvZDwcK3/384270b2e01e74cee093719bd4e0ae18/Logo_Amazongfire.png">
            </a>
          </div>
          <div class="row btn-streaming-group push-bottom">
            <a class="btn btn-outline btn-white btn-streaming-img" href="https://channelstore.roku.com/details/76455/crossroads" onclick="ga('gtm2.send', 'event', 'tv-RokuTvCTA-Btn', 'clicked')" data-role="tv-RokuTvCTA-Btn" target="_blank">
              <img src="//crds-media.imgix.net/77yQBDadk6AGz1WldY5KE3/7be90e5cce172386448004075e79f4dc/Logo_Roku.png">
            </a>
            <a class="btn btn-outline btn-white btn-streaming-img"
              href="https://appadvice.com/tv/app/crossroads-anywhere/1029478803"
              onclick="ga('gtm2.send', 'event', 'tv-AppleTvCTA-Btn', 'clicked')"
              data-role="tv-AppleTvCTA-Btn" target="_blank">
              <img src="//crds-media.imgix.net/6wRDkHPRFR70XqfkxKFrgO/e9d2fca6ca51e59e45630f535a379bdb/Logo_Apple.png">
              <p class="push-quarter-left flush-bottom">Apple TV</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Music -->
<div class="jumbotron jumbotron-xl flush-bottom"
style="background-image: url('//crds-media.imgix.net/5mfiqfizuDfX590cgui9Gr/3eea359b84f59b25412c10df8ee93e64/resources-worship-spotify-music.jpg?auto=format,compress&w=1800');" data-optimize-bg-img>
  <div class="bg-overlay"></div>
    <div class="container-fluid push-ends soft-ends">
    <div class="row soft-ends push-ends">
      <div class="col-md-offset-2 col-md-8 soft-ends push-ends">
        <div class="jumbotron-content">
          <h2 class="font-family-condensed-extra font-size-h1 flush-top text-uppercase text-white soft-half-bottom" style="line-height:.9em;">
            Crossroads<br>Music
          </h2>
          <p class="font-family-serif font-size-large">
            Music that moves your soul. The music we make and sing at Crossroads expresses the human journey: from brokenness to wholeness, from seeking to finding, and from darkness to light.
          </p>

          <a href="https://open.spotify.com/artist/5vil8APJ8ohuFhg8mxEOWY"
            class="btn btn-white btn-outline push-quarter-sides"
            onclick="ga('gtm2.send', 'event', 'tv-Spotify-Btn', 'clicked')"
            data-role="tv-Spotify-Btn" target="_blank">Listen on Spotify</a>

          <a href="https://music.apple.com/us/artist/crossroads-music/1277412437"
            class="btn btn-white btn-outline push-quarter-sides"
            onclick="ga('gtm2.send', 'event', 'tv-AppleMusic-Btn', 'clicked')"
            data-role="tv-AppleMusic-Btn" target="_blank">Listen on Apple Music</a>

          <a href="/music"
            class="btn btn-white btn-outline push-quarter-sides"
            onclick="ga('gtm2.send', 'event', 'tv-aboutMusic-Btn', 'clicked')"
            data-role="tv-aboutMusic-Btn" target="_blank">More about us</a>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- About -->
<div class="jumbotron jumbotron-xl flush-bottom"
style="background-image: url('//crds-media.imgix.net/1mEInC0vAIoDX6trTFRXNT/246e8f0e2d108b6e9f1f3b10238ed635/crossroads-about-collage2.jpg?auto=format,compress&w=1800');" data-optimize-bg-img>
  <div class="bg-overlay"></div>
    <div class="container-fluid push-ends soft-ends">
    <div class="row soft-ends push-ends">
      <div class="col-md-offset-2 col-md-8 soft-ends push-ends">
        <div class="jumbotron-content">
          <h2 class="font-family-condensed-extra font-size-h1 flush-top text-uppercase text-white soft-half-bottom" style="line-height:.9em;">
            About<br>Crossroads
          </h2>
          <p class="font-family-serif font-size-large">
            Whatever your thoughts on church or beliefs about God, you're welcome here.
          </p>
        </div>
          <a href="/about"
            class="btn btn-white btn-outline push-quarter-sides"
            onclick="ga('gtm2.send', 'event', 'tv-AboutCrds-Btn', 'clicked')"
            data-role="tv-AboutCrds-Btn" target="_blank">About us
          </a>
        </div>
      </div>
    </div>
</div>

<!-- Kids Club -->
<section>
  <div class="jumbotron jumbotron-xl flush-bottom" style="background-image: url('//crds-media.imgix.net/36bbu2QRZTDfJ1nkWh2IC/433f16aa40cc6503e402f47a95c7f357/christmas-2020-kids-club-bg-img.jpg?auto=format,compress&w=1800');" data-optimize-bg-img>
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-5 push-bottom">
          <img
            src="//crds-media.imgix.net/5JtiyfAQorYUOwsWpKPCEp/9f5182fa06763eb31a6fab9f16d26666/crossroads-new-kids-club-logo-fin.png?auto=format,compress&w=1200"
            alt="kids club christmas"
            title="kids club logo"
            data-optimize-img
          />
        </div>
        <div class="col-xs-12 col-md-6 col-sm-offset-1 push-top mobile-flush-top">
          <div class="jumbotron-content text-left">
            <h3 class="section-header flush-ends soft-half-ends text-white" style="line-height: .9em;">Kids’ Club Christmas</h3>
            <p class="font-size-base font-family-base text-white">
              Your kids will love some online Kids’ Club Christmas fun this year: videos, lesson plans, books, and even a digital Advent Experience… and it’s all free!
            </p>
            <crds-button
              href="/kids-club"
              color="primary"
              text="Check out Kids' Club"
              size="sm"
              onClick="ga('gtm2.send', 'event', 'tv-KidsClub-Btn', 'clicked')"
              data-role="tv-KidsClub-Btn">
            </crds-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-orange soft-ends">
  <div class="container text-center soft-ends push-ends">
    <div class="row soft-ends">
      <h3 class="section-header text-white">We'd Love to Chat or Pray With You</h3>
      <crds-button color="blue" text="Chat with us" data-trigger="chat"></crds-button>
    </div>
  </div>
</section>


<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: "3993985",
    formId: "6410038d-3b9f-4433-b1e1-7e9eb213485f",
    target: "[data-role=hsform]",
    css: ""
  });
</script>

<script type="text/javascript">
  document.addEventListener("deferred-js-ready", function() {
    $('#modal').modal('show');
  });
  // if app-deferred loads first
  if (window.deferredJSReady) {
    $('#modal').modal('show');
  }
</script>

<style>
  input[type="radio"], input[type="checkbox"] {
    height: 20px !important;
    width: 20px !important;
  }
  [data-role="hsform"] li {
    list-style: none;
  }
  [data-role="hsform"] ul {
    padding-left: 0px !important;
  }

</style>

<!-- Facebook Pixel Code -->

<script>

!function(f,b,e,v,n,t,s)

{if(f.fbq)return;n=f.fbq=function(){n.callMethod?

n.callMethod.apply(n,arguments):n.queue.push(arguments)};

if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';

n.queue=[];t=b.createElement(e);t.async=!0;

t.src=v;s=b.getElementsByTagName(e)[0];

s.parentNode.insertBefore(t,s)}(window,document,'script',

'https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '904825083231307');

fbq('track', 'PageView');

</script>

<noscript>

<img height="1" width="1"

src="https://www.facebook.com/tr?id=904825083231307&ev=PageView

&noscript=1"/>

</noscript>
