<div class="card">
  <a href="/locations/{{ location.slug }}" class="block">
    <img src="{{ location.image | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}" sizes="{{ site.image_sizes.card_4x }}" alt="{{ location.title }}" data-optimize-img>
  </a>
  <div class="card-block">
    <h4 class="card-title card-title--overlap text-uppercase">
      <a href="/locations/{{ location.slug }}">{{ location.name }}</a>
    </h4>
    <div class="card-text">
      <p>{{ location.address }} (<a target="_blank" href="{{ location.map_url }}">Map</a>)</p>
      <p><strong>Service Times:</strong><br>{{ location.service_times }}</p>
    </div>
  </div>
</div>
