<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 soft-ends">
  <div class="location-top-info-container">

    <div class="location-top-info-item text-left push-bottom location-info-divider mobile-flush-bottom">
      <p class="flush font-size-small">
        {% assign current_date = "now" | date: "%s" %}
      
        {% if page.service_times %}
          {% assign service_times_count = page.service_times | size %}
          {% for time in page.service_times %}
            {% if time.is_special_service_time == true %}
              {% assign start_date = time.special_service_start_date | date: "%s" %}
              {% assign end_date = time.special_service_end_date | date: "%s" %}
              {% if current_date >= start_date and current_date <= end_date %}
                <span class="font-family-base-bold">{{ time.service_time_label }}</span><br>
                {% for service_time in time.service_times %}
                  {{ service_time }}
                  {% if forloop.index != time.service_times.size %}<br>{% endif %}
                {% endfor %}
              {% endif %}
            {% else %}
              <span class="font-family-base-bold">{{ time.service_time_label }}</span><br>
              {% for service_time in time.service_times %}
                {{ service_time }}
                {% if forloop.index != time.service_times.size %}<br>{% endif %}
              {% endfor %}
            {% endif %}
            {% if forloop.first and service_times_count == 2 %}
              <!-- Insert double break only after the first item if both service times are present -->
              <br><br>
            {% endif %}
          {% endfor %}
        {% endif %}
      </p>
      

      {% if page.name == "Oakley" %}
        <a class="text-orange" href="#about">Hang out during the week</a>
      {% endif %}
      {% if page.name == "East Side" %}
        <a class="text-orange" href="#about">Hang out during the week</a>
      {% endif %}
      {% if page.name == "Florence" %}
        <a class="text-orange" href="#about">Hang out during the week</a>
      {% endif %}
      {% if page.name == "Mason" %}
        <a class="text-orange" href="#about">Hang out during the week</a>
      {% endif %}
      {% if page.name == "Uptown" %}
        <!--<a class="text-orange" href="#about">Hang out during the week</a>-->
      {% endif %}
      <hr class="visible-xs">
    </div>
    <div class="location-top-info-item text-left push-bottom location-info-divider mobile-flush-bottom">
      <span class="soft-bottom text-uppercase font-family-base-bold font-size-smaller">Address</span>
      {% if page.address %}
      <p class="flush font-family-base font-size-small">{{ page.address | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      <a href="{{ page.map_url }}" class="text-orange" target="_blank">Get directions</a>
      {% else %}
      <p class="flush font-family-base font-size-small">Currently looking for new digs to house our ever-growing {{ page.name }} community.</p>
      {% endif %}
      <hr class="visible-xs">
    </div>

    <div class="location-top-info-item text-left">
      <div class="{% if page.community_pastor_name %}align-items-center {% endif %}d-flex justify-content-between">
        <div class="push-right">
          <span class="text-uppercase font-family-base-bold font-size-smaller">Leadership</span>
          {% if page.community_pastor_name %}
          <p class="flush font-family-base font-size-small">{{ page.community_pastor_name }}</p>
          <p class="hard-top flush font-family-base font-size-small">{{ page.name }} Community Pastor</p>
          {% assign pastor_full_name = page.community_pastor_name | split: " " %}

          <!-- if this is columbus, then show meet the team -->
          {% if page.site_id == 23 %}
            <a class="text-orange" href="#the-team">Meet the team</a>
          {% else %}
            <a class="text-orange" href="#community-pastor">More about {{ pastor_full_name[0] }}</a>
          {% endif %}

          {% else %}
          <p class="flush font-family-base font-size-small">New face coming soon</p>
          {% endif %}
        </div>
        <div class="locations-pastor-img-container">
          {% if page.community_pastor_image %}
          <img class="img-border img-circle img-size-4" src="{{ page.community_pastor_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}"
          sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
          {% else %}
          <img class="img-border img-circle img-size-4" src="https://crossroads-media.imgix.net/images/avatar.svg"/>
          {% endif %}
        </div>
      </div>
      <hr class="visible-xs">
    </div>
  </div>
  {% if page.layout == "established" %}
  <div class="soft-ends location-info-btn-container">
    {% if page.care_link %}
    <crds-button class="push-half-right" href="{{ page.care_link }}" color="white" display="outline"
      text="Request care"></crds-button>
    {% endif %}
    {% if page.hubspot_form_id %}
    <crds-button class="push-half-right" data-target="#subscribeModalForm" data-toggle="modal" href="" color="white"
      display="outline" text="Subscribe for updates"></crds-button>
    {% endif %}
    <crds-button class="push-half-right" href="//www.facebook.com/crsrds{{ page.slug | downcase }}" color="white"
      display="outline" icon="facebook" icon-align="left" icon-color="white" icon-size="16" text="Follow"></crds-button>
    <crds-button href="//www.instagram.com/crsrds{{ page.slug | downcase }}" color="white" display="outline"
      icon="instagram" icon-align="left" icon-color="white" icon-size="16" text="Follow"></crds-button>
  </div>
  {% endif %}
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="daytonNewBuilding">
  <div class="modal-dialog soft-top" role="document">
    <div class="modal-content">
      <div class="modal-header hard-bottom">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body hard-top soft-bottom">
        <div>
          <h3 class="section-header text-center push-top">New Crossroads Dayton Building Coming Soon</h3>
          <img class="imgix-fluid img-responsive" alt="go change the world" title="go change the world"
          sizes="{{ site.image_sizes.full_width }}"
          src="//crds-media.imgix.net/y3a9myzsdjan/6rClMM50vwzYbETLYd7FMa/6e5e2ae682e04698a36ba5956ae7eebb/Screenshot_2023-12-14_at_4.24.10_PM.png?auto=format,compress&w=1600&h=800&fit=crop"
        data-optimize-img>
        </div>
        <p class="push-ends text-gray-darker" style="font-size: 22px;">
          Want to see what's coming soon to our Dayton Community? Check out these artist renderings.
        </p>
        <div class="soft-bottom">
        <a href="https://www.crossroads.net/new-dayton-building" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $("#daytonNewBuilding").modal('hide');
    });
</script>
