<div class="card">
  <a href="{{ location.url }}" class="block" data-automation-id="location-image">
    <img src="{{ location.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_card }}"
      sizes="{{ site.image_sizes.cards_4x }}" alt="{{ location.title }}" data-optimize-img />
  </a>
  <div class="card-block">
    <h4 class="card-title card-title--overlap text-uppercase">
      <a href="{{ location.url }}" data-automation-id="location-name">{{ location.name }}</a>
    </h4>
    <div data-automation-id="location-address" class="push-bottom">
      {% if location.address %}
        {{ location.address | markdownify | remove: '<p>'| remove: '</p>' }} <br>
        {% if location.slug != 'anywhere' %}
          (<a target="_blank" href="{{ location.map_url }}" data-automation-id="location-map-url">Map</a>)
        {% endif %}
      {% else %}
      <p>Currently looking for new digs to house our ever-growing {{ location.name }} community.</p>
      {% endif %}
    </div>
    <div class="card-text">
      {% if location.community_pastor_name %}
      <div class="location-leader soft-half-sides soft-quarter-ends bg-tan-light text-gray-dark push-bottom">
        <div class="d-flex push-quarter-sides align-items-center" style="flex-wrap: wrap;">
          <div class="push-quarter-ends push-half-right" style="flex: 1 0;">
            <strong>{{location.community_pastor_name}}</strong><br>
            <span>Community Pastor</span>
          </div>
          <img class="img-circle img-size-4 push-quarter-ends" style="width: 64px;"
            src="{{ location.community_pastor_image.url | imgix: site.imgix }}?ar=1:1&fit=crop" sizes="64px 64px" />
        </div>
      </div>
      {% endif %}
      <div data-automation-id="location-service-times" class="push-half-bottom">
          <p class="flush font-size-small">
            {% assign current_date = "now" | date: "%s" %}
            
            {% if location.reference_service_times %}
            {% assign reference_service_times_count = location.reference_service_times | size %}
            {% for time in location.reference_service_times %}
              {% if time.is_special_service_time == true %}
                {% assign start_date = time.special_service_start_date | date: "%s" %}
                {% assign end_date = time.special_service_end_date | date: "%s" %}
                {% if current_date >= start_date and current_date <= end_date %}
                  <span class="font-family-base-bold">{{ time.service_time_label }}</span><br>
                  {% for service_time in time.reference_service_times %}
                    {{ service_time }}
                    {% if forloop.index != time.reference_service_times.size %}<br>{% endif %}
                  {% endfor %}
                {% endif %}
              {% else %}
                {% if location.slug != 'anywhere' %}
                <span class="font-family-base-bold">{{ time.service_time_label }}</span><br>
                {% endif %}
                {% for service_time in time.reference_service_times %}
                  {{ service_time }}
                  {% if forloop.index != time.reference_service_times.size %}<br>{% endif %}
                {% endfor %}
              {% endif %}
              {% if forloop.first and reference_service_times_count == 2 %}
                <!-- Insert double break only after the first item if both service times are present -->
                <br><br>
              {% endif %}
            {% endfor %}
          {% endif %}
        </p>
      </div>
      <p class="push-half-bottom soft-quarter-bottom">
        {% if location.facebook_page_url %}
        <a href="{{ location.facebook_page_url }}" target="_blank" class="btn btn-blue btn-outline btn-small" style="border-radius: 50%; width: 26px; height: 26px; padding: 0; text-align: center; line-height: 28px">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
          </svg>
        </a>
        {% endif %}
        {% if location.instagram_page_url %}
        <a href="{{ location.instagram_page_url }}" target="_blank" class="btn btn-blue btn-outline btn-small"  style="border-radius: 50%; width: 26px; height: 26px; padding: 0; text-align: center; line-height: 28px">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#instagram"></use>
          </svg>
        </a>
        {% endif %}
      </p>
    </div>
    <crds-button type="primary" color="orange" text="Learn more" href="{{ location.url }}"></crds-button>
    {% if location.name == "Dayton" %}
    <crds-button class="push-ends hydrated" data-target="#daytonNewBuildingLocations" data-toggle="modal" href="" color="orange" display="outline" text="New Building Coming Soon"></crds-button>
    {% endif %}
  </div>
</div>