<div class="card-stamp text-white">
  {% if include.source.collection %} {% assign content_type =
  include.source.collection | singularize %} {% else %} {% assign content_type =
  include.source.content_type | singularize %} {% endif %} {% if
  include.source.duration %} {% if content_type == 'article' %} {% assign format
  = 'short' %} {% else %} {% assign format = 'long' %} {% endif %}
  <span class="font-size-smallest soft-quarter-right">{{
    include.source.duration | duration: format
  }}</span>
  {% endif %}

  <svg class="icon" viewBox="0 0 256 256">
    {% if content_type == "article" %}
    <use xlink:href="/assets/svgs/icons.svg#media-article"></use>
    {% elsif content_type == "video" or content_type == "message" %}
    <use xlink:href="/assets/svgs/icons.svg#media-video"></use>
    {% elsif content_type == "album" %}
    <use xlink:href="/assets/svgs/icons.svg#media-music"></use>
    {% elsif content_type == "podcast" or content_type == "episode" %}
    <use xlink:href="/assets/svgs/icons.svg#media-podcast"></use>
    {% endif %}
  </svg>
</div>
