<div class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="newsletter-header">Get our newest stuff sent straight to your inbox</p>
      </div>
      <div class="col-md-6">
        <p>Don't like having to check back again and again to find what's changed? We get you. Subscribe to our monthly Media Newsletter to receive all the latest media.</p>
      </div>
      <div class="col-md-6 mobile-push-top">
        <div class="input-group">
          <input class="form-control" placeholder="Email address" type="text">
          <span class="input-group-btn">
            <button class="btn btn-gray-light" type="submit">
              Subscribe
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
