<div class="row soft-ends push-bottom push-quarter-top">
    <div class="col-sm-3">
      <img src="/assets/img/onsite-groups-connection@2x.jpg">
    </div>
    <div class="col-sm-9 push-bottom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="font-family-condensed-extra flush-top mobile-soft-top text-uppercase">Connection</h2>
          <p class="font-size-base">Mom was right. Who you hang out with says a lot about you. Groups are your chance to
            choose the people who
            will impact your life.</p>
        </div>
      </div>
      <hr>
      <div class="row onsite-group-negative-margin-bottom">
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Women</h4>
          <p class="text-gray small"><strong>Perfect for:</strong> Women of all ages</p>
        </div>
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Mens</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Men of all ages</p>
        </div>
      </div>
      <div class="row onsite-group-negative-margin-bottom">
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Moms</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Moms of all life stages</p>
        </div>
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Dads</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Dads of all life stages</p>
        </div>
      </div>
      <div class="row onsite-group-negative-margin-bottom">
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Young Adult</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> 21-32 year olds</p>
        </div>
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">The Bible</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Anyone looking to incorporate Bible reading as a
            regular
            rhythm into their
            daily lives to deepen their knowledge of who God is.</p>
        </div>
      </div>
      <div class="row onsite-group-negative-margin-bottom">
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Going Deeper</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Anyone looking to know more about God outside of the
            weekend experience.</p>
        </div>
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Finacial Peace University</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Anyone looking to find freedom in their finances.</p>
        </div>
      </div>
      <div class="row onsite-group-negative-margin-bottom">
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Undefeated</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Any woman exploring what God says about your
            spiritual and physical health.</p>
        </div>
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">The God Experiment</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Anyone looking for answers to their questions about
            God and
            the Bible.</p>
        </div>
      </div>
      <div class="row onsite-group-negative-margin-bottom">
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Real Marriage</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Married Couples</p>
        </div>
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Ministry Training</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Anyone who is interested in serving on the prayer
            teams at
            our camps. </p>
        </div>
      </div>
      <div class="row onsite-group-negative-margin-bottom">
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Critical SKills</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Married Couples</p>
        </div>
        <div class="col-md-6">
          <h3 class="font-family-condensed-extra text-uppercase">Severe and Persistent Mental Illness Support Group</h3>
          <p class="text-gray small"><strong>Perfect for:</strong> Any adult who has a severe and persistent mental
            illness,
            as well as for any adult who is a primary family/support person of someone who has such an illness. </p>
        </div>
      </div>
    </div>
  </div>
