<div class="row soft-ends">
    <div class="col-md-3">
      <img src="/assets/img/onsite-groups-healing@2x.jpg">
    </div>
    <div class="col-md-9">
      <div class="row soft-sides">
        <div class="col">
          <h3 class="font-family-condensed-extra flush-top text-uppercase">Healing</h3>
          <p class="font-size-base">You’re not the only one. Find the people walking in shoes like your’s. See how much
            better life is when you walk together. </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h4 class="font-family-condensed-extra text-uppercase">Postpartum Healing</h4>
          <p class="text-gray small"><strong>Perfect for:</strong> Women seeking support and healing for postpartum
            depression, anxiety and/or birth trauma. </p>
        </div>
        <div class="col-md-6">
          <h4 class="font-family-condensed-extra text-uppercase">Divorce Care</h4>
          <p class="text-gray small"><strong>Perfect for:</strong> Anyone who has experienced divorce.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 class="font-family-condensed-extra text-uppercase">Childhood Sexual Trauma (CST)</h4>
          <p class="text-gray small"><strong>Perfect for:</strong> Anyone who has been directly or indirectly impacted
            by childhood sexual trauma.</p>
        </div>
        <div class="col-md-6">
          <h4 class="font-family-condensed-extra text-uppercase">Eyes Wide Open</h4>
          <p class="text-gray small"><strong>Perfect for:</strong> Anyone who has been directly or indirectly impacted
            by childhood sexual trauma.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 class="font-family-condensed-extra text-uppercase">Transforming Betrayal</h4>
          <p class="text-gray small"><strong>Perfect for:</strong> Women whose husbands struggle with pornography or
            inappropriate sexual behaviors. </p>
        </div>
        <div class="col-md-6">
          <h4 class="font-family-condensed-extra text-uppercase">Grief Support</h4>
          <p class="text-gray small"><strong>Perfect for:</strong> Anyone who's lost a loved one.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 class="font-family-condensed-extra text-uppercase">Beauty for Ashes</h4>
          <p class="text-gray small"><strong>Perfect for:</strong> Women seeking emotional healing from sexual abuse,
            rape or sexual assault.</p>
          </div>
      </div>
    </div>
  </div>