{% comment %}
// This assures the messages content type uses the background image instead of the thumbnail image like all other content types.
{% endcomment %}
{% assign handle = item.content_type %}
{% case handle %}
  {% when 'message' %}
    {% assign image = item.image.url %}
  {% when 'song' %}
    {% assign image = item.bg_image.url %}
  {% when 'episode' %}
    {% if item.image != nil %}
      {% assign image = item.image.url %}
    {% elsif item.podcast.featured_image != nil %}
      {% assign image = item.podcast.featured_image.url %}
    {% else %}
      {% assign image = item.podcast.bg_image.url %}
    {% endif %}
  {% else %}
    {% assign image = item.image.url %}
{% endcase %}

{% assign url = item.url %}

{% if url %}
  {% assign url = item | media_url %}
{% else %}
  {% assign doc = item | get_doc %}
  {% assign url = doc.url %}
{% endif %}

<a href="{{ item | media_url }}" class="overlay-card{% if include.size == 'xl' %} overlay-card-xl{% endif %}">
  {% if item.bitmovin_url == null %}
    <div class="bg-overlay"></div>
  {% endif %}
  {% include _video-player-card.html %}
  <div class="overlay-card-image">
    {% if item.content_type == "article" %}
      <div class="beige-overlay"></div>
    {% endif %}
    <img src="{% if image %}{{ image | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder_sixteen_nine }}"
      sizes="{% if include.size == 'xl' %}{{ site.image_sizes.full_width }}{% else %}{{ site.image_sizes.card_2x }}{% endif %}"
      alt="{{ image.title }}" data-optimize-img>
  </div>
  <div class="overlay-card-content">
    <p class="overlay-card-category">{{ item.category.title }}</p>
    <h2 class="overlay-card-title {% if include.title == 'h2' %}font-size-h2{% endif %}">{{ item.title | truncate: 60 }}</h2>
    <p class="overlay-card-author">{{ item.author.full_name }}</p>
    {% include _media-label.html source=item %}
  </div>
</a>

