{% assign paginator = page[include.collection] %}
{% if paginator.total_pages > 1 %}

  {% if include.link_root %}
    {% assign root = include.link_root %}
  {% elsif link_root %}
    {% assign root = link_root %}
  {% else %}
    {% assign root = include.collection %}
  {% endif %}

  {% if include.remote == true %}
    {% if paginator.total_pages > 1 %}
    <ul class="pager push-bottom">
        {% if paginator.previous_page %}
        <li class="previous">
            <a class="text-orange-dark" href="/{{ root }}{% if paginator.previous_page > 1 %}/page/{{paginator.previous_page}}{% endif %}" aria-label="Previous">&larr; Newer Posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a class="text-orange-dark" href="/{{ root }}/page/{{paginator.next_page}}" aria-label="Next">Older Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
  {% endif %}

  <div class="text-center{% if include.remote == true %} hide{% endif %}">
    <ul class="pagination" data-pagination="{{ include.collection }}">
    {% if paginator.previous_page %}
      <li>
        <a href="/{{ root }}{% if paginator.previous_page > 1 %}/page/{{paginator.previous_page}}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="disabled">
      <a href="#" aria-label="Previous (Disabled)"><span aria-hidden="true">&laquo;</span></a>
      </li>
    {% endif %}
    {% if paginator.page == 1 %}
      <li class="active" data-role="page"><a href="#">1</a></li>
    {% else %}
      <li><a href="/{{ root }}">1</a></li>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
        <li class="active" data-role="page"><a href="#">{{count}}</a></li>
      {% else %}
        <li><a href="/{{ root }}/page/{{count}}" data-role="page">{{count}}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li>
        <a href="/{{ root }}/page/{{paginator.next_page}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#" aria-label="Next (Disabled)"><span aria-hidden="true">&raquo;</span></a>
      </li>
    {% endif %}
    </ul>
  </div>
{% endif %}
