<header class="container-fluid" style="background-image: url('//crds-cms-uploads.imgix.net/content/images/another-perspective-bg.png?blend64=MTUxNTE1&balph=60&bm=normal&w=10')"
  data-optimize-bg-img>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <ol class="breadcrumb text-white hard-left">
        <li><a href="/">Media</a></li>
        {% if page.content_type %}
          <li><a href="/perspectives">Perspectives</a></li>
        {% endif %}
      </ol>
      <div class="page-title"><img src="//crds-cms-uploads.imgix.net/content/images/logo-another-perspective.svg" alt="another perspective"></div>
      <p class="page-tagline">What's happening in the world matters more than you might think.</p>
    </div>
  </div>
</header>
