<svg width="14px" height="38px" viewBox="0 0 14 38" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="About-Crossroads" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.35">
        <g id="About-Us---Final" transform="translate(-84.000000, -1891.000000)" fill="#E8E2D0" fill-rule="nonzero">
            <polygon id="ornaments-arrow-down" points="92 1891 92 1915 98 1915 91 1929 84 1915 90 1915 90 1891">
            </polygon>
        </g>
    </g>
</svg>
