<section class="bg-blue" id="resi-player">
  <div class="container">
    <div class="row text-center push-top">
      <h2 class="flush-top font-family-condensed-extra font-size-h2 text-uppercase text-white">Welcome to Crossroads</h2>
    </div>
    <div class="row push-ends">
      <div id="resi-video-player-container" class="col-sm-10 col-sm-offset-1">
        <div id="resi-video-player" data-embed-id="d3ebebe0-b605-48ab-a6e8-b9f3ef201b4e"></div>
      </div>
    </div>
    <div class="row text-center text-white push-bottom soft-bottom">
      <p class="flush-bottom font-size-small text-uppercase">You're watching the</p>
      <h3 class="flush-top font-family-condensed-extra font-size-h2 text-uppercase text-white">Crossroads Live Weekend</h3>
    </div>
  </div>
</section>
