{% assign item = include.item %}
{% unless item %}{% assign item = page %}{% endunless %}

{% if include.heart != false %}
<!-- // -->
<div class="clearfix">
  <div class="pull-left">
    <crds-heart-button contentful-id="{{ item.contentful_id }}" contentful-slug= "{{ item.slug }}" contentful-type="{{ item.content_type | upcase }}"></crds-heart-button>
  </div>
  <div class="pull-right">
{% endif %}

<div class="social-share sidebar {% if include.type == 'light' %}text-gray-light{% else %}text-orange{% endif %}">
  <a href="javascript:shareFacebook()">
    <svg class="icon" viewBox="0 0 256 256">
      <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
    </svg>
  </a>
  <a href="javascript:shareTwitter()">
    <svg class="icon" viewBox="0 0 256 256">
      <use xlink:href="/assets/svgs/icons.svg#twitter"></use>
    </svg>
  </a>
  <a href="javascript:share();" class="clipboard"
    data-clipboard-text="{{ site.url }}{{ item.url }}"
    data-clipboard-success="{{ site.url }}{{ item.url }} copied to clipboard!">
    <svg class="icon" viewBox="0 0 256 256">
      <use xlink:href="/assets/svgs/icons.svg#link"></use>
    </svg>
  </a>
  
  <crds-media-metrics-share slug="{{ item.slug }}" type="{{ item.content_type | upcase }}" />
</div>

{% if include.heart != false %}
  </div>
</div>
{% endif %}

<script type="text/javascript">
  function shareFacebook() {
    const mediaMetricShare = new Event('mediaMetricInteractionShare');
    document.dispatchEvent(mediaMetricShare);
    
    let link = `https://www.facebook.com/sharer/sharer.php?u=https://www.crossroads.net{{ page.url | url_encode }}`;
    window.open(link, '_blank');
  }

  function shareTwitter() {
    const mediaMetricShare = new Event('mediaMetricInteractionShare');
    document.dispatchEvent(mediaMetricShare);
    
    let link = `https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.crossroads.net{{ page.url | url_encode }}%3Fsmid%3Dtw-share&text={{ page.title | url_encode }}`;
    window.open(link, '_blank');
  }

  function share() {
    const mediaMetricShare = new Event('mediaMetricInteractionShare');
    document.dispatchEvent(mediaMetricShare);
  }
</script>