<div class="modal fade" id="subscribeModalForm" tabindex="-1" role="dialog" aria-labelledby="Subscribe email form">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body hard-bottom">
          <h3 class="font-family-condensed-extra font-size-h2 text-uppercase flush-top">Subscribe</h3>
  
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: '3993985',
              formId: '52b50268-5d9c-4369-8359-e96ff69094f9',
              submitButtonClass: 'btn btn-orange btn-lg push-top',
              errorMessageClass: 'hs-error-msgs inputs-list list-unstyled',
              onFormReady($form, ctx) {
                $('div[data-reactid=".hbspt-forms-0.1:$0.0"]').addClass('push-bottom').change();
                $('div[data-reactid=".hbspt-forms-0.5.1"]').addClass('btn-block-mobile').change();
                $('label[data-reactid=".hbspt-forms-0.1:$0.$email.0"]').hide().change();
                $('input[data-reactid=".hbspt-forms-0.1:$0.$email.$email.0"]').addClass('form-control').attr("placeholder", "Email Address").change();
              }
            });
          </script>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
