<div class="modal fade" id="subscribeModalForm" tabindex="-1" role="dialog" aria-labelledby="Subscribe email form">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body hard-bottom">
          <h3 class="font-family-condensed-extra font-size-h2 text-uppercase flush-top">Subscribe</h3>

        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
