<section class="bg-orange">
    <div class="bg-topo">
      <div class="container">
        <div class="row text-center push-ends">
          <h1 class="component-header-box text-blue">The Basics</h1>
        </div>
        <div class="row push-bottom soft-bottom">
          <div class="col-md-3 col-sm-6 col-xs-12 push-bottom">
            <crds-portrait-card theme="condensed" href="/timeline" title="The Crossroads Timeline" image-src="//crds-media.imgix.net/1f1Ugx1wg6gZfVXNHFR5fo/676d782de0c84652eb70cc1684d3830b/brian-tome-95.png?w=600&h=250&fit=crop"></crds-portrait-card>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 push-bottom">
            <crds-portrait-card theme="condensed" href="/sevenhills" title="Seven Hills<br>We Die On" image-src="//crds-media.imgix.net//2scMNc3w8u0VaVGZfZKn3h/c8a7589253d896eb50171070deeecacc/seven-hills-portrait.png?h=250"></crds-portrait-card>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 push-bottom">
            <crds-portrait-card theme="condensed" href="/whatwebelieve" title="What We<br>Believe" image-src="//crds-media.imgix.net/4TESG278E9KQuQ4e4DhoEq/b3ece955d9eb02762039f45aee094a2f/what-we-believe-portrait.png?h=250"></crds-portrait-card>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 push-bottom">
            <crds-portrait-card theme="condensed" image-src="//crds-media.imgix.net//7IA56fjbbW5PeXzcP1Qxg9/c401ed40c06ffdc6062db33ff86427fd/annual-report-portrait.png?h=250" href="/annualreports" title="Annual<br>Report" ></crds-portrait-card>
          </div>
        </div>
      </div>
    </div>
  </section>
