<section>
    <div class="container push-top">
      <div class="card-deck collapse" >
        <div class="feature-cards">
          <div id="ourHolder" class="row" style="display: flex; flex-wrap: wrap;">
            <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/nicaragua/march-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-NIC-trip5b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Nicaragua<br><span
                    style="color: #979797;">March / UC Students</span></h3>
                <p class="font-size-small font-family-base">3/16/19 - 3/23/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Ditch the books and bars, and live an amazing adventure
                  for a week in Nicaragua. Join up with other college students and our partner, Amigos for Christ, and
                  dig into the fantastic...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/nicaragua/march-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/south-africa/march-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-SA-trip20b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South
                  Africa<br><span style="color: #979797;">March / MU Students</span></h3>
                <p class="font-size-small font-family-base">3/23/19 - 3/31/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Miami students, how are you spending Spring Break? Join
                  others from MU on our GO trip to Durban, South Africa to work with our partner, Build The Future.
                  Experience the warm waters...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/south-africa/march-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="bolivia card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/bolivia/april-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-BOL-trip1-sm.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Bolivia<br><span
                    style="color: #979797;">April / Men's Motorcycle / Agua Yaka</span></h3>
                <p class="font-size-small font-family-base">4/5/19 - 4/14/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">What’s more epic than a motorcycle ride in South America?
                  Being part of a band of brothers doing Kingdom work at the same time! Guys, saddle up and embark on a
                  moto tour that will change your life and...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults (Men)</p>
                <a href="https://www.crossroads.net/reachout/go/bolivia/april-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>

            <div class="puerto-rico card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/puerto-rico/may-trip1/">
              <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-trips-puerto-rico1-sm.jpg" class="card-img-top img-responsive" alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Puerto Rico<br><span style="color: #979797;">May Trip</span></h3>
                <p class="font-size-small font-family-base">5/4/19 - 5/11/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Experience the fullness that comes from helping communities rebuild their homes and their lives. The joy and warmth of those that live in Puerto Rico will inspire and encourage you as you see what teamwork and community can accomplish in a week’s time...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                <a href="https://www.crossroads.net/reachout/go/puerto-rico/may-trip1/" class="btn btn-sm btn-primary">View all details</a>
              </div>
            </div>

            <!--<div class="puerto-rico card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/puerto-rico/may-trip2/">
              <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-trips-puerto-rico3-sm.jpg" class="card-img-top img-responsive" alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Puerto Rico<br><span style="color: #979797;">May Trip 2</span></h3>
                <p class="font-size-small font-family-base">5/11/19 - 5/18/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Experience the fullness that comes from helping communities rebuild their homes and their lives. The joy and warmth of those that live in Puerto Rico will inspire and encourage you as you see what teamwork and community can accomplish in a week’s time...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                <a href="https://www.crossroads.net/reachout/go/puerto-rico/may-trip2/" class="btn btn-sm btn-primary">View all details</a>
              </div>
            </div>-->

            <div class="india card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/india/may-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip7b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">India<br><span
                    style="color: #979797;">Mumbai / May</span></h3>
                <p class="font-size-small font-family-base">5/11/19 - 5/21/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Take a deep dive into the justice work of Mumbai—one of
                  the largest cities in India where sexual trafficking and exploitation is rampant. But the front lines
                  of this fight are strong. Men and women...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/india/may-trip" class="btn btn-sm btn-primary">View all
                  details</a>
              </div>
            </div>
            <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/south-africa/june-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-SA-trip2b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South
                  Africa<br><span style="color: #979797;">Johannesburg / June</span></h3>
                <p class="font-size-small font-family-base">6/7/2019 - 6/16/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Beat isolation with a shovel. Show love with a
                  toothbrush. Watch joy overflow from people who appear to have nothing, but give more than you can
                  imagine. Join a team this June that’s linking up...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/south-africa/june-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="bolivia card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/bolivia/june-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-BOL-trip2-sm.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Bolivia<br><span
                    style="color: #979797;">June / Agua Yaka / Compassion</span></h3>
                <p class="font-size-small font-family-base">6/7/2019 - 6/16/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Here’s a way to start your summer story with a whole new
                  twist! Get on a plane. Land in the tropical lowlands of the Andes Mountains. Venture out into a South
                  American jungle to teach people the importance...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Families</p>
                <a href="https://www.crossroads.net/reachout/go/bolivia/june-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="bolivia card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/bolivia/june-trip-2">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-BOL-trip3-sm.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Bolivia<br><span
                    style="color: #979797;">June / Agua Yaka / Compassion</span></h3>
                <p class="font-size-small font-family-base">6/11/2019 - 6/19/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Here’s a way to start your summer story with a whole new
                  twist! Get on a plane. Land in the tropical lowlands of the Andes Mountains. Venture out into a South
                  American jungle to teach people the importance...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Families</p>
                <a href="https://www.crossroads.net/reachout/go/bolivia/june-trip-2" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/south-africa/june-trip-2">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-SA11.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South
                  Africa<br><span style="color: #979797;">Johannesburg / Durban / June / Childhood Education</span></h3>
                <p class="font-size-small font-family-base">6/21/2019 - 6/30/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Join other early childhood educators and work alongside
                  our partner Build The Future to help equip their teachers to make the maximum impact on their
                  students. Non educator friends or family are welcome join in...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                <a href="https://www.crossroads.net/reachout/go/south-africa/june-trip-2" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/nicaragua/june-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-NIC-trip3b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Nicaragua<br><span
                    style="color: #979797;">June</span></h3>
                <p class="font-size-small font-family-base">6/15/19 - 6/22/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Start your summer with grit. With connection. With a
                  whole new story. You’ll fly over the Honduras mountains and step into the full Nicaraguan experience.
                  You’ll work alongside Nicaraguans and get dirty...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/nicaragua/june-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/nicaragua/june-educators-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trip-nicaragua2.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Nicaragua<br><span
                    style="color: #979797;">June / Educators</span></h3>
                <p class="font-size-small font-family-base">6/13/2019 - 6/20/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">The breath of fresh air goes both ways. Travel with other
                  educators on this amazing, immersive trip where you’ll humbly support Nicaraguan teachers in ways
                  they otherwise don’t get. At the same time: experience...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                <a href="https://www.crossroads.net/reachout/go/nicaragua/june-educators-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="india card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/india/june-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip3b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">India<br><span
                    style="color: #979797;">Multi-City / June / eWIT Tutors </span></h3>
                <p class="font-size-small font-family-base">5/31/19 - 6/12/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">This 12-day experience is for eWIT tutors (and a
                  companion, if you’d like) to get face-to-face with the girls you’ve been teaching and powerfully
                  building into during the year. It’s highly relational...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/india/june-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="new-orleans card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/new-orleans/june-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-NOLA-1-sm.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">New
                  Orleans<br><span style="color: #979797;">June</span></h3>
                <p class="font-size-small font-family-base">6/15/19 - 6/23/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">King Cakes and Jambalaya. Sweaty days and late night
                  laughs. The chance for you to bring hope and love to folks in the awesome city of New Orleans. This
                  trip is for anyone who’s excited to serve others and get their hands...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/new-orleans/june-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="india card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/india/july-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip4b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">India<br><span
                    style="color: #979797;">Nepal / July<span></span></span></h3>
                <p class="font-size-small font-family-base">7/7/19 - 7/17/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Nothing says epic like the Himalayas, high mountain
                  passes and alpine woodlands of Nepal. Even better, though, is the epic effort to bring children home
                  who’ve been trafficked out of their villages and...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/india/july-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>

            <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3">
              <a href="https://www.crossroads.net/reachout/go/nicaragua/july-trip/">
                <img src="///crds-cms-uploads.imgix.net/content/images/crossroads-trip-nicaragua-2019-1.jpg" class="card-img-top img-responsive"
                  alt="" title="" data-optimize-img></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Nicaragua<br><span
                    style="color: #979797;">Oakley / July</span></h3>
                <p class="font-size-small font-family-base">7/13/2019 - 7/20/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">GO on an adventure this summer with your neighbors and community. This all-Oakley trip is a great way to experience a new culture while also growing closer to your community from home. You’ll fly over the Honduras mountains and step into the full Nicaraguan experience...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/nicaragua/july-trip/" class="btn btn-sm btn-primary">View all details</a>
              </div>
            </div>

            <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/south-africa/august-trip-2">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-SA10.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South
                  Africa<br><span style="color: #979797;">Durban / August / Mason</span></h3>
                <p class="font-size-small font-family-base">8/2/2019 - 8/11/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Get adventuring with your neighbors. This all-Mason trip
                  is a fantastic way to get immersed in another culture alongside people who are already rooted in your
                  home community...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip-2" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/south-africa/august-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-SA-trip3b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South
                  Africa<br><span style="color: #979797;">Durban / August / Young Adults</span></h3>
                <p class="font-size-small font-family-base">8/23/2019 - 9/1/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Get into the wild with other young adults, and make
                  changing the world and Kingdom movement a part of your life. Against the tropical backdrop of the
                  Indian Ocean, you’ll go deep into rural Zulu...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Young Adults (22-35)</p>
                <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="india card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/india/october-trip-2019">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip5b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">India<br><span
                    style="color: #979797;">Kolkata / October / Men</span></h3>
                <p class="font-size-small font-family-base">10/12/19 - 10/22/19</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Put your hands to work, and watch life-changing
                  possibilities ignite with your own eyes. This men-only trip is a rehab project to turn a desolate
                  factory into a healthy place of employment for survivors...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/india/october-trip-2019" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/south-africa/october-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-SA12.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South
                  Africa<br><span style="color: #979797;">Johannesburg / October / Medical &amp; Dental</span></h3>
                <p class="font-size-small font-family-base">10/11/2019 - 10/20/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Join other medical professional and our partners at Build
                  The Future for our first medical/dental clinic serving the Kya Sand pre school and community. We will
                  be providing basic medical and dental services...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Medical Professionals</p>
                <a href="https://www.crossroads.net/reachout/go/south-africa/october-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="bolivia card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/bolivia/october-trip-2019">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-BOL-trip4-sm.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Bolivia<br><span
                    style="color: #979797;">October / Compassion</span></h3>
                <p class="font-size-small font-family-base">10/18/2019 - 10/27/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Spend a week in South America ministering to children
                  with our partner Compassion International! In the last eight years, Crossroads has helped to
                  establish four churches and Compassion child development...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                <a href="https://www.crossroads.net/reachout/go/bolivia/october-trip-2019" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="india card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/india/october-trip-2-2019">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip2b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">India<br><span
                    style="color: #979797;">Mumbai / October</span></h3>
                <p class="font-size-small font-family-base">10/26/2019 - 11/5/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Here’s where you make impossible dreams come true. You’ll
                  be the adventure team who takes girls who’ve been rescued from sex trafficking and give them the
                  chance to explore new landscapes way outside their...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/india/october-trip-2-2019" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/nicaragua/november-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trip-nicaragua7.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Nicaragua<br><span
                    style="color: #979797;">November</span></h3>
                <p class="font-size-small font-family-base">11/2/2019 - 11/9/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">The year isn’t over yet. End your year with grit. With
                  connection. With a whole new story. You’ll fly over the Honduras mountains and step into the full
                  Nicaraguan experience. You’ll work alongside Amigos for Christ and get...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/nicaragua/november-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
            <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3"><a href="https://www.crossroads.net/reachout/go/south-africa/november-trip">
                <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-SA-trip4b.jpg" class="card-img-top img-responsive"
                  alt="" title=""></a>
              <div class="card-block hard-left hard-top">
                <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South
                  Africa<br><span style="color: #979797;">Durban / November</span></h3>
                <p class="font-size-small font-family-base">11/22/2019 - 12/1/2019</p>
                <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                <p class="font-size-smaller font-family-base">Give your Thanksgiving holiday a whole new meaning - be a
                  part of our GO Trip to Durban on the coast of the warm Indian Ocean. Work at two new preschools
                  nestled in beautiful countryside of Ndwedwe...</p>
                <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                <a href="https://www.crossroads.net/reachout/go/south-africa/november-trip" class="btn btn-sm btn-primary">View
                  all details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
    document.addEventListener('deferred-js-ready', function() {
    if('{{page.trip_location}}')
      $('#ourHolder').children().not('.{{page.trip_location}}' ).hide();
    $('.card-deck').show();
  });
  </script>
    <script type="text/javascript">// <![CDATA[
      $(document).ready(function () {
        $('#filterOptions li a').click(function () {
          var ourClass = $(this).attr('class');
          $('#filterOptions li').removeClass('active');
          $(this).parent().addClass('active');

          if (ourClass == 'all') {
            $('#ourHolder').children().show();
          } else {
            $('#ourHolder').children('div:not(.' + ourClass + ')').hide();
            $('#ourHolder').children('div.' + ourClass).show();
          }

          return false;
        });
      });

      new CRDS.CardCarousels();
      new CRDS.CardFilters();
      $.each(CRDS._instances, function (k, v) { v.addStyles() });
      $(document).ready(function () {
        $('footer.hidden-print').addClass('flush-top');
        $('.bg-blue-dark ~ p').remove('p');
        $('.ng-scope> .crds-styles> .container-fluid.main> .row> .col-md-12').removeClass('col-md-12');
      });
// ]]></script>
