<section>
    <div class="container push-top">
        <div class="card-deck">
            <div class="feature-cards">
                <div id="ourHolder" class="row" style="display: flex; flex-wrap: wrap;">


                    <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/nicaragua/march-trip/">
                            <img data-src="//crds-media.imgix.net/3VMxFBTBTvSR1yKUI0jiuu/34f9b925122c3ca99a931f9d2f0d12b0/nicaragua-march-students-grid.jpg"
                                class="card-img-top img-responsive" alt="" title="">
                        </a>

                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">
                                Nicaragua<br><span style="color: #979797;">March UC Students</span></h3>
                            <p class="font-size-small font-family-base">3/13/20 - 3/20/20</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Ditch the books and bars, and live an amazing
                                adventure for a week in Nicaragua. Join up with other college students and our partner,
                                Amigos for Christ, and dig into the fantastic community-reviving work that’s happening
                                here. You’ll do
                                anything from wield a shovel to install a flushing toilet—village improvements that make
                                a substantial, daily impact on
                                health and home.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/nicaragua/march-trip/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>


                    <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/nicaragua/march-trip-miami/">
                            <img data-src="//crds-media.imgix.net/4Ux7cNo57HWjGhgPD3O47V/8ff7dfa5655cb26d54b5569dd2baa124/tim-foster-lSegRSDBMLw-unsplash.jpg"
                                class="card-img-top img-responsive" alt="" title="">
                        </a>

                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">
                                Nicaragua<br><span style="color: #979797;">2020 Mar NIC MU Trip</span></h3>
                            <p class="font-size-small font-family-base">3/20/20 - 3/27/20</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Ditch the books and bars, and live an amazing
                                adventure for a week in Nicaragua. Join up with other college students and our partner,
                                Amigos for Christ, and dig into the fantastic community-reviving work that’s happening
                                here. You’ll do
                                anything from wield a shovel to install a flushing toilet—village improvements that make
                                a substantial, daily impact on
                                health and home.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/nicaragua/march-trip-miami/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>


                    <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/south-africa/may-trip-20/">
                            <img data-src="//crds-media.imgix.net/5EZOHJX12wBPCWZLWkWCeu/f4e0e32e5aea22a528b1064dbeba8bae/20180222_116.jpg"
                                class="card-img-top img-responsive" alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">South
                                Africa<br><span style="color: #979797;">Johannesburg / May / Medical &amp; Dental</span>
                            </h3>
                            <p class="font-size-small font-family-base">5/22/2020 - 5/31/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Join other medical professional and our
                                partners at Build
                                The Future for our first medical/dental clinic serving the Kya Sand pre school and
                                community. We will
                                be providing basic medical and dental services...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Medical
                                Professionals
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/south-africa/may-trip-20/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="puerto-rico card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/puerto-rico/june-trip1-2020/">
                            <img data-src="//crds-media.imgix.net/FeChcB1MDo7Cgjpulfvb2/c31de6a83df0c54affddf4e3a49dd3d6/puertorico-may-grid.jpg"
                                class="card-img-top img-responsive"
                                alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">
                                Puerto
                                Rico<br><span style="color: #979797;">June Trip 1</span>
                            </h3>
                            <p class="font-size-small font-family-base">5/30/2020 - 6/6/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Experience the fullness that comes from
                                helping communities
                                rebuild their homes and their lives. The joy and warmth of those that live in Puerto
                                Rico will inspire
                                and encourage you as you see what teamwork and community can accomplish in a week’s
                                time...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                            <a href="https://www.crossroads.net/reachout/go/puerto-rico/june-trip1-2020/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="puerto-rico card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/puerto-rico/june-trip2-2020/">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-trips-puerto-rico3-sm.jpg"
                                class="card-img-top img-responsive"
                                alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">
                                Puerto
                                Rico<br><span style="color: #979797;">June Trip 2</span></h3>
                            <p class="font-size-small font-family-base">6/6/2020 - 6/13/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Come enjoy the warmth of those
                                that live in Puerto Rico. It will inspire and encourage you as you see what teamwork and
                                community can accomplish in a week’s time.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                            <a href="https://www.crossroads.net/reachout/go/puerto-rico/june-trip2-2020/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/nicaragua/june-trip-20/">
                            <img data-src="//crds-media.imgix.net/34v0VUYpxXMf4ASEuoTGK3/bab6833741b55b1f874fcf1f7f21bf5e/nicaragua-june-grid.jpg"
                                class="card-img-top img-responsive"
                                alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">
                                Nicaragua<br><span
                                    style="color: #979797;">June</span></h3>
                            <p class="font-size-small font-family-base">6/6/2020 - 6/13/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Start your summer with adventure, fun, and a
                                whole new story to tell. You’ll fly over the Honduras mountains and step
                                into the full Nicaraguan experience. You’ll start the week climbing a volcano!</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/nicaragua/june-trip-20/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/south-africa/june-trip-2/">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-SA11.jpg"
                                class="card-img-top img-responsive"
                                alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">
                                South
                                Africa<br><span style="color: #979797;">Durban / June / Educator</span></h3>
                            <p class="font-size-small font-family-base">6/12/2020 to 6/21/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">For all you amazing teachers out there—plus
                                your friends and fam — here’s a unique chance to build cross-cultural relationship with teachers at Waterfall Combined School and Preschool in
                                Ndwedwe, Durban.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                            <a href="https://www.crossroads.net/reachout/go/south-africa/june-trip-2/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="bolivia card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/bolivia/june-trip">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-BOL-trip2-sm.jpg"
                                class="card-img-top img-responsive"
                                alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">
                                Bolivia<br><span
                                    style="color: #979797;">June / Compassion</span></h3>
                            <p class="font-size-small font-family-base">6/19/2020 - 6/28/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Sloth...maybe. If you’re looking for an
                                adventure join us in Bolivia. You may hike amazing sand dunes, jump into jungle
                                waterfall pools, and maybe even see a sloth!</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Families
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/bolivia/june-trip"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/nicaragua/july-trip/">
                            <img src="///crds-cms-uploads.imgix.net/content/images/crossroads-trip-nicaragua-2019-1.jpg"
                                class="card-img-top img-responsive" alt="" title="" data-optimize-img>
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">Nicaragua<br><span style="color: #979797;">July</span></h3>
                            <p class="font-size-small font-family-base">7/25/2020 - 8/1/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Summer’s not over yet. You still haven’t
                                climbed a volcano, worked alongside Nicaraguans making significant improvements
                                to their village life, sweated until you can’t sweat anymore, and visited your
                                Compassion child. Don’t worry. We’ve got you covered.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/nicaragua/july-trip/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="india card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/india/aug-mumbai/">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip2b.jpg"
                                class="card-img-top img-responsive" alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">India<br><span style="color: #979797;">Mumbai / May</span>
                            </h3>
                            <p class="font-size-small font-family-base">5/9/20 - 5/19/20</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Take a deep dive into the justice work of
                                Mumbai (formerly
                                Bombay)—one of the largest cities in India where sexual
                                trafficking and exploitation is rampant. But, the front lines of this fight are strong.
                                Men and women work
                                tirelessly
                                throughout the year to end the tragedy and bring love and care to women and children
                                coming out on the other
                                side.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/india/aug-mumbai/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip-one-2020/">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-SA-trip3b.jpg"
                                class="card-img-top img-responsive" alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">South Africa
                                <br><span style="color: #979797;">Durban / August Week One</span></h3>
                            <p class="font-size-small font-family-base">8/7/2020 to 8/16/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Get into the wild and make changing the world
                                and Kingdom movement a part of your life. Against the tropical backdrop of the Indian
                                Ocean, you’ll go deep into rural Zulu lands where rock huts dot the landscape and our
                                partner, Build the
                                Future, is knee-and-heart-deep in changing children’s lives.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                            <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip-one-2020/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip-2020/">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-SA10.jpg"
                                class="card-img-top img-responsive" alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">South Africa
                                <br><span style="color: #979797;">Durban / August / Week Two</span></h3>
                            <p class="font-size-small font-family-base">8/28/2020 - 9/6/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Get into the wild and make changing the world
                                and Kingdom movement a part of your life. Against the tropical backdrop of the Indian
                                Ocean, you’ll go deep into rural Zulu lands where rock huts dot the landscape and our
                                partner, Build the
                                Future, is knee-and-heart-deep in changing children’s lives.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip-2020/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="india card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/india/nov-nepal/">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip4.jpg"
                                 class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">India
                                <br><span style="color: #979797;">Nepal / Himalayas / Coed</span></h3>
                            <p class="font-size-small font-family-base">11/7/20 - 11/17/20</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Trek the Himalayas, swim through mountain streams, sleep in Nepalese homes—all while having the incredible chance to serve rural villages long-burdened by poverty and highly vulnerable to child exploitation.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/india/nov-nepal/"
                               class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="india card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/india/november-mumbai-2020/">
                            <img data-src="//crds-media.imgix.net/5q7bTvaDiXfA7tbEeINaPT/7466f339601cc750065ba1abfa7d84b6/mumbai-nov-grid.jpg"
                                 class="card-img-top img-responsive" alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">India
                                <br><span style="color: #979797;">Mumbai / November</span></h3>
                            <p class="font-size-small font-family-base">11/8/20 - 11/18/20</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Here’s where you make impossible dreams come true. You’ll be the adventure team who takes girls who’ve been rescued from sex trafficking and give them the chance to explore new landscapes way outside their city</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/india/november-mumbai-2020/"
                               class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>

                    <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/south-africa/november-trip-2020/">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-SA-trip4.jpg"
                                class="card-img-top img-responsive" alt="" title="">
                        </a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                                style="line-height: .9em;">South Africa
                                <br><span style="color: #979797;">Durban / November</span></h3>
                            <p class="font-size-small font-family-base">11/20/2020 - 11/29/2020</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">No better Thanksgiving than this one. Beat
                                isolation with a shovel. Show love with a toothbrush. Watch joy overflow from people who
                                appear to have nothing, but give more than you can imagine.</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/south-africa/november-trip-2020/"
                                class="btn btn-sm btn-primary">View
                                all details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    document.addEventListener('deferred-js-ready', function () {
        if ('{{trip_location}}')
            $('#ourHolder').children().not('.{{trip_location}}').hide();
        $('.card-deck').show();
    });
</script>
<script type="text/javascript">
    // <![CDATA[
    $(document).ready(function () {
        $('#filterOptions li a').click(function () {
            var ourClass = $(this).attr('class');
            $('#filterOptions li').removeClass('active');
            $(this).parent().addClass('active');
            if (ourClass == 'all') {
                $('#ourHolder').children().show();
            } else {
                $('#ourHolder').children('div:not(.' + ourClass + ')').hide();
                $('#ourHolder').children('div.' + ourClass).show();
            }
            return false;
        });
    });
    new CRDS.CardCarousels();
    new CRDS.CardFilters();
    $.each(CRDS._instances, function (k, v) {
        v.addStyles()
    });
    $(document).ready(function () {
        $('footer.hidden-print').addClass('flush-top');
        $('.bg-blue-dark ~ p').remove('p');
        $('.ng-scope> .crds-styles> .container-fluid.main> .row> .col-md-12').removeClass('col-md-12');
    });
        // ]]>
</script>
