{% assign targets = item.country | join: ',' %}
{% assign trip_focus = item.focus | where: "focus", page.focus | join: ',' %}

<div class="country-{{ targets| downcase | replace: ' ' , '-' | replace: '/' , '-' }} site-{{ item.crossroads_community | downcase | replace: ' ' , '-' }} audience-{{ item.audience | downcase | replace: ' ' , '-' }} focus-{{ trip_focus | downcase | replace: ' ' , '-' | replace: ',' , ' ' }} length-{{ item.length_in_days | downcase | replace: ' ' , '-' }} season-{{ item.season | downcase }} age-{{ item.age | downcase | replace: '+' , 'plus' }} card push-ends col-xs-12 col-sm-4">
  <a href="/go/{{ item.country_slug }}{{item.slug }}" class="trip-overlay-card">
    <div class="bg-overlay"></div>
    <div class="trip-overlay-card-image">
      <img src="{{ item.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_card }}"
          class="card-img-top img-responsive" alt="{{ item.country }}" data-optimize-img >      
    </div>

    <div class="trip-overlay-card-content">
      <h2 class="trip-overlay-card-title">{{ item.country }}</h2>
      <p class="trip-overlay-card-date pull-left">{{ item.start_date | date:"%m/%d" }}<span> - </span>{{ item.end_date | date:"%m/%d/%Y" }}</p>
      <p class="trip-overlay-card-cost pull-right">{{ item.total_cost }}</p>
    </div>
  </a>
</div>

<style>
.trip-overlay-card {
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: auto;
}
.trip-overlay-card .trip-overlay-card-image {
  height: 300px;
}
.trip-overlay-card .trip-overlay-card-image img {
  width: auto;
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.trip-overlay-card .trip-overlay-card-content {
  background: transparent;
  bottom: 0;
  left: 0;
  padding: 15px 15px 20px;
  position: absolute;
  right: 0;
}
.trip-overlay-card .trip-overlay-card-cost {
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  line-height: .9em;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.trip-overlay-card .trip-overlay-card-title {
  color: #fff;
  font-family: "acumin-pro", sans-serif;
  font-size: 1.5em;
  line-height: 0.9;
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: none;
  font-weight: 500;
  letter-spacing: -0.3px;
}
.trip-overlay-card .trip-overlay-card-date {
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  margin-bottom: 0;
}
.trip-overlay-card .trip-overlay-card-content {
  background: transparent;
  bottom: 0;
  left: 0;
  padding: 15px 15px 20px;
  position: absolute;
  right: 0;
}

</style>