<section>
    <div class="container push-top">
        <div class="card-deck collapse">
            <div class="feature-cards">
                <div id="ourHolder" class="row" style="display: flex; flex-wrap: wrap;">
                    <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3" style="background-color: #D8EBF8">
                        <a href="https://www.crossroads.net/reachout/go/south-africa/october-trip">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-SA12.jpg" class="card-img-top img-responsive" style="margin-top:20px" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South Africa
                                <br><span style="color: #979797;">Johannesburg / October / Medical &amp; Dental</span></h3>
                            <p class="font-size-small font-family-base">10/11/2019 - 10/20/2019</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Join other medical professional and our partners at Build The Future for our first medical/dental clinic serving the Kya Sand pre school and community. We will be providing basic medical and dental services...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Medical Professionals
                            </p>
                            <a href="https://www.crossroads.net/reachout/go/south-africa/october-trip" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>

                    <div class="new-orleans card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/new-orleans/june-trip">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-NOLA-1-sm.jpg" class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">New Orleans
                                <br><span style="color: #979797;">June</span></h3>
                            <p class="font-size-small font-family-base">6/15/19 - 6/23/19</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">King Cakes and Jambalaya. Sweaty days and late night laughs. The chance for you to bring hope and love to folks in the awesome city of New Orleans. This trip is for anyone who’s excited to serve others and get their hands...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                            <a href="https://www.crossroads.net/reachout/go/new-orleans/june-trip" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>

                    <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/nicaragua/july-trip/">
                            <img src="///crds-cms-uploads.imgix.net/content/images/crossroads-trip-nicaragua-2019-1.jpg" class="card-img-top img-responsive" alt="" title="" data-optimize-img></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Nicaragua<br><span style="color: #979797;">Oakley Only / July</span></h3>
                            <p class="font-size-small font-family-base">7/13/2019 - 7/20/2019</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">GO on an adventure this summer with your neighbors and community. This Oakley-Only trip is a great way to experience a new culture while also growing closer to your community from home. You’ll fly over the Honduras mountains
                                and step into the full Nicaraguan experience...
                            </p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                            <a href="https://www.crossroads.net/reachout/go/nicaragua/july-trip/" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>

                    <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip-2">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-SA10.jpg" class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South Africa
                                <br><span style="color: #979797;">Durban / August / Mason</span></h3>
                            <p class="font-size-small font-family-base">8/2/2019 - 8/11/2019</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Get adventuring with your neighbors. This all-Mason trip is a fantastic way to get immersed in another culture alongside people who are already rooted in your home community...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                            <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip-2" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>
                    <div class="south-africa card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-SA-trip3b.jpg" class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">South Africa
                                <br><span style="color: #979797;">Durban / August / Young Adults</span></h3>
                            <p class="font-size-small font-family-base">8/23/2019 - 9/1/2019</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Get into the wild with other young adults, and make changing the world and Kingdom movement a part of your life. Against the tropical backdrop of the Indian Ocean, you’ll go deep into rural Zulu...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Young Adults (22-35)</p>
                            <a href="https://www.crossroads.net/reachout/go/south-africa/august-trip" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>

                    <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/nicaragua/september-trip">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trip-nicaragua2.jpg" class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">
                                Nicaragua<br><span style="color: #979797;">September</span></h3>
                            <p class="font-size-small font-family-base">9/28/2019 - 10/5/2019</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">GO on an adventure this fall with your neighbors and community. This trip is a great way to experience a new culture while also growing closer to your community from home. You’ll fly over the Honduras mountains and step into
                                the full Nicaraguan experience...
                            </p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                            <a href="https://www.crossroads.net/reachout/go/nicaragua/september-trip" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>

                    <div class="india card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/india/october-trip-2019">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip5b.jpg" class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">India<br><span style="color: #979797;">Kolkata / October / Men</span></h3>
                            <p class="font-size-small font-family-base">10/12/19 - 10/22/19</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Put your hands to work, and watch life-changing possibilities ignite with your own eyes. This men-only trip is a rehab project to turn a desolate factory into a healthy place of employment for survivors...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                            <a href="https://www.crossroads.net/reachout/go/india/october-trip-2019" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>

                    <div class="puerto-rico card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/puerto-rico/october-trip/">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-trips-puerto-rico1-sm.jpg" class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Puerto Rico
                                <br><span style="color: #979797;">October Trip</span></h3>
                            <p class="font-size-small font-family-base">10/19/2019 - 10/25/2019</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Experience the fullness that comes from helping communities rebuild their homes and their lives. The joy and warmth of those that live in Puerto Rico will inspire and encourage you as you see what teamwork and community can
                                accomplish in a week’s time...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                            <a href="https://www.crossroads.net/reachout/go/puerto-rico/october-trip/" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>
                    <div class="bolivia card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/bolivia/october-trip-2019">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-BOL-trip4-sm.jpg" class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Bolivia<br><span style="color: #979797;">October / Compassion</span></h3>
                            <p class="font-size-small font-family-base">10/18/2019 - 10/27/2019</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Spend a week in South America ministering to children with our partner Compassion International! In the last eight years, Crossroads has helped to establish four churches and Compassion child development...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults</p>
                            <a href="https://www.crossroads.net/reachout/go/bolivia/october-trip-2019" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>
                    <!--  <div class="india card push-ends col-xs-12 col-sm-4 col-md-3"><a
               href="https://www.crossroads.net/reachout/go/india/october-trip-2-2019">
              <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip2b.jpg"
                   class="card-img-top img-responsive" alt="" title=""></a>
            <div class="card-block hard-left hard-top">
              <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top"
                  style="line-height: .9em;">India<br><span style="color: #979797;">Mumbai / October</span></h3>
              <p class="font-size-small font-family-base">10/26/2019 - 11/5/2019</p>
              <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
              <p class="font-size-smaller font-family-base">Here’s where you make impossible dreams come true. You’ll
                be the adventure team who takes girls who’ve been rescued from sex trafficking and give them the
                chance to explore new landscapes way outside their...</p>
              <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
              <a href="https://www.crossroads.net/reachout/go/india/october-trip-2-2019"
                 class="btn btn-sm btn-primary">View
                all details</a>
            </div>
          </div> -->
                    <div class="nicaragua card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/nicaragua/november-trip">
                            <img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trip-nicaragua7.jpg" class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">Nicaragua<br><span style="color: #979797;">November</span></h3>
                            <p class="font-size-small font-family-base">11/2/2019 - 11/9/2019</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">The year isn’t over yet. End your year with grit. With connection. With a whole new story. You’ll fly over the Honduras mountains and step into the full Nicaraguan experience. You’ll work alongside Amigos for Christ and get...</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Students</p>
                            <a href="https://www.crossroads.net/reachout/go/nicaragua/november-trip" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>
                    <div class="india card push-ends col-xs-12 col-sm-4 col-md-3">
                        <a href="https://www.crossroads.net/reachout/go/india/january-trip-2020">
                            <img data-src="//crds-media.imgix.net/75Xc34FERnXpPXxjcxvgni/4b01dd98a5f739476d116b1bf238878e/kolkata-india-headerbg.jpg" class="card-img-top img-responsive" alt="" title=""></a>
                        <div class="card-block hard-left hard-top">
                            <h3 class="font-family-condensed-extra text-uppercase font-size-h4 push-half-top" style="line-height: .9em;">
                                India<br><span style="color: #979797;">Kolkata / January / Medical Trip</span></h3>
                            <p class="font-size-small font-family-base">1/24/20 - 2/1/20</p>
                            <hr style="width: 50px; margin: 20px 0px 20px 0px; border-top: 1px solid #797979;">
                            <p class="font-size-smaller font-family-base">Join our partners in Kolkata who are bringing freedom, justice and restoration to the oppressed in India. A team of medical staff will be accompanying this trip to provide medical service at the aftercare homes we will serve.
                                (You do not have to be a medical professional to go on this trip!)</p>
                            <p class="font-size-smaller font-family-base"><strong>Type:</strong><br>Adults<br>Medical</p>
                            <a href="https://www.crossroads.net/reachout/go/india/january-trip-2020" class="btn btn-sm btn-primary">View
                all details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    document.addEventListener('deferred-js-ready', function() {
        if ('{{trip_location}}')
            $('#ourHolder').children().not('.{{trip_location}}').hide();
        $('.card-deck').show();
    });
</script>
<script type="text/javascript">
    // <![CDATA[
    $(document).ready(function() {
        $('#filterOptions li a').click(function() {
            var ourClass = $(this).attr('class');
            $('#filterOptions li').removeClass('active');
            $(this).parent().addClass('active');
            if (ourClass == 'all') {
                $('#ourHolder').children().show();
            } else {
                $('#ourHolder').children('div:not(.' + ourClass + ')').hide();
                $('#ourHolder').children('div.' + ourClass).show();
            }
            return false;
        });
    });
    new CRDS.CardCarousels();
    new CRDS.CardFilters();
    $.each(CRDS._instances, function(k, v) {
        v.addStyles()
    });
    $(document).ready(function() {
        $('footer.hidden-print').addClass('flush-top');
        $('.bg-blue-dark ~ p').remove('p');
        $('.ng-scope> .crds-styles> .container-fluid.main> .row> .col-md-12').removeClass('col-md-12');
    });
    // ]]>
</script>