{% assign handle = item.content_type %}
{% case handle %}
  {% when 'message' %}
    {% assign banner_image = item.image.url %}
  {% when 'episode' %}
    {% assign banner_image = item.podcast.image.url %}
  {% else %}
    {% assign banner_image = item.image.url %}
{% endcase %}

{% if include.thumbnail == true %}
    {% assign banner_image = item.image.url %}
{% endif %}


{% assign video = item %}
{% if video.bitmovin_url and include.autoplay == true %}
<div class="card-video-player" style="opacity: 0;">
    {% include _video-player.html isCard=true video="video" %}
</div>
{% endif %}
