---
layout: container-fluid
---

<section class="container">
  <div class="row push-ends">
    <div class="col-md-12">
      <a href="/groups/{{ page.group.category.slug }}">&lt; Back to All {{ page.group.category.title }}</a>
    </div>
  </div>

  <div class="row push-bottom push-top">
    <div class="col-md-12">
      <h3 class="font-family-condensed-extra flush-ends text-uppercase">
        {{ page.group.title }}
      </h3>
    </div>
  </div>

  <div class="row push-bottom">
    <div class="col-md-4">
      <div style="float: right; width: 155px; border-left: solid #FFF 1em; ">
        <img class="width-100"
          src="{{ page.location.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
          sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img />
      </div>
      <p class="subtitle">{{ page.location.onsite_group_display_name }}</p>
      <hr>
      {% for meeting in page.meetings %}
        {% include groups/_meeting-details.html meeting=meeting %}
        <hr>
      {% endfor %}
      <a href="/groups/onsite/{{ page.location.onsite_group_slug }}" class="small">See more{% if page.location.slug != 'anywhere' %} onsite{% endif %} groups at this location</a>
    </div>
    <div class="col-md-8">
      {% if page.group.detail %}
        <div class="push-bottom"><strong>Perfect for</strong><br> {{ page.group.detail }}</div>
      {% endif %}
      {% if page.group.length %}
        <div class="push-bottom"><strong>How Long</strong><br> {{ page.group.length }}</div>
      {% endif %}
      {% if page.group.description %}
        <div class="push-bottom"><strong>Details</strong><br>{{ page.group.description | markdownify }}</div>
      {% endif %}
    </div>
  </div>
  {% include groups/_footer.html %}
</section>