---
layout: container-fluid
snail_trail: connect
---

<div class="onsite-groups">
  <section>
    <div class="jumbotron jumbotron-xl osg-jumbotron flush" style="background-image: url('{{ page.category.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img>
      <div class="bg-dark-overlay"></div>
      <div class="jumbotron-content">
        <div class="container">
          <div>
            <h1 class="font-family-condensed-extra text-uppercase">Groups</h1>
          </div>
          <div class="body">
            {% content_block osg-header %}
          </div>
        </div>
      </div>
      {% include groups/_osg-tabs.html %}
    </div>
  </section>

  <main class="bg-blue bg-topo soft-ends">
    <section class="container">
      <div class="row push-bottom">
        <div class="col-md-8 col-md-offset-2 text-center push-ends">We’re all about groups here and want you to have great friends. These are some of our groups that foucsed on building bonds and meeting likemind people.</div>
      </div>
    </section>

    <section class="container bg-white soft-top push-bottom">
      <div class="row row-no-gutters push-ends">
      {% assign locations = site['locations'] | locations_with_onsite_groups %}
      {% for location in locations %}
        <div class="osg-location-card">
          <a href="/groups/onsite/{{ location.onsite_group_slug }}">
            <span class="text-center text-white">{{ location.onsite_group_display_name }}</span>
            <img class="img-responsive " src="{{ location.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}" alt="{{ location.onsite_group_display_name }}" sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img/>
          </a>
        </div>
      {% endfor %}
      </div>
    </section>
  </main>
</div>
