---
layout: default
title: Articles
paginate:
  articles:
    per: 10
    sort: date desc
---

<div class="article-tpl">
  <div class="container">
    <ol class="breadcrumb hard-sides hard-bottom push-top text-orange">
      <li><a href="/">Media</a></li>
    </ol>

    <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">Articles</h1>

    <div class="row">
      <aside class="col-md-2">
        {% include _article_filters.html label="Most Recent" %}
      </aside>

      <div class="col-md-10">
        {% include _article_index.html %}
      </div>
    </div>
  </div>
</div>