---
layout: default
snail_trail: media
title: Authors
permalink: /media/authors/index.html
paginate:
  people:
    per: 8
---
<div class="container">
  <ol class="breadcrumb hard-sides push-top">
    <li><a href="/media">Media</a></li>
  </ol>

  <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">Authors</h1>

  <div data-card-deck class="card-deck">
    <div class="cards-4x">
      <div class="row">
      {% for person in page.people.docs %}
        <div class="card">
          <a href="{{ person.url }}">
            <img class="card-img-top img-responsive" src="{{ person.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_card_face }}" sizes="{{ site.image_sizes.podcast_thumb }}" data-optimize-img>
          </a>
          <div class="card-block">
            <a href="{{ person.url }}">
              <h4 class="card-title card-title--overlap text-uppercase">{{ person.name | default: person.full_name }}</h4>
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% include _pagination.html collection="people" link_root="authors" %}
</div>
