---
layout: default
snail_trail: media
title: Podcasts
---

<div class="container media-podcast">
  <ol class="breadcrumb text-orange hard-sides hard-bottom push-top flush-bottom">
    <li><a href="/media">Media</a></li>
  </ol>

  <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">Podcasts</h1>

  <div data-card-deck class="card-deck">
    <div class="cards-2x">
      <div class="row">
        {% for podcast in site.ordered_podcasts %}
          {% include _podcast-card.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
