---
layout: default
snail_trail: media
title: Post-Weekend Push
---

{% assign discussion = site.chaser %}
<section>
  <div class="jumbotron jumbotron-lg flush-bottom" style="background-image: url('//crds-media.imgix.net/7pZR6BEJ5cvqVbbhRkaXfr/2ce45c4deb34e6509a63a0f6401f11b4/weekend-prompts-bg.jpg?{{ site.imgix_params.placeholder }}');" data-optimize-bg-img >
    <div class="container soft-ends">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <img src="//crds-media.imgix.net/1W2zo3QkNqogWOn0wDtXgg/193a3f13de93c8f008c90ff2286c1289/brian-tome-prompts-fin.png?auto=format,compress&w=1200" alt="Post-Weekend Push with Brian Tome" data-optimize-img >
        </div>
        <div class="col-sm-12 soft-top">
          <h1 class="hidden title" style="">Post-Weekend Push with Brian Tome</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row soft-top">
    <div class="col-sm-offset-2 col-sm-8">
      <p class="lead">The Chaser is now the Post-Weekend Push with Brian Tome. It's a kick in your assumptions.<br /><br />
        Add Brian to your group chat for some post-weekend coaching, prompts, and a healthy dose of junior high humor. You’ll get a couple messages each week, all designed to help you move further and faster toward the full life you were made for.
        <br />
      <a href="#app" data-smooth-scroll-to="app" data-smooth-scroll-offset="92">Opt-in to get these questions and challenges sent right to your group.</a>

      {% if site.chaser_message %}
        <p class="bg-gray soft metadata push-ends">
          For the Weekend of {{ site.chaser_message.date | date: '%B %-d, %Y' }}
        </p>
      {% endif %}
      <div class="push-bottom">

        {% include _discussion-questions.html type='chaser' discussion=discussion %}

        <hr>
        <div class="row" id="app">
          <div class="col-sm-12 bg-gray soft">
            <h3 class="section-header flush-ends soft-half-bottom font-size-h3">Get The Post-Weekend Push with Brian Tome sent right to your group</h3>
            <p class="">Step 1: <a href="/app">Download the Crossroads App</a></p>
            <p class="">Step 2: Create a group chat with your group</p>
            <p class="">Step 3: Turn on The Post-Weekend Push with Brian Tome</p>
            <br />
            <p class=""><strong>Still not sure?</strong> Check out this video tutorial</p>
            <div class="embed-responsive embed-responsive-16by9 push-ends">
              <iframe width="320" height="240" src="https://www.youtube.com/embed/xKIynCaK_BA" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <hr>
        <section>
          <p class="metadata"><strong>Missed the message? Want to watch it?</strong></p>
          <a class="btn btn-primary" data-media-snippet="get_current_message_url:attr[href]">
            Click here to watch
          </a>
        </section>
      </div>
    </div>
  </div>
</section>
