{% if page.name == 'Dayton' %}
<div aria-labelledby="New Here?" class="location-overlay modal fade" id="daytonModalOverlay" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="">
      <div class="modal-header hard-bottom">
        <button aria-label="Close" class="close pull-right" style="background-color: transparent;" data-dismiss="modal"
          type="button">
          <span style="font-size: 30px" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body location-overlay-content">
        <div>
          <img src="//crds-media.imgix.net/2ud1GhmoEf2udWaruq6XC3/57449963f031b6e036ea7506d81b6c6f/crds-logo-mark.svg"
            width="50" height="50" />
          <h3 class="component-header text-center text-white push-ends text-uppercase">New Here?</h3>
          <div class="text-center">
            <crds-button href="https://www.crossroads.net/dayton-lp" color="blue" text="Yes"></crds-button>
            <crds-button data-dismiss="modal" color="blue" text="Nope"></crds-button>
          </div>
        </div>
      </div>
      <div class="modal-footer">&nbsp;</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    if (!localStorage.getItem('daytonModalShown')) {
      $('#welcomeLocationOverlay').modal('hide');

      $(window).on('load', function () {
        $('#daytonModalOverlay').modal('show');
      });

      var yesBtn = document.querySelector('#daytonModalOverlay a[href="https://www.crossroads.net/dayton-lp"]');
      if (yesBtn) {
        yesBtn.addEventListener('click', function () {
          localStorage.setItem('daytonModalShown', 'true');
        });
      }

      $('#daytonModalOverlay').on('hidden.bs.modal', function () {
        localStorage.setItem('daytonModalShown', 'true');
        $('#welcomeLocationOverlay').modal('show');
      });
    }
  });
</script>
{% endif %}