<!-- Georgetown Modal -->
<div aria-labelledby="Welcome to crossroads georgetown" class="location-overlay modal fade stop-video" id="welcomeLocationOverlay" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="">
      <div class="modal-header hard-bottom">
        <button aria-label="Close" class="close pull-right stop-video" style="background-color: transparent;"
          data-dismiss="modal" type="button">
          <span style="font-size: 30px" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body location-overlay-content">
        <div>
          <img src="//crds-media.imgix.net/2ud1GhmoEf2udWaruq6XC3/57449963f031b6e036ea7506d81b6c6f/crds-logo-mark.svg" width="50" height="50" />
          <h3 class="component-header text-center text-white push-ends text-uppercase">Welcome to Crossroads Georgetown</h3>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              id="modalVideo"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/VfufS3Eeb9U"
              frameBorder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowFullScreen
            ></iframe>
          </div>
        </div>
        <div class="text-left soft-ends overlay-bottom-text row">
          <div class="col-md-7 text-white">
            <p style="font-size: 22px;">Crossroads is a place for people who have given up on church, but not on God. Join us every Sunday at 9:15 or 11am at Great Crossing High School as we gather to worship, watch service, and have time together in community.</p>
            <p class="font-family-base-bold" style="font-size: 16px;">We’d love to meet with you!</p>
            <div class="push-bottom">
              <crds-button display="outline" data-dismiss="modal" color="white"
              text="Explore Crossroads Georgetown"></crds-button>
            </div>
          </div>
          <div class="col-md-5">
            <p class="font-family-base-bold text-white">Get plugged in around here</p>
            <div>
              <crds-button data-target="#georgetownEmailModalForm" data-toggle="modal" color="white" display="outline" text="Sign up for weekly updates"></crds-button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">&nbsp;</div>
    </div>
  </div>
</div>

<!-- Georgetown Email Form Modal -->
<div class="modal" id="georgetownEmailModalForm" tabindex="-1" role="dialog" aria-labelledby="Georgetown email form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left hard-bottom">
        <h3 class="font-family-condensed-extra font-size-h2 text-uppercase flush-top">Join the Georgetown Community</h3>
        <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
        region: "na1",
        portalId: "3993985",
        formId: "f1b2ba31-289e-4199-8d26-02565035de0a"
      });
      </script>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>


<script type="text/javascript">
function openLocationModal() {

  let visited = parseInt(window.localStorage.getItem('georgetown-visited'), 10);
  visited = isNaN(visited) ? 0 : visited;

  if (visited > 2) {
    return;
  }

  window.localStorage.setItem('georgetown-visited', visited + 1);

  $(window).on('load', function() {
    $('#welcomeLocationOverlay').modal('show');
  });
}
$(document).ready(function () {
  openLocationModal();
});

$('#welcomeLocationOverlay').on('hidden.bs.modal', function () {
    $("#welcomeLocationOverlay iframe").attr("src", $("#welcomeLocationOverlay iframe").attr("src"));
});

</script>