.btn {
  border-radius: $border-radius-base;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 5px;

  &.active,
  &:active {
    &,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &:focus {
    outline: none;
    outline-offset: 0;
  }

  &.btn-lg {
    font-size: $base-font-size;
    padding: 14px 20px 16px;
  }

  &,
  &.btn-md {
    font-size: $font-size-small;
    padding: 13px 16px;
  }

  &.btn-sm {
    font-size: 13px;
    padding: 10px 16px 11px;
  }

  &.btn-blue,
  &.btn-cyan,
  &.btn-primary {
    @include crds-button-variant(
      $btn-blue-color,
      $btn-blue-bg,
      $btn-blue-border
    );

    .dark-theme & {
      /* stylelint-disable at-rule-blacklist */
      @extend .btn-cyan;
      /* stylelint-enable at-rule-blacklist */
    }
  }

  &.btn-secondary {
    @include crds-button-variant(
      $btn-orange-color,
      $btn-orange-bg,
      $btn-orange-border
    );
  }

  &.btn-orange {
    @include crds-button-variant(
      $btn-orange-color,
      $btn-orange-bg,
      $btn-orange-border
    );
  }
  
  &.btn-gray {
    @include crds-button-variant(
      $btn-gray-color,
      $btn-gray-bg,
      $btn-gray-border
    );
  }

  &.btn-gray-light {
    @include crds-button-variant(
      $btn-gray-lt-color,
      $btn-gray-lt-bg,
      $btn-gray-lt-border
    );
  }

  &.btn-white-blue { 
    @include crds-button-variant(
      $btn-white-blue-bg,
      $btn-white-blue-border,
      $btn-white-blue-color,
    );
  }

  &.btn-white {
    background: $btn-white-bg;
    border-color: $btn-white-border;
    color: $btn-white-color;

    // solid buttons
    &.active,
    &:active {
      &,
      &:hover,
      &:focus {
        background: darken($btn-white-bg, 5);

        &:focus {
          border: 1px solid darken($btn-white-bg, 5);
          box-shadow: none;
        }
      }
    }

    &:focus {
      border-color: $input-border-focus;
      box-shadow: 0 0 0 1px $input-border-focus inset;
    }

    &:hover {
      background: darken($btn-white-bg, 5);
    }

    &.disabled {
      opacity: 0.65;
      pointer-events: auto;

      &.active,
      &:active,
      &:focus,
      &:hover {
        &,
        &.focus,
        &:focus,
        &:hover {
          opacity: 0.65;
          background: $btn-white-bg;
          border-color: $btn-white-border;
          color: $btn-white-color;
          box-shadow: none;
        }
      }
    }

    // outline buttons
    &.btn-outline {
      background: transparent;
      border-style: solid;
      border-width: 1px;
      color: $btn-white-border;

      &.active,
      &:active {
        &,
        &:hover,
        &:focus {
          background: rgba($btn-white-border, 0.25);
          border-color: $btn-white-border;
          color: $btn-white-border;
        }

        &:focus {
          box-shadow: none;
        }
      }

      &:hover {
        background: rgba($btn-white-border, 0.25);
      }

      &.disabled {
        opacity: 0.65;
        pointer-events: auto;

        &.active,
        &:active,
        &:focus,
        &:hover {
          &,
          &:hover {
            background: transparent;
            border-color: $btn-white-border;
            color: $btn-white-border;
            box-shadow: none;
          }
        }
      }
    }
  }
}

.btn-default {
  border-style: solid;
  border-width: 1px;

  background-color: $btn-default-bg;
  border-color: $btn-default-border;
  color: $btn-default-color;

  &.active,
  &:active {
    &,
    &.focus,
    &:focus,
    &:hover {
      box-shadow: none;

      background-color: $cr-orange;
      border-color: $cr-orange;
      color: $cr-blue;
    }
  }

  &:hover {
    background-color: $cr-white;
    border-color: darken($cr-orange, 10);
    color: $btn-default-color;

    @media (pointer: coarse) {
      background-color: $btn-default-bg;
      border-color: $btn-default-border;
      color: $btn-default-color;
    }
  }

  :focus {
    border-color: $input-border-focus;
    box-shadow: 0 0 0 1px $input-border-focus inset;
  }

  &.disabled {
    &.active,
    &:active {
      &,
      &.focus,
      &:focus,
      &:hover {
        background-color: $btn-default-bg;
        border-color: $btn-default-border;
        color: $btn-default-color;
      }
    }

    &:hover {
      background-color: $btn-default-bg;
      border-color: $btn-default-border;
      color: $btn-default-color;
    }

    .dark-theme & {
      opacity: 1;
    }
  }
}

.btn-link {
  color: $cr-orange-dark;

  &:hover {
    color: darken($cr-orange-dark, 5);
  }

  &:focus {
    border: 1px solid $input-border-focus;
    box-shadow: 0 0 0 1px $input-border-focus inset;
  }

  &.active,
  &:active {
    text-decoration: underline;
  }

  &.disabled {
    &:focus {
      color: $cr-cyan;
      border-color: transparent;
      box-shadow: none;
    }

    &,
    &.active {
      text-decoration: none;

      &:focus,
      &:hover {
        border-color: transparent;
        box-shadow: none;
        color: $cr-cyan;
      }
    }
  }

  &.secondary {
    color: $cr-gray;

    &:hover {
      color: darken($cr-gray, 5);
    }

    &.active,
    &:active {
      text-decoration: underline;
    }

    &.disabled {
      &:focus {
        border-color: transparent;
        box-shadow: none;
      }

      &,
      &.active {
        text-decoration: none;

        &:focus,
        &:hover {
          border-color: transparent;
          box-shadow: none;
          color: $cr-gray;
        }
      }
    }
  }
}

.btn-block {
  text-align: left;
}
