<div class="chaser-rollcall" data-roll-call>
  <div data-role="form">
    <div class="rollcall-row rollcall-inline">
      <div class="btn-group btn-group-bar btn-group-stepper">
        <button class="btn btn-lg btn-blue btn-default btn-icon" type="button" data-role="decreaseTotal">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#minus"></use>
          </svg>
        </button>
        <button class="btn btn-lg btn-blue btn-default btn-icon" type="button" data-role="increaseTotal">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#plus"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="rollcall-row rollcall-inline">
      <div class="form-group font-size-large mobile-push-half-top">
        <p>
          <span data-role="total">0</span>
          <span data-role="labelNoun">people</span>
          <span class="rollcall-sentence">
            <span data-role="labelVerb">are</span> discussing these questions
          </span>
        </p>
      </div>
    </div>
    <div class="push-top mobile-soft-quarter-top">
      <button class="btn btn-blue btn-lg" type="button" data-role="submit">
        Submit Group Size
      </button>
    </div>
    <div class="rollcall-row rollcall-text">
      <p class="text-gray-light help-block push-half-top soft-half-top" data-role="helpText">
        (This stuff helps us figure out how many fruitcakes to make come December)
      </p>
      <p class="error help-block push-half-top soft-half-top" data-role="errorText">
        You must include at least one person
      </p>
    </div>
  </div>
  <p class="rollcall-success font-size-large" data-role="successText">
    Got it! Enjoy your discussion.
  </p>
</div>
