<div class="card">
  <a href="{{ location.url }}" class="block" data-automation-id="location-image">
    <img src="{{ location.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_card }}"
      sizes="{{ site.image_sizes.cards_4x }}" alt="{{ location.title }}" data-optimize-img />
  </a>
  <div class="card-block">
    <h4 class="card-title card-title--overlap text-uppercase">
      <a href="{{ location.url }}" data-automation-id="location-name">{{ location.name }}</a>
    </h4>
    <div data-automation-id="location-address" class="push-bottom">
      {{ location.address | markdownify | remove: '<p>'| remove: '</p>' }} <br>
      {% if location.slug != 'anywhere' %}
        (<a target="_blank" href="{{ location.map_url }}" data-automation-id="location-map-url">Map</a>)
      {% endif %}
    </div>
    <div class="card-text">
      {% if location.community_pastor_name %}
      <div class="location-leader soft-half-sides soft-quarter-ends bg-tan-light text-gray-dark push-bottom">
        <div class="d-flex push-quarter-sides align-items-center" style="flex-wrap: wrap;">
          <div class="push-quarter-ends push-half-right" style="flex: 1 0;">
            <strong>{{location.community_pastor_name}}</strong><br>
            <span>Community Pastor</span>
          </div>
          <img class="img-circle img-size-4 push-quarter-ends" style="width: 64px;"
            src="{{ location.community_pastor_image.url | imgix: site.imgix }}?ar=1:1&fit=crop" sizes="64px 64px" />
        </div>
      </div>
      {% endif %}
      <div data-automation-id="location-service-times" class="push-half-bottom">
        {% if location.slug != 'anywhere' %}
          <strong>Service Times:</strong>
          <br />
        {% endif %}
        {{ location.service_times | markdownify | remove: '<p>'| remove: '</p>' }}
      </div>
      <p class="push-half-bottom soft-quarter-bottom">
        {% if location.facebook_page_url %}
        <a href="{{ location.facebook_page_url }}" target="_blank" class="btn btn-blue btn-outline btn-small" style="border-radius: 50%; width: 26px; height: 26px; padding: 0; text-align: center; line-height: 28px">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
          </svg>
        </a>
        {% endif %}
        {% if location.instagram_page_url %}
        <a href="{{ location.instagram_page_url }}" target="_blank" class="btn btn-blue btn-outline btn-small"  style="border-radius: 50%; width: 26px; height: 26px; padding: 0; text-align: center; line-height: 28px">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#instagram"></use>
          </svg>
        </a>
        {% endif %}
      </p>
    </div>
    <crds-button type="primary" color="orange" text="Learn more" href="{{ location.url }}"></crds-button>
    <crds-site-select card-site-id="{{ location.site_id }}"></crds-site-select>
  </div>
</div>
