<form class="searchbar" id="locations-address-input" data-track-search="locationsLocationSearch" data-automation-id="location-search">
  <div class="input-group">
    <span class="input-group-btn">
      <button id='geo-search' class="btn btn-gray-light geo-search" type="button">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#map-marker"></use>
        </svg>
      </button>
    </span>
    <input id="search-input" class="form-control" placeholder="Search by address or zipcode" type="text" />
    <span class="input-group-btn">
      <button id="input-search" class="btn btn-blue search-submit" type="submit">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#search"></use>
        </svg>
      </button>
    </span>
  </div>
</form>
