<div id="trips-map"
  style="min-height: 330px; height: 330px; position: absolute; overflow: hidden; width: 92%; color: black;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKQyvYdvoci3SqWgEg61G_2raG_xipO5Q"
  type="text/javascript"></script>
<script type="text/javascript">
  var map;
  initMap();
  function initMap() {
    map = new google.maps.Map(document.getElementById('trips-map'), {
      center: { lat: Number('{{page.latitude}}'), lng: Number('{{page.longitude}}') },
      zoom: Number('{{zoom}}') || 8
    });
  }
</script>