// --------------------------------------------------------

@mixin container {
  margin: 0 auto;
  max-width: $container-large-desktop;
}

// --------------------------------------------------------

@mixin reset-list {
  padding-left: 0;

  li {
    list-style: none;
  }
}

// --------------------------------------------------------
