@mixin nav-items($nav-type: false) {
  @include font-family-base;

  color: $cr-white;

  div {
    @if $nav-type == 'main-nav' {
      padding: 30px 20px 0;
    }

    @else {
      height: auto;
      padding: 30px 20px 90px;
    }
  }

  a {
    color: $cr-white;
    display: inline-block;
    font-size: 19px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
    text-transform: capitalize;

    &.all {
      margin-bottom: 30px;
    }

    &:hover {
      color: darken($cr-white, 20);
    }
  }

  h2 {
    @include font-family-condensed-extra;

    font-size: 48px;
    line-height: 48px;
    margin: 0;
    text-transform: uppercase;

    @if $nav-type == 'main-nav' {
      margin-bottom: 10px;
    }

    @else {
      margin-bottom: 20px;
    }
  }

  // stylelint-disable a11y/font-size-is-readable
  h4 {
    font-size: 11px;
    margin: 0 0 10px;
    opacity: .5;
    text-transform: uppercase;
  }

  ul {
    @include reset-list;

    margin-top: 0;

    li {
      &.top-level {
        a {
          padding-left: 0;
        }
      }
    }
  }
}
