.section-title-box {
  align-items: baseline;
  border-top: 1px solid $cr-gray;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.album-card {
  text-align: left;
  margin-bottom: 28px;

  a {
  
    &:hover {
      text-decoration: none;
    }
  }
}