.breadcrumb {
  background-color: transparent !important;
  position: relative;
  margin-bottom: -.5rem;
  text-transform: capitalize;

  &.text-white {
    a {
      color: $cr-white;

      &:hover,
      &:focus {
        color: darken($cr-white, 10);
      }
    }

    >li:after {
      color: rgba($cr-white, .6);
    }
  }

  &.text-gray-light {
    a {
      color: $cr-gray-light;

      &:hover,
      &:focus {
        color: darken($cr-gray-light, 10);
      }
    }

    >li:after {
      color: rgba($cr-gray-light, .6);
    }
  }

  &.text-orange {
    a {
      color: $cr-orange;

      &:hover,
      &:focus {
        color: darken($cr-orange, 10);
      }
    }

    >li:after {
      color: rgba($cr-orange, .6);
    }
  }

  a {
    padding: .5rem 0;
  }

  >li {
    &:after {
      color: $breadcrumb-active-color;
      content: $breadcrumb-separator;
      padding: 0 5px;
    }

    // Overrides Bootstrap breadcrumb style
    +li {
      // Breadcrumb separator should come after breadcrumb, not before
      // Important flag is for Firefox
      &:before {
        content: " " !important;
        padding: 0 !important;
      }
    }
  }
}
