.card-deck--expanded-layout .card {
  flex-basis: 270px;
}

.card {
  img {
    width: 100%;
  }
} 

.card {
  // 🛠  fixes weird overlap problem from title 🛠
  .card-text {
    position: relative;
  }
}
