.discussion-questions {
  margin-top: 10px;
  small {
    display: block;
  }

  .link-primary {
    &:active {
      text-decoration: none;
    }

    &.collapsed {
      .icon {
        transform: none;
      }
    }

    .icon {
      $size: 8px;

      height: $size;
      margin-left: 5px;
      transform: rotate(180deg);
      width: $size;

      svg {
        height: $size;
        width: $size;
      }
    }
  }
}

.discussion-questions-container {
  background: $cr-gray-lighter;
  font-size: $font-size-small;
  margin-bottom: 15px;
  padding: 45px 20px 20px 20px;

  @media screen and (min-width: $screen-sm) {
    padding: 45px;
  }

  h2,
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 6px;
  }

  .label {
    color: $cr-gray-dark;
    display: block;
    font-family: $font-family-base;
    font-size: $font-size-small;
    font-weight: 600;
    line-height: 21px;
    padding: 0;
    margin: 0;
    text-align: left;
    text-transform: unset;
  }

  ol {
    counter-reset: li;
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 20px;

      &::before {
        content: "Question " counter(li);
        counter-increment: li;
        font-weight: 600;
      }
    }
  }
}

.chaser-wrapper .rollcall,
.discussion-questions-container .rollcall {
  margin-top: -16px;
}

.chaser-questions {
  background: $cr-white;
  border: 1px solid;
  border-color: darken($cr-gray-lighter, 5.8);

  .chaser-logo {
    width: 212px;
  }
}
