.site-happenings-skeleton {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;

  .card-skeleton {
    cursor: auto;
    -webkit-flex: 1 0 270px;
    -ms-flex: 1 0 270px;
    flex: 1 0 270px;
    flex-basis: 270px;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
    position: relative;
    max-width: 100%;

    @media (min-width: 480px) {
      max-width: 50%;
    }

    @media (min-width: 768px) {
      max-width: 33.333333%;
    }

    @media (min-width: 960px) {
      max-width: 25%;
    }
    
    svg {
      height: auto;
      width: 100%;
    }
  }
}
