.site-happenings-skeleton {
  min-height: 500px;
  display: flex;
  flex-wrap: nowrap;

  .card-skeleton {
    display: flex;
    position: relative;
    cursor: auto;
    -webkit-flex: 1 0 270px;
    -ms-flex: 1 0 270px;
    flex: 1 0 270px;
    flex-basis: 270px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    max-width: 100%;
    height: 460px;
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    border-radius: 2px;

    &:first {
      margin-left: 0;
    }
    
    &:last {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        100deg,
        rgb(231,231,231) 20%,
        rgba(255,255,255, .3) 30%,
        rgba(255,255,255, .7) 40%,
        rgb(231,231,231) 50%,
      );
      animation: shimmer 1.5s infinite;
      content: '';
    }
  
    @keyframes shimmer {
      to {
        transform: translateX(100%);
      }
    }

    @media (min-width: 480px) {
      max-width: 50%;
    }

    @media (min-width: 768px) {
      max-width: 33.333333%;
    }

    @media (min-width: 960px) {
      max-width: 25%;
    }
    
    svg {
      position: relative;
      display: block;
      height: auto;
      width: 100%;
      z-index: 1;

      g {
        fill: #fff;
      }
    }
  }
}
