.mobile-header {
  .media-header {
    > div:not(.secondary-nav) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .75rem;

      .brand {
        display: flex;
        align-items: center;
      }
    }

    .secondary-nav {
      border-top: 1px solid $cr-gray-lighter;
      border-bottom: 1px solid $cr-gray-lighter;

      ul {
        display: flex;
        align-items: center;
        height: 2.25rem;
        margin-bottom: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
      }

      a {
        color: $cr-gray-light;
        font-size: $font-size-small;
        font-weight: 300;
        padding: 0 1rem;

        &:active, &.active {
          &, &:focus {
            color: $cr-gray-dark;
            text-decoration: none;
          }
        }

        &:hover {
          color: $cr-gray;
          text-decoration: none;
        }
      }

      .divider {
        border-right: 1px solid $cr-gray-lighter;
        height: 2.25rem;
        width: 1px;
      }
    }

    a.subscribe {
      font-weight: 600;
    }
  }

  .primary-nav {
    background-color: $cr-white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    display: flex;
    justify-content: space-between;

    a, button, button > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    button {
      border: 0;

      &.active [data-menu-close] {
        display: none;
      }

      [data-menu-open] {
        display: none;
      }

      &.active [data-menu-open] {
        display: flex;
      }
    }

    .img-size-20 {
      height: 20px;
      width: 20px;
    }

    a, button {
      background-color: $cr-white;
      border-right: 1px solid $cr-gray-lighter;
      border-top: 1px solid $cr-gray-lighter;
      color: $cr-gray-light;
      font-size: $font-size-smaller;
      font-weight: 300;
      padding: .75rem 1rem;
      flex: 0 0 25%;

      &:last-child {
        border-right: none;
      }

      &:hover, &:active, &.active {
        background-color: $cr-blue;
        border-top-color: transparent;
        color: $cr-white;
        text-decoration: none;
      }
    }
  }

  .mobile-megamenu {
    background: $cr-blue-dark;
    opacity: 0;
    overflow: auto;
    transition: opacity .15s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -50;

    &.open {
      opacity: 1;
      height: 100%;
      z-index: 50;
    }

    .megamenu-header {
      border-top: 1px solid rgba($cr-blue, .5);
      font-size: $font-size-base;
      font-weight: 600;
      position: relative;
      display: block;
      margin: 0 1rem;
      padding: 1rem;
    }

    .subnav li {
      padding: 1rem 2rem;
    }

    ul {
      li {
        position: relative;
      }

      a, svg {
        color: rgba($cr-white, .5);
      }

      a, a:hover, a:active, a.active {
        text-decoration: none;
      }
    }

    .megamenu-header svg {
      display: block;
      position: absolute;
      top: calc(50% - 8px); //center in container then adjust for height of icon
      right: 1rem;
      transform: rotate(0.25turn);
      transition: transform 0.3s ease;
    }

    .megamenu-header.collapsed svg {
      transform: rotate(0turn);
    }

    .screwhead {
      text-align: center;

      a {
        color: rgba($cr-white, .25);
        padding: .5rem;
        margin: .5rem;
        display: block;
      }
    }
  }
}

.desktop-header {
  .media-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    ul {
      margin-bottom: 0;
    }
  }

  .media-header-section {
    border-right: 1px solid $cr-gray-lighter;
    border-bottom: 1px solid $cr-gray-lighter;
    color: $cr-gray-light;
    font-size: $font-size-base;
    font-weight: 300;
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;

    a {
      color: $cr-gray-light;
      font-size: 15px;
      line-height: 1;

      &:hover,
      &:focus {
        color: $cr-blue;
        text-decoration: none;
      }

      &:active, &.active {
        &, &:focus {
          color: $cr-gray-dark;
          text-decoration: none;
        }
      }
    }

    button {
      background: transparent;
      border: 0;
      padding: 0;
    }

    .dropdown-toggle {
      height: 24px;
    }

    &.dropdown-collapse {
      flex: 1 1 auto;

      svg {
        height: 10px;
      }

      .dropdown-menu {
        border: 1px solid $cr-gray-lighter;
        border-top: 0;
        border-radius: 0;
        box-shadow: none;
        font-weight: 300;
        padding-top: 1rem;
        padding-bottom: 1rem;
        top: 42px;

        li {
          padding-top: .5rem;
          padding-bottom: .5rem;

          a:hover,
          a:focus {
            background: none;
            color: $cr-blue;
          }
        }
      }
    }

    a.subscribe {
      color: $cr-cyan;
      font-weight: 600;

      &:hover {
        color: $cr-blue;
      }
    }

    .dropdown-menu .list-separator {
      &:first-child {
        display: none;
      }
      &:before {
        content: ' ';
        height: 1px;
        top: auto;
        width: 100%;
      }
    }

    .list-separator {
      position: relative;
      &:before {
        background-color: $cr-gray-lighter;
        content: ' ';
        height: 64px;
        position: absolute;
        top: -38px;
        width: 1px;
      }
    }

    @media screen and (min-width: $screen-md) {
      .list-inline > li {
        padding-right: .75rem;
        padding-left: .75rem;
      }
    }
  }


  // Menu styles
  .media-header-section[data-menu-trigger] {
    width: 115px;

    button {
      display: flex;
      align-items: center;

      [data-menu-close] {
        display: inline-flex;
      }

      [data-menu-open] {
        display: none;
      }
    }

    &.active {
      background-color: $cr-blue-dark;
      border-bottom: 0;
      border-right: 0;
      color: $cr-white;

      button {
        [data-menu-close] {
          display: none;
        }

        [data-menu-open] {
          display: inline-flex;
        }
      }
    }

    .avatar-icon {
      position: relative;
      height: 20px;
      width: 20px;

      img {
        background-color: $cr-white;
        border: 2px solid $cr-white;
        position: absolute;
        height: 20px;
        width: 20px;
        top: -6px;
        right: -6px;
        z-index: 10;
      }

      svg {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  .desktop-megamenu {
    display: none;

    &.open {
      display: grid;
      grid-template-columns: 300px auto;
      position: absolute;
      height: auto;
      width: 100%;
      z-index: 100;
    }

    .profile {
      background-color: #1D3647;
      padding: 2rem;
      padding-top: 5rem;

      .img-profile {
        border: 1px solid $cr-gray-lighter;
        display: inline-block;
        overflow: hidden;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      .profile-name {
        color: $cr-blue-light;
        font-family: $condensed-extra-font-face;
        font-size: 2.25rem;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
      }

      li {
        a {
          color: $cr-blue-light;
          font-size: 15px;

          &:hover {
            color: $cr-white;
          }
        }
      }
    }

    .menu {
      background-color: $cr-blue-dark;
      color: $cr-blue-light;
      display: grid;
      padding: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }

    .menu-list {
      flex: 1 1 50%;

      a {
        color: $cr-blue-light;
        font-size: 15px;

        &:hover {
          color: $cr-white;
          text-decoration: none;
        }

        &:focus, &:active, &.active {
          color: $cr-white;
        }
      }
    }

    .menu-header {
      border-bottom: 2px solid #3A5466;
      font-weight: 600;
      margin-bottom: .5rem;
      padding-bottom: .5rem;
    }

    @media screen and (min-width: $screen-md) {
      .menu {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem 6rem;
        padding: 3rem 5rem;
      }

      .menu-list {
        flex-basis: 33%;
      }
    }
  }
}