.media-label {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 8px 10px;
  background-color: rgba(0,0,0,.6);

  .icon {
    width: 14px;
    height: 16px;
  }
}


.overlay-card .media-label {
  left: 20px;
  top: 20px;
  @media (min-width: $screen-sm) {
    left: 30px;
    top: 30px;
  }
}
