.pagination {
  margin: 0;
}

.pagination > li > a {
  padding: 6px 12px;
}

.input-pagination {
  display: flex;
  align-items: center;
}

.input-pagination > button {
  justify-content: center;
  margin: 0px 5px;
}

.input-pagination > input {
  justify-content: center;
  margin: 0px 5px;
}

.input-pagination > span {
  justify-content: center;
  margin: 0px 5px;
}

.load-more {
  clear: both;
}

.form-control-custom-small {
  display: inline;
  width: 20%;
}

.pager li>a, .pager li>span {
  border: none;

  &:hover {
    background-color: $cr-white;
  }
}
