.inline-preloader {
  position: fixed;
  display: block;
  top: 112px;
  left: calc(50% - 37.5px);
}

.inline-preloader-wrapper {
  position: fixed;
  background-color: #ffffff;
  opacity: 1;
  z-index: 1;
}
