.shared-header-skeleton-logo {
  color: $cr-tan;
}

.greeting-skeleton {
  min-height: 87px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.recommended-content-skeleton {
  min-height: 520px;

  @media (min-width: 767px) {
    min-height: 570px;
  }
}

.site-happenings-skeleton {
  min-height: 670px;

  @media (min-width: 767px) {
    min-height: 600px;
  }
}

.portrait-card-skeleton-svg {
  display: none;
  width: 100%;
}

.shimmer {
  animation: mask 2s ease infinite;
  transform: rotateY(45deg);
}

@keyframes mask {
  from {transform: translateX(-100%)}
  to {transform: translateX(100%)}
}

.portrait-card-skeleton {
  width: 100%;

  .portrait-card-skeleton-svg {
    display: block;
  }
}

.portrait-card-skeleton-expanded,
.portrait-card-skeleton-condensed {
  width: 100%;

  .portrait-card-skeleton-svg {
    display: block;
  }
}


