.jumbotron-basics {
    background-color: $cr-orange !important;
    padding-bottom: 6rem;
    @media screen and (min-width: $screen-md) {
      padding-bottom: 4rem;
    }
    &:before {
      background-image: url('//crds-media.imgix.net/4KelidUTZORxCURuMjpyMf/b24f68ba291849a6fa8f92596c0224d0/texture-topo-dark-100_2x.png');
      background-size: cover;
      content: " ";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }  
  }