<section>
  <div class="container">
    <div class="row text-center push-ends">
      <h1 class="component-header-box text-blue">Crossroads FAQs</h1>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="border-bottom">
          <ul class="list-unstyled font-size-base">
            <li>
              <a href="javascript:void(0)" data-smooth-scroll-to="membership" data-smooth-scroll-offset="65">How does
                Crossroads membership work?</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-smooth-scroll-to="denomination" data-smooth-scroll-offset="65">What
                denomination is this?</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-smooth-scroll-to="cult" data-smooth-scroll-offset="65">Is this place a
                cult?</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-smooth-scroll-to="welcomed" data-smooth-scroll-offset="65">I absolutely
                do not believe in God. Am I still welcome?</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-smooth-scroll-to="kids" data-smooth-scroll-offset="65">What do I do with
                my kids?</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-smooth-scroll-to="funds" data-smooth-scroll-offset="65">Who funds this
                place?</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-smooth-scroll-to="staff" data-smooth-scroll-offset="65">Are all the
                people working on the weekend, on staff?</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-smooth-scroll-to="church" data-smooth-scroll-offset="65">This doesn't
                look like a church.</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-smooth-scroll-to="spirit" data-smooth-scroll-offset="65">What does
                Spiritual Outfitter&trade; mean?</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="font-size-base row">
      <div class="col-md-offset-2 col-md-8 soft-half-top soft-bottom">
        <div id="membership">
          <p class="soft-top">
            <strong>How does Crossroads membership work?</strong><br />
            There's no traditional membership. No awkward get to know us class or anything like that. Want to be part of
            this place “officially?” Find a group, start volunteering regularly, go to Camp, try out a GO Trip… there's
            lots of ways to find your people and make this place feel more like home. If you need help, hit the chat
            button in the bottom corner of this page and we'll get you in touch with the team at your site.
          </p>
        </div>
        <div id="denomination">
          <p class="soft-half-top">
            <strong>What denomination is this?</strong><br />
            Crossroads is interdenominational. Our beliefs are shared by many different Christian denominations, and we 
            welcome everyone no matter what they believe.
          </p>
        </div>
        <div class="soft-half-top" id="cult">
          <p>
            <strong>Is this place a cult?</strong><br />
            Great question. After all, it's full of people singing songs and drinking the same beloved liquid (in this
            case, great coffee). Plus, numerous guitars and people dressed comfortably. But seriously. No. Cults tell
            you what to believe, take away your freedoms and forbid you to leave. Here, you're welcome no matter what
            you believe, and we want you to experience freedom (including the freedom to leave whenever you want). If
            that still isn't enough for you, then the answer is “Fine, we're a cult.” But we're rubber and you're glue.
          </p>
        </div>
        <div class="soft-half-top" id="welcomed">
          <p>
            <strong>I absolutely do not believe in God. Am I still welcome?</strong><br />
            Yes, you absolutely are welcome. We do expect that you’ll be open to exploring your questions about God and 
            wrestling with what you find. And we do expect you to believe we’re funny. Or at least fake it.
          </p>
        </div>
        <div class="soft-half-top" id="kids">
          <p>
            <strong>What do I do with my kids?</strong><br />
            BRING THEM. There’s a place at Crossroads called Kids’ Club—available at most weekend services—that provides 
            a safe, fun environment where kids can figure out what God and the Bible are all about in a language they 
            understand. There are middle school and high school services at most sites for your older kids as well. Check 
            out location pages for more specific info for sites nearest you.
          </p>
        </div>
        <div class="soft-half-top" id="funds">
          <p>
            <strong>Who funds this place?</strong><br />
            It’s the generosity of everyday people in our community that fuels the life change experienced around here. 
            Our support comes from the normal tithes (10 percent of gross income) and offerings of average folks who love 
            contributing to the kinds of things they see God doing in our midst.
          </p>
        </div>
        <div class="soft-half-top" id="staff">
          <p>
            <strong>Are all the people working on the weekend, on staff?</strong><br />
            Nope. Believe it or not, from the coffee you drink to the mail you get, 94.6% of the Crossroads stuff you
            encounter results from volunteers. Volunteers care for our kids, take out the trash and sing on main stage.
            Crossroads does have a paid staff of about 300 people. They dwell in a cube farm on the other side of the
            business entrance. They're hairy, work in the dark, and love to eat free food.
          </p>
        </div>
        <div class="soft-half-top" id="church">
          <p>
            <strong>This doesn't look like a church.</strong><br />
            First of all, that’s not even a question. How about this: “What’s a church supposed to look like?” We think 
            a church is about the people inside, not about the building, so it shouldn’t matter if we look like a former 
            warehouse or a city school. And while you might not find steeples or stained glass around here much, there’s 
            no shortage of really authentic people and free coffee.
          </p>
        </div>
        <div class="soft-half-top" id="spirit">
          <p>
            <strong>What does Spiritual Outfitter&trade; mean?</strong><br />
            Following Jesus is an adventure. We believe that God has designed Crossroads to be a Spiritual Outfitter&trade; 
            that inspires, equips, and guides people who want to explore faith and go on an adventure.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
