<section class="bg-blue">
  <div class="container soft-ends">
    <div class="row text-center soft-bottom">
      <h1 class="component-header-box text-tan">Leadership</h1>
    </div>
    <div class="row flex-wrap">
      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Senior Pastor" title="Brian Tome" bg-overlay="true" image-src="//crds-media.imgix.net/1ofFTnFyNR4qmQnr9zNvtz/1992460ebb4566715436868dcc4523bb/leadership-brian-tome.png?h=250">
          <p>Brian is the founding and senior pastor of Crossroads Church. He's still waiting for his Yeti sponsorship.</p>
          <crds-button href="/brian-tome" color="orange" text="More from Brian" ></crds-button>
          <crds-button href="https://www.instagram.com/Briantome/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/briantomebooks/" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Studio Director/Co-Founder" title="Vivenne Bechtold" bg-overlay="true" image-src="//crds-media.imgix.net/4c5j5i5IreNCa56er3Dhpk/40d5487b30cb3202c6ed9e36506d2092/leadership-vivienne-bechtold.png?h=250">
          <p>Vivienne heads up Leadership Development and the Studio which is our internal agency bringing together marketing, analytics, research, design, and digital products to help Crossroads reach new people, connect them with God, and get involved in our community. She's been around from the start, responsible for hiring Brian Tome, and brings a ton of experience from P&G.</p>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Director of Finance & Operations" title="Season Huff" bg-overlay="true" image-src="//crds-media.imgix.net/jbx76OrxPyS7hYmqf2caB/7f610276bfc1c16f987597ff0ccdcfb5/leadership-season-huff.png?h=250">
          <p>Season is the Director of Finance & Operations. Her team keeps the day-to-day needs of the church moving like a well-oiled machine. Don’t let her accounting degree fool you, she loves live music, skydiving is on her bucket list, and she drives to help people reach the full potential of God's calling on their life. </p>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Teaching Pastor" title="Chuck Mingo" bg-overlay="true" image-src="//crds-media.imgix.net/H9RKt9YMVyiA2DehDUNys/441b1e5b5d0996a1bbc7f4c1d2db48ee/leadership-chuck-mingo.png?h=250">
          <p>Chuck is the leader of UNDIVIDED. Chuck is passionate about his relationship with Jesus, his family, racial solidarity, and getting people to a new place on their journey with God.</p>
          <crds-button href="/media/authors/chuck-mingo" color="orange" text="More from Chuck" ></crds-button>
          <crds-button href="https://www.instagram.com/chuckmingo/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/chuckdmingo/" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Teaching Pastor" title="Alli Patterson" bg-overlay="true" image-src="//crds-media.imgix.net/5SLEmZq6spJ6GUkSAm3Ohe/7e3669f96b994b327df4a77097dc8e62/leadership-alli-patterson.png?h=250">
          <p>Passionate learner and teacher, wife and mother of 4. Alli is the co-host of our podcast "IKR." She brings truth, vulnerability, courage, and hope to every single endeavor.</p>
          <crds-button href="/media/authors/alli-patterson" color="orange" text="More from Alli" ></crds-button>
          <crds-button href="https://www.instagram.com/theallipatterson/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/theallipatterson/" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="HR Director" title="Latasha Patrick" bg-overlay="true" image-src="//crds-media.imgix.net/6aaFzqU4ZvXQOsH6U0MJWf/9547f0aadbf93e36aeae4eeb9bc94dec/leadership-latasha-patrick.png?h=250">
          <p>LaTasha is the Director of Human Resources at Crossroads, and co-host of our podcast “IKR”. Daughter of God and proud mamma to a college student (and a pitbull). LaTasha loves to prowl Home Depot, buy power tools, and let YouTube influencers convince her she can install a shed in her backyard.</p>
          <crds-button href="/media/authors/latasha-patrick" color="orange" text="More from Latasha" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Multi-Site Director" title="Terry Phillips" bg-overlay="true" image-src="//crds-media.imgix.net/47m3GOcEvswi7Eb190sONz/50b17437c8c48133a130d859de7b86f3/leadership-terry-philips.png?h=250">
          <p>Terry is the Multi-Site Director of Crossroads. He's passionate about people connecting with Jesus in a way they can feel and understand. He also enjoys playing ice hockey, smoking a perfect pork shoulder, and adventure motorcycle riding.</p>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="/media/authors/kyle-ranson" lead="Teaching Pastor/Director of ET" title="Kyle Ranson" bg-overlay="true" image-src="//crds-media.imgix.net/2LgGIDcVfk1mFMnz4X2ts2/d44d87888e6e82d6b9dc3b12f12b7f7c/leadership-kyle-ranson.png?h=250">
          <p>Kyle is the Director of the Experience Team at Crossroads, they create stuff like videos, music, articles, and weekend services. He joyfully fulfills stereotypes about Milennials with his love of craft beer, tight jeans, and woodworking, and is passionate about people finding God.</p>
          <crds-button href="/media/authors/kyle-ranson" color="orange" text="More from Kyle" ></crds-button>
          <crds-button href="https://www.instagram.com/kranson28/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/kyleransoncrds" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Director of Central Kentucky" title="Glen Schneiders" bg-overlay="true" image-src="//crds-media.imgix.net/59sHFKKJHobPAdHBEdAwqK/46b9bb7afa814a70b7471749d7b77cc7/leadership-glen-schneiders.png?h=250">
          <p>Glen is the Director of Central Kentucky sites where he's invested his last 30+ years. Glen enjoys his four grandkids, all sports - OSU and UK, working with young leaders, and seeing the church impact its communities.</p>
          <crds-button href="https://www.facebook.com/gschneiders" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Online “Anywhere” Church Pastor" title="Lena Schuler" bg-overlay="true" image-src="//crds-media.imgix.net/3Bwa8gDJKiYDDHgrTgHtIv/5416cc0fbb6c121684c80850606c7c5a/leadership-lena-schuler.png?h=250">
          <p>Lena is the Community Pastor of Crossroads’ online “Anywhere” community. Lena is a proud UC alum. She and her family live on the East Side of Cincinnati. She'd love to challenge you to a tennis match (if you lose, Rhinegeist Bubbles is her preferred celebratory beverage)</p>
          <crds-button href="https://www.instagram.com/lena_schuler/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/ltome" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Spiritual Growth Director" title="Illya Thomas" bg-overlay="true" image-src="//crds-media.imgix.net/61Y3mBHczzS1PiuixfYyem/853131cdc31a80cae623878cfbf26939/leadership-illya-thomas.png?h=250">
          <p>Illya is the Director for Spiritual Growth and leads the Site Support team for Crossroads. He’s a semi-cool dad of 2 teenage daughters and an alum of Purdue Engineering, P&G, Cincinnati Christian University and the Baptist church. He serves on the Wyoming (OH) City Schools Board of Education and the Board of Citylink because he doesn't have enough to do.</p>
          <crds-button href="/media/authors/illya-thomas" color="orange" text="More from Illya" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Director of Digital Strategy" title="Matt Welty" bg-overlay="true" image-src="//crds-media.imgix.net/2iXVRcID9tMI0aa04bQqK0/e5b730eeeb671632210a1891c2140354/leadership-matt-welty.png?h=250">
          <p>Matt is the Director of Digital Strategy at Crossroads, leading the web, app, and digital product teams. He's passionate about how technology is creating new ways for people to be part of the church and change the world. </p>
          <crds-button href="https://twitter.com/mattwelty" target="_blank" color="white" display="outline" text="Follow on Twitter" icon="twitter" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Executive Pastor" title="Darin Yates" bg-overlay="true" image-src="//crds-media.imgix.net/8BbgOYbmPNsybXzitxQGm/31f00be6d1c5ec714a4e74a79df8d7bd/darin-yates.png?h=250">
          <p>Executive Pastor of Crossroads Church. He is responsible for managing all Crossroads staff and keeping Brian Tome in check (if that’s possible). He is a passionate student of leadership, enjoys unwinding on the golf course, and playing with bunnies.</p>
          <crds-button href="/media/authors/darin-yates" color="orange" text="More from Darin" ></crds-button>
        </crds-portrait-card>
      </div>
    </div>
  </div>
</section>
