<section class="bg-blue">
  <div class="container soft-ends">
    <div class="row text-center soft-bottom">
      <h1 class="component-header-box text-tan">Leadership</h1>
    </div>
    <div class="row flex-wrap">
      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Senior Pastor" title="Brian Tome" bg-overlay="true" image-src="//crds-media.imgix.net/1ofFTnFyNR4qmQnr9zNvtz/1992460ebb4566715436868dcc4523bb/leadership-brian-tome.png?h=250">
          <p>Brian is the founding and senior pastor of Crossroads Church. He's still waiting for his Yeti sponsorship.</p>
          <crds-button href="/brian-tome" color="orange" text="More from Brian" ></crds-button>
          <crds-button href="https://www.instagram.com/Briantome/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/briantomebooks/" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="/media/authors/kyle-ranson" lead='Lead Pastor'
          title="Kyle Ranson" bg-overlay="true"
          image-src="//crds-media.imgix.net/5N2nsEVwYIObvFFVDBrr5b/d0870745583984ea4425c17223d61015/Kyle_Ranson_Headshots-1.jpg?h=250">
          <p>Kyle is the Lead Pastor at Crossroads. He joyfully fulfills stereotypes about Millennials with his love of craft beer and woodworking, and is passionate about people knowing God.</p>
          <crds-button href="/media/authors/kyle-ranson" color="orange" text="More from Kyle" ></crds-button>
          <crds-button href="https://www.instagram.com/kranson28/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/kyleransoncrds" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Executive Pastor" title="Darin Yates" bg-overlay="true" image-src="//crds-media.imgix.net/8BbgOYbmPNsybXzitxQGm/31f00be6d1c5ec714a4e74a79df8d7bd/darin-yates.png?h=250">
          <p>Executive Pastor of Crossroads Church. He is responsible for managing all Crossroads staff. He is a passionate student of leadership and enjoys unwinding on the golf course.</p>
          <crds-button href="/media/authors/darin-yates" color="orange" text="More from Darin" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Studio Director/Co-Founder" title="Vivienne Bechtold" bg-overlay="true" image-src="//crds-media.imgix.net/4c5j5i5IreNCa56er3Dhpk/40d5487b30cb3202c6ed9e36506d2092/leadership-vivienne-bechtold.png?h=250">
          <p>Vivienne leads the Growth team which heads internal communication and staff culture, Leader Academy (staff leadership and development), and the strategy for the expansion of Crossroads. She's been around from the start, responsible for hiring Brian Tome, and brings a ton of experience from P&G.</p>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="/media/authors/joel-firebaugh" lead='Director of 0-18'
          title="Joel Firebaugh" bg-overlay="true"
          image-src="//crds-media.imgix.net/55FOLk4cMKAkArqcdJaPfV/d2d7c0cab317b43db46c91f02a713673/Firebaugh_Joel.png?h=250">
          <p>Joel leads the incredible group of people responsible for our kids and student ministries across all locations. Joel is committed to seeing the next generation of leaders discover their purpose and step out into the plan of God for their lives. For fun Joel loves anything that involves people.</p>
          <crds-button href="https://www.instagram.com/joel_firebaugh/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/joel.firebaugh" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Director of Finance & Operations" title="Season Huff" bg-overlay="true" image-src="//crds-media.imgix.net/jbx76OrxPyS7hYmqf2caB/7f610276bfc1c16f987597ff0ccdcfb5/leadership-season-huff.png?h=250">
          <p>Season is the Director of Finance & Operations. Her team keeps the day-to-day needs of the church moving like a well-oiled machine. Don’t let her accounting degree fool you, she loves live music, recently knocked skydiving off her bucket list, and she drives to help people reach the full potential of God's calling on their life.</p>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="/media/authors/greg-mcelfresh" lead='Director of Site Leadership, Oakley Community Pastor'
          title="Greg McElfresh" bg-overlay="true"
          image-src="//crds-media.imgix.net/6cY7ilaFqAsz45b9zcv3LZ/f4426e6003af4b6047b9909c95d6c421/GregMcElfresh-100BW.jpg?h=250">
          <p>Greg is the Oakley Community Pastor. He helped launch East Side and West Side before returning to lead the broadcast location. Greg is an avid lawn-striper and National Park hiker, husband and girl-dad.</p>
        </crds-portrait-card>
      </div>
      
      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="/media/authors/chuck-mingo" lead="Teaching Pastor" title="Chuck Mingo" bg-overlay="true" image-src="//crds-media.imgix.net/H9RKt9YMVyiA2DehDUNys/441b1e5b5d0996a1bbc7f4c1d2db48ee/leadership-chuck-mingo.png?h=250">
          <p>Chuck is the CEO of UNDIVIDED. Chuck is passionate about his relationship with Jesus, his family, racial solidarity, and getting people to a new place on their journey with God.</p>
          <crds-button href="/media/authors/chuck-mingo" color="orange" text="More from Chuck" ></crds-button>
          <crds-button href="https://www.instagram.com/chuckmingo/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/chuckdmingo/" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="/media/authors/latasha-patrick" lead="Director of HR and Equity & Safety/Security"
          title="Latasha Patrick" bg-overlay="true"
          image-src="//crds-media.imgix.net/6aaFzqU4ZvXQOsH6U0MJWf/9547f0aadbf93e36aeae4eeb9bc94dec/leadership-latasha-patrick.png?h=250">
          <p>LaTasha is the Director of Human Resources and Safety/Security at Crossroads. This empty nester loves traveling, shopping and hanging with her friends. </p>
          <crds-button href="/media/authors/latasha-patrick" color="orange" text="More from Latasha" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="/media/authors/alli-patterson" lead="Teaching Pastor" title="Alli Patterson" bg-overlay="true" image-src="//crds-media.imgix.net/3z1WJH32ErcgfpVB8Q2Kmk/ece4334310943163caa2b2ed462cd684/AlliPatterson.png?h=250">
          <p>Alli is the leader of Crossroads Women and a passionate learner and teacher. Alli makes the Bible come alive to reveal truth and hope for everyday life. She wants others to know Jesus through his Word. Alli loves her husband and four kids as well as Mexican food and Ohio State football.</p>
          <crds-button href="/media/authors/alli-patterson" color="orange" text="More from Alli" ></crds-button>
          <crds-button href="https://www.instagram.com/theallipatterson/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/theallipatterson/" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Director of People Ministries" title="Terry Phillips" bg-overlay="true" image-src="//crds-media.imgix.net/47m3GOcEvswi7Eb190sONz/50b17437c8c48133a130d859de7b86f3/leadership-terry-philips.png?h=250">
          <p>Terry leads the various People Ministries at Crossroads, with the goal of making Crossroads the easiest church to belong to in the nation. He is a husband and father of 5 kids and also enjoys playing ice hockey, smoking a perfect pork shoulder, and adventure motorcycle riding.</p>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Director of Experience Team" title="Paula Rakestraw" bg-overlay="true" image-src="//crds-media.imgix.net/49Km56grYRzpxPEi4TYAYR/4ece5d42697426e39175ec185992c8a2/Rakestraw_Paula-3248.png?h=250">
          <p>Paula is the Director of the Experience Team at Crossroads. They create things like videos, music, and weekend services. She spent a dozen years directing and choreographing Awaited, Crossroads Christmas Show, and still freelances with local theaters and in classrooms to help develop artists in creating meaningful experiences. She’s always up for outdoor adventures with her family.</p>
          <crds-button href="https://www.instagram.com/prakestraw/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="/media/authors/rob-seddon" lead="Director of Strategy and Teaching" title="Rob Seddon" bg-overlay="true" image-src="//crds-media.imgix.net/1lgyD5N98DWOnUC2vI0W2O/ce25f757ae83cca7cc4a36d19fa710b2/Rob_Seddon.png?h=250">
          <p>Rob manages our teaching process and helps Crossroads figure out how to get to where God tells us to go. He’s Alison’s husband, a father of (many) daughters, a small-town kid who got to travel the world, an overzealous Browns fan, an avid reader, an occasional backpacker, and he hates pickles and pigeons.</p>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="East Side Community Pastor" title="Lena Schuler" bg-overlay="true" image-src="//crds-media.imgix.net/3Bwa8gDJKiYDDHgrTgHtIv/5416cc0fbb6c121684c80850606c7c5a/leadership-lena-schuler.png?h=250">
          <p>Lena is the Community Pastor of Crossroads East Side and directs our ministry for 18-24 year olds (called…wait for it… 1824). She is just as fired up as ever for East Siders and young people to meet Jesus and use the gifts God has given them. For fun you might find her on a tennis court or pickleball court - she’s happy to challenge you to a match.</p>
          <crds-button href="https://www.instagram.com/lena_schuler/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/ltome" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="/media/authors/tim-senff" lead="Director of Site Leadership, Mason Community Pastor" title="Tim Senff" bg-overlay="true" image-src="//crds-media.imgix.net/63cQio6yHInHA9Ix6AC4u4/345615cbd9bbd1f8c2300f0c46e1f41f/TimSenff-114BW.jpg?h=250">
          <p>Tim is the Mason Community Pastor. Before Mason, he helped launch GO Trips and CityLink Center. Tim has a passion for traveling, sports, people, and most anything related to ice cream. He lives in Mason with his wife Mary and their four kids.</p>
          <crds-button href="https://www.instagram.com/timsenff/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/tim.senff" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Director of Generosity" title="Mark Stecher" bg-overlay="true" image-src="//crds-media.imgix.net/eSIL8sQ90REiyopLc6jEq/f10807d8c90e6f947bfa1512140c41bb/crossroads-mark-stetcher.jpg?h=250">
          <p>Mark had the privilege of developing Crossroads' 2nd site up in Mason, and now works with our Community Directors across all sites offering powerful experiences for people to meet God and other people. His interests range from golf and fishing, to pickle ball, movies and time with his family.</p>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Director of Studio" title="Matt Welty" bg-overlay="true" image-src="//crds-media.imgix.net/2iXVRcID9tMI0aa04bQqK0/e5b730eeeb671632210a1891c2140354/leadership-matt-welty.png?h=250">
          <p>Matt is the Director of the Studio at Crossroads, where he oversees Marketing, Design, Branding, Digital Products, and Insights while also spearheading digital strategy and innovation across the organization. Matt is a big believer in the positive transformative power of technology. Matt is married to Leah, an amazing mom and pediatrician. They have 3 super fun kids and the Weltys love all things outdoors, travel, and new experiences.</p>
        </crds-portrait-card>
      </div>

      <div class="col-md-4 push-bottom">
        <crds-portrait-card theme="expanded" text-color="white" href="#" lead="Engagement Multisite Director" title="Tierra Wade" bg-overlay="true" image-src="//crds-media.imgix.net/2hrgYOCeMud7S4N4un6ueA/111697559a57aee6ba34ae17b8eaed32/Wade_Tierra-2122.png?h=250">
          <p>Tierra heads our Engagement teams, managing both online and site teams. The team is passionate about assisting individuals on their spiritual paths and making Crossroads the easiest community to belong to. During weekends, you'll find her enjoying quality time with husband Josh and their two children, exploring nature, or socializing with friends.</p>
          <crds-button href="https://www.instagram.com/tierra.wade_/" target="_blank" color="white" display="outline" text="Follow on Instagram" icon="instagram" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
          <crds-button href="https://www.facebook.com/wade.tierra" target="_blank" color="white" display="outline" text="Follow on Facebook" icon="facebook" icon-color="white" icon-size="14" icon-align="left" ></crds-button>
        </crds-portrait-card>
      </div>
      
    </div>
  </div>
</section>
