.jumbotron--tall {
  @media (min-width: 767px) {
    padding-bottom: 280px;
  }
}

.collection-header {
  border-top-width: 2px;
  font-size: 1.4rem;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &.show {
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}

// Overwrite addthis styles on social icons
.addthis_default_style {
  .custom_images {
    a {
      font-size: 1.5rem;
      margin-bottom: 0;
      padding-top: .25rem;

      &:hover,
      &:active,
      &:active:hover,
      &:focus {
        text-decoration: none;
      }

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}

hr.hero {
  width: 31px;
  height: 3px;
  color: rgba($cr-white, 0.6);
  margin-left: 0;
}
