@mixin title-xlg {
  font-size: 5.5rem;
  line-height: 5rem;

  @media screen and (min-width: $screen-sm) {
    font-size: 7.5rem;
    line-height: 7rem;
  }
}

.jumbotron {
  &:not(.bg-blue) {
    background-color: transparent;
  }

  .font-size-base {
    &, p {
      font-size: $font-size-base; // 16px

      @media screen and (min-width: $screen-xs) {
        font-size: $font-size-large; // 19px
      }
    }
  }

  p {
    font-weight: unset;

    @media screen and (min-width: $screen-sm) {
      font-weight: 200;
    }
  }

  &.jumbotron-xl {
    margin-bottom: 3.5rem;

    &.soft-14-top {
      padding-top: 14rem;

      @media screen and (max-width: $screen-sm) {
        padding-top: 3rem;
      }
    }
    &.soft-2-bottom {
      padding-bottom: 2rem;
    }
  }

  .title-xlg {
    @include title-xlg;
  }

  .description {
    @extend .font-family-base;
    @extend .font-size-base;

    h1 {
      @extend .font-family-condensed-extra;
      @include title-xlg;

      font-family: $condensed-extra-font-face;
      font-weight: 500;
      margin-bottom: 6px;
      text-transform: uppercase;
    }

    p {
      font-weight: 300;
    }
  }
}

.jumbotron-media {
  background-color: $cr-blue !important;
  padding-bottom: 6rem;
  @media screen and (min-width: $screen-md) {
    padding-bottom: 4rem;
  }
  &:before {
    background-image: url('https://crds-media.imgix.net/1KLwsN6ilL7RO0xk6JzOsX/840e8b99340ff36bff67036909c4f856/texture-topo-dark-100_2x.png');
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }  
}

.header-content  {
  .media-header-form {
    color:  $cr-gray-light;
    background-color: $cr-gray-lightest;
    max-width: 360px;
    display: inline;

    @media screen and (min-width: $screen-xs) and (max-width: $screen-sm)  {
      max-width: 327px;
    }
  }

  .hs-input {
    @extend .media-header-form;
  }

  .hs-form-required {
    display: none;
  }

  .hs-richtext {
    @extend .tagline;
    font-size: 14px;
  }

  // Hubspot Success Message
  .submitted-message p {
    font-size: 1rem;
  }

  .btn-hs {
    margin-top: 0.625rem;
    margin-left: 0;

    @media screen and (min-width: $screen-xs) {
      margin-top: 0;
      margin-left: 0.625rem;
    }
  }
}

.hs-input {
  @extend .form-control;
}

.overlap-header {
  top: -5.25rem;

  @media screen and (min-width: $screen-md) {
    top: -7.5rem;
  }
}
