.locations .card img {
  width: 100%;
}

.distance.label {
  position: absolute;
  font-family: 'acumin-pro', sans-serif;
  font-size: .875rem;
  font-weight: 500;
  background-color: #FFF;
  letter-spacing: .5px;
  border-radius: 0;
}
