.media {
  .media-body {
    max-width: calc(100% - 6.25rem);
    @media (min-width: $screen-sm) {
      max-width: calc(100% - 8.75rem);
    }
  }

  .media-img {
    width: 6.25rem; // 100px
    @media (min-width: $screen-sm) {
      width: 8.75rem; // 140px
    }
  }
}

.media.featured {
  flex-direction: column;
  display: flex;
  padding-top: 0;

  .media-body {
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: block;
    flex-direction: column;
    overflow: visible;
    order: 2;
  }

  .media-img {
    width: 100%;
    @media (min-width: $screen-sm) {
      max-width: 22.5rem; // 360px
    }
  }
}
