.inline-preloader,
.inline-preloader-wrapper {
  position: static;
}

.preview {
  .inline-preloader {
    position: fixed;
    display: block;
    top: calc(20% - 37.5px);
    left: calc(50% - 37.5px);
  }

  .inline-preloader-wrapper {
    position: fixed;
    background-color: #ffffff;
    opacity: 1;
    z-index: 1;
  }
}