.chaser-rollcall {
  color: $cr-blue;
  border: 1px solid;
  border-color: darken($cr-blue-lighter, 5.8);
  border-top-color: transparent;
  position: relative;
  top: -20px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

    @media screen and (min-width: $screen-sm) {
      padding-left: 45px;
      padding-right: 45px;
    }

   @media screen and (min-width: $screen-sm) {
    .rollcall-inline {
      display: inline-block;
    }
  }

  @keyframes rotateInitLoadingSpinner {
    100% {
      transform:rotate(360deg);
    }
  }
  .preloader {
    display: block;
    top: calc(20% - 37.5px);
    left: calc(50% - 37.5px);
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: transparent;
    animation: rotateInitLoadingSpinner 700ms linear infinite;
  }

  .preloader-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .btn-group-stepper {
    display: inline-flex;

    &.btn-group-bar {
      > .btn {
        &:first-child:not(:last-child):not(.dropdown-toggle) {
          &,
          &:hover,
          &:focus,
          &:active {
            border-right-color: $btn-blue-border;
          }
        }

        &:not(.active).btn-blue {
          color: $cr-blue;
        }

        &:first-child,
        &:last-child {
          &:hover,
          &:hover:focus {
            background: darken($btn-blue-bg, 5);
            border-color: darken($btn-blue-border, 5);
            color: $cr-white;
          }

          &:focus {
            background: transparent;
            border-color: $btn-blue-border;
            color: $cr-blue;
          }
          &:active {
            background: $btn-blue-bg;
            border-color: $btn-blue-border;
            color: $cr-white;
          }
        }

        &:last-child {
          &,
          &:focus {
            border-color: $btn-blue-border;
          }

          &:hover,
          &:active {
            border-left-color: transparent;
          }
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .rollcall-row {
    display: inline-flex;
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 30px;

    .form-group {
      display: inline-flex;
      margin-bottom: 0;
      font-weight: 600;

      @media screen and (min-width: $screen-sm) {
        padding-left: 14px;
      }

      .rollcall-sentence {
        font-weight: 300;
      }
    }
  }

  .btn-icon {
    padding: .7rem 1.1rem;
  }

  .text-gray-light.help-block {
    font-style: normal;
    font-family: $font-family-base;
  }

  // 🛠 Refactor in DDK
  .error.help-block {
    text-align: unset;
  }

  .rollcall-success {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 9rem;
    margin: 0;

    @media screen and (min-width: $screen-sm) {
      padding-top: 4.5rem;
      padding-bottom: 6rem;
    }
  }
}

.triangle-up {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  top: -19px;
  border-left: 19px solid;
  border-right: 19px solid;
  border-bottom: 19px solid;
  border-color: transparent transparent darken($cr-blue-lighter, 5.8) transparent;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -14px;
    left: -17px;
    border: 17px solid;
    border-color: transparent transparent $cr-white transparent;
  }
}