.signoff {
  margin: 28px 0 45px;

  h1, h2, h3, h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
  }

  ul, ol {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;

    li {
      border-left: 3px solid $cr-blue;
      font-size: $base-font-size;
      line-height: 1.25;
      margin-bottom: 15px;
      padding: 5px 15px;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .signoff {
    ul, ol {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;

      li {
        flex: 1 1 33%;
        padding: 5px 20px;
      }
    }
  }
}