.topic-card-sizer {
  width: 100%;

  @media (min-width: $screen-sm) {
    width: calc(50% - 24px);
  }

  @media (min-width: $screen-md) {
    width: calc(33.333% - 16px);
  }
}

.topic-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $cr-white;
  margin-bottom: 24px;
  padding: 2rem 2rem 3rem;
  position: relative;
  width: 100%;

  @media (min-width: $screen-sm) {
    display: inline-block;
    width: calc(50% - 24px);
  }

  @media (min-width: $screen-md) {
    width: calc(33.333% - 16px);
  }
}

.topic-card-content {
  position: relative;
}

.topic-card-link {
  color: $cr-white;

  &:hover,
  &:focus {
    color: rgba($cr-white, .85);
    text-decoration: none;
  }

  .icon {
    vertical-align: middle;
  }
}

.topic-card-title {
  color: $cr-white;
  margin: 170px 0 1rem;

  a {
    &:hover,
    &:focus {
      color: rgba($cr-white, .85);
      text-decoration: none;
    }
  }
}

.topic-card-simple-title {
  color: $cr-white;
  margin: 119px 0 8rem;

  a {
    &:hover,
    &:focus {
      color: rgba($cr-white, .85);
      text-decoration: none;
    }
  }
}

.topic-card-simple {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $cr-white;
  margin-bottom: 24px;
  padding: 2rem 2rem 3rem;
  position: relative;
  /*width: 100%;*/
  display: inline-block;

  /*@media (min-width: $screen-xs) {
    width: 100%;
  }*/

  @media (min-width: $screen-sm) {
    width: calc(20% - 4px);
  }

  @media (min-width: $screen-md) {
    width: calc(20% - 4px);
  }

}

@media (min-width: 768px) {
  .card-deck--expanded-layout .card.topic-card-simple {
    max-width: 20%;
  }
}
