.text-orange {
  color: $cr-orange !important;
}

.text-orange-dark {
  color: $cr-orange-dark !important;
}

.text-gray {
  color: $cr-gray !important;
}

.text-gray-light {
  color: $cr-gray-light !important;
}

.text-gray-lighter {
  color: $cr-gray-lighter !important;
}

a.hover-text-gray-lighter:hover * {
  color: $cr-gray-lighter;
}

.blur {
  @extend .bg-overlay;
  top: 0;
  filter: blur(5px);
}

.bg-gray-dark {
  background-color: $cr-gray-dark !important;
}

.bg-black-50 {
  background-color: rgba($cr-black, 0.5);
}

.border-white-15 {
  border: 1px solid rgba($cr-white, 0.15);
}

.border-light-gray {
  border: 1px solid rgba($cr-gray-light, 0.3)
}

.white-faded {
  &,
  a {
    &,
    .jumbotron & {
      color: rgba($cr-white, 0.8);
    }
  }
}

.text-uppercase {
  &.font-size-smaller {
    font-size: 13px !important;
    letter-spacing: 0.5px;
  }
}

.font-size-giant {
  font-size: 48px;
  @media (min-width: $screen-sm) {
    font-size: 90px;
    line-height: 0.89;
  }
}

.font-family-base-mid {
  font-family: "acumin-pro", helvetica, arial, sans-serif;
  font-weight: 500;
}

.height-2 {
  height: 2rem;
}

.middle {
  vertical-align: middle;
}

.img-size-5 {
  min-width: 5rem;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.hard-bottom {
  padding-bottom: 0 !important;
}

// Bootstrap 4
.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-md-row {
  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}

svg.icon-small {
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}

.w-100 {
  width: 100% !important;
}
