// start crds-styles
$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/";
@function twbs-font-path($path) {
  @return $path;
}

@import 'crds-styles/assets/stylesheets/crds-styles';

@import 'fonts';
@import 'global';
@import 'utilities';
@import "components/modules";
@import "pages/modules";
@import 'preloader';
@import "vendor/sal";
@import "vendor/flickity";
@import "vendor/smart-banner";
