header {
  background-color: $cr-cyan;
  position: relative;
  top: 0;
  width: 100vw;
  z-index: 2;

  @supports (position: sticky) {
    position: fixed;
  }

  > div {
    @include container();

    padding: 0 $global-nav-padding;
    position: relative;
  }
}

.global-nav-items {
  display: flex;
  justify-content: space-between;
}

.global-actions,
.user-actions {
  display: flex;

  a {
    &:first-of-type {
      margin-right: 18px;
    }
  }
}

.logo {
  padding: 7px;

  svg {
    fill: $cr-white;
    height: 29px;
    width: 111px;
  }
}

.account,
.donate,
.menu,
.search {
  $size: 22px;

  height: $size;
  padding: 12px 0;
  width: $size;

  svg {
    height: $size;
    width: $size;
  }

  .account-authenticated {
    box-sizing: border-box;
    height: $size;
    width: $size;
    border-radius: 50%;
    border: 1.5px solid $cr-white;
    background-color: $cr-white;
    background-size: $size;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      filter: brightness(90%);
    }
  }
}

.close {
  $size: 26px;

  height: $size;
  padding: 9px 0;
  width: $size;

  svg {
    height: $size;
    width: $size;
  }
}

.account,
.close,
.donate,
.menu,
.search {
  display: block;

  svg {
    fill: $cr-white;
  }

  &:hover {
    svg {
      fill: darken($cr-white, 20);
    }
  }
}

$has-close-button: (
  menu-container: menu,
  profile-container: account,
  give-container: donate
);

@each $container, $icon in $has-close-button {
  // stylelint-disable a11y/no-display-none

  .#{$container} {
    .close {
      display: none;
      margin-right: -4px;
    }

    &.nav-is-showing {
      @media (min-width: $screen-md) {
        .#{$icon} {
          display: none;
        }

        .close {
          display: block;
        }
      }
    }
  }
}
