header {
  background-color: #0095d9;
  position: relative;
  top: 0;
  width: 100vw;
  z-index: 2;
}
@supports (position: sticky) {
  header {
    position: fixed;
  }
}
header > div {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  position: relative;
}

.global-nav-items {
  display: flex;
  justify-content: space-between;
}

.global-actions,
.user-actions {
  display: flex;
}
.global-actions a:first-of-type,
.user-actions a:first-of-type {
  margin-right: 18px;
}

.logo {
  padding: 7px;
}
.logo svg {
  fill: white;
  height: 29px;
  width: 111px;
}

.account,
.donate,
.menu,
.search {
  height: 22px;
  padding: 12px 0;
  width: 22px;
}
.account svg,
.donate svg,
.menu svg,
.search svg {
  height: 22px;
  width: 22px;
}
.account .account-authenticated,
.donate .account-authenticated,
.menu .account-authenticated,
.search .account-authenticated {
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1.5px solid white;
  background-color: white;
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
}
.account .account-authenticated:hover,
.donate .account-authenticated:hover,
.menu .account-authenticated:hover,
.search .account-authenticated:hover {
  filter: brightness(90%);
}

.close {
  height: 26px;
  padding: 9px 0;
  width: 26px;
}
.close svg {
  height: 26px;
  width: 26px;
}

.account,
.close,
.donate,
.menu,
.search {
  display: block;
}
.account svg,
.close svg,
.donate svg,
.menu svg,
.search svg {
  fill: white;
}
.account:hover svg,
.close:hover svg,
.donate:hover svg,
.menu:hover svg,
.search:hover svg {
  fill: #cccccc;
}

.menu-container .close {
  display: none;
  margin-right: -4px;
}
@media (min-width: 992px) {
  .menu-container.nav-is-showing .menu {
    display: none;
  }
  .menu-container.nav-is-showing .close {
    display: block;
  }
}

.profile-container .close {
  display: none;
  margin-right: -4px;
}
@media (min-width: 992px) {
  .profile-container.nav-is-showing .account {
    display: none;
  }
  .profile-container.nav-is-showing .close {
    display: block;
  }
}

.give-container .close {
  display: none;
  margin-right: -4px;
}
@media (min-width: 992px) {
  .give-container.nav-is-showing .donate {
    display: none;
  }
  .give-container.nav-is-showing .close {
    display: block;
  }
}