.hidden {
  display: none;
}

nav-section-subnav {
  font-family: "acumin-pro", helvetica, arial, sans-serif !important;
  font-weight: 300 !important;
  color: white;
}
nav-section-subnav div {
  padding: 30px 20px 0;
}
nav-section-subnav a {
  color: white;
  display: inline-block;
  font-size: 19px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
  text-transform: capitalize;
}
nav-section-subnav a.all {
  margin-bottom: 30px;
}
nav-section-subnav a:hover {
  color: #cccccc;
}
nav-section-subnav h2 {
  font-family: "acumin-pro-extra-condensed", sans-serif !important;
  font-weight: 500 !important;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
}
nav-section-subnav h4 {
  font-size: 11px;
  margin: 0 0 10px;
  opacity: 0.5;
  text-transform: uppercase;
}
nav-section-subnav ul {
  padding-left: 0;
  margin-top: 0;
}
nav-section-subnav ul li {
  list-style: none;
}
nav-section-subnav ul li.top-level a {
  padding-left: 0;
}
@media (min-width: 992px) {
  nav-section-subnav h2 {
    display: none;
  }
}
nav-section-subnav .back {
  font-size: 14px;
  padding-left: 0;
  position: relative;
}
@media (min-width: 992px) {
  nav-section-subnav .back {
    display: none;
  }
}
nav-section-subnav .back span {
  display: inline-block;
  height: 13px;
  margin-right: 8px;
  padding: 12px 0;
  position: relative;
  top: 1px;
  width: 7px;
}
nav-section-subnav .back svg {
  fill: white;
  height: 13px;
  width: 7px;
}