// stylelint-disable a11y/no-display-none, a11y/font-size-is-readable
.hidden {
  display: none;
}

nav-section-subnav {
  @include nav-items('main-nav');

  h2 {
    @media (min-width: $screen-md) {
      display: none;
    }
  }

  .back {
    $height: 13px;
    $width: 7px;

    font-size: 14px;
    padding-left: 0;
    position: relative;

    @media (min-width: $screen-md) {
      display: none;
    }

    span {
      display: inline-block;
      height: $height;
      margin-right: 8px;
      padding: 12px 0;
      position: relative;
      top: 1px;
      width: $width;
    }

    svg {
      fill: $cr-white;
      height: $height;
      width: $width;
    }
  }
}
