<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white">1994</h3>
    <p class="font-size-base">Jim Bechtold and Brian Wells were carpooling to and from work when they came up with an idea to start a church.</p>
  </div>
</div>

<div 
  class="flex-sm-row left timeline-item"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container">
    <img class="full-width block" src="//crds-media.imgix.net/2UKUGpwcJiPCUXeu8CQqZa/ded2c9bb4fa6b4ca4d8bb8d710b521ff/Photo_1995_2x.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white">January 1995</h3>
    <p class="font-size-base">A group of 11 friends began studying and dreaming about creating a church where their friends could explore their questions about God.</p>
  </div>
</div>


<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 510px;">
    <img class="full-width block" src="//crds-media.imgix.net/1f1Ugx1wg6gZfVXNHFR5fo/676d782de0c84652eb70cc1684d3830b/brian-tome-95.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white">Spring 1995</h3>
    <p class="font-size-base">Pastor Brian Tome saw an ad in the back of a magazine and applied for the role of senior pastor at an upstart church in Cincinnati. He moved to town with his family.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 475px;">
    <img class="full-width block" src="//crds-media.imgix.net/3G0HDZubserSGOyw3OSCpc/ebf093740d45b7d426b4e4a66c2d16c6/Image_March24_1996.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white">March 24, 1996</h3>
    <p class="font-size-base">The first public service for Crossroads Community Church of Hyde Park was held at People’s Middle School (now Clark Montessori) with attendance of about 450.</p>
  </div>
</div>
  
<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white">Early 1996</h3>
    <p class="font-size-base">Crossroads builds into its first nonprofit community partnership with City Gospel Mission Food Kitchen and Shelter in Over-the-Rhine. The financial commitment was more than the church expected to be able to handle but a large anonymous check helped make it happen.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white">1997-1998</h3>
    <p class="font-size-base">Crossroads added a second Sunday service and then a Saturday night service where Brian Tome once donned a Saturday Night Fever costume. A third Sunday service was added in 1998.</p>
  </div>
</div>


<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 460px;">
    <img class="full-width block" src="//crds-media.imgix.net/5NQjHRVvLNAqgb94vrx41S/3072ffaef7cc59ec84c2797f3a18a1e2/Image_1999.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white">1999</h3>
    <p class="font-size-base">The search for a permanent space began and eventually became focused on the Home Quarters building in Oakley. Four board members and their families signed over their homes and a team went to New York City to bid in an auction for the space against national competition. They successfully purchased the building for the amount they had set and quickly received offers to sell for two to three times more.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 335px;">
    <img class="full-width block" src="//crds-media.imgix.net/4xyBv64WHeE2xVK9tPvttG/1520b018199e247b8ac635552a621c33/Image_Spring2000.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white">Spring 2000</h3>
    <p class="font-size-base">Volunteers began contacting everyone in the Crossroads community to rally them around the vision for turning the warehouse building into a permanent location for Crossroads. </p>
  </div>
</div>
