<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">September 11, 2001</h3>
    <p class="font-size-base">Before the first seat was installed in the Oakley auditorium the first unofficial service took place as hundreds gathered, seated on five-gallon buckets and boards, to pray.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">December 2001</h3>
    <p class="font-size-base">Crossroads held its first weekend service in its Oakley building that had 1,200 seats and space for 225 children.</p>
  </div>
</div>


<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2002</h3>
    <p class="font-size-base">A financial campaign to expand the building and accommodate growth began and the vision for Crossroads’ impact in the communities where it’s located was developed.</p>
  </div>
</div>

<div 
  class="timeline-item left timeline-item-mt-n5p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 527px;">
    <img class="full-width block" src="//crds-media.imgix.net/3QOLd487mfQM4xcGXBk0WN/4177d0dcf365607987dfb0ac34c9a51c/Image_Feb2002.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">February 2002</h3>
    <p class="font-size-base">Crossroads hosted its first Super Bowl of Preaching, which is now known as the Biggest Preach-Off in the USA. </p>
  </div>
</div>


<div 
  class="timeline-item right timeline-item-mt-n3p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2002</h3>
    <p class="font-size-base">Crossroads helped launch the Wheels ministry, which provides vehicles to individuals in need. To date the program has given away nearly 1,300 vehicles.  Wheels has been spun off as its own nonprofit and Crossroads is still involved along with other church partners.</p>
  </div>
</div>

<div 
  class="timeline-item left timeline-item-mt-n3p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container">
    <img class="full-width block" src="//crds-media.imgix.net/5O0100cJj86kd9QP07XUGu/d380032e3df38f9bc7b5ed4e4894b606/Image_2004.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2004</h3>
    <p class="font-size-base">Crossroads launched a financial initiative, the Crazy Campaign, that was focused on not only building expansion in Oakley but funding and construction of the largest AIDS hospice in South Africa, development of the CityLink Center, and creation of a website launch to share content with other churches. The Oakley building was expanded to seat 3,500 people in the auditorium and space for kids was expanded to two floors.</p>
  </div>
</div>


<div 
  class="timeline-item right timeline-item-mt-n15p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2005</h3>
    <p class="font-size-base">Crossroads began building global partnerships that led to the development of GO Trips to South Africa and India. The trips provide an opportunity to serve and get to know the people and culture in those communities that are cared for. Trips to New Orleans also began following Hurricane Katrina.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container">
    <img class="full-width block" src="//crds-media.imgix.net/56r4EraZAUOJ9rKxHfPKE3/f8e2a9cf3fe3d758afd1700b67321a51/Image_Spring2005.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">Spring 2005</h3>
    <p class="font-size-base">GO Cincinnati, which is now GO Local, was launched to send Crossroads community members out to serve local schools, nonprofits, and people in need in the neighborhoods where they live.</p>
  </div>
</div>


<div 
  class="timeline-item right timeline-item-mt-n5p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2005</h3>
    <p class="font-size-base">Crossroads partnered with Compassion International to sponsor thousands of children in Nicaragua as well as Amigos for Christ to bring life-giving clean water to people living in rural villages there.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2006</h3>
    <p class="font-size-base">Crossroads launched its multi-site strategy with the opening of Crossroads Mason in a rented space inside a school building. Crossroads Florence was actually the second site to open in a permanent location when a former Pottery Barn building became available</p>
  </div>
</div>


<div 
  class="timeline-item right timeline-item-mt-n12p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 335px;">
    <img class="full-width block" src="//crds-media.imgix.net/4lbWa40D71nFqrUx6355fs/5e6db042be6c5a0f8f9781ee64db4396/Img_Dec2006.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">December 2006</h3>
    <p class="font-size-base">Awaited, a unique artistic telling of the Christmas story, launched at Crossroads Oakley. It would grow to reach hundreds of thousands of people in Greater Cincinnati.</p>
  </div>
</div>

<div 
  class="timeline-item left timeline-item-mt-n8p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 415px;">
    <img class="full-width block" src="//crds-media.imgix.net/4IBueq8zrSUKhZhtGRslV0/b699a11f1086c7cdebc8f17fb0881dbe/Image_2010.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2010</h3>
    <p class="font-size-base">The Game Change campaign began that allowed Crossroads to purchase a former school building to create Crossroads West Side.</p>
  </div>
</div>


<div 
  class="timeline-item right timeline-item-mt-n5p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">September 2011</h3>
    <p class="font-size-base">CityLink Center broke ground in the West End.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2014</h3>
    <p class="font-size-base">Crossroads launched a first-of-its-kind faith-based startup accelerator for entrepreneurs called OCEAN.</p>
  </div>
</div>
