<div 
  class="timeline-item right timeline-item-mt-n18p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 475px;">
    <img class="full-width block" src="//crds-media.imgix.net/ef8S6BHIy7spR9PeCuogG/5e7f7d9eac43ef812226b5e454b59926/Image_2015_2.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2015</h3>
    <p class="font-size-base">Crossroads Teaching Pastor Chuck Mingo and a group of volunteers launched UNDIVIDED, a six-week spiritual journey that brings people together for meaningful conversation and experiences that can lead to growth and heal the racial divide.</p>
  </div>
</div>

<div 
  class="timeline-item left timeline-item-mt-n5p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2015</h3>
    <p class="font-size-base">Crossroads launched Man Camp, which eventually grew into a portfolio of camps including Woman Camp, Couples Camp, Vet Camp, and other camps hosted on 450 acres of land east of Cincinnati.</p>
  </div>
</div>


<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2015-2018</h3>
    <p class="font-size-base">The I’m In Campaign was launched with a focus on growing the Crossroads Anywhere online church community, as well as physical expansion in Columbus, Dayton, and the east side of Cincinnati. Seven prison locations were also planned as part of the expansion, which led to the development of the Four-Seven prison ministry.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 335px;">
    <img class="full-width block" src="//crds-media.imgix.net/4n1Dg27tn7KxThRj7CVRBt/96cd03507a73b2a55f9de54a860c7e43/timeline-crossroads-christian-church-min.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2016</h3>
    <p class="font-size-base">Crossroads Church adopted Central Kentucky-based Crossroads Christian Church.</p>
  </div>
</div>


<div 
  class="timeline-item right timeline-item-mt-n18p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 335px;">
    <img class="full-width block" src="//crds-media.imgix.net/3lAj2CiUZ2Dt1QxVNLxXRb/fec42a32f3c343e279e5f61e6821b235/Image_Summer2016.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">Summer 2016</h3>
    <p class="font-size-base">Crossroads’ plan to develop community in small groups became a focus.</p>
  </div>
</div>

<div 
  class="timeline-item left timeline-item-mt-n10p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 500px;">
    <img class="full-width block" src="//crds-media.imgix.net/5prpC5XjVqD4mbdiCPM8Uu/77888dbca2feacedc0ffd46f05cd8172/Image_2016.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2016</h3>
    <p class="font-size-base">Crossroads Uptown and Oxford were launched as church leaders came to realize that half of all Cincinnati college students stay in the region after they graduate and felt a push to invest in them and their faith.</p>
  </div>
</div>


<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">January 2018</h3>
    <p class="font-size-base">Crossroads East Side opened in a former retail space.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2019</h3>
    <p class="font-size-base">Crossroads’ online church expansion continued and strategies were created for streaming online including TV, YouTube, and partnerships. </p>
  </div>
</div>


<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">December 2019</h3>
    <p class="font-size-base">Awaited debuted at the Aronoff Center as a Broadway production for the first time.</p>
  </div>
</div>

<div 
  class="timeline-item left"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2019-2020</h3>
    <p class="font-size-base">Crossroads partnered with RIP Medical Debt to forgive $49.14 million in medical debt for people near the church’s locations. </p>
  </div>
</div>


<div 
  class="timeline-item right"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 475px;">
    <img class="full-width block" src="//crds-media.imgix.net/2Rkwjmq6MjFYqGCpnEe3q8/0257609720cbd67d429c412981b745e7/Image_2020.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">2020</h3>
    <p class="font-size-base">The Covid-19 pandemic led to building closures and a new vision for what church will look like in the future as online church exploded. Outdoor worship was held at Sawyer Point to mobilize the Cincinnati community as well as in Georgetown and Lexington, while efforts to support frontline workers, teachers, and those in need as a result of the pandemic were ongoing. </p>
  </div>
</div>

<div 
  class="timeline-item left timeline-item-mt-n18p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 325px;">
    <img class="full-width block" src="//crds-media.imgix.net/4RaXXUH3UvT6s2a4UKCYPU/feb64b558e356f711fadd7fc499d22a7/Image_Summer2020.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">Summer 2020</h3>
    <p class="font-size-base">Crossroads rebranded to match its mission of serving as a Spiritual Outfitter and guiding people on their spiritual adventure of following Jesus. </p>
  </div>
</div>


<div 
  class="timeline-item right timeline-item-mt-n5p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container"  style="max-width: 510px;">
    <img class="full-width block" src="//crds-media.imgix.net/3GSi4B4lPhwsvoNeBImxdp/1a925cc1604d87f506bbaacde8f1a536/Img_Undivided.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">Fall 2020</h3>
    <p class="font-size-base">UNDIVIDED became a separate nonprofit organization that is growing nationally through partnerships with churches and corporations across the U.S. Crossroads remained a key partner, contributing $1 million per year to its mission.</p>
  </div>
</div>

<div 
  class="timeline-item left timeline-item-mt-n8p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 500px;">
    <img class="full-width block" src="//crds-media.imgix.net/6WIBIwjCLMYxKnLHNYrLUN/ff7dc9f7b2651a0417860e4c48f977c9/Image_Dec2020.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">December 2020</h3>
    <p class="font-size-base">Crossroads produced its first televised Christmas Special featuring Amy Grant and Lecrae that targeted a national audience and was seen by more than 8 million people.</p>
  </div>
</div>


<div 
  class="timeline-item right timeline-item-mt-n15p"
  data-sal="fade"
  data-sal-easing="ease-in-out-cubic"
>
  <div class="timeline-item-img-container" style="max-width: 255px;">
    <img class="full-width block" src="//crds-media.imgix.net/2Xd26wYw8eKrudKWju5mPW/2c1d82bc1d4df4d23da876b6db726c62/Image_March2021.png?{{ site.imgix_params.placeholder }}" data-optimize-img/>
  </div>
  <div class="timeline-item-text">
    <h3 class="font-family-condensed-extra text-uppercase text-white flush-top">March 2021</h3>
    <p class="font-size-base">Crossroads celebrates its 25th anniversary! Who knows what God has planned for Crossroads for the next 25 years, but it will remain focused on connecting seekers to a community of growing Christ-followers who are changing the world.</p>
  </div>
</div>
