.ctas {
  font-family: "acumin-pro", helvetica, arial, sans-serif !important;
  font-weight: 300 !important;
  padding: 40px 20px 0;
}
@media (max-width: 992px) {
  .ctas {
    width: calc(100vw - 40px);
  }
}
@media (min-width: 992px) {
  .ctas {
    padding: 70px 0 0;
  }
}
.ctas h3 {
  font-size: 11px;
  margin-top: 0;
  opacity: 0.5;
  text-transform: uppercase;
}

.cta {
  background-color: rgba(21, 21, 21, 0.8);
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
}
.cta-image {
  height: 75px;
}
.cta-image img {
  height: 75px;
  width: 100px;
}
.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}
.cta-content h4 {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.cta-content h4,
.cta-content p {
  margin: 0;
}
.cta-content p {
  color: #979797;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}
.cta:hover-content h4 {
  color: #cccccc;
}

.more-updates {
  color: #0095d9;
  font-size: 12px;
  text-decoration: none;
  text-transform: capitalize;
}