// stylelint-disable a11y/font-size-is-readable

.ctas {
  @include font-family-base;

  padding: 40px 20px 0;

  @media (max-width: $screen-md) {
    width: calc(100vw - 40px); // view width - (left and right padding)
  }

  @media (min-width: $screen-md) {
    padding: 70px 0 0;
  }

  h3 {
    font-size: 11px;
    margin-top: 0;
    opacity: .5;
    text-transform: uppercase;
  }
}

// ---------------------------------------------------------

.cta {
  background-color: rgba(21, 21, 21, .8);
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;

  &-image {
    $height: 75px;

    height: $height;

    img {
      height: $height;
      width: 100px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    width: 100%;

    h4 {
      color: $cr-white;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }

    h4,
    p {
      margin: 0;
    }

    p {
      color: $cr-gray-light;
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
    }
  }

  &:hover {
    &-content {
      h4 {
        color: darken($cr-white, 20);
      }
    }
  }
}

// ---------------------------------------------------------

.more-updates {
  color: $cr-cyan;
  font-size: 12px;
  text-decoration: none;
  text-transform: capitalize;
}
