nav-section {
  a {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 15px 20px;

    @media (min-width: $screen-md) {
      height: 96px;
      justify-content: center;
      margin-bottom: 0;
      position: relative;
      width: 86%;
    }

    &::after {
      $size: 63px;

      border-color: transparent transparent transparent $cr-cyan;
      border-style: solid;
      border-width: $size 0 $size 50px;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 0;
    }

    &::before {
      background-color: $cr-cyan;
      content: '';
      display: inline-block;
      height: 100%;
      left: 0;
      position: absolute;
    }

    &:hover {
      @media (min-width: $screen-md) {
        &::before {
          width: 4px;
        }
      }
    }

    &.is-active {
      @media (min-width: $screen-md) {
        &::after {
          left: 100%;
          transition: left .4s ease;
          visibility: visible;
        }

        &::before {
          transition: width .4s ease;
          width: 100%;
        }
      }
    }

    h2 {
      @include font-family-condensed-extra;

      display: flex;
      font-size: 48px;
      justify-content: space-between;
      line-height: .6;
      margin: 0;
      position: relative;
      text-transform: uppercase;

      &::after {
        @media (max-width: $screen-md) {
          $height: 22px;
          $width: 12px;

          background-image: url('/assets/images/chevron-right-light.svg');
          background-size: $width $height;
          content: '';
          display: flex;
          height: $height;
          position: absolute;
          right: 0;
          top: 20%;
          width: $width;
        }
      }
    }

    // stylelint-disable a11y/font-size-is-readable
    p {
      font-size: 14px;
      margin: 12px 0 0;
      opacity: .7;
    }
  }
}
