---
layout: default
title: Articles
---

{% assign author = page.author | get_doc %}
{% assign topic = page.category | get_doc %}
{% assign tags = page.tags | get_doc %}

<article class="article-tpl">
  <header style="background-image: url('{% if page.image.url %}{{ page.image.url | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img data-hero-image>
    <div class="bg-overlay"></div>
    <div class="container mobile-soft-half-bottom soft-bottom">
      <div class="row mobile-soft-half-bottom soft-half-bottom">
        <div class="col-md-8 col-md-offset-2">
          <ol class="breadcrumb text-white hard-left">
            <li><a href="/">Media</a></li>
            <li><a href="/articles">Articles</a></li>
          </ol>
          <h1 class="text-white flush-top" data-title>{{ page.title | escape | upcase }}</h1>
          <p class="flush-bottom soft-half-top">{% if topic %}<a href="{{ topic.url }}">{{ topic.title | upcase | append: '  |  ' }}</a>{% endif %}{% include media/_read-time.html content_type=page %}</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% if page.preview %}
      <main class="col-md-8 col-md-offset-2" data-body></main>
      {% else %}
      <main class="col-md-8 col-md-offset-2">
        {% if page.lead_text %}
        <p class="lead">{{ page.lead_text }}</p>
        {% endif %}

        {{ page.body | markdownify }}
      </main>
      {% endif %}

      {% if site.sign_off %}
        <div class="col-md-8 col-md-offset-2">
          <section class="signoff">
            {{ site.sign_off.body | markdownify }}
          </section>
        </div>
      {% endif %}

      {% if page.discussion %}
      {% assign discussion = page.discussion | get_doc %}
      <div class="col-md-8 col-md-offset-2 soft-top">
        {% include media/_discussion-questions.html discussion=discussion %}
      </div>
      {% endif %}

      <footer class="col-md-8 col-md-offset-2">
        <p class="flush-bottom">Written by <a href="{{ author.url }}" data-author-name>{{ page.author.full_name | titleize }}</a></p>
        <date data-post-date>{{ page.date | format_date }}</date>

        <div class="soft-top">
          {% include media/_social-share.html %}
        </div>

        <!-- Topic -->
        {% if topic %}
          <div class="keywords">
            <p class="flush-bottom soft-top">
              <strong>Topic</strong>
            </p>
            <ul class="list-inline">
              <li>
                <a href="{{ topic.url }}">{{ topic.title }}</a>
              </li>
            </ul>
          </div>
        {% endif %}

        <!-- Tags -->
        {% include media/_tags_list.html tags=page.tags %}

        <section class="soft-top">
          <header class="more-media-header">
            <h3>recent articles</h3>
            <a class="font-size-small" href="/articles">See all articles</a>
          </header>

          <div class="soft-half-top">
            <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-card-deck>
              <div class="feature-cards feature-cards-3x">
                {% assign limited = site.articles | sort: 'date' | reverse | exclude: page.title | slice: 0, 3 %}
                {% for post in limited %}
                  {% include media/_article-card.html %}
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
  </div>
</article>
