<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  {% include _head.html %}
  <body class="{% if page.path == 'preview.html' %}preview{% endif %} crds-styles relative">
    {% include _facebook_noscript.html %}
    {% include _monetate-body.html %}

    {% javascript_link_tag application_deferred async %}
    {% include header.html %}
    <div>
      {{ content }}
    </div>
    {% include footer.html %}

    {% include _subscribe-modal.html %}
    {% if page.title == "Atrium Events" %}
      {% javascript_link_tag events async %}
    {% endif %}

    {% if page.preloader %}{% include _preloader.html %}{% endif %}

    {% include _footer-script.html %}
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3993985.js"></script>
    <!-- End of HubSpot Embed Code -->
    <!-- Start of Accessibe Embed Code -->
    <script> (function(){ var s = document.createElement('script'); var h = document.querySelector('head') || document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, disableBgProcess : false, language : 'en', position : 'right', leadColor : '#146FF8', triggerColor : '#146FF8', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'people', triggerSize : 'bottom', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 10, triggerOffsetY : 10, triggerRadius : '20' } }); }; h.appendChild(s); })(); </script>
    <!-- End of Accessibe Embed Code -->
  </body>
</html>
