<!DOCTYPE html>
<html lang="en">
{% include _head.html %}

<body class="crds-styles">
  {% include _gtm-body.html %}
  {% if page.requires_auth %}
  {% include _preloader.html %}
  {% endif %}
  {{ content }}
  {% include _monetate-body.html %}
  <script>
    var CRDS = {
      media: {
        cms: '{{ site.shared_header.cms }}',
        app: '{{ site.shared_header.app }}',
        img: '{{ site.shared_header.img }}',
        prefix: '{{ site.shared_header.prefix }}'
      },
      streamspotId: '{{ site.streamspotId }}',
      streamspotKey: '{{ site.streamspotKey }}',
      streamspotPlayerId: '{{ site.streamspotPlayerId }}',
      env: {
        "gatewayServerEndpoint": '{{ site.gateway_server_endpoint }}'
      }
    };
  </script>
  {% javascript_link_tag application %}
  {% javascript_link_tag application_deferred async %}
  {% if page.masonry_js %}
  {% javascript_link_tag masonry_deferred async %}
  {% endif %}

  {% if page.title == "Atrium Events" %}
    {% javascript_link_tag events async %}
  {% endif %}

  <script>


    
      var config = {
        key: '224f523d-e1ba-4f96-ad4d-96365f461c93',
        playback: {
          autoplay: true,
          muted: true
        },
        cast: {
          enable: 'true',
        },
        source: {
          // dash: 'https://bitmovin-a.akamaihd.net/content/MI201109210084_1/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd',
          hls: 'https://player.vimeo.com/external/316390612.m3u8?s=275ebce0b8b3c1851807d25e658a6e64a11e64db',
          // progressive: ' https://bitmovin-a.akamaihd.net/content/MI201109210084_1/MI201109210084_mpeg-4_hd_high_1080p25_10mbits.mp4',
          // progressive: 'https://crossroads-media.s3.amazonaws.com/bitmovin/per-title-comparison/ae2c9fc3-7c8c-4eb1-b7b1-a08bb743ec5b/db47a160-24c6-11e9-913e-f775238e61b4/2019-01-30T19%3A40%3A11Z/standard/7800000/Crossroads-2018-Super-Bowl-of-Preaching.mp4-1080p.mp4',
          poster: 'https://crds-cms-uploads.imgix.net/content/images/crossroads-superbowl-header-date.png'
        },
        analytics: {
          key: 'f89517d5-4fa9-4a64-a9e7-43c9bf51205f',
          videoId: 'adfb8bfe-270b-4fa4-98db-59b83215dc67',
          title: 'A descriptive video title'
        },
        style: {
          // width: '90%',
          aspectratio: '16/9',
          ux: true
        },
      };
      
      var player = bitmovin.player('my-player');
      bitmovin.analytics.augment(player);
      
      player.setup(config).then(
        function(value) {
          // Success
          console.log('Successfully created bitmovin player instance');
        },
        function(reason) {
          // Error!
          console.log('Error while creating bitmovin player instance');
        }
      );
  </script>

  <script>
  $(document).ready(function(){
         function getdate(){
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
             if(s<10){
                 s = "0"+s;
             }

            //#t=1m2s
            $("h1#clock").text(m+"m"+s+"s");
            // $("#vimeoPlayer").attr("src", "https://player.vimeo.com/video/316390612?autoplay=1&muted=1#" + m+"m"+s+"s");
             setTimeout(function(){getdate()}, 500);
            }

            

        $("button#startClock").click(getdate);
    });
</script>



</body>

</html>
