---
layout: default
---

<!-- Pull only the promos that exist for the specific location if any -->
{% assign location_happenings = site.promos | where: "target_audience", page.name | sort: "date" | reverse %}
{% assign series = site.series | last %}
{% include header.html %}

<!-- Resi Player -->
{% include _resi-player.html %}

<!-- Featured Section -->
{% if page.featured_section.size > 0 %}
  <div class="overflow-hidden">
    {{ page.featured_section }}
  </div>
{% endif %}

<!-- Jumbotron section -->
<section class="jumbotron locations-jumbotron flush-bottom width-100" style="background-image: url('{{ page.bg_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')"
  id="location-page"  
  data-optimize-bg-img>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row location-title-row" style="background-image: url('{{ page.bg_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img>
      <div class="bg-overlay"></div>
      <div class="col-sm-12 push-ends mobile-soft-sides">
        <div>
          <span class="font-family-base text-uppercase text-white">
            <strong>welcome to</strong>
          </span>
          <h1 class="flush-ends font-family-condensed-extra text-uppercase">Crossroads <br />{{ page.name }}</h1>
        </div>
      </div>
    </div>
    <div class="row location-info-row">
      {% include _location-info.html %}
    </div>
  </div>
</section>

<!-- Featured Section - Below Jumbotron -->
{% if page.featured_below.size > 0 %}
  {{ page.featured_below }}
{% endif %}



<!-- Modal -->
<div aria-labelledby="Subscribe email form" class="modal fade" id="subscribeModalForm" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-gray-lightest">
      <div class="modal-header hard-bottom"><button aria-label="Close" class="close pull-right" data-dismiss="modal"
          type="button"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left hard-bottom">
        <h4 class="font-family-condensed-extra text-uppercase soft-half-bottom text-blue">Stay in the know.
          <br />Get
          the latest Crossroads updates.</h4>
        <div class="form" data-role="hsform">
          <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        </div>
      </div>
      <div class="modal-footer">&nbsp;</div>
    </div>
  </div>
</div>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: "3993985",
    formId: "{{ page.hubspot_form_id }}",
    css: "",
    target: "[data-role=hsform]",
    formInstanceId: 1,
    onFormReady($form, ctx) {
      $('fieldset[data-reactid=".hbspt-forms-0.1:$0"]').removeClass('form-columns-2');
      $('fieldset[data-reactid=".hbspt-forms-0.1:$1"]').removeClass('form-columns-2');
      $('input[data-reactid=".hbspt-forms-0.1:$0.1:$firstname.$firstname.0"]').attr('placeholder', 'First name')
      $('input[data-reactid=".hbspt-forms-0.1:$0.1:$lastname.$lastname.0"]').attr('placeholder', 'Last name')
      $('input[data-reactid=".hbspt-forms-0.1:$1.1:$email.$email.0"]').attr('placeholder', 'Email')
      $('input[data-reactid=".hbspt-forms-0.1:$1.1:$mobilephone.$mobilephone.0"]').attr('placeholder', 'Phone number')
      $('label[data-reactid=".hbspt-forms-0.1:$0.1:$firstname.0"]').hide()
      $('label[data-reactid=".hbspt-forms-0.1:$0.1:$lastname.0"]').hide()
      $('label[data-reactid=".hbspt-forms-0.1:$1.1:$email.0"]').hide()
      $('div[data-reactid=".hbspt-forms-0.1:$1.1:$email.$email"]').addClass('flush-right')
      $('span[data-reactid=".hbspt-forms-0.1:$1.1:$mobilephone.0.0"]').hide()
    }
  });
</script>

{% include footer.html %}
