---
layout: default
---

<!-- Pull only the promos that exist for the specific location if any -->
{% assign location_happenings = site.promos | where: "target_audience", page.name | sort: "date" | reverse %}
{% assign series = site.series | last %}
{% include header.html %}

<!-- Resi Player -->
{% assign locations_with_live_stream =  "oakley, florence, mason, eastside, westside, lexington, uptown" | split: ", "%}
{% for location in locations_with_live_stream %}
  {% if page.slug == location %}
    <section class="bg-blue" id="resi-player">
      <div class="container">
        <div class="row text-center push-top">
          <h2 class="flush-top font-family-condensed-extra font-size-h2 text-uppercase text-white">Welcome to Crossroads {{ page.name }}</h2>
        </div>
        <div class="row push-ends">
          <div class="col-sm-10 col-sm-offset-1">
            <div id="resi-video-player" data-embed-id="d3ebebe0-b605-48ab-a6e8-b9f3ef201b4e"></div>
            <script type="application/javascript" src="https://control.resi.io/webplayer/loader.min.js"></script>
          </div>
        </div>
        <div class="row text-center text-white push-bottom">
          <p class="flush-bottom font-size-small text-uppercase">You're watching the</p>
          <h3 class="flush-top font-family-condensed-extra font-size-h2 text-uppercase text-white">Crossroads Live Weekend</h3>
          <a class="text-orange" href="javascript:void(0)" data-smooth-scroll-to="happenings" data-smooth-scroll-offset="50">View events & happenings at your location</a>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}

<!-- Featured Section -->
{% if page.featured_section.size > 0 %}
  <div class="overflow-hidden">
    {{ page.featured_section }}
  </div>
{% endif %}

<!-- Jumbotron section -->
<section class="jumbotron jumbotron-xl locations-jumbotron flush-bottom width-100" style="background-image: url('{{ page.bg_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')"
  id="location-page"  
  data-optimize-bg-img>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 push-ends mobile-soft-sides">
        <div>
          <span class="font-family-base text-uppercase text-white">
            <strong>welcome to</strong>
          </span>
          <h1 class="font-family-condensed-extra text-uppercase">Crossroads <br />{{ page.name }}</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        
        <div class="col-sm-4 text-left push-bottom">
          <p class="flush font-family-base-bold font-size-small text-uppercase">Service Times</p>
          <p class="flush font-size-small">{{ page.service_times | markdownify | remove: '<p>'| remove: '</p>' }}</p>
        </div>
        <div class="col-sm-4 text-left push-bottom">
          <p class="flush text-uppercase font-family-base-bold font-size-small">Address</p>
          <p class="flush font-family-base font-size-small">{{ page.address | markdownify | remove: '<p>' | remove: '</p>' }}</p>
          <a href="{{ page.map_url }}" class="text-orange" target="_blank">Get directions</a>
        </div>
        
        <div class="align-items-center col-sm-4 d-flex text-left">
          <div>
            <p class="flush text-uppercase font-family-base-bold font-size-small">Leadership</p>
            <p class="flush font-family-base font-size-small">{{ page.community_pastor_name }}</p>
            <p class="flush font-family-base font-size-small">{{ page.name }} Community Pastor</p>
            {% assign pastor_full_name = page.community_pastor_name | split: " " %}
            <a class="text-orange">More about {{ pastor_full_name[0] }}</a>
          </div>
          <div class="push-left">
            <img class="img-border img-circle img-size-4" src="{{ page.community_pastor_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}"
            sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 push-top">
        {% if page.care_link %}
        <crds-button class="push-half-right" href="{{ page.care_link }}" color="white" display="outline"
          text="Request care"></crds-button>
        {% endif %}
        {% if page.hubspot_form_id %}
        <crds-button class="push-half-right" data-target="#subscribeModalForm" data-toggle="modal" href="" color="white"
          display="outline" text="Subscribe for updates"></crds-button>
        <div aria-labelledby="Subscribe email form" class="modal fade" id="subscribeModalForm" role="dialog" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content bg-gray-lightest">
              <div class="modal-header hard-bottom"><button aria-label="Close" class="close pull-right" data-dismiss="modal"
                  type="button"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body text-left hard-bottom">
                <h4 class="font-family-condensed-extra text-uppercase soft-half-bottom text-blue">Stay in the know.
                  <br />Get
                  the latest Crossroads updates.</h4>
                <div class="form" data-role="hsform">
                  <!--[if lte IE 8]>
                                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                                      <![endif]-->
                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                </div>
              </div>
              <div class="modal-footer">&nbsp;</div>
            </div>
          </div>
        </div>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "3993985",
            formId: "{{ page.hubspot_form_id }}",
            css: "",
            target: "[data-role=hsform]",
            formInstanceId: 1,
            onFormReady($form, ctx) {
              $('fieldset[data-reactid=".hbspt-forms-0.1:$0"]').removeClass('form-columns-2');
              $('fieldset[data-reactid=".hbspt-forms-0.1:$1"]').removeClass('form-columns-2');
              $('input[data-reactid=".hbspt-forms-0.1:$0.1:$firstname.$firstname.0"]').attr('placeholder', 'First name')
              $('input[data-reactid=".hbspt-forms-0.1:$0.1:$lastname.$lastname.0"]').attr('placeholder', 'Last name')
              $('input[data-reactid=".hbspt-forms-0.1:$1.1:$email.$email.0"]').attr('placeholder', 'Email')
              $('input[data-reactid=".hbspt-forms-0.1:$1.1:$mobilephone.$mobilephone.0"]').attr('placeholder', 'Phone number')
              $('label[data-reactid=".hbspt-forms-0.1:$0.1:$firstname.0"]').hide()
              $('label[data-reactid=".hbspt-forms-0.1:$0.1:$lastname.0"]').hide()
              $('label[data-reactid=".hbspt-forms-0.1:$1.1:$email.0"]').hide()
              $('div[data-reactid=".hbspt-forms-0.1:$1.1:$email.$email"]').addClass('flush-right')
              $('span[data-reactid=".hbspt-forms-0.1:$1.1:$mobilephone.0.0"]').hide()
            }
          });
        </script>
        {% endif %}
        <crds-button class="push-half-right" href="//www.facebook.com/crsrds{{ page.slug | downcase }}" color="white"
          display="outline" icon="facebook" icon-align="left" icon-color="white" icon-size="16" text="Follow"></crds-button>
        <crds-button href="//www.instagram.com/crsrds{{ page.slug | downcase }}" color="white" display="outline"
          icon="instagram" icon-align="left" icon-color="white" icon-size="16" text="Follow"></crds-button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <crds-tabs tabs='["events & updates", "community pastor", "about", "kids & students", "volunteer"]'>
          <div slot="tab-events-updates">
            <div class="col-xs-12 col-sm-6 soft">
              <a href="{{ series.url }}" title="{{ series.title }}">
                <img class="img-full-width"
                  src="{% if series.image.url %}{{ series.image.url | imgix: site.imgix }}{% else %}{{ site.default_image }}{% endif %}?{{ site.imgix_params.placeholder_sixteen_nine}}"
                  alt="{{ series.title }}" sizes="{{ site.image_sizes.full_width }}" data-optimize-img>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 soft">
              <label
                class="text-orange text-uppercase">Current
                Series</label>
              <h2 class="font-family-condensed-extra text-uppercase flush">{{ series.title }}</h2>
              <div class="push-half-top push-bottom font-size-small text-gray-dark">
                {{ series.description | markdownify }}
              </div>
              <crds-button href="{{ series.url }}" title="{{ series.title }}" text="Watch current teaching series" color="orange"></crds-button>
            </div>
          </div>
          <div slot="tab-community-pastor">
            community pastor tab content
          </div>
          <div slot="tab-about">
            about tab content
          </div>
          <div slot="tab-kids-students">
            kids tab content
          </div>
          <div slot="tab-volunteer">
            volunteer tab content
          </div>
        </crds-tabs>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="bg-tan-light bg-topo-50 soft-ends">
    <div class="container-fluid soft-ends push-ends">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-6">
            <crds-portrait-card theme="condensed" href="{{ page.care_link }}" lead="We're here to help" title="Community care"
              image-src="//crds-media.imgix.net//5OZiKpKybDXDdJMK1TCHfG/8c4d64a042198add2dad902ec05165d5/our-history-portrait.png?h=250">
            </crds-portrait-card>
          </div>
          <div class="col-sm-6">
            <crds-portrait-card theme="condensed" href="/ourhistory" lead="News & events" title="Stay Up To Date"
              image-src="//crds-media.imgix.net//5OZiKpKybDXDdJMK1TCHfG/8c4d64a042198add2dad902ec05165d5/our-history-portrait.png?h=250">
            </crds-portrait-card>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="bg-orange soft">
      <div class="container text-center soft push-ends">
        <div class="row">
          <h2 class="text-white text-uppercase font-family-condensed-extra">We'd love to connect with you</h2>
          <p class="font-size-base text-blue">Whether you have questions about Crossroads, faith, life, we are here to
            help.</p>
          <crds-button color="blue" text="Chat with us" data-trigger="chat"></crds-button>
        </div>
      </div>
    </div>
</section>

<!-- Featured Section - Below Jumbotron-->
<!-- {% if page.featured_below.size > 0 %}
  {{ page.featured_below }}
{% endif %} -->


