---
layout: default
---

<!-- Pull only the promos that exist for the specific location if any -->
{% assign location_happenings = site.promos | where: "target_audience", page.name | sort: "date" | reverse %}
{% assign series = site.series | last %}
{% include header.html %}

<!-- Resi Player -->
{% include _resi-player.html %}

<!-- Featured Section -->
{% if page.featured_section.size > 0 %}
  <div class="overflow-hidden">
    {{ page.featured_section }}
  </div>
{% endif %}

<!-- Jumbotron section -->
<section class="jumbotron locations-jumbotron flush-bottom width-100" style="background-image: url('{{ page.bg_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')"
  id="location-page"  
  data-optimize-bg-img>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row location-title-row" style="background-image: url('{{ page.bg_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img>
      <div class="bg-overlay"></div>
      <div class="col-sm-12 push-ends mobile-soft-sides">
        <div>
          <span class="font-family-base text-uppercase text-white">
            <strong>welcome to</strong>
          </span>
          <h1 class="flush-ends font-family-condensed-extra text-uppercase">Crossroads <br />{{ page.name }}</h1>
        </div>
        <div>
          <p class="font-family-serif font-size-h6 text-white push-top">A place to know God, make friends explore the adventure of faith together.</p>
        </div>
      </div>
    </div>
    <div class="row location-info-row">
      {% include _location-info.html %}
    </div>
  </div>
</section>

<!-- Featured Section - Below Jumbotron -->
{% if page.featured_below.size > 0 %}
  {{ page.featured_below }}
{% endif %}

<!-- Impact Section -->
<section class="bg-tan bg-topo-50 bg-contain">
  <div class="container soft-ends">
    <div class="row text-center">
      <h2 class="component-header-box text-blue">Change your life. Impact others.</h2>
      <p class="font-family-serif text-blue font-size-base push-half">Your choices impact the world. We can’t wait to see what you’ll do next.</p>
    </div>

    <div class="row push-ends">
      <div class="col-sm-6">
        <div class="portrait-card-skeleton-condensed push-bottom">
          <crds-portrait-card theme="condensed" lead="Stay up-to-date" title="Never miss an event"
          image-src="//crds-media.imgix.net/2g8yKVrxSIiaMKBsmxCWFW/7e0f90537c00c3d0f0d793b0c1233b86/stay-up-to-date.png">
            <p class="push-half-ends">Doing life together is better than going it alone. Sign up to get notified when we’re gathering together or finding ways to get closer to God.</p>
            <crds-button class="push-half-right" data-target="#subscribeModalForm" data-toggle="modal" href="" color="white"
              text="Sign up"></crds-button>
          </crds-portrait-card>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="portrait-card-skeleton-condensed push-bottom">
          <crds-portrait-card theme="condensed" lead="Join us" title="Help launch the future"
          image-src="//crds-media.imgix.net/1IzQq01XGZAtULMc8Zf9cc/2319ef5827e77deb759aac6241175149/launch-team-sign-up-image.png">
            <p class="push-half-ends">Crossroads is a growing community that needs leaders and doers. Join our team and help build the church you want to belong to.</p>
            <crds-button class="push-half-right" data-target="#subscribeModalForm" data-toggle="modal" href="" color="white"
              text="Sign up"></crds-button>
          </crds-portrait-card>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Modal -->
<div aria-labelledby="Subscribe email form" class="modal fade" id="subscribeModalForm" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-gray-lightest">
      <div class="modal-header hard-bottom"><button aria-label="Close" class="close pull-right" data-dismiss="modal"
          type="button"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left hard-bottom">
        <h4 class="font-family-condensed-extra text-uppercase soft-half-bottom text-blue">Stay in the know.
          <br />Get
          the latest Crossroads updates.</h4>
        <div class="form" data-role="hsform">
          <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        </div>
      </div>
      <div class="modal-footer">&nbsp;</div>
    </div>
  </div>
</div>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: "3993985",
    formId: "{{ page.hubspot_form_id }}",
    css: "",
    target: "[data-role=hsform]",
    formInstanceId: 1,
    onFormReady($form, ctx) {
      $('fieldset[data-reactid=".hbspt-forms-0.1:$0"]').removeClass('form-columns-2');
      $('fieldset[data-reactid=".hbspt-forms-0.1:$1"]').removeClass('form-columns-2');
      $('input[data-reactid=".hbspt-forms-0.1:$0.1:$firstname.$firstname.0"]').attr('placeholder', 'First name')
      $('input[data-reactid=".hbspt-forms-0.1:$0.1:$lastname.$lastname.0"]').attr('placeholder', 'Last name')
      $('input[data-reactid=".hbspt-forms-0.1:$1.1:$email.$email.0"]').attr('placeholder', 'Email')
      $('input[data-reactid=".hbspt-forms-0.1:$1.1:$mobilephone.$mobilephone.0"]').attr('placeholder', 'Phone number')
      $('label[data-reactid=".hbspt-forms-0.1:$0.1:$firstname.0"]').hide()
      $('label[data-reactid=".hbspt-forms-0.1:$0.1:$lastname.0"]').hide()
      $('label[data-reactid=".hbspt-forms-0.1:$1.1:$email.0"]').hide()
      $('div[data-reactid=".hbspt-forms-0.1:$1.1:$email.$email"]').addClass('flush-right')
      $('span[data-reactid=".hbspt-forms-0.1:$1.1:$mobilephone.0.0"]').hide()
    }
  });
</script>

{% include footer.html %}
