---
layout: default_footer_flush
title: Humans of Crossroads
---
<section class="hoc-detail">
  <div class="jumbotron jumbotron-lg hard-bottom">
    <div class="container soft-ends">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1 text-left">
          <img class="hoc-frame" alt="Humans of Crossroads Frame" src="//crds-media.imgix.net/2x1033SDblDgO5xghanyrg/3b1f78234778063c07e93106e61db295/HoC_Paper_05.png" />
          <div class="hoc-detail-img-container push-bottom">
            <img alt="{{ page.title }}" src="{{ page.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
          </div>
          <ol class="breadcrumb text-white hard-sides">
            <li><a href="/media">Media</a></li>
            <li><a href="/media/humans-of-crossroads">Humans of Crossorads</a></li>
          </ol>
          <div class="hoc-detail-jumbotron-content">
            <h1 class="font-family-condensed-extra flush text-uppercase text-white hoc-detail-title"> {{ page.title }}</h1>
            <p class="font-size-smaller text-gray flush">
              {{ page.title | remove:'Story' }}  | {% include _read-time.html duration=page.duration content_type=article %}
            </p>
          </div>
        </div>
        <div class="col-sm-10 soft-top col-sm-offset-1">
          {% include _social-share.html type='light' %}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container soft-ends">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
