---
layout: default
---

<!-- Pull only the promos that exist for the specific location if any -->
{% assign location_happenings = site.promos | where: "target_audience", page.name | sort: "date" | reverse %}
{% include header.html %}

<!-- Jumbotron section -->
<div class="jumbotron jumbotron-xl flush-bottom width-100" style="background-image: url('{{ page.bg_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img>
  <div class="push-ends mobile-soft-sides">
    <span class="font-family-base text-uppercase">
      <strong>welcome to</strong>
    </span>
    <h1 class="title hidden-xs" style="font-size: 5.0rem;">crossroads
      <br>{{ page.name | downcase }}</h1>
    <h2 class="title font-size-h1 text-white visible-xs">crossroads
      <br>{{ page.name | downcase }}</h2>
      {% if location_happenings.size > 0 %}
        </br>
        <a href="javascript:void(0)" class="btn btn-primary" data-smooth-scroll-to="happenings">See what's happening at {{ page.name | downcase }}</a>
      {% endif %}
  </div>
</div>

<!-- General Info Section -->
<section class="bg-blue-dark soft-ends">
  <div class="container push-ends">
    <div class="row push-ends soft-ends mobile-flush-top mobile-hard-top">
      <div class="col-sm-6 soft-sides">
        <div class="lead">{{ page.description | markdownify }}</div>
        <div class="row push-ends soft-half-top mobile-hard-bottom">
          <div class="col-sm-6">
            <p>
              <strong>Service Times</strong>
              </br>
              {{ page.service_times | markdownify | remove: '<p>'| remove: '</p>' }}
            </p>
          </div>
          <div class="col-sm-6">
            <p>
              <strong>Address</strong>
              </br>
              {{ page.address | markdownify | remove: '<p>' | remove: '</p>' }}
              </br>
              <a href="{{ page.map_url }}" target="_blank">Get directions</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {% assign current_series = site.series | reverse | first %}
            <a class="btn btn-primary" data-automation-id="series-slug" data-role="recent-series" href="/series/{{ current_series.slug }}">Check out our latest series</a>
          </div>
          <div class="col-sm-12 push-top">
            {{ page.additional_info | markdownify }}
          </div>
        </div>
      </div>
      {% if page.hubspot_form_id %}
      <div class="col-sm-offset-1 col-sm-5 mobile-push-top soft bg-gray">
        <p class="list-header">Stay in the know. Get the latest Crossroads updates.</p>
        <div class="form" data-role="hsform">
          <!--
          [if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif] -->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: "3993985",
              formId: "{{ page.hubspot_form_id }}",
              css: "",
              target: "[data-role=hsform]"
            });
          </script>
        </div>
      </div>
      {% else %}
      <div class="col-sm-offset-1 col-sm-5 mobile-push-top soft">
        <div style="position: relative; height: 0; padding-top: 56.25%;">
          <iframe src="https://www.youtube.com/embed/geNzLq664rk?rel=0" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<!-- Spotlight section -->
<section class="container push-top">
  <div class="row push-top soft-top d-flex justify-content-center flex-column flex-md-row">
    <div class="card col-sm-4">
      <img class="img-circle" src="{{ page.come_as_you_are_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      <div class="card-block text-left">
        <h4 class="card-title font-family-condensed-extra font-size-h3 text-uppercase">Come as you are</h4>
        <p class="card-text">Seriously. This is a real place for real people. Regardless of what you think about God, you are welcome here. In
          a nutshell, you can wear jeans, or dress up if you want. The coffee is free, so grab a cup before you sit down.
          The music is great and you’ll hear straight up Biblical truth that you can apply to your everyday life. The rest
          is up to you.
        </p>
        {% if page.virtual_tour_url %}
        <a href="{{ page.virtual_tour_url }}">Take a virtual tour</a>
        {% endif %}
      </div>
    </div>
    {% if page.community_pastor_image and page.community_pastor_name and page.community_pastor_bio %}
    <div class="card col-sm-4">
      <img class="img-circle" src="{{ page.community_pastor_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      <div class="card-block text-left">
        <h4 class="card-title font-family-condensed-extra font-size-h3 text-uppercase">Meet {{ page.community_pastor_name }}</h4>
        <p class="card-text">{{ page.community_pastor_bio | markdownify }}</p>
      </div>
    </div>
    {% endif %}
    {% if page.spotlight_text and page.spotlight_title and page.spotlight_image.url %}
    <div class="card col-sm-4">
      <img class="img-circle" src="{{ page.spotlight_image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img />
      <div class="card-block text-left">
        <h4 class="card-title font-family-condensed-extra font-size-h3 text-uppercase">{{ page.spotlight_title }}</h4>
        <p class="card-text">{{ page.spotlight_text | markdownify }}</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<!-- Happenings -->
{% if location_happenings.size > 0 %}
<div class="container" id="happenings">
  <h3 id="happening-filter-label" class="collection-header clearfix"> happening at {{ page.name | downcase }}</h3>
  <div class="card-deck cards-4x">
    <div class="row">
      {% for item in location_happenings %}
        {% include _promo-card.html %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!-- Uptown College Student section -->
{% if page.name == 'Uptown' %}
<div class="container push-bottom">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="section-header text-center push-half-bottom">College Students</h3>
      <p class="lead">Hear stories from some of the UC students who call this place home.</p>
    </div>
  </div>
  <div class="row push-ends soft-bottom">
    <div class="col-md-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/rP8iKiNDIIk" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <h4 class="card-title font-family-condensed-extra font-size-h4 text-uppercase">Meet Chandler</h4>
    </div>
    <div class="col-md-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/RSty1EoOJIk" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <h4 class="card-title font-family-condensed-extra font-size-h4 text-uppercase">Meet Laveta</h4>
    </div>
    <div class="col-md-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/faFhJlRdH98" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <h4 class="card-title font-family-condensed-extra font-size-h4 text-uppercase">Meet Barry</h4>
    </div>
  </div>
</div>
{% endif %}

<!-- Oxford College Student section -->
{% if page.name == 'Oxford' %}
<div class="container push-bottom">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="section-header text-center push-half-bottom">College Students</h3>
      <p class="lead">Hear stories from some of the Miami students who call this place home.</p>
    </div>
  </div>
  <div class="row push-ends soft-bottom">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/j7VEsRktPxY" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <h4 class="card-title font-family-condensed-extra font-size-h4 text-uppercase">Meet Alyssa</h4>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/p9U8TpfEfWs" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <h4 class="card-title font-family-condensed-extra font-size-h4 text-uppercase">Meet Animaesh</h4>
    </div>
  </div>
</div>
{% endif %}


<!-- Kids club / Student ministry-->
{% if page.kids_club_hours or page.student_ministry_hours %}
<section class="bg-gray">
  <div class="container">
    <div class="col-md-12">
      <h3 class="section-header text-center">For Kids &amp; Students</h3>
    </div>
    <!-- Andover Preschool Section -->
    {% if page.name == 'Andover' %}
    <div class="row soft-bottom">
      <div class="col-sm-6 push-top soft-top soft-sides">
        <h4>Weekday Preschool</h4>
        <p>Crossroads Preschool provides a safe, fun and welcoming environment where kids can grow and develop intellectually,
          physically, socially , and emotionally through cognitive experiences and hands on activity. Music, art and play
          are used to encourage creative expression. Staff is trained to use positive management techniques which encourages
          children to set internal limits on his/her own behavior.</p>
        <a class="btn btn-primary" href="https://www.crossroads.net/preschool">Check out Crossroads Preschool</a>
      </div>
      <div class="col-sm-6 soft-sides">
        <img class="width-100"
          src="https://crds-cms-uploads.imgix.net/content/images/crossroads-church-sites-preschool.jpg?w=29&h=19&fit=crop"
          data-optimize-img>
      </div>

    </div>
    {% endif %}
    {% if page.kids_club_hours %}
    <div class="row push-ends soft-bottom">
      <div class="col-sm-6 soft-sides">
        <img class="width-100"
          src="https://crds-cms-uploads.imgix.net/content/images/crossroads-church-sites-kc.jpg?w=29&h=19&fit=crop"
          data-optimize-img>
      </div>
      <div class="col-sm-6 push-top soft-top soft-sides">
        <h4>Your kids will love Kids' Club</h4>
        <p dir="ltr">A fun learning environment designed especially for kids (birth through fifth grade). It’s free, totally secure, and
          don't worry-we'll let you know if your child needs you at any point during the service.
        </p>
        <div></div>
        <a class="btn btn-primary" href="http://crossroadskidsclub.net/" target="_blank">Check out Kids' Club</a>
        <p class="font-size-small push-half-top">
          <em>{{ page.kids_club_hours | markdownify }}</em>
        </p>
      </div>
    </div>
    {% endif %}
    {% if page.student_ministry_hours %}
    <div class="row push-ends soft-bottom">
      <div class="col-sm-push-6 col-sm-6 soft-sides">
        <img class="width-100"
          src="https://crds-cms-uploads.imgix.net/content/images/crossroads-church-sites-sm.jpg?w=29&h=19&fit=crop"
          data-optimize-img>
      </div>
      <div class="col-sm-pull-6 col-sm-6 push-top soft-top soft-sides">
        <h4>Student Ministry</h4>
        <p>Middle School (grades 6-8) and High School (grades 9-12) students have a place to call their own. Students are challenged
          and encouraged through relevant teaching and fun events. Opportunities are provided for them to grow as they connect
          with God and with each other.&nbsp;
        </p>
        <p>
          {{ page.student_ministry_hours | markdownify }}
        </p>
        <a href="https://www.crossroads.net/studentministry/" class="btn btn-primary">Get more info on student ministry</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}

<!-- Go Deeper -->
<section class="container">
  <h3 class="collection-header clearfix push-bottom">go deeper</h3>
  <div class="card-deck carousel" data-crds-carousel="mobile-scroll">
    <div id="section-" class="feature-cards card-deck--expanded-layout" data-crds-carousel="mobile-scroll">
      <div class="card">
        <a href="{{ page.serve_url | default: 'https://www.crossroads.net/serve/' }}" class="block">
          <img alt="Serve" class="card-img-top card-img-constrained" src="https://crds-cms-uploads.imgix.net/Uploads/crossroads-church-sites-serve.jpg?auto=format&amp;crop=top&amp;fit=clamp&amp;ixjsv=2.2.3&amp;w=27" data-optimize-img>
        </a>
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            <a href="{{ page.serve_url | default: 'https://www.crossroads.net/serve/' }}">Serve</a>
          </h4>
          <div class="card-text">
            <p>God calls us to serve others. You can serve inside a Crossroads site, on our city streets, or in another country.
              Bottom line, we need you.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <a href="https://www.crossroads.net/groups" class="block">
          <img alt="Get in a Group" class="card-img-top card-img-constrained"
            src="https://crds-cms-uploads.imgix.net/Uploads/crossroads-church-sites-groups.jpg?auto=format&amp;crop=top&amp;fit=clamp&amp;ixjsv=2.2.3&amp;w=27"
            data-optimize-img>
        </a>
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            <a href="https://www.crossroads.net/groups">Get in a Group</a>
          </h4>
          <div class="card-text">
            <p>Doing life alone is no fun. In fact, people are made to be with people. You have a lot of interests so it’s a
              good thing there are a lot of groups for you to check out.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <a href="https://www.crossroads.net/give" class="block">
          <img alt="Give" class="card-img-top card-img-constrained"
            src="https://crds-cms-uploads.imgix.net/Uploads/crossroads-church-sites-give.jpg?auto=format&amp;crop=top&amp;fit=clamp&amp;ixjsv=2.2.3&amp;w=27"
            data-optimize-img>
        </a>
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            <a href="https://www.crossroads.net/give">Give</a>
          </h4>
          <div class="card-text">
            <p>Your generosity fuels the life change we experience around here. One way to show gratitude for what God is doing
              in our life is to give back to Him.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <a href="https://itunes.apple.com/us/app/crossroads-anywhere/id1029478803?mt=8" class="block">
          <img alt="Download the App" class="card-img-top card-img-constrained"
            src="https://crds-cms-uploads.imgix.net/Uploads/crossroads-church-sites-app.jpg?auto=format&amp;crop=top&amp;fit=clamp&amp;ixjsv=2.2.3&amp;w=27"
            data-optimize-img>
        </a>
        <div class="card-block">
          <h4 class="card-title card-title--overlap text-uppercase">
            <a href="https://itunes.apple.com/us/app/crossroads-anywhere/id1029478803?mt=8">Download the App</a>
          </h4>
          <div class="card-text">
            <p>Build your spiritual fitness. Create a positive daily experience. Go deeper on a topic. Receive prayer. Journal
              your heart out. Never miss the live stream. Available on the App Store or Google Play.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
