<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include _head.html %}

<body class="{% if page.path == 'preview.html' %}preview{% endif %} crds-styles relative">
  {% include _facebook_noscript.html %}
  {% include _monetate-body.html %}

  {% javascript_link_tag application_deferred async %}

  {{ content }}

  {% include _subscribe-modal.html %}
  {% if page.title == "Atrium Events" %}
  {% javascript_link_tag events async %}
  {% endif %}

  {% if page.preloader %}{% include _preloader.html %}{% endif %}

  {% include _footer-script.html %}
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3993985.js"></script>
  <!-- End of HubSpot Embed Code -->
</body>

</html>
