---
layout: container-fluid
snail_trail: connect
---

<section class="container">
  <div class="row push-ends">
    <div class="col-md-12">
      <a href="/groups/onsite">&lt; Back to All Onsite Groups</a>
    </div>
  </div>
  <div class="row push-bottom">
    <div class="col-md-3">
      <img class="width-100"
        src="{{ page.location.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
        sizes="{{ site.image_sizes.one_fourth }}" data-optimize-img />
    </div>
    <div class="col-md-9">
      <h3 class="font-family-condensed-extra flush-ends mobile-soft-half-top text-uppercase">
        {{ page.location.onsite_group_display_name }}
        {% if page.location.slug != 'anywhere' %} Onsite{% endif %} Groups
      </h3>
      <a href="https://www.crossroads.net/{{ page.location.slug }}">See what else is happening at Crossroads
        {{ page.location.onsite_group_display_name }}</a>
      <div class="font-size-base push-bottom push-half-top">
        {{ page.location.onsite_group_description | markdownify }}
      </div>

      <hr />
    </div>
  </div>

  <div class="row onsite-group-location-row push-bottom onsite-group-negative-margin-bottom">
    {% assign sorted_meeting = page.meetings | sort_natural: "title" %}
    {% for meeting in sorted_meeting %}
    <div class="col-md-3" data-id="{{ meeting.contentful_id }}">
      <h4 class="font-family-condensed-extra text-uppercase">
        {% assign group = meeting | group_for_meeting %}
        {% if group %}
        <a href="/groups/onsite/{{ group.slug }}/{{ meeting.location.slug }}">
          {{ meeting.title }}
        </a>
        {% else %}
          {{ meeting.title }}
        {% endif %}
      </h4>
      <p class="text-gray flush-bottom small">{{ meeting.description | markdownify | strip_tags | truncate: 200 }}</p>
      {% include groups/_meeting-details.html meeting=meeting %}
    </div>
    {% endfor %}
  </div>
  {% include groups/_footer.html %}
</section>