---
layout: container-fluid
---

{% assign group_footnote = site.content_blocks | where: 'slug', 'onsite-group-footnote' | first %}

<section class="container">

  <div class="row push-ends">
    <div class="col-md-12">
      <a href="#">&lt; Back to All Onsite Groups</a>
    </div>
  </div>

  <div class="row push-bottom">
    <div class="col-md-4 soft-right">
      <h3 class="font-family-condensed-extra flush-ends text-uppercase">Divorce Care</h3>
      <p class="flush-ends"><strong>Perfect for:</strong> Women of all ages</p>
      <p class="push-bottom"><strong>How Long:</strong> 13 Weeks</p>
      <hr>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <p>Whether you’re recently divorced or walked through it years ago, we believe God wants to bring healing.
            Learn
            how to walk through the issues and pain of divorce amongst community.</p>
          <br>
          <p>We highly suggest you attend the following seminar put on by the Divorce Care team. It is called Divorce
            and
            Beyond, and the seminar is held at Cincinnati Marriott North on January 26, 2019. You can register for the
            seminar <a href="#">HERE</a>.</p>
          <hr>
        </div>
      </div>
      <div class="row onsite-group-negative-margin-bottom">
        <div class="col-md-5 push-top push-right soft-right">
          <h4 class="flush-ends font-family-condensed-extra text-uppercase">Florence</h4>
          <h4 class="flush-ends font-family-condensed-extra heading-line-height-sm text-uppercase">Tuesday 6:30-8:30PM
          </h4>
          <p class="flush-bottom push-half-top small"><strong>Starts February 5, 2019</strong></p>
          <p class="text-gray flush-bottom push-quarter-top small">Room: Preschool C</p>
          <p class="text-gray flush-bottom push-quarter-top small">*childcare is available with one week advance
            registration.</p>
          <button class="btn btn-cyan push-top" type="button">Register</button>
        </div>
        <div class="col-md-5 push-top push-right soft-right">
          <h4 class="flush-ends font-family-condensed-extra text-uppercase">Florence</h4>
          <h4 class="flush-ends font-family-condensed-extra heading-line-height-sm text-uppercase">Thursday 6:30-8:30PM
          </h4>
          <p class="flush-bottom push-half-top small"><strong>Starts February 5, 2019</strong></p>
          <p class="text-gray flush-bottom push-quarter-top small">Room: Preschool C</p>
          <p class="text-gray flush-bottom push-quarter-top small">*childcare is available with one week advance
            registration.</p>
          <button class="btn btn-cyan push-top" type="button">Register</button>
        </div>
      </div>
      <div class="row onsite-group-negative-margin-bottom">
        <div class="col-md-5 push-top soft-ends push-right soft-right">
          <h4 class="flush-ends font-family-condensed-extra text-uppercase">East Side</h4>
          <h4 class="flush-ends font-family-condensed-extra heading-line-height-sm text-uppercase">Thursday 6:30-8:30PM
          </h4>
          <p class="flush-bottom push-half-top small"><strong>Starts February 5, 2019</strong></p>
          <p class="text-gray flush-bottom push-quarter-top small">Room: First impressions volunteer room.</p>
          <p class="text-gray flush-bottom push-quarter-top small">*childcare is available with one week advance
            registration.</p>
          <button class="btn btn-cyan push-top" type="button">Register</button>
        </div>
      </div>

      <div class="row push-top soft-ends">
        <div class="col-md-5">
          <p class="text-gray small">If you would like to know when registration goes live for additional Divorce Care
            groups, fill out this
            form <a href="#">HERE</a>.</p>
        </div>
      </div>

      <hr>
      <div class="row soft-half-bottom soft-top">
        <div class="col-md-6">
           {{ group_footnote | markdownify }}
        </div>
      </div>
    </div>

</section>
