---
layout: default
---

{% assign author = page.author | get_doc %}

<article class="article-tpl">
  <header class="perspective-header" style="background-image: url('{% if page.image.url %}{{ page.image.url | imgix: site.imgix }}{% else %}{{ '//crossroads-media.imgix.net/images/type-bg.jpg' | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img data-hero-image>
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="episode-header">
            <ol class="breadcrumb text-white hard-left">
              <li><a href="/">Media</a></li>
              <li><a href="/perspectives">Perspectives</a></li>
            </ol>
            <h1 class="text-white flush-top" data-title="">{{ page.title | escape | upcase }}</h1>
            <p class="flush-bottom soft-half-top">
              <span class="read-time font-size-smaller push-quarter-ends">
                <time is="time-ago" datetime="{{ page.published_at | date: '%FT%T%z' }}" title="{{ page.published_at | date: '%FT%T%z' }}"></time>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <main class="col-md-8 col-md-offset-2">
        {{ page.body | markdownify }}
      </main>

      <footer class="col-md-8 col-md-offset-2">
        {% if author %}
        <p class="flush-bottom">
          by
          <a href="{{ author.url }}" data-author-name>{{ author.full_name | titleize }}</a>
          <span class="font-size-large"> &#183;</span>
          <date data-post-date>{{ page.published_at | format_date }}</date>
        </p>
        {% endif %}

        <div class="soft-top">
          {% include media/_social-share.html %}
        </div>

        <!-- Topic -->
        {% assign topic = page.category | get_doc %}
        {% if topic %}
        <div class="keywords">
          <p class="flush-bottom soft-top">
            <strong>Topic</strong>
          </p>
          <ul class="list-inline">
            <li>
              <a href="{{ topic.url }}">{{ topic.title }}</a>
            </li>
          </ul>
        </div>
        {% endif %}

        <!-- Tags -->
        {% include media/_tags_list.html tags=page.tags %}

        <section class="soft-top">
          <header class="more-media-header">
            <h3>more perspectives</h3>
            <a class="font-size-small" href="/perspectives">see all</a>
          </header>

          <div class="soft-half-top">
            {% assign limited = site.perspectives | sort: 'published_at' | reverse | exclude: page.title | slice: 0, 4  %}
            {% for featured in limited %}
              {% include media/_media-object-list.html media_type="perspective-more" %}
            {% endfor %}
          </div>
        </section>
      </footer>
    </div>
  </div>
</article>
