---
paginate:
  videos:
    per: 80
    sort: published_at desc
    where:
      tags.slug: :slug
---

<div class="container">

  <ol class="breadcrumb hard-sides hard-bottom push-top flush-bottom">
    <li><a href="/media">Media</a></li>
    <li><a href="/media/videos">Videos</a></li>
  </ol>

  <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">{{ page.title }}</h1>
  <div class="row">
    <div class="col-md-2 text-left">
      {% include _video-nav.html label=page.title %}
    </div>
    <div class="col-md-10">
      <div class="cards-4x cards-2x-xs" data-page="videos">
        <div class="row" data-page-number="{{ page.videos.page }}">
          {% for video in page.videos.docs %}
            {% include _video-card.html image_size="4x" %}
          {% endfor %}
        </div>
        <div class="loading hide">
          {% include _preloader.html %}
        </div>
      </div>
      {% assign link_root = "/media/videos/tags/" | append: page.slug %}
      {% include _pagination.html collection="videos" remote=true %}
    </div>
  </div>
</div>

{% javascript_link_tag autoplay %}
