<div class="content-menu">
  <p class="content-menu-title soft-left font-family-serif text-uppercase text-gray-dark">Explore All of Our Content</p>
    <ul class="list-unstyled hard-left"> 
      <li class="font-size-large content-menu-list dashed"><a class="push-quarter-bottom text-orange" href="/media/series/">Series</a></li>
      <li class="font-size-large content-menu-list dashed"><a class="push-quarter-bottom text-orange" href="{{ site.crds_music_endpoint }}">Music</a></li>
      <li class="font-size-large content-menu-list dashed"><a class="push-quarter-bottom text-orange" href="/media/podcasts/">Podcasts</a></li>
      <li class="font-size-large content-menu-list dashed"><a class="push-quarter-bottom text-orange" href="/media/articles/">Articles</a></li>
      <li class="font-size-large content-menu-list dashed"><a class="push-quarter-bottom text-orange" href="/media/videos/">Videos</a></li>
      <li class="push-half-bottom content-menu-list dashed"></li>
    </ul>
</div>

