<section class="col-md-4 content-menu">
<p class="menu-title soft-left font-family-serif text-uppercase">Explore All of Our Content</p>
<ul style="list-style: none; padding-left: 0px; padding-top: 4px;"> 
    <li class="font-size-large push-half-bottom dashed"><a class="text-orange menu-link" href="/media/series">Messages</a></li>
    <li class="font-size-large push-half-bottom dashed"><a class="text-orange menu-link" href="/media/series/">Series</a></li>
    <li class="font-size-large push-half-bottom dashed"><a class="text-orange menu-link" href="https://www.crdsmusic.com/">Music</a></li>
    <li class="font-size-large push-half-bottom dashed"><a class="text-orange menu-link" href="/media/podcasts/">Podcasts</a></li>
    <li class="font-size-large push-half-bottom dashed"><a class="text-orange menu-link" href="/media/articles/">Articles</a></li>
    <li class="font-size-large push-half-bottom dashed"><a class="text-orange menu-link" href="/media/videos/">Videos</a></li>
</ul>
</section>