<div class="push-bottom">
  <hr class="flush-top push-half-bottom" />
  <h2 class="text-uppercase font-family-serif font-size-base font-size-small text-gray-light flush-top">
    Current Series
  </h2>
  {% assign home_series = page.series.docs | slice: 0 %} {% for series in
  home_series %}
  <div class="media featured">
    <div class="media-body">
      <h5 class="component-header flush-ends">
        <a href="{{ series.url }}" data-automation-id="series-title">{{ series.title }}</a>
      </h5>
      <div class="soft-quarter-ends font-size-smaller flush-bottom text-gray-dark" data-automation-id="series-description">
        {{ series.description | markdownify | strip_html | truncatewords: 15 }}
      </div>
      <crds-button href="{{ series.url }}" color="orange" text="Watch the current teaching series" />
    </div>
    <a href="{{ series.url }}" class="push-half-bottom" data-automation-id="series-image">
      {% if series.image.url %}
      <img
        class="media-img"
        src="{{ series.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
        sizes="{{ site.image_sizes.one_fourth }}"
        data-optimize-img
      />
      {% else %}
      <img
        class="media-img"
        src="{{ site.default_image }}?{{ site.imgix_params.placeholder_sixteen_nine }}"
        sizes="{{ site.image_sizes.one_fourth }}"
        data-optimize-img
      />
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>
