<section class="jumbotron jumbotron-xl jumbotron-home inline-video grid-overlay flush" style="background-image: url('//crds-media.imgix.net/47HugzxZ1gGwfdZg2JSFNC/e047f199c71a18f3d9b2ef8af06cc6c0/crossroads-collage-new2.jpg?{{ site.imgix_params.placeholder_sixteen_nine }}');" data-optimize-bg-img >
  <div class="inline-video-player"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="jumbotron-content">
          <a href="#" class="inline-video-trigger" data-video-id="LIdCR2rywl4">
            <svg class="media-play-btn icon icon-5 text-white" viewBox="0 0 256 256">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#play-thin"></use>
            </svg>
          </a>
          <div class="jumbotron-home-header">
            <h2 class="font-family-condensed-extra text-uppercase flush-bottom text-tan">You were</h2>
            <h1 class="font-family-condensed-extra text-uppercase flush-top text-tan">Born For Adventure</h1>
          </div>
          <p class="font-family-serif">
            We believe you were born for adventure and God challenges YOU to CHANGE THE WORLD.  Crossroads is your spiritual outfitter to guide you through that adventure.  Life isn’t a solo sport.  Find your people, have fun, crush life and leave your mark.
            Get outfitted.  Your adventure starts here.
          </p>
          <div class="row">
            <div class="btn btn-orange"><strong>Start your adventure - 30 Day Trial</strong></div>
          </div>
          <div class="row">
            <div class="btn btn-white btn-outline">Watch the latest message</div>
            <div class="btn btn-white btn-outline">Ask us a question</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
