<section class="jumbotron-skeleton-xl">
  <crds-jumbotron bg-overlay="grid" inline-video-src="https://www.youtube.com/embed/jTtFrLl17aM" video-src="https://videos.ctfassets.net/y3a9myzsdjan/61UX4j16LJ4i6Hul1obi2Z/02c4498b9d0c1ef87fb7767fbfcaed54/spiritual-outfitters-loop.mp4" size="xl" >
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="jumbotron-content">
            <div class="jumbotron-home-header">
              <h2 class="font-family-condensed-extra text-uppercase flush-bottom text-tan">You were</h2>
              <h1 class="font-family-condensed-extra text-uppercase flush-top text-tan">Born For Adventure</h1>
            </div>
            <p class="font-family-serif lead soft-half-top">
              You were born to make a difference. Designed to partner with God to change the world for good. If that sounds like your type of adventure, Crossroads is your <a class="text-orange" href="/spiritual-outfitters">spiritual outfitter.</a>
            </p>
            <div class="row">
              <a href="/30-day-trial" class="btn btn-orange"><strong>Start your adventure - 30 Day Trial</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </crds-jumbotron>
</section>