<section class="jumbotron jumbotron-xl jumbotron-home bg-video" data-aspect-ratio="2.34615">
  <div class="bg-video-player">
    <video height="240" width="360" class="bg-jumbotron-video hide" autoplay="autoplay" loop="loop" muted playsinline src="https://s3.amazonaws.com/crds-cms-uploads/media/video/loop-video.mp4">
    </video>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="jumbotron-content">
          <a href="#" class="inline-video-trigger" data-toggle="modal" data-target="#videoModal">
            <svg class="media-play-btn icon icon-5 text-white" viewBox="0 0 256 256">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#play-thin"></use>
            </svg>
          </a>
          <div class="jumbotron-home-header">
            <h2 class="font-family-condensed-extra text-uppercase flush-bottom text-tan">You were</h2>
            <h1 class="font-family-condensed-extra text-uppercase flush-top text-tan">Born For Adventure</h1>
          </div>
          <p>
            We believe you were born for adventure and God challenges YOU to CHANGE THE WORLD.  Crossroads is your spiritual outfitter to guide you through that adventure.  Life isn’t a solo sport.  Find your people, have fun, crush life and leave your mark.  
            Get outfitted.  Your adventure starts here.
          </p>
          <div class="row">
            <div class="btn btn-orange"><strong>Start your adventure - 30 Day Trial</strong></div>
          </div>
          <div class="row">
            <div class="btn btn-white btn-outline">Watch the latest message</div>
            <div class="btn btn-white btn-outline">Ask us a question</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>