<!-- <section class="jumbotron overflow-hidden flush-bottom" style="background-image: url('//crds-media.imgix.net/4FDzlcVZCiREK4ACACbtmq/23ff13a43982e426cfada293fba41ce5/collage-kc-sm__1_.jpg?{{ site.imgix_params.placeholder_sixteen_nine }}');" data-optimize-bg-img>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      {% assign kids_club_jumbotron = site.content_blocks | where: 'slug', 'kids-club-jumbotron' | first %}
      {{ kids_club_jumbotron.content_block | liquify }}
    </div>
  </div>
</section> -->

<section class="jumbotron-skeleton-xl">
  <crds-jumbotron image-src="//crds-media.imgix.net/4FDzlcVZCiREK4ACACbtmq/23ff13a43982e426cfada293fba41ce5/collage-kc-sm__1_.jpg" bg-overlay="gradient" size="xl">
    <div class="container">
      <div class="row">
        <div class="jumbotron-content">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="d-flex justify-content-center row soft">
                <div class="col-sm-3 push-bottom col-sm-offset-1 d-flex align-items-center">
                  <img class="width-100 img-responsive" alt="Kids' Club Logo" src="//crds-media.imgix.net/5JtiyfAQorYUOwsWpKPCEp/9f5182fa06763eb31a6fab9f16d26666/crossroads-new-kids-club-logo-fin.png"/>
                </div>
                <div class="col-sm-3 push-bottom col-sm-offset-1 d-flex align-items-center">
                  <img class="width-100 img-responsive" alt="Student Ministry" src="//crds-media.imgix.net/2ut2VEDNcwFZyin8cdxoza/2c058f7ff2eece5e682e27ff94828ef9/student-ministry-logo2.png"/>
                </div>
              </div>
              <div class="soft-half-sides">
                <div class="component-header-box font-family-condensed-extra push-ends text-white">Spiritual Outfitting For Families</div>
                <p class="font-family-serif lead push-bottom">Fun experiences designed for parents and kids of all ages to hear God’s Story in a language they can understand.</p>
              </div>
            </div>
          </div>
          <div class="row jumbotron-kids-club-cta-box col-sm-10 col-sm-offset-1">
            <div class="jumbotron-kids-club-cta col-sm-3 col-xs-6 text-left d-flex push-bottom">
              <div>
                <h4 class="font-family-condensed-extra text-uppercase text-white">For Kids</h4>
                <p class="font-size-small">Ages 0-11</p>
                <a href="/kids-club" class="btn btn-white btn-outline flush">Hop in</a>
              </div>
            </div>
            <div class="jumbotron-kids-club-cta col-sm-3 col-xs-6 text-left d-flex push-bottom">
              <div>
              <h4 class="font-family-condensed-extra text-uppercase text-white">For Teens</h4>
              <p class="font-size-small">Ages 12-18</p>
              <a href="/studentministry" class="btn btn-white btn-outline flush">Student Ministry</a>
              </div>
            </div>
            <div class="jumbotron-kids-club-cta col-sm-6 col-xs-12 text-left d-flex push-bottom">
              <div class="width-100">
                <div class="row d-flex align-items-center width-100">
                  <div class="col-xs-8">
                    <h4 class="font-family-condensed-extra text-uppercase text-white">For Parents</h4>
                    <p class="font-size-small">You Can Do This - a podcast about parenting.</p>
                    <a href="/media/podcasts/you-can-do-this" class="btn btn-white btn-outline flush">Check it out</a>
                  </div>
                  <div class="col-xs-4">
                    <img class="img-full-width" src="//crds-media.imgix.net/4V0Di4hScIAmM8ZL3ouch1/0bac1be7afc8fb13c27550a01f03c8a7/you-can-do-this-podcast.jpg"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </crds-jumbotron>
</section>