<section class="jumbotron overflow-hidden flush-bottom" style="background-image: url('//crds-media.imgix.net/4FDzlcVZCiREK4ACACbtmq/23ff13a43982e426cfada293fba41ce5/collage-kc-sm__1_.jpg?{{ site.imgix_params.placeholder_sixteen_nine }}');" data-optimize-bg-img>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      {% assign kids_club_jumbotron = site.content_blocks | where: 'slug', 'kids-club-jumbotron' | first %}
      {{ kids_club_jumbotron.content_block | liquify }}
    </div>
  </div>
</section>
