<div class="jumbotron" style="background-image: url('//crds-media.imgix.net/2zFEFVv1jVCjQuVzfTmS2J/336e64c9af416a819e2ca25c96d90818/kids-club-jumbo-home.jpg?{{ site.imgix_params.placeholder_sixteen_nine }}');" data-optimize-bg-img>
  <div class="bg-overlay"></div>
  <div class="container ">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="jumbotron-content">
          <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 push-bottom">
            <img alt="Kids' Club Logo" src="//crds-media.imgix.net/32YxhqKvbtqWkt1vRulFBy/3c9a437333670efbec53c187d21160b1/crossroads-kids-club-logo-fin.png?auto=format,compress&w=1800&h=1269&fit=crop&ixlib=imgixjs-3.3.2" data-optimize-img/>
          </div>
          <div class="component-header-box font-family-condensed-extra font-size-h3 push-ends text-white">Set your kids up for success</div>
          <p class="font-family-serif push-bottom">Fun church activities for kids at home, anytime. Lessons, crafts, songs-It’s a virtual party every day.</p>
          <div class="row jumbotron-kids-club-cta-box">
            <div class="jumbotron-kids-club-cta col-sm-3 col-xs-6 text-left">
              <h4 class="font-family-condensed-extra text-uppercase text-white">For The Littles</h4>
              <p class="font-size-base">Ages 0-5</p>
              <a class="btn btn-white btn-outline flush">Hop in</a>
            </div>
            <div class="jumbotron-kids-club-cta col-sm-3 col-xs-6 text-left">
              <h4 class="font-family-condensed-extra text-uppercase text-white">For Big Kids</h4>
              <p class="font-size-base">Ages 6-11</p>
              <a class="btn btn-white btn-outline flush">Let's go</a>
            </div>
            <div class="jumbotron-kids-club-cta col-sm-6 col-xs-12 text-left">
              <div class="row d-flex align-items-center">
                <div class="col-xs-8">
                  <h4 class="font-family-condensed-extra text-uppercase text-white">For Parents</h4>
                  <p class="font-size-base">You Can Do This - a podcast about parenting.</p>
                  <a class="btn btn-white btn-outline flush">Check it out</a>
                </div>
                <div class="col-xs-4">
                  <img class="img-full-width" src="//crds-media.imgix.net/4V0Di4hScIAmM8ZL3ouch1/0bac1be7afc8fb13c27550a01f03c8a7/you-can-do-this-podcast.jpg?{{ site.imgix_params.placeholder_square }}" data-optimize-img/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>