<div class="row push-bottom">
  <crds-arrow arrow-color="orange" text-color="white">Oh<br />Yeah</crds-arrow>
</div>
<div class="row border-top soft-half-top">
  <p class="font-family-serif text-uppercase">The Good News</p>
  <div class="border-top border-dashed text-gray-light push-half-bottom"></div>
    <crds-media-object
    url="https://www.crossroads.net/cincinnati-church-wipes-out-46-5-million-in-medical-debt-for-45000-families/"
    image-src="//crds-media.imgix.net/1JODEoyM9uEKW4777iFRPN/c62abd60ca0ed1abe9debc0dc3ff4e53/Wearecrds_JimGormley_102614-5826.jpg?format=auto"
    title="Cincinnati Church wipes out $46.5 million in medical debt for 45,000 families"></crds-media-object>
  <div class="border-top border-dashed text-gray-light push-half-bottom"></div>
    <crds-media-object
    url="https://www.crossroads.net/crossroads-church-raises-more-than-230000-to-provide-childcare-for-healthcare-professionals/"
    image-src="//crds-media.imgix.net/2iZpJZrKzHQ8lpNompPOqb/f80cca1e84899dcda0ca3ca8a28152bc/ThisPlace_JimGormley_2020-03-07-3908.jpg?format=auto"
    title="Crossroads Church Raises More Than $230,000 To Provide Child Care For Health Care Professionals"></crds-media-object>
  <div class="border-top border-dashed text-gray-light push-half-bottom"></div>
    <crds-media-object
    url="https://www.crossroads.net/this-evangelical-megachurch-in-ohio-isnt-what-you-think/"
    image-src="//crds-media.imgix.net/2ntmesQ2zNltMd0VoEKaCE/1c26923aca0ca9dec0ec0ed4a09e60fd/undivided-racial-reconciliation-ohio-megachurch.jpg?format=auto"
    title="This Evangelical Megachurch in Ohio Isn’t What You Think"></crds-media-object>
</div>
