<div class="row">
  <crds-arrow arrow-color="orange" text-color="white">Oh<br />Yeah</crds-arrow>
</div>
<div class="row border-top soft-half-top">
  <p class="font-family-serif text-uppercase">The Good News</p>
  <div class="border-top border-dashed text-gray-light"></div>
    <crds-media-object
    url="#"
    image-src="http://crds-media.imgix.net/7j4r5uOaDMgTZvDIJJOQzr/7e76179a2eb583f1e38edac768a6c750/crossroads-ikr-logo.png?h=250"
    title="Cincinnati Church wipes out $46.5 million in medical debt for 45,000 families"></crds-media-object>
  <div class="border-top border-dashed text-gray-light"></div>
    <crds-media-object
    url="#"
    image-src="http://crds-media.imgix.net/7j4r5uOaDMgTZvDIJJOQzr/7e76179a2eb583f1e38edac768a6c750/crossroads-ikr-logo.png?h=250"
    title="Crossroads Church Raises More Than $230,000 To Provide Child Care For Health Care Professionals"></crds-media-object>
  <div class="border-top border-dashed text-gray-light"></div>
    <crds-media-object
    url="#"
    image-src="http://crds-media.imgix.net/7j4r5uOaDMgTZvDIJJOQzr/7e76179a2eb583f1e38edac768a6c750/crossroads-ikr-logo.png?h=250"
    title="Crossroads Church Sending $50,000, Relief Team To Tennessee Following Deadly Tornado"></crds-media-object>
</div>