<section class="background-tan container soft-half push-bottom">
	<p class="title font-family-serif text-uppercase">
		latest weekly message
	</p>
        <div class='embed-container'>
            <iframe src='https://www.youtube.com/embed/ltTiQosa5JY' frameborder='0' allowfullscreen></iframe>
        </div>
	<h2 class="headline-gray font-family-condensed-extra text-uppercase flush-top">
		Does Jesus keep his promises?
	</h2>
	<h3 class="subtitle-gray font-size-smaller font-family-base-bold text-uppercase">
		series: real encounters with god | week 6
	</h3>
	<p class="body-gray">
		The bible has a lot of prophecies that are meant to guide and encourage us.
		In this final episode, we look at what promises God has for us, and what
		they mean for our lives today.
	</p>
	<div class="row soft-half-left">
		<a
			href="https://youtu.be/ltTiQosa5JY"
			class="btn btn-orange btn-block-mobile"
			type="button"
			>Watch now</a>
		<a
			href="/media/podcasts/messages"
			class="second-btn btn btn-blue btn-outline btn-block-mobile"
			type="button"
			>View all messages</a>
	</div>
</section>
