<section class="soft-ends">
  <div class="container">
    <div class="row">
      <div class="text-center push-bottom mobile-push-half-sides">
        <h1 class="component-header-box">Make a difference</h1>
      </div>
    </div>
    <div class="row push-ends">
      <div class="col-md-4">
        <div class="push-bottom">
          <crds-media-card heading="groups" image-src="//crds-media.imgix.net/53uP06dYVOx6oFtTiv7SfY/ccfd7c57be9f84e70725114a46714999/groups_2x.png?auto=format" truncate-length="null">
            <p>We aren’t meant to do life alone. Find your people, grow, and live life to the fullest.</p>
            <crds-button display="outline" color="blue" href='/groups' text='Find a group'><crds-button>
          </crds-media-card>
        </div>
        <div class="push-bottom">
          <crds-media-card heading="Go be the Church" image-src="//crds-media.imgix.net/5CiIKfrRV4DTFrFh2yWUEc/e82b92d16b89073dac27c3816df7b9a7/reachout_2x.png?auto=format" truncate-length="null">
            <p>We are God's Plan A. There is no Plan B. See how you can make an impact in your neighborhood and around the world.</p>
            <crds-button display="outline" color="blue" href='/reachout' text='Check out ReachOut'><crds-button>
          </crds-media-card>
        </div>
      </div>
      <div class="col-md-4">
        <div class="push-bottom">
          <crds-media-card heading="Get Involved" image-src="//crds-media.imgix.net/6FljSTFvoQvOxC7Qh697IZ/03d8a71f18851ae4fd9c1c3ca5ba4815/volunteer_2x.png?auto=format" truncate-length="null">
            <p>Be part of something big, and feel good making a difference in your community.</p>
            <crds-button display="outline" color="blue" href='/volunteer' text='View Volunteer opportunities'><crds-button>
          </crds-media-card>
        </div>
        <div class="push-bottom">
          <crds-media-card heading="Give today" image-src="//crds-media.imgix.net/3i4hkXrp88OK6wJml2b2W1/a5c8eb1bcd0fa285870149ccbd146cb1/give_2x.png?auto=format" truncate-length="null">
            <p>You'll never have to wonder if your life matters.</p>
            <crds-button display="outline" color="blue" href='/giving' text='Explore giving'><crds-button>
          </crds-media-card>
        </div>
      </div>
      <div class="col-md-4">
        <site-happenings-vertical displayed-happenings="3"></site-happenings-vertical>
      </div>
    </div>
  </div>
</section>
